<label class="w-100 text-left m-0 checkpoint" ngbButtonLabel>
    <input [(ngModel)]="options.normalizeLinks" (ngModelChange)="update()"
           ngbButton
           type="checkbox">
    Normalize links
</label>
<div class="dropdown-divider"></div>
<label class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
  <div class="d-flex align-items-center mx-0">
    <label for="font-size" class="my-0 mr-2" ngbTooltip="Font size" container="body">
      Font Size
    </label>
    <app-percent-input [(value)]="options.fontSizeScale"
                       default="100"
                       min="20"
                       max="1000"
                       step="20"
                       inputId="font-size"
                       (change)="update()"
    ></app-percent-input>
    %
  </div>
</label>
<label class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
    <input [(ngModel)]="options.nodeHeight.min.enabled" (ngModelChange)="update()"
           ngbButton
           type="checkbox">
    Min node height
    <input [(ngModel)]="options.nodeHeight.min.value" (ngModelChange)="update()"
           [disabled]="!options.nodeHeight.min.enabled"
           max="20" min="0"
           ngbButton
           type="range">
    {{options.nodeHeight.min.value}}
</label>
<label class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
    <input [(ngModel)]="options.nodeHeight.max.enabled" (ngModelChange)="update()"
           ngbButton
           type="checkbox">
    Max node ratio
    <input [(ngModel)]="options.nodeHeight.max.ratio" (ngModelChange)="update()"
           [disabled]="!options.nodeHeight.max.enabled"
           max="60" min="1"
           ngbButton
           type="range">
    {{options.nodeHeight.max.ratio}}
</label>
<label class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
    <input [(ngModel)]="options.labelEllipsis.enabled" (ngModelChange)="update()"
           ngbButton
           type="checkbox">
    Max shown label characters
    <input [(ngModel)]="options.labelEllipsis.value" (ngModelChange)="update()"
           [disabled]="!options.labelEllipsis.enabled"
           max="50" min="0"
           ngbButton
           type="range">
    {{options.labelEllipsis.value}}
</label>
<div class="dropdown-divider"></div>
<div class="w-100 text-left m-0" ngbButtonLabel ngbRadioGroup [name]="'link' + uuid"
     [(ngModel)]="options.selectedLinkValueAccessor" (ngModelChange)="customSizingUpdate()" title="Link size">
    <div class="mb-1">Link Value Accessor:</div>
    <label ngbButtonLabel class="mb-0"
           *ngFor="let valueAccessor of options.linkValueGenerators">
        <input ngbButton type="radio" [value]="valueAccessor"
               [disabled]="valueAccessor.disabled && valueAccessor.disabled()"> {{valueAccessor.description}}
    </label>
    <label ngbButtonLabel class="mb-0"
           *ngFor="let valueAccessor of options.linkValueAccessors">
        <input ngbButton type="radio"
               [value]="valueAccessor"> {{valueAccessor.description}}
    </label>
</div>
<div class="dropdown-divider"></div>
<div class="form-check" ngbRadioGroup [name]="'node' + uuid"
     [(ngModel)]="options.selectedNodeValueAccessor" (ngModelChange)="customSizingUpdate()" title="Node fixed size">
    <div class="mb-1">Node Value Accessor:</div>
    <label ngbButtonLabel class="mb-0"
           *ngFor="let valueAccessor of options.nodeValueGenerators">
        <input ngbButton type="radio" [value]="valueAccessor"
               [disabled]="valueAccessor.disabled && valueAccessor.disabled()"> {{valueAccessor.description}}
    </label>
    <label ngbButtonLabel class="mb-0"
           *ngFor="let valueAccessor of options.nodeValueAccessors">
        <input ngbButton type="radio"
               [value]="valueAccessor"> {{valueAccessor.description}}
    </label>
</div>
<div class="dropdown-divider"></div>
<div class="form-check" ngbRadioGroup [name]="'prescaler' + uuid"
     [(ngModel)]="options.selectedPrescaler" (ngModelChange)="update()" title="Prescaler">
    <div class="mb-1">Prescaler:</div>
    <label ngbButtonLabel *ngFor="let prescaler of options.prescalers" [title]="prescaler.description" class="mb-0">
        <input ngbButton type="radio" [value]="prescaler"> {{prescaler.name}}
    </label>
</div>
<div class="dropdown-divider"></div>
<div class="form-check" ngbRadioGroup [name]="'linkPalette' + uuid"
     [(ngModel)]="options.selectedLinkPalette" (ngModelChange)="update()" title="Link palette">
    <div class="mb-1">Link palette:</div>
    <label ngbButtonLabel *ngFor="let palette of options.linkPalettes" class="mb-0" [style.textAlign]="'left'">
        <input ngbButton type="radio" [value]="palette"> {{palette.name}}
    </label>
</div>
