<h2 mat-dialog-title>Select file format</h2>

<mat-dialog-content>

    <mat-form-field>
        <mat-label>File Format</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="pdf">PDF</mat-option>
          <mat-option value="png">PNG</mat-option>
          <mat-option value="svg">SVG</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-primary"(click)="download()">Download</button>
</mat-dialog-actions>
