[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.3.5"
mypy = "==0.770"
pycodestyle = "==2.5.0"

[packages]
flask-httpauth = "==3.3.0"
flask-marshmallow = "==0.11.0"
Flask = "==1.1.2"
gunicorn = "==20.0.4"
webargs = "==8.0.0"
python-arango = "==7.5.2"

[requires]
python_version = "3.8.2"
