[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.3.5"
mypy = "==0.770"
pycodestyle = "==2.5.0"

[packages]
aio-pika = "==9.0.5"
python-arango = "==7.5.2"

[requires]
python_version = "3.8.2"
