@import '../../../../styles.scss';

.nav-bar {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;

  @include no-select;
}

mat-icon {
  margin: 0.75rem;
  width: 28px;
  height: 28px;
  color: #3797DB;
  cursor: pointer;
}

p.collapsible {
  cursor: pointer;
}

button {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

#edge-list {
  display: block;
  margin-bottom: 1rem;
  max-height: 600px;
  overflow-y: scroll;
  transition: max-height 0.4s ease;
}

#edge-list::-webkit-scrollbar {
  display: none;
}

#edge-list.collapsed {
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}

#textArea {
  font-size: 14px !important;
}
