<div class='w-100 info-panel-content'>
  <form [formGroup]='entityForm'>

    <mat-form-field class="w-100 mt3">
      <mat-label>Name</mat-label>
      <input
        matInput
        (keydown.enter)="blurInput($event)"
        formControlName='display_name'>
    </mat-form-field>

    <mat-form-field
      *ngIf='isSelectionNode()'
      class='w-100'>
      <mat-label>Type</mat-label>
      <mat-select
        formControlName='label'>
        <mat-option
          *ngFor="let type of nodeTemplates"
          [value]='type.label'>
          {{type.label | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf='isSelectionNode()'
      class="w-100">
      <mat-label>Hyperlink</mat-label>
      <input
        matInput
        (keydown.enter)="blurInput($event)"
        formControlName='hyperlink'>
      <mat-icon (click)='goToLink()' matSuffix>link</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf='isSelectionNode()'
      class="w-100">
      <mat-label>Detail</mat-label>
      <textarea
        id='textArea'
        rows="6"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        (keydown.enter)="blurInput($event)"
        formControlName='detail'>
            </textarea>
    </mat-form-field>

    <button *ngIf='selected?.data?.source' mat-button color="primary" (click)='goToSource()'>
      Source
    </button>

    <button (click)='delete()' mat-stroked-button color="warn" class='delete'>
      Delete
    </button>

  </form>
</div>
