<div class='w-100'>
    <div class='nav-bar'>
        <mat-icon (click)='changeSize()' class='fr'>menu</mat-icon>
    </div>

    <form
        *ngIf='graphData.id!==""'
        class='w-90 center'
        [formGroup]='entityForm'>

        <mat-form-field class="w-100 mt3">
            <mat-label>Name</mat-label>
            <input
                matInput
                (keydown.enter)="blurInput($event)"
                formControlName='label'>
        </mat-form-field>

        <mat-form-field
            *ngIf='isNode'
            class='w-100'>
            <mat-label>Type</mat-label>
            <mat-select
                formControlName='group'>
                <mat-option
                    *ngFor="let type of nodeTemplates"
                    [value]='type.label'>
                    {{type.label | nodeTextStyle}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field
            *ngIf='isNode'
            class="w-100 mt3">
            <mat-label>Hyperlink</mat-label>
            <input
                matInput
                (keydown.enter)="blurInput($event)"
                formControlName='hyperlink'>
            <mat-icon (click)='goToLink()' matSuffix>link</mat-icon>
        </mat-form-field>

        <mat-form-field
            *ngIf='isNode'
            class="w-100 mt3">
            <mat-label>Detail</mat-label>
            <textarea
                id='textArea'
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                (keydown.enter)="blurInput($event)"
                formControlName='detail'>
            </textarea>
        </mat-form-field>

        <!-- TODO - Replace with search links component -->
        <app-search-links
            [graphData]='graphData'>
        </app-search-links>

        <button *ngIf='graphData?.data?.source' mat-button color="primary" (click)='goToSource()'>
            Source
        </button>

        <button (click)='delete()' mat-button color="warn" class='delete'>
            Delete
        </button>

    </form>
</div>