<div mat-dialog-content>
  <p style="margin-top: 0;">
    For nodes with many connected relationships, you may notice "nervous node syndrome", where the hub node oscillates at a high frequency.
    For very large volumes of nodes, you may notice network performance begin to break down.
  </p>
  <p>
    To avoid these issues, we highly recommend you auto-cluster results if more than 200 relationships would be drawn, and then open the resulting
    clusters on a case-by-case basis.
  </p>
  <p>Expanding this node will result in {{ data.edges.length }} relationships being drawn. Would you like to automatically cluster the results?</p>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between-start">
  <div id="auto-cluster-dialog-button-actions-container">
    <button id="auto-cluster-dialog-no-thanks-button" mat-stroked-button (click)="onNoClick()">No Thanks</button>
    <button id="auto-cluster-dialog-yes-please-button" mat-stroked-button (click)="onOkClick()" cdkFocusInitial>Yes Please</button>
  </div>
  <mat-checkbox id="auto-cluster-dialog-save-response-checkbox" [(ngModel)]="dontAskAgain">Save my response, and don't ask again</mat-checkbox>
</div>