<div *ngIf="dataLoaded && snippetData && legend; else loadingSpinner">
  <div class="row align-items-center mb-2" id="num-snippets-container">
    <div class="col">
      <span *ngIf="totalResults === 0; else nonZeroResults">Showing 0 - 0 of 0 snippets</span>
      <ng-template #nonZeroResults>
        <span *ngIf="pageLimit * page > totalResults; else multiPageResults"
          >Showing {{ pageLimit * (page - 1) + 1 }} - {{ totalResults }} of {{ totalResults }}</span
        >
        <ng-template #multiPageResults>
          <span
            >Showing {{ pageLimit * (page - 1) + 1 }} - {{ pageLimit * page }} of
            {{ totalResults }}</span
          >
        </ng-template>
      </ng-template>
    </div>

    <div class="col">
      <div *ngIf="totalResults !== 0" class="d-flex justify-content-end align-items-center">
        <label class="mr-1 mb-0">Page Limit</label>
        <select
          (change)="onLimitChange($event)"
          [ngModel]="pageLimit"
          class="custom-select"
          id="page-limit-select"
        >
          <option *ngFor="let limit of pageLimitList" [value]="limit" type="number">
            {{ limit }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div *ngFor="let result of snippetData" class="snippet-result">
    <app-node-relationship
      [edge]="result.association"
      [leftNodeColor]="legend.get(result.from.primaryLabel)[0]"
      [leftNodeLabel]="result.from.primaryLabel"
      [leftNodeName]="result.from.displayName"
      [leftNodeUrl]="result.from.url"
      [rightNodeColor]="legend.get(result.to.primaryLabel)[0]"
      [rightNodeLabel]="result.to.primaryLabel"
      [rightNodeName]="result.to.displayName"
      [rightNodeUrl]="result.to.url"
      [snippets]="result.snippets"
    ></app-node-relationship>

    <div *ngIf="result.snippets.length > 0; else noSnippets" class="mt-1">
      <mat-expansion-panel
        *ngFor="let snippet of result.snippets"
        class="association-snippet-panel border shadow-none my-2"
      >
        <!-- Setting the collapsed/expanded height inputs here seems to fix an issue in Safari where the bootstrap h-100 class is not respected. -->
        <mat-expansion-panel-header
          (dragstart)="snippetDragStart($event, snippet)"
          [collapsedHeight]="'100%'"
          [expandedHeight]="'100%'"
          class="snippet-panel-header border-bottom h-100 w-100 px-4 py-3"
          draggable="true"
        >
          <mat-panel-title class="snippet-panel-title d-flex align-items-center text-primary">{{
            snippet.publication.data.title || "Unknown" | truncate : 240
          }}</mat-panel-title>
          <mat-panel-description class="snippet-panel-pub-data d-flex justify-content-end">
            <i class="text-right"
              >{{ snippet.publication.data.journal || "Unknown" | truncate : 100 }} ({{
                snippet.publication.data.pubYear || "Unknown"
              }})</i
            >
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="d-flex flex-column justify-content-between align-items-start px-4 py-3">
          <app-highlight-snippet
            [entry1Text]="snippet.reference.data.entry1Text"
            [entry1Type]="
              snippet.reference.data.entry1Type.slice(0, 1).toUpperCase() +
              snippet.reference.data.entry1Type.slice(1)
            "
            [entry2Text]="snippet.reference.data.entry2Text"
            [entry2Type]="
              snippet.reference.data.entry2Type.slice(0, 1).toUpperCase() +
              snippet.reference.data.entry2Type.slice(1)
            "
            [legend]="legend"
            [snippet]="snippet.reference.data.sentence"
          ></app-highlight-snippet>
          <div class="mt-2 w-100">
            <div class="d-flex justify-content-start w-100">
              <label class="m-0 mr-1 font-weight-bold">Pubtator PMID:</label>
              <p *ngIf="snippet.publication.data.pmid; else unknownPmid" class="m-0">
                <a
                  [href]="getSnippetPubtatorLink(snippet.publication.data.pmid)"
                  class="pubtator-link"
                  target="_blank"
                  >{{ snippet.publication.data.pmid }}</a
                >
                <i class="fas fa-fw fa-external-link-alt"></i>
              </p>
              <ng-template #unknownPmid>Unknown</ng-template>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <ng-template #noSnippets>No Association Snippets Found!</ng-template>
  </div>

  <div *ngIf="maxPages > 1" class="py-2 d-flex justify-content-center align-items-center">
    <div *ngIf="page !== 1">
      <button (click)="previousPage()" class="btn btn-outline-secondary mx-1" type="button">
        <i class="fa fa-fw fa-caret-left"></i> Previous
      </button>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button
        (click)="goToPage(1)"
        [class]="(page === 1 ? 'btn btn-outline-primary' : 'btn btn-outline-secondary') + ' mx-1'"
        type="button"
      >
        1
      </button>
      <div *ngIf="page - 2 > 1">...</div>
    </div>

    <button
      (click)="goToPage(button)"
      *ngFor="let button of pageButtons"
      [class]="
        (page === button ? 'btn btn-outline-primary' : 'btn btn-outline-secondary') + ' mx-1'
      "
      type="button"
    >
      {{ button }}
    </button>

    <div *ngIf="maxPages !== 1" class="d-flex justify-content-center align-items-center">
      <div *ngIf="page + 2 < maxPages">...</div>
      <button
        (click)="goToPage(maxPages)"
        [class]="
          (page === maxPages ? 'btn btn-outline-primary' : 'btn btn-outline-secondary') + ' mx-1'
        "
        type="button"
      >
        {{ maxPages }}
      </button>
    </div>

    <div *ngIf="page !== maxPages">
      <button (click)="nextPage()" class="btn btn-outline-secondary mx-1" type="button">
        Next <i class="fa fa-fw fa-caret-right"></i>
      </button>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <div id="loading-spinner-container" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
