@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'src/scss/variables';

.association-snippet-pub-data {
  text-align: right;
}

.mat-icon {
  font-size: 12px;
}

.material-icons {
  vertical-align: middle;
}

.snippet-panel-header {
  text-align: left;
  padding: 0;
  margin-right: 1rem;
}

// TODO: Turning this off for now, because animating the open/close
// of the panels causes weird behavior for the bottom borders of the accordion.
// Ex: Turn this on and switch `destroyOnHide` in the template to `false` then view the
// snippet panels. You should see odd behavior after opening/closing accordions
// where some panels in the list don't have bottom borders.

// collapse toggle
// ::ng-deep .collapse {
//   transition: max-height .55s, opacity .55s;
//   max-height: 0;
//   opacity: 0;
//   display: block !important;

//   &.show {
//     max-height: 100rem;
//     opacity: 1;
//   }
// }

::ng-deep .accordion {
  .card {
    margin: 0.5rem 0;
  }
}
