@import "src/scss/variables";

.current-color {
  border-radius: $border-radius;
  display: block;
  height: 1rem;
  width: 3rem;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.palette-item {
  border-radius: $border-radius;
  cursor: pointer;
  display: block;
  flex: 1 0 auto;
  height: auto;
  margin: 0.25rem;
  width: 15%;

  &:before {
    content: "";
    float: left;
    padding-top: 100%;
  }

  &:focus {
    outline: 2px solid #000;
    position: relative;
    z-index: 1;
  }
}
