<div #dropdown [placement]="placement" class="d-inline-block" ngbDropdown>
  <button
    class="d-flex align-items-center color-button form-control"
    ngbDropdownToggle
    tabindex="0"
    type="button"
  >
    <span
      [style.background]="effectiveColor != null ? color : 'transparent'"
      [style.border]="'1px dotted ' + (effectiveColor != null ? 'transparent' : '#ccc')"
      class="current-color mr-2"
    >
    </span>
  </button>
  <div class="dropdown-body dropdown-menu" ngbDropdownMenu>
    <div class="palette">
      <div
        (click)="chooseColor(c)"
        *ngFor="let c of palette"
        [class.active]="c === effectiveColor"
        [style.background]="c"
        class="palette-item"
        tabindex="0"
      ></div>
    </div>

    <button (click)="chooseColor(null)" class="btn bg-light btn-block mt-2" type="button">
      {{ emptyLabel }}
    </button>
  </div>
</div>
