<app-form-row [for]="controlId" [label]="controlLabel" [control]="formRef.get(controlName)">
  <!-- Note that even if this component is a child of a form, and that form has `formGroup` set, for some reason Angular complains if we don't also set it here.-->
  <div class="input-group" [formGroup]="formRef">
    <input class="rounded" [type]="passwordInputType" [formControlName]="controlName" [id]="controlId" [appFormInput]="formRef.get(controlName)">
    <div class="password-mask-icon input-group-text bg-transparent border-0 h-100" (click)="togglePasswordVisibility()">
      <i [class]="'fas fa-fw ' + passwordVisibilityIcon"></i>
    </div>
  </div>
</app-form-row>