<app-form-row [control]="formRef.get(controlName)" [for]="controlId" [label]="controlLabel">
  <!-- Note that even if this component is a child of a form, and that form has `formGroup` set, for some reason Angular complains if we don't also set it here.-->
  <div [formGroup]="formRef" class="input-group">
    <input
      [appFormInput]="formRef.get(controlName)"
      [formControlName]="controlName"
      [id]="controlId"
      [type]="passwordInputType"
      class="rounded"
    />
    <div
      (click)="togglePasswordVisibility()"
      class="password-mask-icon input-group-text bg-transparent border-0 h-100"
    >
      <i [class]="'fas fa-fw ' + passwordVisibilityIcon"></i>
    </div>
  </div>
</app-form-row>
