<div class="input-group">
  <input
    #input
    (input)="onChange($event.target.value)"
    [attr.aria-describedby]="validationTooltipUsernamePrepend.uid"
    [disabled]="disabled"
    [max]="max"
    [min]="min"
    [placeholder]="placeholder"
    [step]="step"
    [value]="formatter.format(value)"
    class="form-control"
    type="number"
  />
  <div class="input-group-append">
    <span #validationTooltipUsernamePrepend="uid" appUid class="input-group-text">%</span>
  </div>
</div>
<div *ngIf="errors" class="invalid-feedback d-block">
  Provide number between {{ min }} and {{ max }}.
</div>
