<input
  #search
  (click)="$event.stopPropagation()"
  (input)="searchChangeCallback($event)"
  class="form-control search"
  placeholder="Search"
  type="text"
/>
<div class="filtrable-list">
  <ng-container
    *ngFor="let item of filteredItems$ | async | keyvalue : order; let i = index"
    [ngTemplateOutletContext]="{
      $implicit: item.value,
      key: item.key,
      index: i,
      search: search$ | async
    }"
    [ngTemplateOutlet]="itemTemplateRef || defaultItemTemplateRef"
  >
  </ng-container>
  <ng-template #defaultItemTemplateRef let-index="index" let-item let-key="key" let-search="search">
    <button
      (click)="changeValue.emit(key)"
      @collapseAnimation
      class="dropdown-item"
      ngbDropdownItem
    >
      <ngb-highlight [result]="optionTextAccessor(key, item)" [term]="search"></ngb-highlight>
    </button>
  </ng-template>
</div>
