@import 'variables';

app-searchable-dropdown-menu {
  .search {
    $search-padding: $dropdown-padding-y;
    margin: 0 $search-padding $search-padding $search-padding;
    width: calc(100% - #{$dropdown-padding-y * 2});
  }

  .filtrable-list {
    overflow: auto;
  }
}
