@import "src/scss/variables";

.select-input-container {
  cursor: text;

  &:focus-within {
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    color: $input-focus-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
  }
}

.select-input-inner-container {
  margin-bottom: -($spacer * 0.25);
}

.select-input-input {
  position: relative;

  &.placeholder-show:after {
    color: $input-placeholder-color;
    content: var(--placeholder-text, "Start typing...");
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  &:focus {
    box-shadow: none;
  }
}

.select-input-choice-remove {
  color: inherit;
  margin: -5px;
  padding: 5px;
  z-index: 1;

  &:hover {
    color: $link-hover-color;
  }
}

.select-input-progress {
  bottom: 0;
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
