<app-select-input
  #selectInput
  (choiceListRequest)="processRequest($event)"
  (ngModelChange)="onModelChange($event)"
  [(ngModel)]="value"
  [choiceToKey]="userChoiceToKey"
  [choices]="choices"
  [loading]="loading"
  [multiple]="multiple"
  [placeholder]="placeholder"
>
  <ng-template #inputChoiceTemplate let-choice>
    <app-user [user]="choice"></app-user>
  </ng-template>
  <ng-template #dropdownChoiceTemplate let-choice let-request="request">
    <app-user
      [highlightTerms]="request.query.length ? [request.query] : []"
      [user]="choice"
    ></app-user>
  </ng-template>
  <ng-template #noResultsTemplate let-request="request">
    <ng-container *ngIf="request.query.trim().length; else noQuery">
      <div>
        <em>No users match your search.</em>
      </div>
    </ng-container>
    <ng-template #noQuery>
      <div>
        <em>Find existing users by their name, username, or complete email address.</em>
      </div>
      <ng-content></ng-content>
    </ng-template>
  </ng-template>
</app-select-input>
