<h1>Node Data View</h1>
<div>Data:</div>
<ul>
  <li id="sidenav-node-display-name">Display Name: {{ nodeEntity.data.displayName }}</li>
  <li id="sidenav-node-label">Label: {{ nodeEntity.data.primaryLabel }}</li>
  <li>Sublabels:
    <ul *ngIf="nodeEntity.data.subLabels.length > 1; else noSubLabels">
      <li *ngFor="let label of nodeEntity.data.subLabels">
        <div class="sidenav-node-sub-label" *ngIf="label !== nodeEntity.data.primaryLabel">{{ label }}</div>
      </li>
    </ul>
    <ng-template #noSubLabels>N/A</ng-template>
  </li>
</ul>