<div class="card fill-width">
  <div class="card-header d-flex flex-wrap align-items-center card-header-with-buttons">
    <span class="title">{{ title }}</span>
    <ng-container>
      <div class="module-toolbar d-flex align-items-center ml-auto">
        <ul
          #nav="ngbNav"
          (navChange)="tabStatus[$event.nextId] = true"
          [destroyOnHide]="false"
          class="nav-tabs"
          ngbNav
        >
          <li ngbNavItem="table">
            <a ngbNavLink>Table</a>
            <ng-template let-active ngbNavContent>
              <app-table-complete [data]="data" [showMore]="showMore" [show]="active">
              </app-table-complete>
            </ng-template>
          </li>
          <li ngbNavItem="graph">
            <a ngbNavLink>Graph</a>
            <ng-template let-active ngbNavContent>
              <app-chart
                *ngIf="tabStatus['graph']"
                [data]="data"
                [showMore]="showMore"
                [show]="active"
                [style.display]="'block'"
              >
              </app-chart>
            </ng-template>
          </li>
          <li ngbNavItem="clustergram">
            <a ngbNavLink>Clustergram</a>
            <ng-template let-active ngbNavContent>
              <app-clustergram
                *ngIf="tabStatus['clustergram']"
                [data]="data"
                [showMore]="showMore"
                [show]="active"
              >
              </app-clustergram>
            </ng-template>
          </li>
          <li ngbNavItem="cloud">
            <a ngbNavLink>Cloud</a>
            <ng-template let-active ngbNavContent>
              <app-cloud-viewer
                *ngIf="tabStatus['cloud']"
                [data]="data"
                [showMore]="showMore"
                [show]="active"
                [timeInterval]="30"
              >
              </app-cloud-viewer>
            </ng-template>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
  <div [ngbNavOutlet]="nav" class="card-body"></div>
  <div
    (click)="showMoreToggle()"
    [ngStyle]="{ textAlign: 'right', cursor: 'pointer' }"
    class="card-footer"
  >
    {{ showMore ? "show less..." : "show more..." }}
  </div>
</div>
