.card-body {
  display: block;
  margin: 1.25rem;
  overflow: auto;
  padding: 0;
}

.fill-width {
  margin: 15px 0;
}

.card-header-with-buttons {
  padding: 0.5em 1.25rem 0 1.25rem;

  .title {
    padding: 0.5rem 0;
  }
}
