@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "src/scss/variables";

table,
th,
td {
  border: 2px solid $primary;
}

table {
  border-collapse: collapse;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

th {
  width: 125px;
}

th,
td {
  padding: 1px 5px 1px 5px;
}

.hoverable-row:hover {
  background-color: rgba($color: $primary, $alpha: 0.25);
  cursor: pointer;
}
