<ng-template #tooltipContent let-annotation let-tooltip="tooltip">
  <app-annotation-tooltip
    (tooltipClose)="tooltip.close()"
    [annotation]="annotation"
  ></app-annotation-tooltip>
</ng-template>
<ng-container *ngFor="let annotation of annotations$ | async">
  <div
    #tooltip="ngbTooltip"
    (click)="tooltip.open({ $implicit: annotation, tooltip: tooltip })"
    (dragstart)="
      annotationDragStart($event, {
        meta: annotation.meta,
        rect: rect.rect
      })
    "
    (selectionchange)="$event.stopPropagation()"
    (selectstart)="$event.stopPropagation()"
    *ngFor="let rect of getAnnotationRects(annotation)"
    [attr.location]="{
      pageNumber: annotation.pageNumber,
      rect: annotation.rect
    }"
    [attr.meta]="annotation.meta"
    [autoClose]="'outside'"
    [closeDelay]="150"
    [ngClass]="[
      'system-annotation',
      annotation.meta.isExcluded ? 'excluded' : '',
      currentHighlightAnnotationId === annotation.meta.id ? ' annotation-highlight' : ''
    ]"
    [ngStyle]="{
      display: displayFilter(annotation.meta),
      backgroundColor: normalizeBackgroundColor(annotation),
      'top.px': rect.top,
      'left.px': rect.left,
      'width.px': rect.width,
      'height.px': rect.height
    }"
    [ngbTooltip]="tooltipContent"
    [openDelay]="10"
    container="body"
    draggable="true"
    placement="bottom top"
    tooltipClass="qtip-bootstrap-unify"
    triggers="manual:blur"
  ></div>
</ng-container>
