<form (ngSubmit)="submit()" [formGroup]="form">
  <div>
    <app-modal-header (cancel)="cancel()">
      {{ title }}
    </app-modal-header>

    <app-modal-body>
      <ng-container *ngIf="promptObject">
        <app-form-row
          *ngIf="promptParent"
          [control]="form.get('parent')"
          [label]="parentLabel"
          for="parent"
        >
          <div class="d-flex align-items-center text-truncate">
            <button (click)="showParentDialog()" class="btn btn-secondary mr-2" type="button">
              Browse...
            </button>
            <div
              *ngIf="form.get('parent').value != null; else noParentChosen"
              class="text-truncate"
            >
              <i class="fa fa-fw fa-folder text-icon"></i>
              {{ form.get("parent").value.effectiveName }}
            </div>
            <ng-template #noParentChosen> </ng-template>
          </div>
        </app-form-row>

        <app-form-row [control]="form.get('filename')" for="filename" label="Filename">
          <input
            [appFormInput]="form.get('filename')"
            [autoSelect]="true"
            appAutoFocus
            formControlName="filename"
            id="filename"
            type="text"
          />
        </app-form-row>

        <app-form-row [control]="form.get('description')" for="description" label="Description">
          <textarea
            [appFormInput]="form.get('description')"
            formControlName="description"
            id="description"
            rows="5"
          ></textarea>
        </app-form-row>

        <app-form-row [control]="form.get('public')">
          <div class="custom-control custom-checkbox">
            <input
              class="custom-control-input"
              formControlName="public"
              id="public"
              type="checkbox"
            />
            <label class="custom-control-label" for="public"
              >Publicly share with the community</label
            >
          </div>
        </app-form-row>
      </ng-container>

      <ng-template #enrichmentParamsFields>
        <app-form-row [control]="form.get('entitiesList')" for="entitiesList" label="Genes">
          <textarea
            [appFormInput]="form.get('entitiesList')"
            formControlName="entitiesList"
            id="entitiesList"
            placeholder="One gene per line"
            rows="5"
          ></textarea>
        </app-form-row>

        <app-form-row [control]="form.get('organism')" for="organism" label="Organism">
          <app-organism-autocomplete
            (organismPicked)="organismChanged($event)"
            [organismTaxId]="form.get('organism').value ? form.get('organism').value.tax_id : null"
            formId="organism"
          ></app-organism-autocomplete>
        </app-form-row>

        <app-form-row [control]="form.get('domainsList')" for="domainsList" label="Domains">
          <div *ngFor="let choice of checks; let i = index">
            <label>
              <input
                (change)="onCheckChange($event)"
                [checked]="domains.includes(choice)"
                [value]="choice"
                type="checkbox"
              />
              {{ choice }}
            </label>
          </div>
        </app-form-row>
      </ng-template>

      <fieldset *ngIf="promptObject" class="fieldset-properties mt-4">
        <legend>Enrichment Table Parameters</legend>
        <ng-container *ngTemplateOutlet="enrichmentParamsFields"></ng-container>
      </fieldset>

      <ng-container
        *ngTemplateOutlet="!promptObject ? enrichmentParamsFields : null"
      ></ng-container>

      <ng-container *ngIf="promptObject">
        <fieldset class="fieldset-properties mt-4">
          <legend>Annotation Options</legend>
          <app-form-row>
            <ngb-accordion>
              <ngb-panel title="Annotation Configurations">
                <ng-template ngbPanelContent>
                  <app-annotation-config-table
                    [fileType]="object.mimeType"
                    [form]="form.get('annotationConfigs')"
                    [headers]="annotationMethods"
                    [models]="annotationModels"
                  ></app-annotation-config-table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </app-form-row>
        </fieldset>
      </ng-container>
    </app-modal-body>

    <app-modal-footer>
      <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        {{ submitButtonLabel }}
      </button>
    </app-modal-footer>
  </div>
</form>
