@use '../../' as this;
@use 'variables';
@use 'sankey';

app-sankey-single-lane {
  --active-opacity: #{ this.$active-opacity };
  --inactive-opacity: #{ this.$inactive-opacity };

  @include sankey.sankey;

  svg g {
    .nodes g {
      rect {
        fill: this.$node-color;
        stroke: this.$node-border-colour;
      }

      @each $position, $color in this.$node-colors {
        &[graphRelativePosition=#{$position}] {
          > rect {
            fill: $color;
          }
        }
      }
    }

    .links path {
      @mixin link-color($color) {
        fill: $color;
        stroke: darken($color, this.$darken-link-stroke);
      }
      @include link-color(this.$link-color);

      @each $type, $color in this.$edge-color-map {
        &[type=#{$type}] {
          @include link-color($color);
        }
      }

      @each $position, $color in this.$link-colors {
        &[transitively-selected=#{$position}] {
          @include link-color($color);
        }
      }
    }
  }
}
