.btn:disabled:hover {
  text-decoration: none;
}

.selectable-text {
  cursor: text;
  pointer-events: all !important;
  user-select: text !important;
}

.mat-sidenav {
  min-width: 320px;

  .sidenav-title {
    margin-left: 32px;
  }

  .drawer-content {
    padding: 8px;
  }
}

.scrollbar-with-value {
  vertical-align: middle;
  width: calc(100% - 3ch);
}
