@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';

[ngbdropdownitem] {
  align-items: baseline;
  display: flex;
  gap: map_get($spacers, 2);

  & > * {
    flex: 1 0 auto;

    &:last-child {
      flex-grow: 0;
    }
  }
}

.dropdown-divider:last-child {
  display: none;
}
