<div cdkDropList cdkDropListSortingDisabled cdkDropListAutoScrollDisabled class="palette-container">
  <div class="palette-item-container" *ngFor='let n_t of nodeTemplatesShown' cdkDrag
       [cdkDragData]="createNodeDropData(n_t)" [id]='n_t.label'>
    <div class="palette-item">
      <div class="palette-item-icon" [style.background]="n_t.color">
      </div>
      <div class="palette-item-label">
        {{n_t.label | titlecase}}
      </div>
    </div>
  </div>

  <div class="w-100 mt-2 d-flex align-items-center justify-content-center">
    <button class="btn btn-secondary btn-sm" (click)="toggleExpansion()">
      <i class="fa fa-caret-{{expanded ? 'up' : 'down'}}"></i>
    </button>
  </div>
</div>
