@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.cdk-drag-preview {
  margin: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: grab;

  .node-square {
    background: #3797DB;
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
  }
  p {
    font-size: .80rem;
    color: #3797DB;
    text-align: center;
  }
}

.nav-bar {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background: #3797DB;
  position: sticky;
  top: 0;
  width: 16rem;
  height: 52px;
}

.node-palette {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;

  .node-template {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0.2rem 0.5rem;
    cursor: grab;
    text-overflow: ellipsis;
    overflow: hidden;

    .node-square {
      background: #3797DB;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.3rem;
      border-radius: 8px;
    }

    p {
      margin: 0;
      font-size: .80rem;
      color: #3797DB;
      text-align: center;
    }
  }

  .node-palette-footer {
    padding: 0.5rem 0.5rem 0;
  }
}

