@import '../../../../styles.scss';

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.cdk-drag-preview {
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: grab;

    .node-square {
        background: #3797DB;
        width: 4rem;
        height: 4rem;
        border-radius: 8px;
    }
    p {
        font-size: .80rem;
        color: #3797DB;
        text-align: center;
    }
}

.nav-bar {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background: #3797DB;
    position: sticky;
    top: 0;
    width: 100%;
    height: 52px;

    @include no-select;
}

mat-icon {
    margin: 0.75rem;
    width: 28px;
    height: 28px;
    color: white;
    cursor: pointer;
    @include noselect;
}
mat-icon.inactive {
  color: rgba(255, 255, 255, 0.60);
}

.node-palette {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    margin: 1rem 0;

    .node-template {
        margin: 1rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: grab;

        .node-square {
            background: #3797DB;
            width: 4rem;
            height: 4rem;
            border-radius: 8px;
        }
        p {
            font-size: .80rem;
            color: #3797DB;
            text-align: center;
        }
    }
}