<div class='nav-bar'>
  <mat-icon
  (click)='_undo()'
  [ngClass]='{"inactive": !undoStack.length}'>
    undo
  </mat-icon>
  <mat-icon
    (click)='_redo()'
    [ngClass]='{"inactive": !redoStack.length}'>
    redo
  </mat-icon>
</div>
<div 
  cdkDropList
  class='node-palette'>
  <div 
    *ngFor='let n_t of nodeTemplates'
    cdkDrag
    [id]='n_t.label'
    class='node-template'>
    <div 
      class='node-square shadow-4'
      [ngStyle]="{'background': n_t.color}">
    </div>
    <p [ngStyle]="{'color': n_t.color}">
      {{n_t.label | titlecase}}
    </p>
  </div>
</div>