# Python
__pycache__/
*.pyc
env/
.cache/
.python_history
.ipython/
.mypy_cache/

# compiled output
dist/
/**/*.pyc

# System Files
.DS_Store
Thumbs.db
.bash_history
.local/

# IDE - VSCode
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# ignore db files
neo4j/data/*
neo4j/import/*
neo4j/logs/*
neo4j/plugins/*

postgres/
!postgres/.gitkeep

# ignore node_modules
client/node_modules
esdata/
node_modules/

# ignore copy
deployment/kg-prototypes
# terraform files
terraform.tfstate.*
.terraform/
# The terraform Gcloud service account
terraform-gcloud.json

# .env Files (to protect secrets)
*.env
*.env.*

# IDE - IntelliJ
.idea/
/*.iml

#virtual environments
.venv/
outputs/
venv/
*venv*

# LMDB files
appserver/neo4japp/services/annotations/**/*.mdb
appserver/neo4japp/services/annotations/datasets/**/*.csv
appserver/neo4japp/services/annotations/datasets/**/*.tsv

# profiler results
appserver/profilers/results/

# nlp pdfs
appserver/neo4japp/services/annotations/nlp_data_output/pdfs/*.pdf
appserver/neo4japp/services/annotations/nlp_data_output/annotations/*.json
appserver/neo4japp/services/annotations/nlp_data_output/*.txt

# Backups
*.backup

# GCP secrets
*service_account*
*secret*