# Python
__pycache__/
*.pyc
env/
.cache/
.python_history
.ipython/
.mypy_cache/

# compiled output
dist/
/**/*.pyc

# System Files
.DS_Store
Thumbs.db
.bash_history
.local/

# IDE - VSCode
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# ignore db files
db/*/*
postgres/
!postgres/.gitkeep

# ignore node_modules
client/node_modules
esdata/
node_modules/

# terraform files
terraform.tfstate.*
.terraform/
# The terraform Gcloud service account
terraform-gcloud.json

# .env Files (to protect secrets)
*.env
*.env.*

# .idea folder
.idea/

#virtual environments
.venv/
outputs/
