# local development overrides

version: '3.5'

services:
    pgdatabase:
        command: postgres -c max_wal_size=2GB -c log_statement='all'
        container_name: pg-database
        image: postgres:10.2
        networks:
            - backend
        ports:
            - "5431:5432"
        volumes:
            -  ./postgres/db:/var/lib/postgresql/data

    appserver:
        container_name: appserver
        image: gcr.io/able-goods-221820/kg-appserver:${GITHUB_HASH}
        ports:
            - "5000:5000"
        environment:
            - NEO4J_HOST=n4j-database
            - NEO4J_AUTH=neo4j/password
            - FLASK_DEBUG=1
            - FLASK_ENV=development
            - FLASK_APP=app
            - FLASK_APP_CONFIG=Development
            - POSTGRES_HOST=pgdatabase
            # Postgres defaults
            - POSTGRES_PORT=5432
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
            - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
            - ELASTIC_FILE_INDEX_ID=file_ci
            - GOOGLE_APPLICATION_CREDENTIALS=ansible_service_account.json
        volumes:
            - ./appserver/ansible_service_account.json:/home/n4j/ansible_service_account.json
            - ./appserver/neo4japp/tests/database/services/annotations/lmdb:/home/n4j/tests/database/services/annotations/lmdb
        networks:
            - frontend
            - backend
        depends_on:
            - database
            - pgdatabase

    database:
        container_name: n4j-database
        environment:
            - NEO4J_AUTH=neo4j/password
        image: neo4j:3.5.14
        ports:
            - "7474:7474"
            - "7687:7687"
        networks:
            - backend
        volumes:
            - ./db/data:/data
            - ./db/logs:/logs
            - ./db/plugins:/plugins

    elasticsearch:
        container_name: elasticsearch
        build:
            dockerfile: Dockerfile
            context: elasticsearch
        environment:
            - discovery.type=single-node
            - http.max_content_length=200mb  #allow 200mb of content to be sent for indexing
            - bootstrap.memory_lock=true
            - xpack.graph.enabled=false
            - xpack.watcher.enabled=false
            - xpack.license.self_generated.type=basic
        ulimits:
            memlock:
                soft: -1
                hard: -1
        ports:
            - "9200:9200"
            - "9300:9300"
        networks:
            - backend

networks:
    frontend:
    backend:
