<form (ngSubmit)="submit()" [formGroup]="form">
  <app-modal-header (cancel)="cancel()"> Create view </app-modal-header>

  <app-modal-body>
    <app-form-input-feedback [control]="form" [formLevel]="true"></app-form-input-feedback>

    <app-form-row [control]="form.get('viewName')" for="viewName" label="View name">
      <input
        [appFormInput]="form.get('viewName')"
        [autoSelect]="true"
        appAutoFocus
        formControlName="viewName"
        id="viewName"
        placeholder="Custom view name"
        type="text"
      />
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Save</button>
  </app-modal-footer>
</form>
