<h1>Edge Data View</h1>

<div>Association: {{ edgeEntity.association }}</div>

<div>From:</div>
<ul>
  <li>Display Name: {{ edgeEntity.from.displayName }}</li>
  <li>Label: {{ edgeEntity.from.primaryLabel }}</li>
  <li>Sublabels:
    <ul *ngIf="edgeEntity.from.subLabels.length > 1; else noSubLabels">
      <li *ngFor="let label of edgeEntity.from.subLabels">
        <div *ngIf="label !== edgeEntity.from.primaryLabel">{{ label }}</div>
      </li>
    </ul>
    <ng-template #noSubLabels>N/A</ng-template>
  </li>
</ul>

<div>To:</div>
<ul>
  <li>Display Name: {{ edgeEntity.to.displayName }}</li>
  <li>Label: {{ edgeEntity.to.primaryLabel }}</li>
  <li>Sublabels:
    <ul *ngIf="edgeEntity.to.subLabels.length > 1; else noSubLabels">
      <li *ngFor="let label of edgeEntity.to.subLabels">
        <div *ngIf="label !== edgeEntity.to.primaryLabel">{{ label }}</div>
      </li>
    </ul>
    <ng-template #noSubLabels>N/A</ng-template>
  </li>
</ul>

<div>Snippets:</div>

<div *ngIf="edgeEntity.snippets.length > 0; else noSnippets">
  <mat-expansion-panel *ngFor="let snippet of edgeEntity.snippets">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ snippet.publication.displayName }}
      </mat-panel-title>
      <mat-panel-description>
        <i>{{ snippet.publication.data.journal }} ({{ snippet.publication.data.pubYear }})</i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{ snippet.reference.data.sentence }}

  </mat-expansion-panel>
</div>
<ng-template #noSnippets>No Association Snippets Found!</ng-template>
