<h2>New Map</h2>
<form
  [formGroup]='form'>
  <mat-form-field
    class='w-100'
    appearance='outline'>
    <input
      formControlName='label'
      matInput
      placeholder="Name">
    <mat-error>
      Please enter a name
    </mat-error>
  </mat-form-field>
  <mat-form-field
    class='w-100'
    appearance='outline'>
    <textarea
      formControlName='description'
      matInput
      placeholder="Description">
    </textarea>
  </mat-form-field>
  <button (click)='onSubmitClick()' mat-raised-button color="primary">Create</button>
  <button (click)='onNoClick()' mat-stroked-button color="warn">Cancel</button>
</form
>

