<div class="clustergram-wrapper" [style.height.em]="matches.size*2.5 + 8.5">
    <!--    <table class="table table-striped column-hover headers">-->
    <!--        <thead class="predefinedWidth">-->
    <!--        <tr>-->
    <!--            <th></th>-->
    <!--            <th scope="col" *ngFor="let goTerm of goTerms">-->
    <!--                <div>-->
    <!--                    <ng-template #tooltip>-->
    <!--                        {{goTerm.goTerm}} ({{goTerm.goId}})-->
    <!--                    </ng-template>-->
    <!--                    <span [ngbTooltip]="tooltip"-->
    <!--                          container="body"-->
    <!--                          tooltipClass="rotatedTooltip"-->
    <!--                          placement="bottom-left bottom-right">-->
    <!--                        {{goTerm.goTerm}}</span>-->
    <!--                </div>-->
    <!--            </th>-->
    <!--            <th scope="col" *ngIf="others" class="others">-->
    <!--                <div>-->
    <!--                    <span>others</span>-->
    <!--                </div>-->
    <!--            </th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--    </table>-->
    <app-grid-virtual-scroll-viewport [itemSize]="itemSize" [style.height.px]="500" [style.width.perc]="100">
        <div class="columnHeader" #columnHeader>
            <ng-template appVirtualFor [appVirtualForOf]="goTerms" let-goTerm [secondary]="true">
                <div [ngStyle]="{
                    left: goTerm.x*itemSize[0]+'px'
                 }" class="rotatedHeader">
                    <ng-template #tooltip>
                        {{goTerm.goTerm}} ({{goTerm.goId}})
                    </ng-template>
                    <span [ngbTooltip]="tooltip"
                          container="body"
                          tooltipClass="rotatedTooltip"
                          placement="bottom-left bottom-right">
                        {{goTerm.goTerm}}{{goTerm.x}}</span>
                </div>
            </ng-template>
        </div>
        <div class="rowHeader scrollableBackground" #rowHeader>
        </div>
        <div class="box2 rowHeader" #rowHeader>
            <ng-template appVirtualFor [appVirtualForOf]="genes" let-entry [secondary]="true">
                <div [appSELink]="entry.key"
                     [ngStyle]="{
                    top: entry.y*itemSize[1]+'px'
                 }"
                >{{entry.key}}{{entry.y}}</div>
            </ng-template>
        </div>
        <div *appVirtualFor="let entry of matches"
             class="match"
             [style.backgroundColor]="geneColor"
             [ngStyle]="{
                    left: entry.x*itemSize[0]+'px',
                    top: entry.y*itemSize[1]+'px'
                 }"
        >
        </div>
        <!--        <table class="table table-striped column-hover">-->
        <!--        <tbody class="predefinedWidth">-->
        <!--        <tr *cdkVirtualFor="let entry of matches | keyvalue: rowOrder">-->
        <!--            <th scope="row" [appSELink]="entry.key">{{ entry.key }}</th>-->
        <!--            <td *ngFor="let value of entry.value.values"-->
        <!--                [ngClass]="{match:value}"-->
        <!--                [style.backgroundColor]="value && geneColor"-->
        <!--            ></td>-->
        <!--            <td *ngIf="others"-->
        <!--                class="match others">{{entry.value.others || ''}}</td>-->
        <!--        </tr>-->
        <!--        <tr *ngIf="others">-->
        <!--            <th scope="row">others</th>-->
        <!--            <td *ngFor="let value of others.values"></td>-->
        <!--            <td class="match others">{{others.others}}</td>-->
        <!--        </tr>-->
        <!--        </tbody>-->
        <!--    </table>-->
    </app-grid-virtual-scroll-viewport>
    <!--    <div class="grid">-->
    <!--        <div *ngFor="let entry of matches"-->
    <!--             class="match"-->
    <!--             [style.backgroundColor]="geneColor"-->
    <!--             [ngStyle]="{-->
    <!--                    gridColumn: entry.x,-->
    <!--                    gridRow: entry.y-->
    <!--                 }"-->
    <!--        >-->
    <!--        </div>-->
    <!--    </div>-->
</div>
