<app-grid-virtual-scroll-viewport [itemSize]="itemSize"
                                  [style.height.px]="(matches.size*2.5 + 8.5)*27"
                                  [style.width.perc]="100">
    <div class="columnHeader" #columnHeader>
        <ng-template appVirtualFor [appVirtualForOf]="goTerms" let-goTerm [secondary]="true">
            <div [style.left.px]="goTerm.x*itemSize[0]"
                 class="rotatedHeader"
            >
                <ng-template #tooltip>
                    {{goTerm.goTerm}} {{goTerm.goId && '(' + goTerm.goId + ')'}}
                </ng-template>
                <span [ngbTooltip]="tooltip"
                      container="body"
                      tooltipClass="rotatedTooltip"
                      placement="bottom-left bottom-right"
                >{{goTerm.goTerm}}</span>
            </div>
        </ng-template>
    </div>
    <div class="scrollSpacer" #scrollSpacer></div>
    <div class="rowHeader" #rowHeader>
        <ng-template appVirtualFor [appVirtualForOf]="genes" let-entry [secondary]="true">
            <div [appSELink]="entry.key"
                 [style.top.px]="entry.y*itemSize[1]"
            >{{entry.key}}</div>
        </ng-template>
    </div>
    <div class="content" #content>
        <div *appVirtualFor="let entry of matches"
             [ngClass]="entry.value ? 'others' : 'match'"
             [style.backgroundColor]="entry.value || geneColor"
             [ngStyle]="{
                    left: entry.x*itemSize[0]+'px',
                    top: entry.y*itemSize[1]+'px'
                 }"
        >{{entry.value}}</div>
    </div>
</app-grid-virtual-scroll-viewport>
