<table class="table table-striped column-hover">
    <thead>
    <tr>
        <th></th>
        <th scope="col" *ngFor="let goTerm of goTerms">
            <div>
            <span [ngbTooltip]="goTerm.goTerm"
                  tooltipClass="rotatedTooltip"
                  placement="bottom-left bottom-right"
                  closeDelay="10">
                {{goTerm.goId}}</span>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of genes | keyvalue">
        <th scope="row">{{ entry.key }}</th>
        <td *ngFor="let value of entry.value" [ngClass]="{match:value}"></td>
    </tr>
    </tbody>
</table>
