<table class="table">
  <thead>
    <tr class="text-middle">
      <th scope="col">Model</th>
      <span *ngFor="let header of headers; index as i">
        <th scope="col">{{header}}</th>
      </span>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models; index as i">
      <th scope="row">{{model}}</th>
      <td>
        <div class="custom-control custom-checkbox">
          <span *ngIf="form.get(model).get('disabled').value; else notDisabled">
            <input
              id="{{model}}-nlp-checkbox"
              class="custom-control-input"
              type="checkbox"
              disabled>
            <label class="custom-control-label" for="{{model}}-nlp-checkbox"></label>
          </span>
          <ng-template #notDisabled>
            <input
              id="{{model}}-nlp-checkbox"
              class="custom-control-input"
              type="checkbox"
              [checked]="form.get(model).get('nlp').value"
              (change)="checkboxChange(model, 'nlp', 'rulesBased', $event)">
            <label class="custom-control-label" for="{{model}}-nlp-checkbox"></label>
          </ng-template>
        </div>
      </td>
      <td>
        <div class="custom-control custom-checkbox">
          <input
            id="{{model}}-rules-based-checkbox"
            class="custom-control-input"
            type="checkbox"
            [checked]="form.get(model).get('rulesBased').value"
            (change)="checkboxChange(model, 'rulesBased', 'nlp', $event)">
          <label class="custom-control-label" for="{{model}}-rules-based-checkbox"></label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
