<table class="table table-hover">
  <thead *ngIf="HEADER">
    <ng-container>
      <tr *ngFor="let row of HEADER" class="table-secondary">
        <th
          *ngFor="let col of row"
          [attr.colspan]="col.span"
          class="text-center text-truncate"
          style="z-index: 1"
        >
          {{ col.name }}
        </th>
      </tr>
    </ng-container>
  </thead>

  <!-- Make it relative so tooltips are aligned correctly when header is sticky -->
  <tbody *ngIf="entries" [style.position]="'relative'">
    <ng-container>
      <tr *ngFor="let row of entries">
        <td
          *ngFor="let entry of row"
          [ngClass]="{ error: entry.highlight }"
          class="overflow-auto resizeable"
          style="white-space: pre-wrap; word-wrap: break-word"
        >
          <div>
            <span *ngIf="entry.text && entry.text.indexOf('snippet') > -1; else noHighlight">
              <app-highlight-text [appInnerXML]="entry.text" [object]="object"></app-highlight-text>
            </span>
            <ng-template #noHighlight>{{ entry.text }}</ng-template>
          </div>
          <ng-container *ngIf="entry.multiLink">
            <ul *ngFor="let link of entry.multiLink">
              <li>
                <a href="{{ link.link }}" rel="noopener noreferrer" target="_blank">{{
                  link.linkText
                }}</a>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="entry.singleLink">
            <a href="{{ entry.singleLink.link }}" rel="noopener noreferrer" target="_blank">{{
              entry.singleLink.linkText
            }}</a>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
