.error {
  color: gray;
}

.resizeable {
  overflow: auto;
  resize: horizontal;
}

ul {
  padding-inline-start: 20px;
}

table, th, td {
  border: 1px ridge black !important;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  background-color: #dddfdf;
}

thead tr:nth-child(1) th { position: sticky; top: 0; }
thead tr:nth-child(2) th { position: sticky; top: 33px; }