@use "src/app/shared/styles/mixins/table";
@import "src/scss/variables";

.error {
  color: gray;
}

.resizeable {
  overflow: auto;
  resize: horizontal;
}

ul {
  padding-inline-start: 20px;
}

$border: 1px solid $gray-500;

.table {
  @include table.border($border, $border);

  thead {
    position: sticky;
    top: 0;
    z-index: 1;

    th {
      background-color: $gray-200;
      color: $black;
    }
  }
}
