@import 'src/scss/variables';

.error {
  color: gray;
}

.resizeable {
  overflow: auto;
  resize: horizontal;
}

ul {
  padding-inline-start: 20px;
}

table, th, td {
  border: 1px solid $gray-500 !important;
  border-collapse: separate;
  border-spacing: 0;
}

.table thead th {
  background-color: $gray-200;
  color: $black;
}

thead tr:nth-child(1) th { position: sticky; top: 0; }
thead tr:nth-child(2) th { position: sticky; top: 33px; }
