<table class="table table-bordered">
  <thead *ngIf="HEADER">
    <ng-container>
      <tr class="table-secondary" *ngFor="let row of HEADER">
        <th
          *ngFor="let col of row"
          class="border-top text-center text-truncate"
          [attr.colspan]="col.span"
          style="color: black;"
        >
          {{ col.name }}
        </th>
      </tr>
    </ng-container>
  </thead>

  <tbody *ngIf="entries">
    <ng-container>
      <tr *ngFor="let row of entries">
        <td *ngFor="let entry of row" style="white-space:pre-wrap; word-wrap:break-word" class="overflow-auto resizeable" [ngClass]="{ 'error': entry.highlight}">
          <div>
            <app-highlight-text [highlight]="formatText(entry.text)"></app-highlight-text>
          </div>
          <span *ngIf="entry.text">
            <button class="btn btn-primary" (click)="annotate(entry)">Annotate</button>
          </span>
          <ng-container *ngIf="entry.multiLink">
            <ul *ngFor="let link of entry.multiLink">
              <li><a target="_blank" rel="noopener noreferrer" href="{{ link.link }}">{{ link.linkText }}</a></li>
            </ul>
          </ng-container>
          <ng-container *ngIf="entry.singleLink">
            <a target="_blank" rel="noopener noreferrer" href="{{ entry.singleLink.link }}">{{
              entry.singleLink.linkText
            }}</a>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    <tr></tr>
  </tbody>
</table>
