<div *ngIf="legendLabels" id="settings-container" class="floating-toolbar" [ngClass]="navbarCollapsed ? 'unexpanded' : 'expanded'">
  <div
    id="canvas-settings-button"
    (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <mat-icon class="text-primary">settings</mat-icon>
  </div>
  <div id="settings-content" [ngClass]="navbarCollapsed ? 'unexpanded' : 'expanded'">
    <form [formGroup]="settingsForm" fxLayout="column" fxLayoutAlign="space-between start">
      <mat-slide-toggle formControlName="animation">Animation</mat-slide-toggle>

      <div>Max rows shown in clusters:</div>
      <mat-form-field>
        <input
          id="max-cluster-rows-input"
          type="number"
          step="1"
          matInput
          formControlName="maxClusterShownRows"
          name="firstName"
        />
        <mat-error *ngIf="settingsForm.get('maxClusterShownRows').hasError('required')">
          Max rows cannot be empty!
        </mat-error>
        <mat-error *ngIf="settingsForm.get('maxClusterShownRows').hasError('min')">
          Max rows cannot be less than 1!
        </mat-error>
        <mat-error *ngIf="settingsForm.get('maxClusterShownRows').hasError('pattern')">
          Max rows must be a whole number!
        </mat-error>
      </mat-form-field>

      <div>Include in Expand Node Result:</div>
      <mat-checkbox
        *ngFor="let label of legendLabels"
        [formControlName]="label"
      >{{ label }}</mat-checkbox>
    </form>
  </div>
</div>
