<div
  *ngIf="legendLabels"
  [ngClass]="navbarCollapsed ? 'unexpanded' : 'expanded'"
  class="floating-toolbar settings-container"
>
  <div
    (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle settings"
    class="pointer-on-hover canvas-settings-button"
  >
    <i class="fa fa-fw fa-cog"></i>
  </div>
  <div [ngClass]="navbarCollapsed ? 'settings-content unexpanded' : 'settings-content expanded'">
    <form [formGroup]="settingsForm" class="d-flex flex-column justify-content-between">
      <fieldset class="fieldset-properties">
        <legend>Canvas Settings</legend>
        <!-- Animation toggle -->
        <div class="custom-control custom-switch">
          <input
            [id]="animationToggleInputId"
            class="custom-control-input pointer-on-hover"
            formControlName="animation"
            type="checkbox"
          />
          <label [for]="animationToggleInputId" class="custom-control-label pointer-on-hover"
            >Animation</label
          >
        </div>

        <!-- Max cluster rows input -->
        <label [for]="maxClusterRowsInputId" class="mt-2">Max rows shown in clusters:</label>
        <input
          [id]="maxClusterRowsInputId"
          [ngClass]="maxClusterRowsInputClass"
          formControlName="maxClusterShownRows"
          min="1"
          step="1"
          type="number"
        />
        <div
          *ngIf="settingsForm.get('maxClusterShownRows').value > 50"
          class="mt-1 text-warning small-font"
        >
          Large clusters may render slowly.
        </div>
        <div
          *ngIf="settingsForm.get('maxClusterShownRows').hasError('required')"
          class="mt-1 text-danger small-font"
        >
          Max rows cannot be empty!
        </div>
        <div
          *ngIf="settingsForm.get('maxClusterShownRows').hasError('min')"
          class="mt-1 text-danger small-font"
        >
          Max rows cannot be less than 1!
        </div>
        <div
          *ngIf="settingsForm.get('maxClusterShownRows').hasError('pattern')"
          class="mt-1 text-danger small-font"
        >
          Max rows must be a whole number!
        </div>

        <!-- Labels to include in expand result checkboxes -->
        <label class="mt-2 mb-0">When Node is Expanded Include:</label>
        <div
          *ngFor="let label of legendLabels; index as i"
          class="custom-control custom-checkbox mt-1"
        >
          <input
            [formControlName]="label"
            [id]="expandEntityInputIdPrefix + i"
            class="custom-control-input pointer-on-hover"
            type="checkbox"
          />
          <label
            [for]="expandEntityInputIdPrefix + i"
            class="custom-control-label pointer-on-hover"
            >{{ label }}</label
          >
        </div>

        <button
          class="btn btn-secondary settings-button"
          container="body"
          type="button"
          ngbTooltip="Fit all nodes on screen"
          placement="top"
          (click)="fitToScreen()"
        >
          Fit to Screen
        </button>
      </fieldset>
    </form>
  </div>
</div>
