@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "src/scss/variables";

.canvas-settings-button {
  color: $primary;
  float: right;
  text-align: center;
  transition: color 0.25s linear;
}

.canvas-settings-button:hover {
  color: $gray-600;
}

.invalid-input {
  border-color: $danger;
}

.invalid-input:focus {
  box-shadow: 0 0 0 0.2rem rgba($danger, 0.25);
}

.input-warning {
  border-color: $warning;
}

.input-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba($warning, 0.25);
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.settings-container {
  margin: $spacer $spacer 0 0;
  padding: 0.75rem;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 1;
}

.settings-container.expanded {
  background-color: $white;
  height: auto;
  transition: all 0.25s linear;
  width: auto;
}

.settings-container.unexpanded {
  background: none;
  border-color: rgba(0, 0, 0, 0);
  height: 2rem;
  // keep border but make it transparent so the settings button doesn't move when it is clicked
  width: 2rem;
}

.settings-content.expanded {
  opacity: 1;
  transition: opacity 0.25s linear;
  visibility: visible;
}

.settings-content.unexpanded {
  opacity: 0;
  visibility: hidden;
}

.small-font {
  font-size: $font-size-sm;
}

.settings-button {
  margin: $spacer $spacer 0 0;
}
