@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'src/scss/variables';

#settings-container {
  margin: $spacer $spacer 0 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  z-index: 1;
  white-space: nowrap;
}

#canvas-settings-button {
  transition: color .25s linear;
  float: right;
  text-align: center;
  color: $primary;
}

#canvas-settings-button:hover{
  cursor: pointer;
  color: #6c757d
}

#settings-container.expanded {
  width: auto;
  height: auto;
  background-color: $white;
  transition: all .25s linear;
}

#settings-container.unexpanded {
  width: 2rem;
  height: 2rem;
  background: none;
  // keep border but make it transparent so the settings button doesn't move when it is clicked
  border-color: rgba(0,0,0,0);
}

#settings-content.expanded {
  visibility: visible;
  opacity: 1;
  transition: opacity .25s linear;
}

#settings-content.unexpanded {
  visibility: hidden;
  opacity: 0;
}

.invalid-input {
  border-color: #dc3545;
}
.invalid-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.invalid-msg {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
