[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.4.2"
mypy = "==1.5.1"
pycodestyle = "==2.11.0"
jupyterlab = "*"
llmlib = {file = ".", editable = true}
neo4j = "*"
anyio = "*"

[packages]
flask-marshmallow = "==0.15.0"
Flask = "==2.3.3"
gunicorn = "==21.2.0"
python-arango = "==7.6.2"
openai = "==0.28.0"
langchain = "==0.0.296"
redis = "==5.0.0"
cachetools = "==5.3.1"
webargs = "*"

[requires]
python_version = "3.11"
