@import "src/scss/variables";

.palette-panel {
  bottom: $window-spacer;
  display: flex;
  left: $window-spacer;
  max-height: calc(100% - 50px);
  position: absolute;
  width: 16rem;
  z-index: 1;
}

.lock-panel {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: $window-spacer;
  max-height: calc(100% - 50px);
  overflow: auto;
  position: absolute;
  top: 0;
  width: 350px;
  z-index: 1;
}

.info-panel {
  height: 100%;
}
