<div class="position-relative h-100">
  <ng-container *ngIf="(loadTask.status$ | async) as status">
    <app-content-progress
      [status]="status"
      loadingText="Fetching map..."
      errorText="The requested map could not be loaded.">
    </app-content-progress>
  </ng-container>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="main-toolbar d-flex align-items-center toolbar d-flex">
      <div class="btn-group">
        <button type="button" class="btn btn-light"
                [disabled]="(unsavedChanges$ | async) == null"
                ngbTooltip="Save" placement="bottom"
                (click)="save()">
          <i class="fa fa-fw fa-save"></i>
        </button>
        <button type="button" class="btn btn-light"
                ngbTooltip="Export" placement="bottom"
                (click)="download()">
          <i class="fa fa-fw fa-file-export"></i>
        </button>
      </div>

      <div class="btn-group ml-2">
        <button type="button" class="btn btn-light"
                ngbTooltip="Undo" placement="bottom"
                (click)="undo()"
                [disabled]="!graphCanvas || !graphCanvas.canUndo()">
          <i class="fa fa-fw fa-undo"></i>
        </button>
        <button type="button" class="btn btn-light"
                ngbTooltip="Redo" placement="bottom"
                (click)="redo()"
                [disabled]="!graphCanvas || !graphCanvas.canRedo()">
          <i class="fa fa-fw fa-redo"></i>
        </button>
      </div>

      <div class="btn-group ml-auto">
        <button type="button" class="btn btn-light"
                ngbTooltip="Fit map" placement="bottom"
                (click)="zoomToFit()">
          <i class="fa fa-fw fa-expand"></i>
        </button>
      </div>
    </div>

    <div class="flex-fill">
      <as-split cdkDropListGroup unit="pixel" direction="horizontal" gutterSize="1">
        <as-split-area>
          <div class="position-relative h-100">
            <div class="graph-container">
              <canvas #canvas class="graph-view" (dragover)="dragOver($event)" (drop)="drop($event)"></canvas>
            </div>

            <app-palette class="palette-panel">
            </app-palette>
          </div>
        </as-split-area>

        <as-split-area [size]="250" [maxSize]="500">
          <ng-container *ngIf="(graphCanvas?.selection.changeObservable | async) as selected; else noSelection">
            <app-info-panel *ngIf="selected[0].length > 0; else noSelection" [selected]="selected[0][0]"
                            (actionCreated)="graphCanvas.execute($event)">
            </app-info-panel>
          </ng-container>
          <ng-template #noSelection>
            <div class="p-3">
              Select a node or edge.
            </div>
          </ng-template>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
