<div class="position-relative h-100" #modalContainer>
  <ng-container *ngIf="(loadTask.status$ | async) as status">
    <app-module-progress *ngIf="status.running" class="position-absolute w-100 h-100 bg-white"
                         style="z-index: 2">
      Loading map...
    </app-module-progress>

    <app-module-error *ngIf="status.failedErrorShown" class="position-absolute w-100 h-100 bg-white p-4"
                      style="z-index: 2" [error]="status.error">
      <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
    </app-module-error>
  </ng-container>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <button type="button" class="module-title-bar-back mr-2" (click)="goToReturnUrl()" *ngIf="returnUrl">
            <i class="fa fa-fw fa-arrow-left"></i>
          </button>
          <h1 class="module-title text-truncate" (click)="displayEditDialog()">
            {{ map?.label }}
          </h1>
          <div class="text-danger ml-2" *ngIf="unsavedChanges$.value; else saved">
            <i class="fa fa-fw fa-pencil-alt"></i> Unsaved changes
          </div>
          <ng-template #saved>
            <div class="ml-2 text-muted" ngbTooltip="Saved to the cloud" container="body">
              <i class="fa fa-fw fa-cloud-upload-alt"></i>
            </div>
          </ng-template>
        </div>

        <div class="module-toolbar d-flex align-items-center mt-2">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary"
                    [disabled]="(unsavedChanges$ | async) == null"
                    ngbTooltip="Save" placement="bottom" container="body"
                    (click)="save()">
              <i class="fa fa-fw fa-save"></i> Save
            </button>
            <button type="button" class="btn btn-secondary"
                    ngbTooltip="Download map as an image or PDF" placement="bottom" container="body"
                    (click)="download()">
              <i class="fa fa-fw fa-file-export"></i> Export
            </button>
          </div>

          <div class="btn-group ml-2">
            <button type="button" class="btn btn-secondary"
                    ngbTooltip="Undo" placement="bottom" container="body"
                    (click)="undo()"
                    [disabled]="!graphCanvas || !graphCanvas.canUndo()">
              <i class="fa fa-fw fa-undo"></i>
            </button>
            <button type="button" class="btn btn-secondary"
                    ngbTooltip="Redo" placement="bottom" container="body"
                    (click)="redo()"
                    [disabled]="!graphCanvas || !graphCanvas.canRedo()">
              <i class="fa fa-fw fa-redo"></i>
            </button>
          </div>

          <div class="btn-group ml-2">
            <button type="button" class="btn btn-secondary" container="body"
                    ngbTooltip="Make map fit on screen" placement="bottom"
                    (click)="zoomToFit()">
              Fit to Map
            </button>
          </div>
        </div>
      </div>

      <div class="position-relative overflow-hidden flex-fill">
        <div class="graph-container">
          <canvas #canvas class="graph-view" (dragover)="dragOver($event)" (drop)="drop($event)"></canvas>
        </div>

        <div class="palette-panel">
          <app-collapsible-window title="Palette" [reversed]="true" class="flex-fill">
            <div class="window-body">
              <app-palette></app-palette>
            </div>
          </app-collapsible-window>
        </div>

        <ng-container *ngIf="(graphCanvas?.selection.changeObservable | async) as selected">
          <div class="info-panel" *ngIf="selected[0].length > 0">
            <app-info-panel [selected]="selected[0][0]"
                            (actionCreated)="graphCanvas.execute($event)">
            </app-info-panel>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
