@import 'src/scss/variables';

.palette-panel {
  display: flex;
  position: absolute;
  left: $window-spacer;
  bottom: $window-spacer;
  width: 16rem;
  z-index: 1;
  max-height: calc(100% - 50px);
}

.info-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 20;
  overflow: auto;
  overflow-y: scroll;
  background: $white;
  border-left: 1px solid $window-border-color;
}
