@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.palette-container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.2rem;
  overflow: auto;
}

.palette-item-container {
  cursor: grab;
  padding: 0.2rem;
  width: 50%;
}

.palette-item {
  align-items: center;
  border-radius: $border-radius;
  @include text-truncate();
  display: flex;
}

.palette-item-icon {
  border-radius: $border-radius;
  flex-shrink: 0;
  height: 1.5rem;
  margin-right: 0.3rem;
  width: 1.5rem;
}

.palette-item-label {
  @include text-truncate();
}

.node-palette-footer {
  padding: 0.5rem 0.5rem 0;
}
