<div class="palette-container">
  <div
    (click)="click()"
    (dragstart)="dragStart($event, template)"
    *ngFor="let template of nodeTemplatesShown"
    [id]="template.label"
    class="palette-item-container"
    draggable="true"
  >
    <div class="palette-item">
      <div [style.background]="template.color" class="palette-item-icon"></div>
      <div class="palette-item-label">
        {{ template.label | titlecase }}
      </div>
    </div>
  </div>

  <div class="w-100 mt-2">
    <a (click)="toggleExpansion(); $event.preventDefault()" href="#">
      {{ expanded ? "Show fewer node types" : "Show more node types" }}
    </a>
  </div>
</div>
