<app-modal-header (cancel)="close()"> Copy Link </app-modal-header>

<app-modal-body>
  <div class="d-flex">
    <input
      #input
      [autoSelect]="true"
      [value]="url"
      appAutoFocus
      class="form-control flex-fill"
      readonly
      type="text"
    />
    <button [appCopyToClipboard]="url" class="btn btn-secondary ml-1" type="button">
      <i class="fa fa-copy fa-fw"></i>
    </button>
  </div>
  <div class="mt-4">Permission may be required to view this link.</div>
</app-modal-body>
