@import "src/scss/variables";

.detail {
  border: 1px solid $gray-400;
  border-radius: 8px;
  margin: 20px 0 0 0;

  .detail-title {
    background: $gray-200;
    font-size: inherit;
    font-weight: bold;
    margin: 0;
    padding: 5px 15px;
  }

  pre {
    margin: 0;
    max-height: calc(100vh - 400px);
    overflow: auto;
    padding: 10px 15px;
  }
}
