<div class="modal-header">
  <h4 class="modal-title text-truncate">
    {{title}}
  </h4>
</div>
<div class="modal-body">
  <ng-container *ngFor="let progressObservable of progressObservables">
    <div *ngIf="progressObservable | async as progress">
      <div class="mb-2">
        <ngb-progressbar *ngIf="progress.mode === 'DETERMINATE'"
                         type="primary" [value]="progress.value * 100" [striped]="false"
                         [animated]="false">
        </ngb-progressbar>
        <ngb-progressbar *ngIf="progress.mode !== 'DETERMINATE'"
                         type="primary" [value]="100" [striped]="true" [animated]="true">
        </ngb-progressbar>
      </div>

      <div class="mb-2">
        {{progress.status}}
      </div>

      <ngb-alert *ngFor="let warning of progress.warnings || []"
                 [dismissible]="false"
                 class="mt-1"
      >
        <strong *ngIf="warning.title">{{warning.title}}<br></strong>{{warning.message}}
        <p *ngFor="let additionalMsg of (warning.additionalMsgs || [])">{{additionalMsg}}</p>
      </ngb-alert>

      <ngb-alert *ngFor="let error of progress.errors || []"
                 [dismissible]="false"
                 type="danger"
                 class="mt-1"
      >
        <strong *ngIf="error.title">{{error.title}}<br></strong>{{error.message}}
      </ngb-alert>
    </div>
  </ng-container>
</div>
<div *ngIf="cancellable || persist" class="modal-footer">
  <button *ngIf="cancellable" class="btn btn-secondary" type="button" (click)="cancel()">
    Cancel
  </button>

  <button *ngIf="persist" class="btn btn-secondary" type="button" (click)="cancel()">
    Close
  </button>
</div>
