@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

#legend {
  position: absolute;
  margin: $spacer 0 0 $spacer;
  width: 10rem;;
  padding: 1rem;
  z-index: 1;
  background: $white;
}

#legend-header {
  text-align: center;
}

.color-box {
  border-radius: $border-radius;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border: 'thin solid';
}
