#legend {
    background: #F5F5F5;
    border: thin solid #C0C0C0;
    margin: 20px 0 0 20px;
    padding: 5px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 150px;
    z-index: 100;
}

.node-label-and-color {
    width: 100%;
}