<div class="module-header">
    <!-- Breadcrumbs -->
    <div class="module-breadcrumb-bar mb-1">
        <app-object-path [object]="object?.parent" [newTab]="true"></app-object-path>
    </div>
    <div class="module-title-bar">
        <button type="button" class="module-title-bar-back mr-2 ml-0" [appLink]="returnUrl"
                *ngIf="returnUrl">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
        <h1 class="toolbar-title text-truncate mr-1 ml-0" draggable="true"
            (dragstart)="dragStarted.next($event)">
            <ng-container *ngIf="!titleTemplate; else titleTemplate">
                {{ object?.filename }}
            </ng-container>
        </h1>
        <div ngbDropdown class="d-inline-block mr-4 ml-0" container="body">
            <a href="#" class="dropdown-no-arrow" ngbDropdownToggle (click)="$event.preventDefault()">
                <i class="fas fa-chevron-down fa-fw text-icon"></i>
            </a>
            <div ngbDropdownMenu>
                <app-object-menu *ngIf="object" [object]="object" [forEditing]="true" [showOpen]="false"
                                 [showDelete]="false" (objectRefresh)="requestRefresh()">
                </app-object-menu>
                <ng-content select="[objectMenu]"></ng-content>
            </div>
        </div>
        <button class="btn btn-secondary ml-2 mr-0" (click)="openNewWindow()">
            <i class="fas fa-external-link-alt" ngbTooltip="Open in new window"></i>
        </button>
        <ng-content></ng-content>
    </div>
</div>
