<div 
  cdkDropListGroup
  id='drawing-tool-view-container'>
  <div
    cdkDropList
    (cdkDropListDropped)='drop($event)'
    id='canvas'>
  </div>
  <!-- Tool UI -->
  <div id='tool-panel' class='shadow-4 ma3'>
    <mat-icon
      (click)='fitAll()'>
      zoom_out_map
    </mat-icon>
    <mat-icon>
      undo
    </mat-icon>
    <mat-icon>
      undo
    </mat-icon>
  </div>
  <!-- Palette UI -->
  <app-palette
    id='palette-panel'
    [undoStack]='undoStack'
    [redoStack]='redoStack'
    (undo)='undo()'
    (redo)='redo()'>
  </app-palette>
</div>