<div
  id='drawing-tool-view-container'>
  <div
    cdkDropList
    (cdkDropListDropped)='drop($event)'
    id='canvas'>
  </div>
  <!-- Context Menu -->
  <app-drawing-tool-context-menu
    [tooltipSelector]="contextMenuTooltipSelector"
    [tooltipOptions]="contextMenuTooltipOptions"
    [selectedNodeIds]="selectedNodes"
    [selectedEdgeIds]="selectedEdges"
    (removeNodes)="removeNodes($event)"
    (removeEdges)="removeEdges($event)"
    (selectNeighbors)="selectNeighbors($event)"
    (copySelection)="copySelection()"
    (pasteSelection)="pasteSelection()"
    (createLinkNodeFromClipboard)="createLinkNodeFromClipboard($event)"
  ></app-drawing-tool-context-menu>
  <!-- Tool UI -->
  <div id='tool-panel' class='shadow-4 ma3'>
    <mat-icon
      matTooltip="Fit Graph"
      matTooltipPosition="right"
      class='fit'
      (click)='fitAll()'>
      zoom_out_map
    </mat-icon>
    <mat-icon
      [matTooltip]='currentApp==="node-search" ? "Close Node Search" : "Open Node Search"'
      matTooltipPosition="right"
      [ngClass]='{"active": currentApp==="node-search"}'
      (click)='toggle("node-search")'>
      search
    </mat-icon>
    <mat-icon
      [matTooltip]='currentApp==="map-search" ? "Close Map Search" : "Open Map Search"'
      matTooltipPosition="right"
      [ngClass]='{"active": currentApp==="map-search"}'
      (click)='toggle("map-search")'>
      map
    </mat-icon>
    <mat-icon
      [matTooltip]='currentApp==="pdf-viewer" ? "Close PDF Viewer" : "Open PDF Viewer"'
      matTooltipPosition="right"
      [ngClass]='{"active": currentApp==="pdf-viewer"}'
      (click)='toggle("pdf-viewer")'>
      menu_book
    </mat-icon>
    <mat-icon
      matTooltip="Save"
      matTooltipPosition="right"
      [ngClass]='saveStyle'
      (click)='save()'>
      save
    </mat-icon>
    <mat-icon
      [ngClass]='saveStyle'
      (click)='download()'>
      get_app
    </mat-icon>
  </div>
  <!-- Info Panel UI -->
  <app-info-panel
    id='info-panel'
    (openApp)='toggleApp($event)'>
  </app-info-panel>
  <!-- Palette UI -->
  <app-palette
    appResizable
    id='palette-panel'
    [undoStack]='undoStack'
    [redoStack]='redoStack'
    (undo)='undo()'
    (redo)='redo()'>
  </app-palette>
  <h3 id='title'>{{project?.label}}</h3>
</div>
