<div id="node-relationship-container">
    <div class="node-detail" id="left-node-container" *ngIf="leftNode">
        <div
            class="node-detail-container"
            matTooltip="{{ leftNode.label }}"
            [matTooltipPosition]="tooltipPosition"
        >
            <mat-icon [ngStyle]="{'color': leftNodeColor}">lens</mat-icon>
            {{ leftNode.displayName }}
        </div>
    </div>
    <div id="relationship-container" *ngIf="edge">
        <div><i class="material-icons">remove</i></div>
        <div>{{ edge }}</div>
        <div *ngIf="rightNode"><i class="material-icons">arrow_forward</i></div>
    </div>
    <div class="node-detail" id="right-node-container" *ngIf="rightNode">
        <div
            class="node-detail-container"
            matTooltip="{{ rightNode.label }}"
            [matTooltipPosition]="tooltipPosition"
        >
            <mat-icon [style.color]="rightNodeColor">lens</mat-icon>
            {{ rightNode.displayName }}
        </div>
    </div>
</div>
