<form class="d-flex flex-column justify-content-between">
    <fieldset class="fieldset-properties mt-2">
        <legend container="body"
                ngbTooltip="Click a checkbox to filter annotations of that type"
                placement="top left right">Trace
            Details:
        </legend>
        <ngb-accordion ngbAccordion activeIds="source target">
            <ngb-panel id="source">
                <ng-template disabled="true" ngbPanelHeader>
                    <app-button-with-selectable-text ngbPanelToggle [disabled]="true" title="Source">
                        {{ entity.source }}
                    </app-button-with-selectable-text>
                </ng-template>
                <ng-template ngbPanelContent>
                    {{ (getNodeById(entity.source) | async).description }}
                </ng-template>
            </ngb-panel>
            <ngb-panel id="target">
                <ng-template disabled="true" ngbPanelHeader>
                    <app-button-with-selectable-text ngbPanelToggle [disabled]="true" title="Target">
                        {{ entity.target }}
                    </app-button-with-selectable-text>
                </ng-template>
                <ng-template ngbPanelContent>
                    {{ (getNodeById(entity.target) | async).description }}
                </ng-template>
            </ngb-panel>
            <ngb-panel [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <app-button-with-selectable-text ngbPanelToggle [disabled]="true" title="Group">
                        {{ parseProperty(entity.group) }}
                    </app-button-with-selectable-text>
                </ng-template>
            </ngb-panel>
            <ngb-panel *ngFor="let link of entity.links" [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <a [href]="link.href"
                       class="btn btn-link w-100 d-flex align-items-center justify-content-between"
                       target="_blank">
                        <span>{{link.title}}</span>
                        {{ link.value }}
                    </a>
                </ng-template>
            </ngb-panel>
            <ngb-panel *ngIf="entity.detail_edges">
                <ng-template disabled="true" ngbPanelHeader>
                    <button (click)="openTraceView(entity)" class="btn btn-link">Show detailed
                        network
                    </button>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Details">
                <ng-template ngbPanelContent>
                    <app-object-explorer [dataSource]="entity"></app-object-explorer>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </fieldset>
</form>



