[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neo4j = "==4.4.*"
numpy = "==1.*"
pandas = "==1.*"
Mako = "==1.1.5"
azure-storage-file-share = "==12.*"
coloredlogs = "==15.*"
argparse = "==1.4.*"
gitpython = "==3.*"
pyyaml = "==6.*"

[dev-packages]
black = "*"
notebook = "*"

[requires]
python_version = "3"
