
.nodes {
  z-index: 1;

  g {
    transition: opacity 250ms 250ms;

    rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    text {
      text-shadow: 0 1px 0 #fff;
      font-size: 6px;
      transition: font-size 250ms 250ms, fill 250ms 250ms;
      pointer-events: none;
    }

    &:hover text {
      font-size: 12px;
      fill: black;
    }
  }
}

.links {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;

  path {
    transition: opacity 250ms 250ms;
    opacity: 0.4;

    &:hover {
      stroke-opacity: .5;
    }
  }
}

.sankey-popover {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
  //touch-action: none;
  //user-select: none;
  transform-origin: 0 0;

  svg {
    width: 100%;
    height: 100%;
  }
}

