<ng-container *ngFor="let annotation of annotations">
    <div *ngFor="let rect of annotation.rects"
         [class.annotation-highlight]="highlight === annotation.meta.id"
         [draggable]="true"
         (dragstart)="_dragStart($event, annotation, rect)"
         [ngStyle]="style(annotation, rect)"
         #tooltip="ngbTooltip"
         [ngbTooltip]="tooltipContent"
         triggers="manual"
         autoClose="outside"
         (click)="tooltip.open({
             annotation: annotation,
             removeAnnotationExclusion: removeAnnotationExclusion
         })"
         (blur)="tooltip.close()"
    >
    </div>
</ng-container>
<ng-template #tooltipContent
             let-annotation="annotation"
             let-removeAnnotationExclusion="removeAnnotationExclusion"
>
    <app-annotation-details
            (click)="$event.stopPropagation()"
            [annotation]="annotation"
            (removeAnnotationExclusion)="removeAnnotationExclusion"
    ></app-annotation-details>
</ng-template>
