@import '~@angular/material/theming';

@include mat-core();


$md-primary: (
  50 : #e2f1f5,
  100 : #b6dde6,
  200 : #86c6d5,
  300 : #55afc4,
  400 : #309db7,
  500 : #0c8caa,
  600 : #0a84a3,
  700 : #087999,
  800 : #066f90,
  900 : #035c7f,
  A100 : #ade4ff,
  A200 : #7ad3ff,
  A400 : #47c3ff,
  A700 : #2dbaff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #e5e9f5,
  100 : #bfc9e5,
  200 : #94a5d4,
  300 : #6980c2,
  400 : #4965b5,
  500 : #294aa8,
  600 : #2443a0,
  700 : #1f3a97,
  800 : #19328d,
  900 : #0f227d,
  A100 : #afbbff,
  A200 : #7c8fff,
  A400 : #4963ff,
  A700 : #304dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$dtu-app-primary: mat-palette($md-primary);
$dtu-app-accent: mat-palette($md-secondary, 500, 900, A100);

$dtu-app-theme: mat-light-theme($dtu-app-primary, $dtu-app-accent);

@include angular-material-theme($dtu-app-theme);
