<div class="d-flex">
  <div
    ngbDropdown
    class="d-inline-block flex-grow-1"
    placement="bottom end"
    *ngIf="contextsController$ | async as controller"
  >
    <button
      class="btn btn-secondary w-100 text-truncate"
      ngbDropdownToggle
      [disabled]="!controller.entities.length"
    >
      Context
      <ng-container *ngIf="controller.current$ | async as current"> : {{ current }} </ng-container>
    </button>
    <div ngbDropdownMenu class="w-100">
      <button ngbDropdownItem class="text-truncate" (click)="controller.select(undefined)">
        Empty
      </button>
      <button
        ngbDropdownItem
        class="text-truncate"
        *ngFor="let context of controller.entities"
        (click)="controller.select(context)"
      >
        {{ context }}
      </button>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block flex-grow-0" placement="bottom-right" container="body">
    <button class="btn btn" ngbDropdownToggle>
      <i class="fas fa-cog fa-fw"></i>
    </button>
    <div ngbDropdownMenu class="p-4">
      <label [for]="temperature.uid"> Temperature: </label>
      <div class="d-flex" appUid #temperature="uid" [style.gap.rem]="0.75">
        <input
          class="flex-grow-1 form-control"
          ngbButton
          type="range"
          min="0"
          max="1"
          step="any"
          [ngModel]="tempertaure$ | async"
          (ngModelChange)="tempertaure$.next($event)"
          [style.width.px]="128"
        />
        <input
          class="flex-grow-0 flex-shrink-0 form-control"
          ngbButton
          type="number"
          min="0"
          max="1"
          step="any"
          [ngModel]="tempertaure$ | async | number : '1.2-2'"
          (ngModelChange)="tempertaure$.next($event)"
          [style.width.px]="64"
        />
      </div>
    </div>
  </div>
  <app-open-playground [params]="playgroundParams$ | async"></app-open-playground>
</div>
<ng-content></ng-content>
<ng-container
  *ngIf="{
    explain: explain$ | async,
    explanation: explanation$ | async,
    graph_explanation: graphExplanation$ | async,
    graph: graph$ | async
  } as state"
>
  <button class="w-100 btn btn-primary mt-2" (click)="generateExplanation()">
    <ng-container *ngIf="state.explanation?.loading; else settled">
      <i class="fa fa-spinner fa-spin mr-1"></i> Generating explanation
    </ng-container>
    <ng-template #settled>
      {{ state.explain ? 'Regenerate' : 'Generate' }} explanation
    </ng-template>
  </button>
  <ng-container *ngIf="state.explain">
    <div class="card mt-2" style="white-space: pre-line">
      <div class="card-body p-3 bg-light" style="white-space: pre-wrap">
        <div>
          ChatGPT
          <span
            style="float: right"
            class="ml-2 mb-2"
            (click)="copyToClipboard(state.explanation.value.result)"
          >
            <i class="fas fa-copy"></i>
          </span>
          <span
            style="float: right"
            class="ml-2"
            *ngIf="state.explanation?.value?.query_params"
            (click)="openInfo(state.explanation?.value?.query_params)"
          >
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
        <ng-container *ngIf="state.explanation?.loading; else settled_chat">
          <i class="fa fa-spinner fa-spin mr-1"></i>
        </ng-container>
        <ng-template #settled_chat>
          {{ state.explanation.value.result }}
        </ng-template>
      </div>
    </div>
    <div class="card mt-2" style="white-space: pre-line">
      <div class="card-body p-3 bg-light" style="white-space: pre-wrap">
        <div>
          ChatGPT over graph
          <span
            style="float: right"
            class="ml-2 mb-2"
            *ngIf="state.graph_explanation?.value?.result?.query"
            (click)="openInfo({query: state.graph_explanation?.value?.result?.query})"
          >
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
        <ng-container *ngIf="state.graph_explanation?.loading; else settled_graph">
          <i class="fa fa-spinner fa-spin mr-1"></i>
        </ng-container>
        <ng-template #settled_graph>
          {{ state.graph_explanation.value.result?.result }}
        </ng-template>
        <app-vis-network
          style="height: 200px; resize: vertical; overflow: hidden;"
          class="mt-1"
          *ngIf="state.graph"
          [data]="state.graph"
          [options]="networkConfig"
        ></app-vis-network>
      </div>
    </div>
  </ng-container>

  <app-module-error
    class="d-block mt-4"
    *ngIf="state.explanation?.error as error"
    [error]="error"
  ></app-module-error>

  <app-module-error
    class="d-block mt-4"
    *ngIf="state.graph_explanation?.error as error"
    [error]="error"
  ></app-module-error>
</ng-container>
