@import "src/scss/variables";

.hover-blue {
  transition: color ease-in;
}
.hover-blue:hover {
  transition: color ease-in;
  color: #3797DB;
}

// Project tile UI element
.tile-container {
  margin: 1rem;
  cursor: pointer;
  width: 12rem;

  .tile {
    width: 100%;
    height: 12rem;
    background: white;
    position: relative;
    border-radius: 5;
  }

  .title {
    width: 100%;
    color: #3797DB;
    text-align: center;
    margin: 1rem auto;
  }
}

// Add Project tile UI element
#add-project.tile-container {
  .tile {
    border-color: silver;
    border-style: dashed;
  }

  .title {
    color: #707070;
  }
}