[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.770"
pycodestyle = "==2.5.0"

[packages]
aio-pika = "==9.0.5"
elasticsearch = {version = "==7.8.0", extras = ["async"]}
flake8 = "==6.0.0"

[requires]
python_version = "3.9"
