<app-tab *ngIf="(loadTask.status$ | async) as status"
         [status]="status"
         [object]="object"
         [titleTemplate]="tabTitle"
>
    <ng-template #tabTitle>Statistical Enrichment</ng-template>
    <div class="module-body flex-fill overflow-auto space-cards">
        <app-group
                *ngFor="let d of data | keyvalue: originalOrder; let i = index"
                [title]="groups[i]"
                [data]="d.value"
        >

        </app-group>
        <div class="card">
            <div class="card-header">Significance legend
            </div>
            <dl class="card-body legend">
                <dt>' '</dt>
                <dd><i>q-value</i> <= 1</dd>
                <dt>.</dt>
                <dd><i>q-value</i> <= 0.1</dd>
                <dt>*</dt>
                <dd><i>q-value</i> <= 0.05</dd>
                <dt>**</dt>
                <dd><i>q-value</i> <= 0.01</dd>
                <dt>***</dt>
                <dd><i>q-value</i> <= 0.001</dd>
            </dl>
        </div>
    </div>
</app-tab>
