<div class="card" ngStyle="margin: 15px 0;">

    <div [ngStyle]="{padding: '0.5em 1.25rem 0 1.25rem'}" class="card-header d-flex flex-wrap align-items-center">
        {{title}}

        <ng-container>
            <div class="module-toolbar d-flex align-items-center ml-auto">

                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab"
                    [destroyOnHide]="false"
                    class="nav-tabs">
                    <li ngbNavItem="empty">
                        <a ngbNavLink>Empty</a>
                        <ng-template ngbNavContent>
                            useful for tests
                        </ng-template>
                    </li>
                    <li ngbNavItem="table">
                        <a ngbNavLink>Table</a>
                        <ng-template ngbNavContent>
<!--                            <div class="card">-->
<!--&lt;!&ndash;                                    <ng-container *ngIf="!object || loadingData; else objectLoadedHeader">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="module-toolbar d-flex align-items-center ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="ml-auto d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="btn-group mr-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <button class="btn btn-secondary" disabled>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        Column Order&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="btn-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <button class="btn btn-secondary" disabled>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        Download CSV&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ng-container>&ndash;&gt;-->
<!--                                    <ng-template #objectLoadedHeader>-->
<!--                                        <div class="module-toolbar d-flex align-items-center ml-auto">-->
<!--                                            <div class="ml-auto d-flex">-->
<!--                                                <div class="btn-group mr-2">-->
<!--                                                    <button class="btn btn-secondary">-->
<!--                                                        Column Order-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                                <div class="btn-group">-->
<!--                                                    <button class="btn btn-secondary">-->
<!--                                                        Download CSV-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </ng-template>-->

<!--                                </div>-->
<!--                                <div-->
<!--                                        class="card-body" style="overflow-x: scroll;">-->
<!--                                    <app-enrichment-visualisation-table-viewer-->
<!--                                            [data]="data"-->
<!--                                            [analysis]="chartAnalysis"-->
<!--                                            [geneNames]="geneNames"-->
<!--                                            [organism]="organism">-->

<!--                                    </app-enrichment-visualisation-table-viewer>-->
<!--                                    <ng-template #notAvailable>-->
<!--                                        Table is only available in conjunction with organism.-->
<!--                                    </ng-template>-->
<!--                                </div>-->


<!--                            </div>-->
                        </ng-template>
                    </li>
                    <li ngbNavItem="graph">
                        <a ngbNavLink>Graph</a>
                        <ng-template ngbNavContent>
<!--                            <div class="card">-->
<!--                                <div class="card-header d-flex flex-wrap align-items-center">-->
<!--                                    P-values-->
<!--                                    <app-chart-controls class="module-toolbar d-flex align-items-center ml-auto"-->
<!--                                                        (changed)="updateChartParams($event)">-->
<!--                                    </app-chart-controls>-->
<!--                                </div>-->
<!--                                <app-enrichment-visualisation-chart-viewer-->
<!--                                        class="card-body"-->
<!--                                        style="display: block; width: 100%; height: 100%;"-->
<!--                                            [data]="data"-->
<!--                                        [analysis]="chartAnalysis"-->
<!--                                        [geneNames]="geneNames"-->
<!--                                        [organism]="organism"-->
<!--                                >-->
<!--                                </app-enrichment-visualisation-chart-viewer>-->
<!--                            </div>-->
                        </ng-template>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="card-body" style="overflow-x: scroll;" [ngbNavOutlet]="nav">
    </div>


</div>
