<div class="position-relative h-100">
    <div
            class="position-absolute w-100 h-100 d-flex flex-column"
            style="z-index: 0; overflow: scroll"
    >
        <div class="module">
            <div class="module-header">
                <!-- Breadcrumbs -->
                <div class="module-breadcrumb-bar mb-1" *ngIf="object; else objectLoadedHeader">
                    <app-object-path [object]="object" [newTab]="true"></app-object-path>
                </div>
                <ng-template #objectLoadedHeader>
                    <ol>
                        <li class="breadcrumb-item">
                            <span class="placeholder-box">Loading loading</span>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="placeholder-box">Loading</span>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="placeholder-box">Loading load</span>
                        </li>
                    </ol>
                </ng-template>
                <!-- Title bar -->
                <div class="d-flex flex-wrap align-items-center">
                    <div class="module-title-bar mr-4">
                        <h1 class="module-title text-truncate" draggable="true">
                            Enrichment Visualisation
                        </h1>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="(loadTask.status$ | async) as status">
                <ng-container *ngIf="status.error">
                    <app-module-error [error]="status.error" class="d-block p-4">
                    </app-module-error>
                </ng-container>

                <ng-container *ngIf="status.running">
                    <div class="d-flex flex-fill align-items-center justify-content-center">
                        <app-module-progress>
                            Loading enrichment visualisation...
                        </app-module-progress>
                    </div>
                </ng-container>

                <ng-container *ngIf="status.loaded">
                    <div class="module-body flex-fill overflow-auto space-cards">
                        <app-group
                                *ngFor="let d of data | keyvalue: originalOrder; let i = index"
                                [title]="groups[i]"
                                [data]="d.value"
                        >

                        </app-group>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
