<div class="card" [ngStyle]="{margin: '15px 0'}">
    <div [ngStyle]="{padding: '0.5em 1.25rem 0 1.25rem'}" class="card-header d-flex flex-wrap align-items-center">
        {{title}}

        <ng-container>
            <div class="module-toolbar d-flex align-items-center ml-auto">

                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab"
                    [destroyOnHide]="false"
                    class="nav-tabs">
                    <li ngbNavItem="table">
                        <a ngbNavLink>Table</a>
                        <ng-template ngbNavContent>
                            <app-enrichment-visualisation-table-viewer
                                    [data]="data"
                                    [showMore]="showMore"
                            >

                            </app-enrichment-visualisation-table-viewer>
                        </ng-template>
                    </li>
                    <li ngbNavItem="graph">
                        <a ngbNavLink>Graph</a>
                        <ng-template ngbNavContent>
                            <app-enrichment-visualisation-chart-viewer
                                    [ngStyle]="{display:'block' }"
                                    [data]="data"
                                    [showMore]="showMore"
                            >
                            </app-enrichment-visualisation-chart-viewer>
                        </ng-template>
                    </li>
                    <li ngbNavItem="clustergram">
                        <a ngbNavLink>Clustergram</a>
                        <ng-template ngbNavContent>
                            <app-clustergram
                                    [data]="data"
                                    [showMore]="showMore"
                            >

                            </app-clustergram>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="card-body" style="display:block;" [ngbNavOutlet]="nav">
    </div>
    <div class="card-footer" [ngStyle]="{textAlign: 'right', cursor: 'pointer'}" (click)="showMoreToggle()">
        {{showMore ? "show less..." : "show more..."}}
    </div>


</div>
