<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h6 class="mb-4"><strong>Input data</strong></h6>
  <div class="form-group">
    <label>Organism</label>
    <app-organism-autocomplete
      [inputText]="form.get('organism').value"
      (inputTextChange)="organismPicked($event)"
    ></app-organism-autocomplete>
  </div>
  <div class="form-group">
    <label>Context</label>
    <app-auto-fill-control
      [formControl]="form.get('context')"
      [suggestions]="contexts"
    ></app-auto-fill-control>
  </div>
  <div class="form-group">
    <label>Go term</label>
    <app-auto-fill-control
      [formControl]="form.get('goTerm')"
      [suggestions]="goTerms"
    ></app-auto-fill-control>
  </div>
  <div class="form-group">
    <label>Gene name</label>
    <app-auto-fill-control
      [formControl]="form.get('geneName')"
      [suggestions]="geneNames"
    ></app-auto-fill-control>
  </div>
  <details>
    <summary><label>Pseudocode</label></summary>
    <code style="white-space: pre-wrap; display: block;">
      {{ PSEUDOCODE }}
    </code>
  </details>
  <button class="btn btn-primary" type="submit">Compose prompt</button>
</form>
