#association-snippet-container {
  margin-top: 10px;
}

.association-snippet-panel {
  margin: 20px 0 20px 0;
}

.association-snippet-pub-data {
  text-align: right;
}

.pubmed-link {
  margin-left: 10px;
  text-decoration: none;
}

.pubmed-link:hover {
  text-decoration: underline;
}

.mat-icon {
  font-size: 12px;
}
