<h1>Cluster Data View</h1>
<!-- TODO: May end up showing this in one way or another, but right now it kind of distracts from the table view,
which is what we really want the users to see. -->
<!-- <label>Includes:</label> -->
<!-- <ul *ngFor="let node of clusterEntity.includes">
  <li>Display Name: {{ node.displayName }}</li>
  <li>Label: {{ node.primaryLabel }}</li>
  <li>Sublabels:
    <ul *ngIf="node.subLabels.length > 1; else noSubLabels">
      <li *ngFor="let label of node.subLabels">
        <div *ngIf="label !== node.primaryLabel">{{ label }}</div>
      </li>
    </ul>
    <ng-template #noSubLabels>N/A</ng-template>
  </li>
</ul> -->
<div id="container" style="width:100%; height:400px;"></div>
