<div #modalContainer class="position-relative h-100">
  <div
    class="position-absolute w-100 h-100 d-flex flex-column"
    style="z-index: 0; overflow: scroll"
  >
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <h1 *ngIf="sheetname" class="module-title text-truncate">
            {{ sheetname }}
          </h1>
        </div>
        <div *ngIf="organism"> Organism name: {{ organism }}</div>
        <div *ngIf="duplicateGenes" class="warning">
          Warning! The following gene names were found to be duplicated and were
          removed from the table: {{ duplicateGenes }}
        </div>
      </div>

      <div *ngIf="tableEntries" class="module-body flex-fill overflow-auto space-cards">
        <div class="card">
          <div
            class="card-body">
            <button (click)="openOrderDialog()" class="btn btn-secondary" style="margin-top: 1rem">
              Change Order of Columns
            </button>
            <app-generic-table [entries]="tableEntries" [header]="tableHeader" style="overflow: auto; display: block; border: none !important;">
            </app-generic-table>
            <div class="col-12 justify-content-center">
              <ngb-pagination
                (pageChange)="goToPage($event)"
                *ngIf="collectionSize"
                [collectionSize]="collectionSize"
                [pageSize]="pageSize"
                [page]="currentPage"
                style="text-align: center;"
              ></ngb-pagination>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            P-values
          </div>
          <app-chart [data]="data.data"
                     class="card-body"
                     style="display: block; width: 100%; height: 100%;"
                      (chartClick)="chartClick($event)"
                      (chartHover)="chartClick($event)"
          ></app-chart>
        </div>

        <div class="card">
          <div class="card-header">
            Genes for {{ data.data[selectedRow]["Term"] }}
          </div>
          <app-word-cloud
                          class="card-body"
                          [data]="cloudData"
          ></app-word-cloud>
        </div>
      </div>
    </div>
  </div>
</div>
