<div id="vis-search-container">
  <form>
    <mat-form-field class="vis-search-full-width">
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input
        placeholder="Search (e.g. Gas Gangrene)"
        matInput
        id="vis-search-input"
        name="search"
        visDebounce
        (debounceCallback)="onInputChanges($event)"
        [formControl]="search"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="resultSelection($event.option.value)">
        <mat-option *ngFor="let node of autocompleteResults" [value]="node">
          <div [ngClass]="getStyling(node.node.label)"><span class="result-text">{{ node.node.label }}</span></div>&#160;
          <span class="result-display-name">{{ node.node.displayName }}</span>
          <mat-divider></mat-divider>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
