<app-visualization-search (selectedResult)="updateCanvasWithSingleNode($event)"></app-visualization-search>
<app-visualization-canvas
  *ngIf="networkGraphData"
  [nodes]="nodes"
  [edges]="edges"
  [getSnippetsResult]="getSnippetsResult"
  [getClusterGraphDataResult]="getClusterGraphDataResult"
  [legend]="legend"
  [config]="networkGraphConfig"
  (expandNode)="expandNode($event)"
  (getSnippetsFromEdge)="getSnippetsFromEdge($event)"
  (getClusterGraphData)="getClusterGraphData($event)"
></app-visualization-canvas>
