.result-display-name {
  font-size: 16px;
}

.result-text {
  color: white;
  font-weight: bold;
  margin: 10px;
}

.vis-search-result {
  display: inline;
}

.vis-search-result-gene {
  @extend .vis-search-result;
  background: #78CDD7;
}

.vis-search-result-disease {
  @extend .vis-search-result;
  background: #8FA6CB;
}

.vis-search-result-taxonomy {
  @extend .vis-search-result;
  background: green;
}

.vis-search-result-chemical {
  @extend .vis-search-result;
  background: #CD5D67;
}

.vis-search-full-width {
  width: 100%;
}

#vis-search-container {
  margin: 0px 0px 0px 10px;
  width: 350px;
}