<app-visualization-canvas
  *ngIf="networkGraphData"
  [nodes]="nodes"
  [edges]="edges"
  [getSnippetsResult]="getSnippetsResult"
  [getClusterGraphDataResult]="getClusterGraphDataResult"
  [legend]="legend"
  [config]="networkGraphConfig"
  (expandNode)="expandNode($event)"
  (getSnippets)="getSnippets($event)"
  (getClusterGraphData)="getClusterGraphData($event)"
  (addDuplicatedEdge)="addDuplicatedEdge($event)"
  (removeDuplicatedEdge)="removeDuplicatedEdge($event)"
></app-visualization-canvas>
