<as-split
    unit="percent"
    direction="horizontal"
    gutterSize='5'
    #split="asSplit">
    <as-split-area
      size="30"
      #area1="asSplitArea">
      <!-- Map List -->
      <div id='map-list-container' class='vh-100 w-100'>
        <app-map-list
          childMode='true'
          [projects]='projects'
          [publicProjects]='publicProjects'
          (projectAPICaller)='handleAPI($event)'
          [displayIndex]='displayIndex'>
        </app-map-list>
        <button
          mat-fab
          color='primary'
          id='add-project'
          aria-label="Example icon-button with a heart icon"
          (click)='createProject()'>
          <mat-icon>add</mat-icon>
        </button>
        <button
          *ngIf="(userRoles$ | async)?.includes('admin')"
          mat-fab
          color='primary'
          id='upload-project'
          (click)='uploadProject()'>
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <button
          mat-fab
          color='primary'
          id='search'
          aria-label="Example icon-button with a heart icon"
          (click)='goToSearch()'>
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </as-split-area>
    <as-split-area
      size="70"
      #area2="asSplitArea">
      <div *ngIf='selectedProject else empty;' class='vh-100 w-100'>
        <!-- Map Preview Panel -->
        <div class='w-100 h-100'>
          <div
            fxFill
            id='map-preview'>
            <div
              id='canvas-container'>
              <app-map-preview
                [project]='selectedProject'
                (parentAPI)='handleAPI($event)'>
              </app-map-preview>
            </div>
          </div>
        </div>
      </div>
    </as-split-area>
</as-split>

<!-- Empty Scene -->
<ng-template #empty>
  <div fxFill fxLayout='column' fxLayoutAlign="center center" class='empty h-100'>
    <p>Create or select a map</p>
  </div>
</ng-template>