@import "../../../styles.scss";

.dark-silver {
  color: #424242;
}

#map-channel {
  #map-list-container {
    position: relative;
    background: #ECF0F1;

    #add-project {
      @include overlay();
      bottom: 0;
      right: 0;
    }

    #search {
      @include overlay();
      bottom: 0;
    }

    #upload-project {
      @include overlay();
      bottom: 0;
      right: 65px;
    }
  }

  #map-preview {
    background: #fff;

    #canvas-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  #map-meta-panel {

    #details {
      padding: 1rem;
      overflow-y: auto;

      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #3177B8;
      }
      p.author {
        color: $blue;
      }
    }

    #actions {
      padding: 1rem;

      div {
        button {
          margin: 0.25rem 0;
          width: 100%;
        }
      }
    }
  }
}


.empty {
  min-width: unset !important;
  p {
    font-size: 2.25rem;
    color: #707070;
  }
}
