@import 'src/scss/variables';

.top-toolbar {
  position: absolute;
  top: $spacer;
  left: $spacer;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.bottom-toolbar {
  position: absolute;
  bottom: $spacer;
  left: $spacer;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.detail-overlay {
  position: absolute;
  top: $spacer;
  left: $spacer;
  width: 500px;
  max-width: calc(100% - #{$spacer * 2});
  max-height: calc(100% - #{$spacer * 2});
  overflow: auto;
  padding: 1.5rem;
  z-index: 1;
  background: $gray-200;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  transition: 0.2s ease opacity;
}

.detail-overlay-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  transition: 0.2s ease opacity;
}

.map-preview-container:hover {
  .top-toolbar, .bottom-toolbar {
    opacity: 1;
  }

  .detail-overlay:not(.pinned) {
    pointer-events: none;
    opacity: 0;
  }
}
