<ng-container
  *ngIf="
    showOpen ||
    (object.privileges.writable && (object.isEditable || object.isAnnotatable)) ||
    object.isVersioned
  "
>
  <button
    (click)="this.objectOpen.next(object)"
    *ngIf="showOpen"
    [disabled]="!object.isOpenable"
    ngbDropdownItem
  >
    Open
  </button>
  <ng-container *ngIf="object.privileges.writable">
    <button (click)="openEditDialog(object)" *ngIf="object.isEditable" ngbDropdownItem>
      Edit {{ nameEntity && object.isDirectory ? "folder" : "details" }}...
    </button>
    <button (click)="reannotate([object])" *ngIf="object.isAnnotatable" ngbDropdownItem>
      Re-annotate
    </button>
  </ng-container>
  <ng-container *ngIf="object.isVersioned">
    <button (click)="openVersionHistoryDialog(object)" *ngIf="!showRestore" ngbDropdownItem>
      Version history...
    </button>
    <button (click)="openVersionRestoreDialog(object)" *ngIf="showRestore" ngbDropdownItem>
      Restore from history...
    </button>
  </ng-container>
  <div class="dropdown-divider"></div>
</ng-container>

<ng-container
  *ngIf="
    object.isCloneable || (object.privileges.writable && (object.isMovable || object.isDeletable))
  "
>
  <button (click)="openCloneDialog(object)" *ngIf="object.isCloneable" ngbDropdownItem>
    Copy{{ nameEntity && object.isDirectory ? " folder" : "" }} to...
  </button>
  <ng-container *ngIf="object.privileges.writable && forEditing">
    <button (click)="openMoveDialog([object])" [disabled]="!object.isMovable" ngbDropdownItem>
      Move{{ nameEntity && object.isDirectory ? " folder" : "" }} to...
    </button>
  </ng-container>
  <ng-container *ngIf="!nameEntity && object.privileges.writable && showDelete">
    <button (click)="openDeleteDialog([object])" [disabled]="!object.isDeletable" ngbDropdownItem>
      Delete...
    </button>
  </ng-container>
  <div class="dropdown-divider"></div>
</ng-container>

<ng-container>
  <ng-container *ngIf="exporters$ | addStatus | async as exporters">
    <ng-template [ngIf]="exporters.value && exporters.value.length">
      <button (click)="openExportDialog(object)" ngbDropdownItem>Export...</button>
    </ng-template>
  </ng-container>
  <button (click)="openShareDialog(object)" ngbDropdownItem>
    Copy{{ nameEntity && object.isDirectory ? " folder" : "" }} link...
  </button>
  <button (click)="openLink(object.uploadUrl)" *ngIf="object.uploadUrl" ngbDropdownItem>
    Open external URL...
  </button>
  <button (click)="openLink(object.doi)" *ngIf="object.doi" ngbDropdownItem>Open DOI...</button>
  <button (click)="updateStarred(object.hashId, !object.starred)" ngbDropdownItem>
    {{ object.starred ? "Remove from" : "Add to" }} starred
  </button>
  <button (click)="updatePinned(object)" ngbDropdownItem>
    {{ object.pinned ? "Unpin" : "Pin" }}
  </button>
  <ng-container *ngIf="object.isNavigable">
    <button
      [appLink]="['/file-navigator', object.project.name, object.hashId]"
      [forceWorkbench]="true"
      [newTab]="true"
      [openParentFirst]="true"
      [parentAddress]="router.url"
      [sideBySide]="true"
      ngbDropdownItem
    >
      Open file navigator
    </button>
  </ng-container>
</ng-container>
