<div class="module module-centered" *ngIf="(loadTask.status$ | async) as status">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">
        Community Content
      </div>

      <div class="module-toolbar" *ngIf="!status.failedErrorShown">
      </div>
    </div>
  </div>

  <div class="module-body">
    <ng-container *ngIf="!status.failedErrorShown; else errorShown">
      <app-background-task-progress
        [status]="status" (refresh)="this.refresh()" childClass="mb-2"></app-background-task-progress>

      <ol class="breadcrumb mb-3" *ngIf="status.resultsShown">
        <li class="breadcrumb-item">
          <a appLink="/projects">Projects</a>
        </li>
        <ng-container *ngIf="locator.q; else noQuery">
          <li class="breadcrumb-item">
            <a appLink="/community">Community Content</a>
          </li>
          <li class="breadcrumb-item">
            Search for "{{ locator.q }}"
          </li>
        </ng-container>
        <ng-template #noQuery>
          <li class="breadcrumb-item">
            Community Content
          </li>
        </ng-template>
      </ol>

      <ol class="breadcrumb mb-3" *ngIf="status.placeholdersShown">
        <li class="breadcrumb-item">
          <a appLink="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item">
          <span class="placeholder-box">Loading</span>
        </li>
      </ol>

      <div class="mb-3 d-flex align-items-center">
        <form [formGroup]="filterForm" (ngSubmit)="search()" class="d-flex align-items-center ml-auto">
          <div class="input-group flex-fill">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0">
                <i class="fa fa-search"></i>
              </div>
            </div>

            <input class="form-control py-2 pl-0 border-left-0 border"
                   formControlName="q"
                   placeholder="Search content..." maxlength="40">
          </div>

          <button class="btn btn-light ml-2">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </form>
      </div>

      <table class="table" [class.table-selectable]="status.resultsShown" style="table-layout: fixed">
        <colgroup>
          <col style="width: 70%">
          <col>
          <col style="width: 60px">
        </colgroup>
        <thead>
        <tr>
          <th class="text-truncate">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="select-all" [checked]="results.isAllSelected()"
                     (change)="results.toggleAll()">
              <label class="custom-control-label" for="select-all">Name</label>
            </div>
          </th>
          <th class="text-truncate">Creator</th>
          <th></th>
        </tr>
        </thead>

        <tbody *ngIf="status.placeholdersShown">
        <tr>
          <td class="align-middle text-nowrap text-truncate">
            <span class="placeholder-box">Loading loading</span>
          </td>
          <td class="align-middle text-nowrap text-truncate">
            <span class="placeholder-box">Loading loading</span>
          </td>
          <td>
            <div class="d-flex align-items-end">
              <div ngbDropdown class="d-inline-block ml-auto">
                <button class="btn btn-sm" ngbDropdownToggle>
                  <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="align-middle text-nowrap text-truncate">
            <span class="placeholder-box">Loading loading loading</span>
          </td>
          <td class="align-middle text-nowrap text-truncate">
            <span class="placeholder-box">Loading loading</span>
          </td>
          <td>
            <div class="d-flex align-items-end">
              <div ngbDropdown class="d-inline-block ml-auto">
                <button class="btn btn-sm" ngbDropdownToggle>
                  <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="status.resultsShown">
        <tr *ngFor="let object of results.view; index as objectIndex" tabindex="0"
            [class.active]="this.results.isSelected(object)">
          <td class="align-middle text-nowrap text-truncate"
              (click)="results.toggle(object)">
            <div class="custom-control custom-checkbox text-truncate">
              <input type="checkbox" class="custom-control-input" id="object-{{ objectIndex }}"
                     (change)="results.toggle(object)"
                     [checked]="results.isSelected(object)">
              <label class="custom-control-label d-block" for="object-{{ objectIndex }}">
                <div class="d-flex align-items-center text-truncate">
                  <div class="d-inline-block mr-1">
                    <i class="fa fa-fw fa-project-diagram text-muted"></i>
                  </div>

                  <div class="d-inline-block text-truncate">
                    <a [appLink]="getObjectCommands(object)" [queryParams]="getObjectQueryParams()"
                       [newTab]="true">
                      {{ object.map.label }}
                    </a>
                  </div>
                </div>
                <div *ngIf="object.map.description" class="text-truncate text-muted"
                     popoverTitle="Description" container="body" triggers="mouseenter:mouseleave" placement="right"
                     [ngbPopover]="object.map.description">
                  {{ object.map.description }}
                </div>
              </label>
            </div>
          </td>

          <td class="align-middle text-nowrap text-truncate" (click)="results.toggle(object)">
            <ng-container *ngIf="object.user">
              {{ object.user.username }}
            </ng-container>
          </td>

          <td>
            <div class="d-flex align-items-end">
              <div ngbDropdown class="d-inline-block ml-auto" placement="bottom-right">
                <button class="btn btn-sm" ngbDropdownToggle>
                  <i class="fas fa-cog fa-fw"></i>
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem [appLink]="getObjectCommands(object)" [queryParams]="getObjectQueryParams()">
                    Open
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="status.emptyResultsShown && results.viewLength === 0" class="text-center my-4">
        There are no matching community maps to show.
      </div>

      <div class="mt-3" *ngIf="status.resultsShown && results.length">
        <ngb-pagination
          [page]="locator.page"
          [pageSize]="locator.limit"
          [collectionSize]="collectionSize"
          (pageChange)="goToPage($event)"></ngb-pagination>
      </div>
    </ng-container>

    <ng-template #errorShown>
      <div class="text-center text-secondary">
        <div>
          <i class="fa fa-exclamation-circle fa-4x"></i>
        </div>

        <div class="mt-4">
          This folder could not be loaded.
        </div>

        <div class="mt-4">
          <a appLink="/projects" class="btn btn-primary">
            View Projects
          </a>
        </div>
      </div>
    </ng-template>
  </div>

</div>
