<form (submit)="activeModal.close(true); $event.preventDefault()">
  <div class="modal-header">
    <h4 class="modal-title text-truncate">
      Confirm Deletion
    </h4>
  </div>

  <div class="modal-body">
    <p>
      The following files will be deleted:
    </p>

    <ul>
      <li *ngFor="let item of files">
        <div class="text-truncate">{{item.filename}}</div>
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
