<div class="position-relative h-100" #modalContainer>
  <div
    class="position-absolute w-100 h-100 d-flex flex-column"
    style="z-index: 0; overflow: scroll"
  >
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <h1 *ngIf="sheetname" class="module-title text-truncate">
            {{ sheetname }}
          </h1>
        </div>
        <div class="warning" *ngIf="unmatchedGenes">
          Warning! Genes that were not matched are highlighted in red.
        </div>
        <div class="warning" *ngIf="duplicateGenes">
          Warning! The following gene names were found to be duplicated and were
          removed from the table: {{ duplicateGenes }}
        </div>
      </div>

      <div *ngIf="tableEntries" class="module-body">
        <app-generic-table [header]="tableHeader" [entries]="tableEntries">
        </app-generic-table>
        <div class="col-12 justify-content-center">
        <ngb-pagination
        style="text-align: center;"
        *ngIf="collectionSize"
        [page]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        (pageChange)="goToPage($event)"
      ></ngb-pagination>
    </div>
      </div>

    </div>
  </div>
</div>
