<div class="position-relative h-100" #modalContainer>
  <div
    class="position-absolute w-100 h-100 d-flex flex-column"
    style="z-index: 0; overflow: scroll"
    (scroll)="onTableScroll($event)"
  >
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <h1 *ngIf="sheetname" class="module-title text-truncate">
            {{ sheetname }}
          </h1>
          <div style="padding: 0.75rem 1.2rem" *ngIf="organism"> Organism name: {{ organism }}</div>
          <button class="btn btn-secondary right-justified" (click)="openOrderDialog()" style="margin-top: 1rem">
            Change Order of Columns
            </button>
            <button class="btn btn-secondary right-justified" (click)="openEnrichmentTableEditDialog()" style="margin-top: 1rem; margin-left: 1rem;">
              Change Enrichment Params
              </button>
              <button class="btn btn-secondary right-justified" (click)="downloadAsCSV()" style="margin-top: 1rem; margin-left: 1rem;">
                Download As CSV
                </button>
        </div>
        
        <div class="warning" *ngIf="duplicateGenes">
          Warning! The following gene names were found to be duplicated and were
          removed from the table: {{ duplicateGenes }}
        </div>
        
      </div>

      <div *ngIf="tableEntries" class="module-body">
        <app-generic-table [header]="tableHeader" [entries]="tableEntries">
        </app-generic-table>
        <div class="col-12 justify-content-center">

    </div>
      </div>

    </div>
  </div>
</div>