<div class="module-body-split module-body-browser-split">
  <div class="module-body-split-main">
    <table class="table module-body-table" [class.table-selectable]="parent"
           style="table-layout: fixed">
      <colgroup>
        <col>
        <col style="width: 15%; max-width: 140px" class="d-none d-cbp-sm-table-column"> <!-- Annotated -->
        <col style="width: 90px" class="d-none d-cbp-md-table-column"> <!-- Created -->
        <col style="width: 120px"> <!-- Author -->
        <col style="width: 80px"> <!-- Dropdown -->
      </colgroup>
      <thead>
      <tr>
        <th class="text-truncate">
          <ng-container *ngIf="parent.children.multipleSelection; else singleSelectionSelectAll">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{ id }}-select-all"
                     [checked]="parent.children.isAllSelected()"
                     (change)="parent.children.toggleAll()">
              <label class="custom-control-label" for="{{ id }}-select-all">Name</label>
            </div>
          </ng-container>
          <ng-template #singleSelectionSelectAll>
            Name
          </ng-template>
        </th>
        <th class="text-truncate d-none d-cbp-sm-table-cell">Annotated</th>
        <th class="text-truncate d-none d-cbp-md-table-cell">Modified</th>
        <th class="text-truncate">User</th>
        <th></th>
      </tr>
      </thead>

      <!-- Results -->
      <tbody>
      <tr *ngFor="let object of parent.children.view; index as objectIndex" tabindex="0"
          [class.active]="this.parent.children.isSelected(object)" draggable="true"
          (dragstart)="dragStarted($event, object)">
        <td class="align-middle text-nowrap text-truncate"
            (click)="parent.children.toggle(object)">
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="{{ id }}-object-{{ objectIndex }}"
                   (change)="parent.children.toggle(object)"
                   [checked]="parent.children.isSelected(object)">
            <label class="custom-control-label d-block" for="{{ id }}-object-{{ objectIndex }}">
              <div class="d-flex align-items-center text-truncate"
                   popoverTitle="Description" container="body" triggers="mouseenter:mouseleave"
                   placement="right"
                   [ngbPopover]="object.description"
                   [disablePopover]="object.description == null || object.description.length === 0">
                <div [ngSwitch]="object.type" class="d-inline-block mr-1">
                  <i *ngSwitchCase="'dir'" class="fa fa-fw fa-folder text-icon"></i>
                  <div *ngSwitchCase="'file'">
                    <i *ngIf="object.name.slice(object.name.length - 11) !== '.enrichment'"
                       class="fa fa-fw fa-file text-icon"></i>
                    <i *ngIf="object.name.slice(object.name.length - 11) === '.enrichment'"
                       class="fa-fw fa fa-table text-icon"></i>
                  </div>
                  <i *ngSwitchCase="'map'" class="fa fa-fw fa-project-diagram text-icon"></i>
                </div>

                <div class="d-inline-block text-truncate">
                  <a [appLink]="object.getCommands()" [handleClick]="appLinks" (click)="objectOpen.next(object); $event.preventDefault()">
                    <ng-container *ngIf="object.type !== 'dir'; else dirLabel">
                      <div
                          *ngIf="object.name.slice(object.name.length - 11) !== '.enrichment'">{{ object.name }} </div>
                      <div
                          *ngIf="object.name.slice(object.name.length - 11) === '.enrichment'">{{ object.name.slice(0, -11) }} </div>

                    </ng-container>
                    <ng-template #dirLabel>
                      <strong>{{ object.name }}</strong>
                    </ng-template>
                  </a>
                </div>
              </div>
            </label>
          </div>
        </td>

        <td class="align-middle text-nowrap text-truncate d-none d-cbp-sm-table-cell"
            (click)="parent.children.toggle(object)">
          <ng-container
              *ngIf="object.type === 'file' && object.name.slice(object.name.length - 11) !== '.enrichment'">
            <div popoverTitle="Annotation Status" [ngbPopover]="object.annotationsTooltipContent"
                 container="body" class="text-truncate"
                 placement="right" triggers="mouseenter:mouseleave"
                 [disablePopover]="!object.annotationsTooltipContent">
              <ng-container
                  *ngIf="object.annotationsTooltipContent && object.annotationsTooltipContent.length">
                <i class="fas fa-exclamation-triangle fa-fw mr-1"></i>
              </ng-container>
              {{ (object.data.annotations_date | date: 'short') || 'No annotations'}}
            </div>
          </ng-container>
        </td>

        <td class="align-middle text-nowrap text-truncate d-none d-cbp-md-table-cell"
            (click)="parent.children.toggle(object)">
          <div class="text-truncate" *ngIf="object.creator">
            {{ getDateShown(object) | date: 'shortDate' }}
          </div>
        </td>

        <td class="align-middle text-nowrap text-truncate" (click)="parent.children.toggle(object)">
          <div *ngIf="object.creator" class="text-truncate">
            {{ object.creator.username }}
          </div>
        </td>

        <td>
          <div class="d-flex align-items-end" *ngIf="objectControls">
            <div ngbDropdown class="d-inline-block ml-auto" placement="bottom-right">
              <button class="btn btn-sm" ngbDropdownToggle>
                <i class="fas fa-cog fa-fw"></i>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="this.objectOpen.next(object)">
                  Open
                </button>
                <button ngbDropdownItem (click)="openEditDialog(object)"
                        *ngIf="object.name.slice(object.name.length - 11) !== '.enrichment'">
                  Edit...
                </button>
                <button ngbDropdownItem
                        *ngIf="object.type === 'file' && object.name.slice(object.name.length - 11) === '.enrichment'"
                        (click)="openEnrichmentTableEditDialog(object)">
                  Edit Enrichment Params
                </button>
                <button ngbDropdownItem
                        *ngIf="object.type === 'file' && object.name.slice(object.name.length - 11) !== '.enrichment'"
                        (click)="reannotate([object])">
                  Re-annotate
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="openMoveDialog(object)">
                  Move...
                </button>
                <button ngbDropdownItem (click)="openDeleteDialog([object])">
                  Delete...
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="module-body">
      <div *ngIf="parent.children.viewLength === 0" class="text-center">
        {{ emptyDirectoryMessage }}
      </div>
    </div>
  </div>

  <div class="d-none d-cbp-lg-block module-body-split-sidebar">
    <app-file-info [object]="parent.children.lastSelection"
                   *ngIf="parent.children.selection.length"></app-file-info>
  </div>
</div>
