<div class="d-flex flex-column h-100">
  <div class="module-body">
    <div class="mb-3">
      <app-file-type-label [object]="object"></app-file-type-label>
    </div>

    <h5 (click)="objectEdit.emit(object)">
      <div *ngIf="object.name.slice(object.name.length - 11) !== '.enrichment'">
        <app-term-highlight [text]="object.name" [highlightTerms]="highlightTerms"></app-term-highlight>
      </div>
      <div *ngIf="object.name.slice(object.name.length - 11) === '.enrichment'">
        <app-term-highlight [text]="object.name.slice(0, -11)" [highlightTerms]="highlightTerms"></app-term-highlight>
      </div>
    </h5>

    <div class="mt-3" [style.white-space]="'pre-wrap'" *ngIf="object.description" (click)="objectEdit.emit(object)">
      <app-term-highlight [text]="object.description" [highlightTerms]="highlightTerms"></app-term-highlight>
    </div>

    <hr class="my-3">

    <ul class="list-unstyled mt-3 mb-0">
      <li *ngIf="object.annotationDate">
        <strong>Annotated:</strong> {{ object.annotationDate | date: 'short' }}
      </li>
      <li *ngIf="object.modificationDate">
        <strong>Modified:</strong> {{ object.modificationDate | date: 'short' }}
      </li>
      <li *ngIf="object.creationDate">
        <strong>Created:</strong> {{ object.creationDate | date: 'short' }}
      </li>
      <li *ngIf="object.creator">
        <strong>Author:</strong> {{ object.creator.username }}
      </li>
    </ul>
    <div *ngIf="object.type === 'file' && object.highlight" class="mt-5">
      <h5>Term matches in document:</h5>
      <div *ngFor="let highlight of shownHighlights">
        <hr class="my-3">
        <div class="mt-2">
          <app-highlight-text [highlight]="highlight"></app-highlight-text>
          <a href="#" (click)="highlightClick.emit(highlight); $event.preventDefault()" ngbTooltip="Find in document">
            (open)
          </a>
        </div>
      </div>
      <div *ngIf="!reachedHighlightLimit" class="mt-4">
        <a href="#" (click)="displayMoreHighlights(); $event.preventDefault()">More...</a>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 position-relative" *ngIf="object.type === 'map'">
    <div class="border-bottom h-100">
      <ng-container *ngIf="object.type === 'map'">
        <app-map [locator]="{projectName: object.project.projectName, hashId: object.id}"
                 [highlightTerms]="highlightTerms"></app-map>
      </ng-container>
    </div>
  </div>
</div>
