<div class="module module-centered">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">
        File Browser
      </div>
      <div class="module-toolbar">
        <div class="input-group">
        <span class="input-group-prepend">
          <div class="input-group-text bg-transparent border-right-0">
            <i class="fa fa-search"></i>
          </div>
        </span>
          <input class="form-control py-2 pl-0 border-left-0 border" (keyup)="applyFilter($event.target.value)"
                 placeholder="Search files..." [disabled]="loadTask.running" maxlength="40">
        </div>
      </div>
    </div>
  </div>

  <div class="module-body">
    <div class="mb-4">
      <button class="btn btn-primary" (click)="openUploadDialog()">
        <i class="fa fa-fw fa-file-upload"></i>
        Add File
      </button>
      <button class="btn btn-outline-secondary ml-2"
              [disabled]="selection.selected.length === 0 || isReannotating" (click)="reannotate()">
        Reannotate
      </button>
      <button class="btn btn-outline-secondary ml-2"
              [disabled]="selection.selected.length === 0"
              (click)="openDeleteDialog()">
        Delete
      </button>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">Shared Files</li>
      <li class="breadcrumb-item active">Home</li>
    </ol>

    <table class="table">
      <colgroup>
        <col>
        <col style="width: 25%">
        <col style="width: 30%">
        <col style="width: 1%">
      </colgroup>
      <thead>
      <tr>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="select-all">
            <label class="custom-control-label" for="select-all">
              Name
            </label>
          </div>
        </th>
        <th>Modified</th>
        <th>Submitter</th>
      </tr>
      </thead>
      <tbody *ngIf="loadTask.loaded">
      <tr *ngFor="let file of shownFiles">
        <td class="align-middle">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="file-{{ file.file_id }}">
            <label class="custom-control-label d-flex align-items-center" for="file-{{ file.file_id }}">
              <a href="#" (click)="openFile(file.file_id); $event.preventDefault()">{{ file.filename }}</a>
            </label>
          </div>
        </td>
        <td class="align-middle">
          {{ file.creation_date | date:'short' }}
        </td>
        <td class="align-middle">
          {{ file.username }}
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="!loadTask.loaded">
      <tr>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="placeholder-box">Loading loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading loading</span>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="loadTask.loaded && files.length == 0" class="text-center my-4">
      There are no files to show, but you can
      <a href="#" (click)="openUploadDialog(); $event.preventDefault()">add some of your own files</a>.
    </div>

    <div *ngIf="loadTask.loaded && files.length && shownFiles.length == 0" class="text-center my-4">
      <i class="fa fa-search"></i>
      Your search for "{{filterQuery}}" yielded no results.
    </div>
  </div>

</div>
