<div *ngIf="(refreshTask.status$ | async) as status">
  <mat-form-field class="w-100" *ngIf="status.loaded">
    <input name="search" matInput placeholder="Search" [formControl]="filesFilter">
  </mat-form-field>
  <div *ngIf="!files.length && !status.running" class="mt2">
    There are no files to show.
  </div>
  <div *ngIf="files.length && !filteredFiles.length && !status.running" class="mt2">
    Your search filter does not match any files.
  </div>
  <div *ngIf="status.running" fxLayout="row" fxLayoutAlign="center center" class="mt2 mb2">
    <mat-icon>hourglass_empty</mat-icon>
    Loading file list...
  </div>
  <mat-action-list>
    <button mat-list-item
            *ngFor="let file of filteredFiles" (click)="selectionClicked(file)"
            fxLayoutAlign="start center" class="truncate">
      <mat-icon class="mr2">description</mat-icon>
      {{file.filename}}
    </button>
  </mat-action-list>
</div>
