<ng-container *ngIf="(loadTask.status$ | async) as status">
  <app-module-error *ngIf="status.failedErrorShown; else noError" [error]="status.error" class="p-4">
    <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
  </app-module-error>

  <ng-template #noError>
    <div class="module" appContainerBreakpoints>
      <!-- Header -->
      <div class="module-header">
        <!-- Breadcrumbs -->
        <div class="module-breadcrumb-bar mb-1">
          <ol class="breadcrumb" *ngIf="status.placeholdersShown">
            <li class="breadcrumb-item">
              <a appLink="/projects">File Browser</a>
            </li>
            <li class="breadcrumb-item">
              <span class="placeholder-box">Loading loading</span>
            </li>
            <li class="breadcrumb-item">
              <span class="placeholder-box">Loading</span>
            </li>
            <li class="breadcrumb-item">
              <span class="placeholder-box">Loading load</span>
            </li>
          </ol>

          <ol class="breadcrumb" *ngIf="status.resultsShown">
            <li class="breadcrumb-item">
              <a appLink="/projects">File Browser</a>
            </li>

            <li *ngFor="let element of path; index as i" class="breadcrumb-item"
                [class.active]="i === path.length - 1">
              <ng-container *ngIf="i !== path.length - 1">
                <a
                  [appLink]="i === 0 ? ['/projects', locator.projectName] : ['/projects', locator.projectName, 'folders', element.id]">
                  {{ i === 0 ? locator.projectName : element.name }}
                </a>
              </ng-container>
            </li>
          </ol>
        </div>

        <!-- Title bar -->
        <div class="module-title-bar">
          <button type="button" class="module-title-bar-back mr-2" (click)="goUp()" *ngIf="status.resultsShown">
            <i class="fa fa-fw fa-arrow-left"></i>
          </button>
          <h1 class="module-title">
            <ng-container *ngIf="status.resultsShown; else placeholderTitle">
              {{ path == null || path.length === 1 ? locator.projectName : directory?.name }}
            </ng-container>
            <ng-template #placeholderTitle>
              <span class="placeholder-box">Loading</span>
            </ng-template>
          </h1>
        </div>

        <!-- Toolbar -->
        <div class="module-toolbar mt-2">
          <div class="d-flex align-items-center">
            <div>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary" ngbDropdownToggle>
                  <i class="fa fa-fw fa-plus-circle"></i>
                  New
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="displayMapCreateDialog()">New Map...</button>
                  <button ngbDropdownItem (click)="displayDirectoryCreateDialog()">New Folder...</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem (click)="displayUploadDialog()">Upload File...</button>
                </div>
              </div>

              <button class="btn btn-primary ml-2"
                      (click)="displayUploadDialog()">
                <i class="fa fa-fw fa-upload"></i> Upload
              </button>

              <button class="btn btn-secondary ml-2"
                      [disabled]="results.selection.length === 0"
                      (click)="reannotate(results.selection)" ngbTooltip="Re-annotate document"
                      container="body">
                <i class="fa fa-fw fa-redo"></i>
              </button>

              <button class="btn btn-secondary ml-2"
                      [disabled]="results.selection.length === 0"
                      (click)="displayDeleteDialog(results.selection)">
                <i class="fa fa-fw fa-trash"></i>
              </button>
            </div>

            <div class="ml-auto d-flex">
              <div class="input-group" [class.bg-highlight]="results.filter != null">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-transparent border-right-0">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <input class="form-control py-2 pl-0 border-left-0 border bg-transparent"
                       (keyup)="applyFilter($event.target.value)"
                       placeholder="Find" maxlength="40">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="flex-fill overflow-auto">
        <div class="d-flex module-body-split">
          <div class="module-body-split-main">
            <table class="table module-body-table" [class.table-selectable]="status.resultsShown"
                   style="table-layout: fixed">
              <colgroup>
                <col>
                <col style="width: 15%; max-width: 140px" class="d-none d-cbp-sm-table-column"> <!-- Annotated -->
                <col style="width: 90px" class="d-none d-cbp-md-table-column"> <!-- Created -->
                <col style="width: 120px"> <!-- Author -->
                <col style="width: 80px"> <!-- Dropdown -->
              </colgroup>
              <thead>
              <tr>
                <th class="text-truncate">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="select-all"
                           [checked]="results.isAllSelected()"
                           (change)="results.toggleAll()">
                    <label class="custom-control-label" for="select-all">Name</label>
                  </div>
                </th>
                <th class="text-truncate d-none d-cbp-sm-table-cell">Annotated</th>
                <th class="text-truncate d-none d-cbp-md-table-cell">Created</th>
                <th class="text-truncate">Author</th>
                <th></th>
              </tr>
              </thead>

              <!-- Placeholders -->
              <tbody *ngIf="status.placeholdersShown">
              <tr>
                <td class="align-middle text-nowrap text-truncate">
                  <span class="placeholder-box">Loading loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate d-none d-cbp-sm-table-cell">
                  <span class="placeholder-box">Loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate d-none d-cbp-md-table-cell">
                  <span class="placeholder-box">Loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate">
                  <span class="placeholder-box">Loading loading</span>
                </td>
                <td>
                  <div class="d-flex align-items-end">
                    <div ngbDropdown class="d-inline-block ml-auto">
                      <button class="btn btn-sm" ngbDropdownToggle>
                        <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-middle text-nowrap text-truncate">
                  <span class="placeholder-box">Loading loading loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate d-none d-cbp-sm-table-cell">
                  <span class="placeholder-box">Loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate d-none d-cbp-md-table-cell">
                  <span class="placeholder-box">Loading</span>
                </td>
                <td class="align-middle text-nowrap text-truncate">
                  <span class="placeholder-box">Loading loading</span>
                </td>
                <td>
                  <div class="d-flex align-items-end">
                    <div ngbDropdown class="d-inline-block ml-auto">
                      <button class="btn btn-sm" ngbDropdownToggle>
                        <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>

              <!-- Results -->
              <tbody *ngIf="status.resultsShown">
              <tr *ngFor="let object of results.view; index as objectIndex" tabindex="0"
                  [class.active]="this.results.isSelected(object)" draggable="true"
                  (dragstart)="dragStarted($event, object)">
                <td class="align-middle text-nowrap text-truncate"
                    (click)="results.toggle(object)">
                  <div class="custom-control custom-checkbox text-truncate">
                    <input type="checkbox" class="custom-control-input" id="object-{{ objectIndex }}"
                           (change)="results.toggle(object)"
                           [checked]="results.isSelected(object)">
                    <label class="custom-control-label d-block" for="object-{{ objectIndex }}">
                      <div class="d-flex align-items-center text-truncate"
                           popoverTitle="Description" container="body" triggers="mouseenter:mouseleave"
                           placement="right"
                           [ngbPopover]="object.description"
                           [disablePopover]="object.description == null || object.description.length === 0">
                        <div [ngSwitch]="object.type" class="d-inline-block mr-1">
                          <i *ngSwitchCase="'dir'" class="fa fa-fw fa-folder text-icon"></i>
                          <i *ngSwitchCase="'file'" class="fa fa-fw fa-file text-icon"></i>
                          <i *ngSwitchCase="'map'" class="fa fa-fw fa-project-diagram text-icon"></i>
                        </div>

                        <div class="d-inline-block text-truncate">
                          <a [appLink]="getObjectCommands(object)" [queryParams]="getObjectQueryParams()"
                             [newTab]="object.type !== 'dir'">
                            <ng-container *ngIf="object.type !== 'dir'; else dirLabel">
                              {{ object.name }}
                            </ng-container>
                            <ng-template #dirLabel>
                              <strong>{{ object.name }}</strong>
                            </ng-template>
                          </a>
                        </div>
                      </div>
                    </label>
                  </div>
                </td>

                <td class="align-middle text-nowrap text-truncate d-none d-cbp-sm-table-cell"
                    (click)="results.toggle(object)">
                  <ng-container *ngIf="object.annotationDate">
                    <div popoverTitle="Annotation Status" [ngbPopover]="object.annotationsTooltipContent"
                         container="body"
                         placement="right" triggers="mouseenter:mouseleave"
                         class="text-truncate"
                         [disablePopover]="!object.annotationsTooltipContent">
                      <ng-container
                        *ngIf="object.annotationsTooltipContent && object.annotationsTooltipContent.length">
                        <i class="fas fa-exclamation-triangle fa-fw mr-1"></i>
                      </ng-container>
                      {{ object.annotationDate | date: 'short' }}
                    </div>
                  </ng-container>
                </td>

                <td class="align-middle text-nowrap text-truncate d-none d-cbp-md-table-cell"
                    (click)="results.toggle(object)">
                  <div class="text-truncate" *ngIf="object.creator">
                    {{ object.data.creation_date | date: 'shortDate' }}
                  </div>
                </td>

                <td class="align-middle text-nowrap text-truncate" (click)="results.toggle(object)">
                  <div *ngIf="object.creator" class="text-truncate">
                    {{ object.creator.name }}
                  </div>
                </td>

                <td>
                  <div class="d-flex align-items-end">
                    <div ngbDropdown class="d-inline-block ml-auto" placement="bottom-right">
                      <button class="btn btn-sm" ngbDropdownToggle>
                        <i class="fas fa-cog fa-fw"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <button ngbDropdownItem [appLink]="getObjectCommands(object)"
                                [queryParams]="getObjectQueryParams()">
                          Open
                        </button>
                        <button ngbDropdownItem (click)="displayEditDialog(object)">
                          Edit...
                        </button>
                        <button ngbDropdownItem *ngIf="object.type === 'file'"
                                (click)="reannotate([object])">
                          Re-annotate
                        </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="displayDeleteDialog([object])">
                          Delete...
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>


            <div class="module-body">
              <div *ngIf="status.emptyResultsShown && results.viewLength === 0" class="text-center">
                {{ results.filter != null ? 'There are no results matching your filter.' : 'There are no items in this folder.' }}
              </div>
            </div>
          </div>

          <div class="flex-fill d-none d-cbp-lg-block module-body-split-sidebar">
            <div class="module-body-split-sidebar-body">
              <ng-container *ngIf="results.selection.length">
                <div [ngSwitch]="results.lastSelection.type" class="mb-3 text-muted">
                  <div *ngSwitchCase="'dir'"><i class="fa fa-fw fa-folder text-icon"></i> Folder</div>
                  <div *ngSwitchCase="'file'"><i class="fa fa-fw fa-file text-icon"></i> Document</div>
                  <div *ngSwitchCase="'map'"><i class="fa fa-fw fa-project-diagram text-icon"></i> Map</div>
                </div>

                <h5 (click)="displayEditDialog(results.lastSelection)">{{ results.lastSelection.name }}</h5>

                <div class="mt-3" *ngIf="results.lastSelection.description"
                     (click)="displayEditDialog(results.lastSelection)">
                  {{ results.lastSelection.description }}
                </div>

                <hr class="my-3">

                <ul class="list-unstyled mt-3">
                  <li *ngIf="results.lastSelection.annotationDate">
                    <strong>Annotated:</strong> {{ results.lastSelection.annotationDate | date: 'short' }}
                  </li>
                  <li *ngIf="results.lastSelection.modificationDate">
                    <strong>Modified:</strong> {{ results.lastSelection.modificationDate | date: 'short' }}
                  </li>
                  <li *ngIf="results.lastSelection.creationDate">
                    <strong>Created:</strong> {{ results.lastSelection.creationDate | date: 'short' }}
                  </li>
                  <li *ngIf="results.lastSelection.creator">
                    <strong>Author:</strong> {{ results.lastSelection.creator.name }}
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-template>
</ng-container>
