<div class="d-flex flex-column h-100">
  <div class="module-body">
    <div class="mb-3">
      <app-file-type-label [object]="_object"></app-file-type-label>
    </div>

    <h5 (click)="objectEdit.emit(_object)">{{ _object.name }}</h5>

    <div class="paragraph-truncate-3 mt-3" *ngIf="_object.description" (click)="objectEdit.emit(_object)">
      {{ _object.description }}
    </div>

    <hr class="my-3">

    <ul class="list-unstyled mt-3 mb-0">
      <li *ngIf="_object.annotationDate">
        <strong>Annotated:</strong> {{ _object.annotationDate | date: 'short' }}
      </li>
      <li *ngIf="_object.modificationDate">
        <strong>Modified:</strong> {{ _object.modificationDate | date: 'short' }}
      </li>
      <li *ngIf="_object.creationDate">
        <strong>Created:</strong> {{ _object.creationDate | date: 'short' }}
      </li>
      <li *ngIf="_object.creator">
        <strong>Author:</strong> {{ _object.creator.username }}
      </li>
    </ul>
    <div *ngIf="_object.type === 'file' && _object.highlight" class="mt-5">
      <h5>Term matches in document:</h5>
      <div *ngFor="let highlight of shownHighlights">
        <hr class="my-3">
        <div class="mt-2">
          <app-highlight-text [highlight]="highlight"></app-highlight-text>
          <a href="#" (click)="highlightClick.emit(highlight); $event.preventDefault()" ngbTooltip="Find in document">
            (open)
          </a>
        </div>
      </div>
      <div *ngIf="!reachedHighlightLimit" class="mt-4">
        <a href="#" (click)="displayMoreHighlights(); $event.preventDefault()">More...</a>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 position-relative" *ngIf="_object.type === 'map'">
    <div class="border-bottom h-100">
      <ng-container *ngIf="_object.type === 'map'">
        <app-map [locator]="{projectName: _object.project.projectName, hashId: _object.id}" [highlightTerms]="highlightTerms"></app-map>
      </ng-container>
    </div>
  </div>
</div>
