<div class="d-flex flex-column position-relative h-100" *ngIf="(loadTask.status$ | async) as status">
  <app-content-progress
    class="flex-fill"
    [status]="status"
    loadingText="Downloading {{loadTask.pendingValue[0].filename ? loadTask.pendingValue[0].filename : 'file'}}..."
    errorText="The requested PDF file could not be loaded.">
  </app-content-progress>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="toolbar d-flex">
      <div class="btn-group mr-2" *ngIf="returnUrl">
        <button type="button" class="btn btn-light" ngbTooltip="Go back to the browser"
                placement="bottom-left" [appLink]="returnUrl">
          <i class="fa fa-fw fa-folder"></i>
        </button>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-light"
                [disabled]="!ready" (click)="zoomIn()" ngbTooltip="Zoom in"
                placement="bottom">
          <i class="fa fa-fw fa-search-plus"></i>
        </button>
        <button type="button" class="btn btn-light"
                [disabled]="!ready" (click)="zoomOut()" ngbTooltip="Zoom out"
                placement="bottom">
          <i class="fa fa-fw fa-search-minus"></i>
        </button>
      </div>

      <div class="d-flex ml-auto mr-2">
        <div class="input-group">
        <span class="input-group-prepend">
          <div class="input-group-text bg-white border-right-0">
            <i class="fa fa-fw fa-search"></i>
          </div>
        </span>
          <input #queryInp [disabled]="!ready" (input)="searchQueryChanged($event.target.value)"
                 (keyup.enter)="searchQueryChanged(queryInp.value)" placeholder="Search" value=""
                 class="form-control py-2 pl-0 input-border border-left-0">
        </div>
        <div class="btn-group ml-2" *ngIf="queryInp.value && queryInp.value.length > 0">
          <button type="button" class="btn btn-light"
                  [disabled]="!ready" (click)="findPrevious(queryInp.value)" ngbTooltip="Previous result"
                  placement="bottom">
            <i class="fa fa-fw fa-angle-up"></i>
          </button>
          <button type="button" class="btn btn-light"
                  [disabled]="!ready" (click)="findNext(queryInp.value)" ngbTooltip="Next result"
                  placement="bottom">
            <i class="fa fa-fw fa-angle-down"></i>
          </button>
        </div>
      </div>

      <div>
        <div class="btn-group" role="group">
          <div ngbDropdown class="d-inline-block" #dropdown placement="bottom-right">
            <button class="btn btn-light" id="filters-dropdown" ngbDropdownToggle>Filters</button>
            <div ngbDropdownMenu aria-labelledby="filters-dropdown" [style.width]="'220px'"
                 class="dropdown-body dropdown-menu dropdown-menu-right">
              <div class="mb-2">
                <button *ngIf="!entityTypeVisibilityChanged" class="btn btn-outline-secondary btn-block"
                        (click)="setAllEntityTypesVisibility(false)">
                  Hide All
                </button>
                <button *ngIf="entityTypeVisibilityChanged" class="btn btn-outline-secondary btn-block"
                        (click)="setAllEntityTypesVisibility(true)">
                  Show All
                </button>
              </div>

              <div *ngFor="let entityTypeEntry of sortedEntityTypeEntries"
                   [style.opacity]="entityTypeEntry.annotations.length ? '' : '0.2'">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" [id]="'filter-' + entityTypeEntry.type.id"
                         value="1"
                         [checked]="isEntityTypeVisible(entityTypeEntry.type)"
                         (change)="changeEntityTypeVisibility(entityTypeEntry.type, $event)">
                  <label class="custom-control-label" [for]="'filter-' + entityTypeEntry.type.id">
                  <span class="entity-type-legend" [ngStyle]="{background: entityTypeEntry.type.color}">
                </span> {{entityTypeEntry.type.name}} <span *ngIf="!!entityTypeEntry.annotations.length">
                  ({{entityTypeEntry.annotations.length}})
                </span>
                  </label>
                </div>
              </div>

              <div class="mt-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [(ngModel)]="showExcludedAnnotations"
                         class="custom-control-input" id="showExcludedAnnotations">
                  <label class="custom-control-label" for="showExcludedAnnotations">Show excluded annotations</label>
                </div>
              </div>

              <div class="mt-2">
                <button class="btn btn-secondary btn-block" (click)="closeFilterPopup()">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-fill overflow-auto">
      <div *ngIf="ready">
        <!-- PDF Viewer -->
        <lib-pdf-viewer-lib
          id='pdf-viewer'
          appPdfViewer
          [pdfSrc]="pdfData"
          [annotations]="annotations"
          [dropAreaIdentifier]="'#dropme'"
          [handleDropArea]="false"
          [goToPosition]="goToPosition"
          [addedAnnotations]="addedAnnotations"
          [removedAnnotationIds]="removedAnnotationIds"
          [entityTypeVisibilityMap]="entityTypeVisibilityMap"
          [filterChanges]="filterChangeSubject"
          [searchChanged]="searchChanged"
          [showExcludedAnnotations]="showExcludedAnnotations"
          [removedAnnotationExclusion]="removedAnnotationExclusion"
          (annotationDragStart)="addAnnotationDragData($event)"
          (annotation-exclusion-added)="annotationExclusionAdded($event)"
          (annotation-exclusion-removed)="annotationExclusionRemoved($event)"
          (custom-annotation-created)="annotationCreated($event)"
          (loadCompleted)="loadCompleted($event)"
          (custom-annotation-removed)="annotationRemoved($event)"
        >
        </lib-pdf-viewer-lib>
      </div>
    </div>
  </div>
</div>
