.error {
  background-color: #fa8888;
}

ul {
  padding-inline-start: 20px;
}

table, th, td {
  border: 1px ridge black !important;
}

th {
  background-color: #ceeee0;
}

thead tr:nth-child(1) th { position: sticky; top: 0; }
thead tr:nth-child(2) th { position: sticky; top: 33px; }