<table class="table table-bordered module-body-table">
  <thead>
    <ng-container *ngIf="HEADER">
      <tr class="table-secondary" *ngFor="let row of HEADER">
        <th *ngFor="let col of row" class="border-top text-center text-truncate" [attr.colspan]="col.span">{{ col.name }}</th>
      </tr>
    </ng-container>
  </thead>

  <tbody>
    <ng-container *ngIf="entries">
      <tr *ngFor="let row of entries">
        <td *ngFor="let entry of row" class="overflow-auto entry">
          <div>{{ entry }}</div>
        </td>
      </tr>
    </ng-container>
    <tr></tr>
  </tbody>
</table>
