<ol class="breadcrumb" style="flex-wrap: nowrap">
  <li class="breadcrumb-item">
    <a [appLink]="['/projects']" [newTab]="newTab">
      File Browser
    </a>
  </li>
  <li class="breadcrumb-item" *ngFor="let item of path">
    <a [appLink]="item.getCommands(forEditing)" [newTab]="newTab">
      <app-project-icon *ngIf="!item.parent"
                        [project]="item.project" size="16" class="mr-1"></app-project-icon>
      {{ item.isDirectory && item.parent == null && ***ARANGO_USERNAME***Name ? ***ARANGO_USERNAME***Name : item.effectiveName }}
    </a>
  </li>
</ol>
