<as-split
  class="module-body-split module-body-browser-split"
  [gutterSize]="3"
  [useTransition]="true"
  unit="pixel"
>
  <as-split-area
    class="module-body-split-main"
    [appFSObjectTarget]="parent"
    (refreshRequest)="refreshRequest.emit()"
    size="*"
    [minSize]="500"
    appElementObserver
    #elementObserver="appElementObserver"
  >
    <ng-container
      *ngIf="showDescription && parent && parent.description && parent.description.trim().length"
    >
      <div class="border-bottom p-4 text-muted d-flex align-items-start">
        <div class="flex-fill">
          <span style="white-space: pre-line" appHasPlaceholder>{{ parent.description }}</span>
          <a
            href="#"
            ngbTooltip="Edit Folder Description"
            container="body"
            #tooltipRef="ngbTooltip"
            [appAutoCloseTooltipOutOfView]="tooltipRef"
            (click)="controller.openParentEditDialog(parent); $event.preventDefault()"
            >(edit)</a
          >
        </div>
      </div>
    </ng-container>

    <app-object-table
      [size$]="elementObserver.size$"
      [appLinks]="appLinks"
      [forEditing]="forEditing"
      [showStars]="showStars"
      [showDescription]="showDescription"
      [parent]="parent"
      [objects]="objects"
      [objectControls]="objectControls"
      [emptyDirectoryMessage]="emptyDirectoryMessage"
    ></app-object-table>
    <div *ngIf="objects != null && (objects.viewLength$ | async) === 0" class="module-body">
      <div class="text-center">
        {{ emptyDirectoryMessage }}
      </div>
    </div>
  </as-split-area>
  <ng-container *ngIf="objects">
    <as-split-area
      class="d-none d-cbp-lg-block module-body-split-sidebar"
      *ngIf="objects.selection$ | async as selection"
      [visible]="selection.length > 0"
      [size]="400"
    >
      <app-object-info
        *ngIf="selection.length"
        [object]="selection[selection.length - 1]"
        [forEditing]="forEditing"
        [showDelete]="true"
        (objectOpen)="controller.openObject($event, appLinks)"
        (refreshRequest)="refreshRequest.emit($event)"
      >
      </app-object-info>
    </as-split-area>
  </ng-container>
</as-split>
