<ng-container *ngIf="(object$ | addStatus | async) as result">
  <ng-template [ngIf]="result.error">
    <app-module-error [error]="result.error" class="d-block p-4">
    </app-module-error>
  </ng-template>

  <ng-template [ngIf]="result.loading">
    <app-module-progress class="position-absolute w-100 h-100 bg-white">
      Loading file...
    </app-module-progress>
  </ng-template>

  <ng-template [ngIf]="result.value">
    <div class="module h-100">
      <div class="module-header">
        <!-- Breadcrumbs -->
        <div class="module-breadcrumb-bar mb-1">
          <app-object-path [object]="result.value.parent" [newTab]="true"></app-object-path>
        </div>

        <div class="d-flex flex-wrap align-items-center">
          <div class="module-title-bar mr-4">
            <h1 class="module-title text-truncate" draggable="true">
              {{ result.value.filename }}
            </h1>

            <div ngbDropdown class="d-inline-block ml-1" container="body">
              <a href="#" class="dropdown-no-arrow" ngbDropdownToggle
                 (click)="$event.preventDefault()">
                <i class="fas fa-chevron-down fa-fw text-icon"></i>
              </a>
              <div ngbDropdownMenu>
                <app-object-menu [object]="result.value" [forEditing]="false"
                                 [showOpen]="false" [showDelete]="false">
                </app-object-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex my-auto text-center justify-content-center text-truncate p-4">
        <button type="button" class="btn btn-primary text-truncate" (click)="downloadObject(result.value); $event.preventDefault()">
          Download {{ result.value.filename }}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
