<div class="module-body-split module-body-browser-split">
  <div
    (refreshRequest)="refreshRequest.emit()"
    [appFSObjectTarget]="parent"
    class="module-body-split-main"
  >
    <ng-container
      *ngIf="showDescription && parent && parent.description && parent.description.trim().length"
    >
      <div class="border-bottom p-4 text-muted d-flex align-items-start">
        <div class="flex-fill">
          <span style="white-space: pre-line">{{ parent.description }}</span>
          <a
            (click)="openParentEditDialog(); $event.preventDefault()"
            container="body"
            href="#"
            ngbTooltip="Edit Folder Description"
            >(edit)</a
          >
        </div>
      </div>
    </ng-container>

    <table class="table module-body-table table-selectable" style="table-layout: fixed">
      <colgroup>
        <col style="width: 50px" />
        <!-- Checkbox -->
        <col *ngIf="showStars" style="width: 30px" />
        <!-- "Starred" -->
        <col />
        <!-- Name -->
        <col class="d-none d-cbp-sm-table-column" style="width: 15%; max-width: 140px" />
        <!-- Annotated -->
        <col class="d-none d-cbp-md-table-column" style="width: 90px" />
        <!-- Created -->
        <col [ngStyle.gt-xs]="'width:120px'" class="w-20" />
        <!-- Author -->
        <col style="width: 80px" />
        <!-- Dropdown -->
      </colgroup>
      <thead>
        <tr>
          <th class="text-truncate">
            <ng-container *ngIf="objects != null && objects.multipleSelection">
              <div class="custom-control custom-checkbox">
                <input
                  (change)="objects.toggleAll()"
                  [checked]="objects.isAllSelected()"
                  class="custom-control-input"
                  id="{{ id }}-select-all"
                  type="checkbox"
                />
                <label class="custom-control-label" for="{{ id }}-select-all"></label>
              </div>
            </ng-container>
          </th>
          <th *ngIf="showStars"></th>
          <th class="text-truncate">Name</th>
          <th class="text-truncate d-none d-cbp-sm-table-cell">Annotated</th>
          <th class="text-truncate d-none d-cbp-md-table-cell">Modified</th>
          <th class="text-truncate">User</th>
          <th></th>
        </tr>
      </thead>

      <!-- Results -->
      <tbody>
        <!-- Placeholders -->
        <ng-template #placeholders>
          <tr>
            <td class="align-middle text-nowrap overflow-hidden">
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td class="align-middle text-nowrap overflow-hidden d-none d-cbp-sm-table-cell">
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td
              class="align-middle text-nowrap overflow-hidden d-none d-cbp-md-table-cell text-truncate"
            >
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td class="align-middle text-nowrap overflow-hidden text-truncate">
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td>
              <div class="d-flex align-items-end">
                <div class="d-inline-block ml-auto" ngbDropdown>
                  <button class="btn btn-sm" ngbDropdownToggle>
                    <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-nowrap overflow-hidden">
              <span class="placeholder-box">Loading loading loading</span>
            </td>
            <td class="align-middle text-nowrap overflow-hidden d-none d-cbp-sm-table-cell">
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td
              class="align-middle text-nowrap overflow-hidden d-none d-cbp-md-table-cell text-truncate"
            >
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td class="align-middle text-nowrap overflow-hidden text-truncate">
              <span class="placeholder-box">Loading loading</span>
            </td>
            <td>
              <div class="d-flex align-items-end">
                <div class="d-inline-block ml-auto" ngbDropdown>
                  <button class="btn btn-sm" ngbDropdownToggle>
                    <span class="placeholder-box"><i class="fas fa-cog fa-fw"></i></span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-container *ngIf="objects; else placeholders">
          <tr
            (dragstart)="objectDragStart($event, object)"
            (refreshRequest)="refreshRequest.emit()"
            *ngFor="let object of objects.view$ | async; index as objectIndex"
            [appFSObjectTarget]="object?.isDirectory ? object : null"
            [class.active]="objects.isSelected(object)"
            draggable="true"
            tabindex="0"
          >
            <td
              (click)="objects.toggle(object)"
              [style.width]="'fit-content'"
              class="align-middle text-nowrap overflow-hidden"
            >
              <div
                (click)="$event.preventDefault()"
                class="custom-control custom-checkbox overflow-hidden"
              >
                <input
                  (change)="objects.toggle(object); $event.preventDefault()"
                  [checked]="objects.isSelected(object)"
                  class="custom-control-input"
                  id="{{ id }}-object-{{ objectIndex }}"
                  type="checkbox"
                />
                <label
                  class="custom-control-label d-block"
                  for="{{ id }}-object-{{ objectIndex }}"
                ></label>
              </div>
            </td>

            <td *ngIf="showStars" class="align-middle text-nowrap overflow-hidden">
              <div
                (click)="toggleStarred(object)"
                class="d-flex align-items-center"
                container="body"
              >
                <div class="d-inline-block mr-1">
                  <i
                    [class]="'fas fa-star ' + (object.starred ? 'text-warning' : 'text-secondary')"
                  ></i>
                </div>
              </div>
            </td>

            <td
              (click)="objects.toggle(object)"
              [style.width]="'fit-content'"
              class="align-middle text-nowrap overflow-hidden"
            >
              <div
                [disablePopover]="object.description == null || object.description.length === 0"
                [ngbPopover]="object.description | truncate : MAX_TOOLTIP_LENGTH"
                [popoverClass]="'tooltip-newlines'"
                class="d-flex align-items-center"
                container="body"
                placement="right"
                popoverTitle="Description"
                triggers="mouseenter:mouseleave"
              >
                <div class="d-inline-block mr-1">
                  <i [class]="'fa-fw text-icon ' + object.fontAwesomeIcon"></i>
                </div>

                <div class="d-inline-block text-truncate">
                  <a
                    (click)="openObject(object); $event.preventDefault()"
                    [appLink]="object.getCommands(forEditing)"
                    [handleClick]="false"
                  >
                    <ng-container *ngIf="!object.isDirectory; else dirLabel">{{
                      object.effectiveName
                    }}</ng-container>
                    <ng-template #dirLabel>
                      <strong>{{ object.effectiveName }}</strong>
                    </ng-template>
                  </a>
                </div>

                <div
                  *ngIf="object.public"
                  class="d-inline-block ml-1"
                  container="body"
                  ngbTooltip="This item is public and can be viewed by any logged-in user."
                >
                  <i class="fa fa-fw text-icon fa-globe"></i>
                </div>

                <div *ngIf="object.pinned" class="d-inline-block ml-1">
                  <i class="fa fa-fw text-icon fa-thumbtack"></i>
                </div>

                <div
                  *ngIf="!object.privileges.writable && !object.privileges.commentable"
                  class="d-inline-block ml-1"
                  container="body"
                  ngbTooltip="You do not have permission to edit this item."
                >
                  <i class="fa fa-fw text-icon fa-lock"></i>
                </div>

                <div
                  *ngIf="!object.privileges.writable && object.privileges.commentable"
                  class="d-inline-block ml-1"
                  container="body"
                  ngbTooltip="You can make comments on this item, but you cannot edit it."
                >
                  <i class="fa fa-fw text-icon fa-comment"></i>
                </div>
              </div>
            </td>

            <td
              (click)="objects.toggle(object)"
              class="align-middle text-nowrap overflow-hidden d-none d-cbp-sm-table-cell"
            >
              <div
                *ngIf="object.isAnnotatable"
                [disablePopover]="!object.annotationsTooltipContent"
                [ngbPopover]="object.annotationsTooltipContent"
                class="text-truncate"
                container="body"
                placement="right"
                popoverTitle="Annotation Status"
                triggers="mouseenter:mouseleave"
              >
                <ng-container
                  *ngIf="
                    object.annotationsTooltipContent && object.annotationsTooltipContent.length
                  "
                >
                  <i class="fas fa-exclamation-triangle fa-fw mr-1"></i>
                </ng-container>
                {{ (object.annotationsDate | date : "short") || "No annotations" }}
              </div>
            </td>

            <td
              (click)="objects.toggle(object)"
              class="align-middle text-nowrap overflow-hidden d-none d-cbp-md-table-cell text-truncate"
            >
              {{ object.updatedTimestamp | date : "shortDate" }}
            </td>

            <td
              (click)="objects.toggle(object)"
              class="align-middle text-nowrap overflow-hidden text-truncate"
            >
              <app-user [user]="object.user"></app-user>
            </td>

            <td>
              <div *ngIf="objectControls" class="d-flex align-items-end">
                <button [matMenuTriggerFor]="fileObjectMenu" class="btn btn-sm">
                  <i class="fas fa-cog fa-fw"></i>
                  <i class="fas fa-caret-down fa-fw"></i>
                </button>
                <mat-menu #fileObjectMenu="matMenu" xPosition="after" yPosition="below">
                  <app-object-menu
                    [forEditing]="forEditing"
                    [object]="object"
                    [showDelete]="true"
                    (objectOpen)="openObject($event)"
                    (objectUpdate)="updateView()"
                    (refreshRequest)="refreshRequest.emit($event)"
                  >
                  </app-object-menu>
                </mat-menu>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="objects != null" class="module-body">
      <div *ngIf="(objects.viewLength$ | async) === 0" class="text-center">
        {{ emptyDirectoryMessage }}
      </div>
    </div>
  </div>

  <div class="d-none d-cbp-lg-block module-body-split-sidebar">
    <app-object-info
      *ngIf="objects != null && objects.selectionLength$ | async"
      [object]="objects.lastSelection$ | async"
      [forEditing]="forEditing"
      [showDelete]="true"
      (objectOpen)="openObject($event)"
      (refreshRequest)="refreshRequest.emit($event)"
    >
    </app-object-info>
  </div>
</div>
