<ng-container *ngIf="object$ | addStatus | async as result">
  <app-module-error *ngIf="result.error; else notError" [error]="result.error" class="d-block p-4">
    <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
  </app-module-error>

  <ng-template #notError>
    <div appContainerBreakpoints class="module">
      <!-- Header -->
      <div class="module-header">
        <!-- Breadcrumbs -->
        <div class="module-breadcrumb-bar mb-1">
          <app-object-path
            (refreshRequest)="refresh()"
            [object]="result.value?.parent"
          ></app-object-path>
        </div>

        <!-- Title bar -->
        <div class="module-title-bar">
          <button
            (click)="goUp(result.value)"
            *ngIf="result.value?.parent"
            class="module-title-bar-back mr-2"
            type="button"
          >
            <i class="fa fa-fw fa-arrow-left"></i>
          </button>
          <h1 class="module-title">
            <ng-template #titlePlaceholder>
              <span class="placeholder-box">Loading</span>
            </ng-template>
            <ng-container *ngIf="result.value; else titlePlaceholder">
              <app-project-icon
                *ngIf="result.value.parent == null"
                [project]="result.value.project"
                class="mr-1"
                size="24px"
              ></app-project-icon>
              {{ result.value.effectiveName }}
            </ng-container>
          </h1>

          <div class="d-inline-block ml-1" container="body" ngbDropdown>
            <a
              (click)="$event.preventDefault()"
              class="dropdown-no-arrow"
              href="#"
              ngbDropdownToggle
            >
              <i class="fas fa-chevron-down fa-fw text-icon"></i>
            </a>
            <div *ngIf="result.value" ngbDropdownMenu>
              <ng-container *ngIf="result.value.parent; else noParentMenu">
                <app-object-menu
                  (objectOpen)="openObject($event)"
                  (refreshRequest)="refresh()"
                  [forEditing]="true"
                  [nameEntity]="true"
                  [object]="result.value"
                  [showOpen]="false"
                >
                </app-object-menu>
              </ng-container>
              <ng-template #noParentMenu>
                <app-project-menu
                  [nameEntity]="true"
                  [project]="result.value.project"
                ></app-project-menu>
              </ng-template>
            </div>
          </div>
        </div>

        <!-- Toolbar -->
        <div class="module-toolbar mt-2">
          <div class="d-flex align-items-center flex-spaced-wrap">
            <div class="flex-fill text-nowrap overflow-x-hidden">
              <div class="d-inline-block" container="body" ngbDropdown>
                <button
                  [disabled]="!result.value?.privileges.writable"
                  class="btn btn-primary"
                  ngbDropdownToggle
                >
                  <i class="fa fa-fw fa-plus-circle"></i>
                  New
                </button>
                <div *ngIf="createActions$ | async as createActions" ngbDropdownMenu>
                  <button
                    (click)="runCreateAction(action, { parent: result.value })"
                    *ngFor="let action of createActions"
                    ngbDropdownItem
                  >
                    New {{ action.label }}...
                  </button>
                  <div class="dropdown-divider"></div>
                  <button (click)="openUploadDialog(result.value)" ngbDropdownItem>
                    Upload File...
                  </button>
                </div>
              </div>

              <button
                (click)="openUploadDialog(result.value)"
                [disabled]="!result.value?.privileges.writable"
                class="btn btn-primary ml-2"
              >
                <i class="fa fa-fw fa-upload"></i> Upload
              </button>

              <ng-container *ngIf="result.value?.children.selection$ | async as selection">
                <div
                  *ngIf="selection.length && result.value.privileges.writable"
                  class="d-inline-block ml-2"
                  container="body"
                  ngbDropdown
                >
                  <button class="btn btn-secondary" ngbDropdownToggle>Actions</button>
                  <div ngbDropdownMenu>
                    <button
                      (click)="reannotate(selection)"
                      [disabled]="!isSelectionAnnotatable(selection)"
                      ngbDropdownItem
                    >
                      Re-annotate
                    </button>
                    <div class="dropdown-divider"></div>
                    <button
                      (click)="openMoveDialog(selection)"
                      [disabled]="!isSelectionMovable(selection)"
                      ngbDropdownItem
                    >
                      Move to...
                    </button>
                    <button
                      (click)="openDeleteDialog(selection)"
                      [disabled]="!isSelectionDeletable(selection)"
                      ngbDropdownItem
                    >
                      Delete...
                    </button>
                  </div>
                </div>
              </ng-container>

              <div
                class="d-inline-block ml-2"
                container="body"
                ngbDropdown
                ngbTooltip="Entity Cloud"
              >
                <button [disabled]="!result.value" class="btn btn-secondary" ngbDropdownToggle>
                  <i class="fa fa-fw fa-cloud"></i>
                </button>
                <div *ngIf="result.value" ngbDropdownMenu>
                  <button
                    [appLink]="[
                      '/file-navigator',
                      result.value.project.name,
                      result.value.***ARANGO_USERNAME***.hashId
                    ]"
                    [forceWorkbench]="true"
                    [newTab]="true"
                    [openParentFirst]="true"
                    [parentAddress]="['/projects', result.value.project.name]"
                    [sideBySide]="true"
                    ngbDropdownItem
                  >
                    For entire project...
                  </button>
                  <button
                    *ngIf="result.value !== result.value.***ARANGO_USERNAME***"
                    [appLink]="['/file-navigator', result.value.project.name, result.value.hashId]"
                    [forceWorkbench]="true"
                    [newTab]="true"
                    [openParentFirst]="true"
                    [parentAddress]="['/folders', result.value.hashId]"
                    [sideBySide]="true"
                    ngbDropdownItem
                  >
                    For this folder
                  </button>
                </div>
              </div>
            </div>

            <div class="ml-auto d-flex">
              <div
                [class.bg-highlight]="(result.value?.children.filter$ | async) != null"
                class="input-group"
              >
                <div class="input-group-prepend">
                  <div class="input-group-text bg-transparent border-right-0">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <input
                  (keyup)="applyFilter(result.value, $event.target.value)"
                  [disabled]="!result.value"
                  class="form-control py-2 pl-0 border-left-0 border bg-transparent"
                  placeholder="Find"
                  maxlength="40"
                />
              </div>

              <button
                class="btn btn-secondary ml-2"
                ngbTooltip="Reload List"
                container="body"
                placement="bottom top left right"
                (click)="refresh()"
              >
                <i class="fa fa-fw fa-sync"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="flex-fill overflow-auto">
        <app-object-list
          [objects]="result.value?.children"
          [appLinks]="true"
          [parent]="result.value"
          [showDescription]="false"
          (refreshRequest)="refresh()"
        ></app-object-list>
      </div>
    </div>
  </ng-template>
</ng-container>
