@import "src/scss/variables";

.split-view {
  height: calc(100vh - 250px);
  overflow: hidden;
}

.split-view-left {
  overflow: auto;
  width: 300px;
}

.split-view-right {
  background: $light;
  border: 1px solid $border-color;
}
