<div class="module module-centered" *ngIf="(loadTask.status$ | async) as status">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">
        Projects
      </div>
    </div>
  </div>

  <div class="module-body">
    <div class="mb-4 d-flex">
      <div class="mr-2">
        <button class="btn btn-primary" (click)="displayCreateDialog()">
          <i class="fa fa-fw fa-plus-circle"></i>
          Create
        </button>

        <button class="btn btn-outline-secondary ml-2" (click)="displayEditDialog(selectedProject)"
                [disabled]="selectedProject == null">
          <i class="fa fa-pencil fa-fw"></i> Edit
        </button>
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-outline-secondary ml-1" (click)="refresh()"
                ngbTooltip="Refresh the results" placement="bottom">
          <i class="fa fa-sync"></i>
        </button>
      </div>
    </div>

    <app-background-task-progress
      [status]="status" (refresh)="refresh()" childClass="mb-3"></app-background-task-progress>

    <ng-container *ngIf="status.placeholdersShown">
      <div class="tile-deck">
        <div *ngFor="let p of [0, 1, 2]" class="tile d-flex flex-column justify-content-center align-items-center">
          <div class="flex-fill d-flex align-items-center">
            <span class="placeholder-box">
              <i class="fas fa-layer-group fa-4x"></i>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="status.resultsShown && projects.length">
      <div class="tile-deck tile-deck-selectable">
        <div *ngFor="let p of projects" class="tile d-flex flex-column justify-content-center align-items-center"
             tabindex="0"
             (click)='select(p)'
             (keydown)="$event.keyCode != 13 || select(p)"
             [class.active]="selectedProject === p">
          <div class="flex-fill d-flex align-items-center">
            <i class="fas fa-layer-group fa-4x"></i>
          </div>
          <div class="text-truncate">
            <a href="#" (click)="goToProject(p); $event.preventDefault()"
               class="p-2 d-block">{{ p.projectName }}</a>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="status.emptyResultsShown && projects.length === 0" class="text-center my-4">
      There are no projects to show.
    </div>
  </div>
</div>
