.avatar {
  margin-right: 1rem;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

::ng-deep .cdk-overlay-container { z-index: 9999; }

