<div class="module module-centered" *ngIf="(loadTask.status$ | async) as status">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">
        Browser
      </div>

      <div class="module-toolbar">
        <div class="input-group">
        <span class="input-group-prepend">
          <div class="input-group-text bg-transparent border-right-0">
            <i class="fa fa-search"></i>
          </div>
        </span>
          <input class="form-control py-2 pl-0 border-left-0 border"
                 (keyup)="applyFilter($event.target.value)"
                 placeholder="Search projects..." maxlength="40">
        </div>
      </div>
    </div>
  </div>

  <div class="module-body">
    <div class="mb-4 d-flex">
      <div class="mr-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" ngbDropdownToggle>
            <i class="fa fa-fw fa-plus-circle"></i>
            New
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="displayCreateDialog()">New Project...</button>
          </div>
        </div>
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-light ml-1" (click)="refresh()"
                ngbTooltip="Refresh the results" placement="bottom">
          <i class="fa fa-sync"></i>
        </button>
      </div>
    </div>

    <app-background-task-progress
      [status]="status" (refresh)="refresh()" childClass="mb-3"></app-background-task-progress>

    <ng-container *ngIf="status.placeholdersShown">
      <div class="tile-deck">
        <div *ngFor="let p of [0, 1, 2]" class="tile d-flex flex-column justify-content-center align-items-center">
          <div class="flex-fill d-flex align-items-center">
            <span class="placeholder-box">
              <i class="fas fa-layer-group fa-4x"></i>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="status.resultsShown && results.length">
      <div class="tile-deck">
        <div *ngFor="let p of results.view" class="tile d-flex flex-column">
          <div class="d-flex tile-toolbar">
            <div ngbDropdown class="d-inline-block ml-auto">
              <button class="btn btn-light btn-sm" ngbDropdownToggle>
                <i class="fas fa-cog fa-fw"></i>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="displayShareDialog(p)">Share...</button>
              </div>
            </div>
          </div>
          <div class="flex-fill d-flex justify-content-center align-items-center my-2">
            <a [appLink]="['/projects', p.projectName]" class="text-muted">
              <i class="fas fa-layer-group fa-4x"></i>
            </a>
          </div>
          <div class="text-truncate text-center">
            <a [appLink]="['/projects', p.projectName]" class="d-block">{{ p.projectName }}</a>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="status.emptyResultsShown && results.length === 0" class="text-center my-4">
      There are no projects to show.
    </div>
  </div>
</div>
