<ng-container *ngIf="project.privileges.administrable">
  <button ngbDropdownItem (click)="openEditDialog(project)">
    Edit project...
  </button>
</ng-container>
<button ngbDropdownItem (click)="openCollaboratorsDialog(project)">
  Share{{ nameEntity ? ' project' : '' }}...
</button>
<ng-container *ngIf="showTools">
  <div class="dropdown-divider"></div>
  <button ngbDropdownItem (click)="openShareDialog(project)">
    Copy{{ nameEntity ? ' project' : '' }} link
  </button>
  <button ngbDropdownItem (click)="copyAsMapNode(project)">
    Copy map node
  </button>
  <ng-container *ngIf="project.***ARANGO_USERNAME***">
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem [appLink]="['/file-navigator', project.name, project.***ARANGO_USERNAME***.hashId]"
            [newTab]="true" [sideBySide]="true">
      Open in navigator
    </button>
  </ng-container>
</ng-container>
