<ng-container *ngIf="loadTask.status$ | async as status">
  <app-module-error
    *ngIf="status.failedErrorShown; else noError"
    [error]="status.error"
    class="p-4"
  >
    <button (click)="refresh()" class="btn btn-primary" type="button">Retry</button>
  </app-module-error>

  <ng-template #noError>
    <div appContainerBreakpoints class="module">
      <!-- Header -->
      <div class="module-header">
        <!-- Title bar -->
        <div class="module-title-bar">
          <div class="module-title">Starred Content</div>
        </div>

        <!-- Toolbar -->
        <div class="module-toolbar mt-2">
          <div class="ml-auto d-flex">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0">
                  <i class="fa fa-search"></i>
                </div>
              </div>
              <input
                (keyup)="applyFilter($event.target.value)"
                class="form-control py-2 pl-0 border-left-0 border bg-transparent"
                maxlength="40"
                placeholder="Find"
              />
            </div>

            <button
              (click)="refresh()"
              class="btn btn-secondary ml-2"
              container="body"
              ngbTooltip="Reload List"
              placement="bottom top left right"
            >
              <i class="fa fa-fw fa-sync"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div class="flex-fill overflow-auto">
        <app-object-tile-deck
          *ngIf="projectList.results.length"
          [objects]="projectList.results"
          [showAuthor]="false"
          class="module-header d-block p-4"
        >
          <ng-template #tileToolbar let-project>
            <button (click)="toggleStarred(project)" *ngIf="project.starred" class="btn btn-sm">
              <i class="fas fa-star text-warning"></i>
            </button>
            <div class="d-inline-block ml-auto" container="body" ngbDropdown>
              <button class="btn btn-sm" ngbDropdownToggle>
                <i class="fas fa-cog fa-fw"></i>
              </button>
              <div ngbDropdownMenu>
                <app-project-menu [project]="project"></app-project-menu>
              </div>
            </div>
          </ng-template>
        </app-object-tile-deck>
        <app-object-list
          (refreshRequest)="refresh()"
          [appLinks]="{ forceWorkbench: true, preferPane: 'left' }"
          [forEditing]="false"
          [objects]="status.placeholdersShown ? null : fileList.results"
          [showStars]="true"
        >
        </app-object-list>
      </div>
    </div>
  </ng-template>
</ng-container>
