<div class="position-relative h-100" #modalContainer>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <h1 *ngIf="sheetname" class="module-title text-truncate">
            {{ sheetname}}
          </h1>
        </div>
      </div>

      <div *ngIf="tableEntries" class="module-body">
        <app-generic-table [header]="tableHeader" [entries]="tableEntries">
        </app-generic-table>
      </div>
    </div>
  </div>
</div>
