<div class="position-relative h-100" #modalContainer>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <button type="button" class="module-title-bar-back mr-2">
            <i class="fa fa-fw fa-arrow-left"></i>
          </button>
          <h1 class="module-title text-truncate" (click)="displayEditDialog()">
            File Name
          </h1>
        </div>

        <div class="module-toolbar d-flex align-items-center mt-2">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary">
              <i class="fa fa-fw fa-save"></i> Save
            </button>
          </div>
        </div>
      </div>

      <div class="position-relative overflow-hidden flex-fill">
        <div class="module-body-table">
          <div class="module-body-table">
            <table class="table module-body-table" [class.table-selectable]="status.resultsShown"
                   style="table-layout: fixed; border: 1px solid #919497; width: 95%; margin-left: 2.5%; margin-top: 2.5%;">
              <colgroup>
                <col style="width: 8%">
                <col style="width: 8%">
                <col style="width: 8%">
                <col style="width: 3%">
                <col style="width: 20%">
                <col style="width: 3%">
                <col style="width: 12%">
                <col style="width: 3%">
                <col style="width: 11%">
                <col style="width: 3%">
                <col style="width: 8%">
                <col style="width: 3%">
                <col style="width: 8%">
                <col style="width: 3%">
                <!-- 
                <col style="width: 15%; max-width: 140px" class="d-none d-cbp-sm-table-column"> 
                <col style="width: 90px" class="d-none d-cbp-md-table-column">
                <col style="width: 120px">
                <col style="width: 80px"> 
                -->
              </colgroup>
              <thead>
              <tr style="background-color: #ced4da;">
                <th class="text-truncate"><div>Gene</div></th>
                <th class="text-truncate">COG</th>
                <th class="text-truncate" colspan="2">Uniprot</th>
                <th class="text-truncate" colspan="2">String</th>
                <th class="text-truncate" colspan="6">GO Enrichment</th>
                <th class="text-truncate" colspan="2">Ecocyc</th>
              </tr>
              <tr style="background-color: #e1e6ec;">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-truncate" colspan="2">Molecular Function</th>
                <th class="text-truncate" colspan="2">Biological Process</th>
                <th class="text-truncate" colspan="2">Cellular component</th>
                <th></th>
                <th></th>
              </tr>
              </thead>

              <tbody >
                <tr>
                  <td>Placeholder this is a placeholder text to test the ui of the table</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                </tr>
                <tr>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                </tr>
              </tbody>

              <!-- Results 
              <tbody *ngIf="status.resultsShown">
                <tr *ngFor="let object of results.view; index as objectIndex" tabindex="0"
                    [class.active]="this.results.isSelected(object)" draggable="true"
                    (dragstart)="dragStarted($event, object)">
                  <td class="align-middle text-nowrap text-truncate"
                      (click)="results.toggle(object)">
                    <div class="custom-control custom-checkbox text-truncate">
                      <input type="checkbox" class="custom-control-input" id="object-{{ objectIndex }}"
                             (change)="results.toggle(object)"
                             [checked]="results.isSelected(object)">
                      <label class="custom-control-label d-block" for="object-{{ objectIndex }}">
                        <div class="d-flex align-items-center text-truncate"
                             popoverTitle="Description" container="body" triggers="mouseenter:mouseleave"
                             placement="right"
                             [ngbPopover]="object.description"
                             [disablePopover]="object.description == null || object.description.length === 0">
                          <div [ngSwitch]="object.type" class="d-inline-block mr-1">
                            <i *ngSwitchCase="'dir'" class="fa fa-fw fa-folder text-icon"></i>
                            <i *ngSwitchCase="'file'" class="fa fa-fw fa-file text-icon"></i>
                            <i *ngSwitchCase="'map'" class="fa fa-fw fa-project-diagram text-icon"></i>
                          </div>
  
                          <div class="d-inline-block text-truncate">
                            <a [appLink]="getObjectCommands(object)" [queryParams]="getObjectQueryParams()"
                               [newTab]="object.type !== 'dir'">
                              <ng-container *ngIf="object.type !== 'dir'; else dirLabel">
                                {{ object.name }}
                              </ng-container>
                              <ng-template #dirLabel>
                                <strong>{{ object.name }}</strong>
                              </ng-template>
                            </a>
                          </div>
                        </div>
                      </label>
                    </div>
                  </td>
  
                  <td class="align-middle text-nowrap text-truncate d-none d-cbp-sm-table-cell"
                      (click)="results.toggle(object)">
                    <ng-container *ngIf="object.type === 'file'">
                      <div popoverTitle="Annotation Status" [ngbPopover]="object.annotationsTooltipContent"
                           container="body" class="text-truncate"
                           placement="right" triggers="mouseenter:mouseleave"
                           [disablePopover]="!object.annotationsTooltipContent">
                        <ng-container *ngIf="object.annotationsTooltipContent && object.annotationsTooltipContent.length">
                          <i class="fas fa-exclamation-triangle fa-fw mr-1"></i>
                        </ng-container>
                        {{ (object.data.annotations_date | date: 'short') || 'No annotations'}}
                      </div>
                    </ng-container>
                  </td>
  
                  <td class="align-middle text-nowrap text-truncate d-none d-cbp-md-table-cell"
                      (click)="results.toggle(object)">
                    <div class="text-truncate" *ngIf="object.creator">
                      {{ getDateShown(object) | date: 'shortDate' }}
                    </div>
                  </td>
  
                  <td class="align-middle text-nowrap text-truncate" (click)="results.toggle(object)">
                    <div *ngIf="object.creator" class="text-truncate">
                      {{ object.creator.username }}
                    </div>
                  </td>
  
                  <td>
                    <div class="d-flex align-items-end">
                      <div ngbDropdown class="d-inline-block ml-auto" placement="bottom-right">
                        <button class="btn btn-sm" ngbDropdownToggle>
                          <i class="fas fa-cog fa-fw"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <button ngbDropdownItem [appLink]="getObjectCommands(object)"
                                  [queryParams]="getObjectQueryParams()">
                            Open
                          </button>
                          <button ngbDropdownItem (click)="displayEditDialog(object)">
                            Edit...
                          </button>
                          <button ngbDropdownItem *ngIf="object.type === 'file'"
                                  (click)="reannotate([object])">
                            Re-annotate
                          </button>
                          <div class="dropdown-divider"></div>
                          <button ngbDropdownItem (click)="displayDeleteDialog([object])">
                            Delete...
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>-->
              </table>

            </div>
          </div>
      </div>
    </div>
  </div>
</div>
