<div class="position-relative h-100" #modalContainer>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="module">
      <div class="module-header">
        <div class="module-title-bar">
          <button type="button" class="module-title-bar-back mr-2">
            <i class="fa fa-fw fa-arrow-left"></i>
          </button>
          <h1 *ngIf="sheetname" class="module-title text-truncate" (click)="displayEditDialog()">
            {{ sheetname}}
          </h1>
        </div>

        <div class="module-toolbar d-flex align-items-center mt-2">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary">
              <i class="fa fa-fw fa-save"></i> Save
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="tableEntries" class="module-body">
        <app-generic-table [header]="tableHeader" [entries]="tableEntries">
        </app-generic-table>
      </div>
    </div>
  </div>
</div>
