<div class="annotation-panel-container">
  <h2 class="mat-title">Annotator</h2>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between center">
      <label>Text:</label>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <input matInput [(ngModel)]="data.allText" disabled>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between center">
      <label>Type:</label>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <mat-select [(ngModel)]="entityType" #entityTypeSelect>
          <mat-option *ngFor="let entity of entityTypes" [value]="entity.name">
            <mat-chip-list>
              <mat-chip [ngStyle]="{ backgroundColor: entity.color, color: 'black', cursor: 'pointer' }"
                        (click)="entityType = entity.name; entityTypeSelect.close()" selected>
                {{entity.name}}
              </mat-chip>
            </mat-chip-list>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlexOffset="12px">Click on icons to search for URLs to identify entity:</div>

    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center" fxFlexOffset="8px">
      <a href="https://www.ncbi.nlm.nih.gov/gene/?term={{data.allText}}" target="_blank">
        <img src="assets/images/ncbi.png" class="annotation-panel-icon">
      </a>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <input matInput placeholder="https://ncbi.nlm.nih.gov/gene/<id>" name="ncbiLink" [(ngModel)]="links.ncbi" #ncbiLink="ngModel" pattern="^https?:\/\/.*">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
      <a href="https://www.uniprot.org/uniprot/?query={{data.allText}}&sort=score" target="_blank">
        <img src="assets/images/uniprot.png" class="annotation-panel-icon">
      </a>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <input matInput placeholder="https://uniprot.org/uniprot/<id>" name="uniprotLink" [(ngModel)]="links.uniprot" #uniprotLink="ngModel" pattern="^https?:\/\/.*">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
      <a href="https://www.google.com/search?q=site:+wikipedia.org+{{data.allText}}" target="_blank">
        <img src="assets/images/wikipedia.png" class="annotation-panel-icon">
      </a>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <input matInput placeholder="https://wikipedia.org/..." name="wikipediaLink" [(ngModel)]="links.wikipedia" #wikipediaLink="ngModel" pattern="^https?:\/\/.*">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
      <a href="https://www.google.com/search?q={{data.allText}}" target="_blank">
        <img src="assets/images/google.png" class="annotation-panel-icon">
      </a>
      <mat-form-field appearance="outline" class="annotation-panel-form-field">
        <input matInput placeholder="https://..." name="googleLink" [(ngModel)]="links.google" #googleLink="ngModel" pattern="^https?:\/\/.*">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button mat-dialog-close color="primary">Cancel</button>
    <button mat-button color="primary" (click)="createAnnotation()" [disabled]="!data.text || !entityType || ncbiLink.invalid || uniprotLink.invalid || wikipediaLink.invalid || googleLink.invalid">Create</button>
  </mat-dialog-actions>
</div>
