app-annotation-panel {
  .annotation-panel-container {
    font-size: 14px;
  }
  
  .annotation-panel-icon {
    width: 28px;
    height: 28px;
  }

  .annotation-panel-form-field {
    width: 300px;
    .mat-form-field-wrapper { padding-bottom: 0; }
    .mat-form-field-infix { border-top: 0; padding: 8px 0 8px 0; }
    .mat-form-field-outline { top: 0 !important; }
  }
}
