@import 'variables';
@import '~bootstrap/scss/mixins';

$search-accent-color: $red;
$selection-accent-color: #ff0;
$node-label-shadow: #bbb;
$active-node-label-shadow: rgb(187, 187, 187);
$input-spacing: map-get($spacers, 2);

@mixin advanced-panel {
  form {
    text-align: left;

    label {
      margin-bottom: 0;
    }

    [type=checkbox] {
      align-self: center;
      margin-right: $input-spacing;
    }

    [ngbbuttonlabel] {
      flex-grow: 1;
    }

    > *, .form-group {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &:before {
        width: 100%;
        clear: both;
        content: '';
        display: block;
        @include nav-divider($dropdown-divider-bg, $dropdown-divider-margin-y, true);
      }

      > * {
        // align with button presets
        padding: $btn-padding-y $btn-padding-x;
        text-align: left;
      }
    }

    > [ngbradiogroup] {
      padding-left: $btn-padding-x;

      div {
        padding-left: 0;
        width: 100%;
      }
    }
  }

  .scrollbar-with-value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    :first-child {
      margin-right: $input-spacing;
    }

    :last-child {
      flex-grow: 1;
      margin-left: $input-spacing;
      margin-right: $input-spacing;
    }
  }
}
