<ng-container *ngIf="(loadTask.status$ | async) as status">
  <ng-container *ngIf="status.failedErrorShown; else noError">
    <div class="module-section">
      <div class="module-section-header">
        <h2 class="module-section-header-title">Associated Maps</h2>
      </div>

      <div class="module-section-body">
        <app-module-error [error]="status.error">
          <button class="btn btn-primary" type="button" (click)="refresh()">Retry</button>
        </app-module-error>
      </div>
    </div>
  </ng-container>

  <ng-template #noError>
    <ng-container *ngIf="status.placeholdersShown">
      <div class="module-section">
        <div class="module-section-header">
          <h2 class="module-section-header-title"><span class="placeholder-box">Loading loading</span></h2>
        </div>

        <div class="module-section-body">
          <div class="mb-3">
            <span class="placeholder-box">Loading loading loading loading</span>
          </div>

          <div class="tile-deck">
            <div *ngFor="let p of [0, 1, 2]" class="tile d-flex flex-column justify-content-center align-items-center">
              <div class="flex-fill d-flex align-items-center">
            <span class="placeholder-box">
              <i class="fas fa-layer-group fa-4x"></i>
            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="status.resultsShown">
      <div class="module-section">
        <div class="module-section-header">
          <h2 class="module-section-header-title">Associated Maps</h2>
        </div>

        <div class="module-section-body">
          <ng-container *ngIf="results.length; else noMapResults">
            <div class="tile-deck">
              <div *ngFor="let map of results.view" class="tile d-flex flex-column">
                <div class="flex-fill d-flex justify-content-center align-items-center my-2">
                  <a [appLink]="['/projects', map.project_name, 'maps', map.hash_id, 'edit']"
                     [newTab]="true"
                     class="text-muted">
                    <i class="fa faw fa-project-diagram fa-2x"></i>
                  </a>
                </div>
                <div class="text-truncate text-center">
                  <a [appLink]="['/projects', map.project_name, 'maps', map.hash_id, 'edit']"
                     [newTab]="true"
                     class="d-block text-truncate">
                    <strong>{{ map.label }}</strong>
                  </a>
                </div>
                <div class="text-truncate text-center">By {{ map.author }}</div>
              </div>
              <!-- TODO: Disabling this for now, might be misleading to create a new map here because it may not show up in this list later -->
              <!-- <div class="tile d-flex flex-column text-primary">
                <div class="flex-fill d-flex justify-content-center align-items-center my-2">
                  <i class="fa fa-plus fa-4x"></i>
                </div>
                <div class="text-truncate text-center">
                  <strong>Create New Map</strong>
                </div>
              </div> -->
            </div>
          </ng-container>

          <ng-template #noMapResults>
            <div class="my-4">
              There are no maps associated with this file.
            </div>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
