<form (ngSubmit)="changePassword()" [formGroup]="form">
  <app-form-row [control]="form.get('oldPassword')" for="old-password" label="Old Password">
    <input [appFormInput]="form.get('oldPassword')" appAutoFocus formControlName="oldPassword" id="old-password"
           type="password">
  </app-form-row>

  <app-form-row [control]="form.get('password')" for="password" label="Password">
    <input [appFormInput]="form.get('password')" formControlName="password" id="password" type="password">
  </app-form-row>

  <app-form-row [control]="form.get('passwordConfirm')" [errors]="errors" for="confirm-password"
                label="Confirm Password">
    <input [appFormInput]="form.get('passwordConfirm')" formControlName="passwordConfirm" id="confirm-password"
           type="password">
  </app-form-row>

  <div class="mt-4">
    <button class="btn btn-primary" type="submit">
      Change Password
    </button>
  </div>
</form>
