<mat-toolbar>User Settings</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
  <div>
    <mat-tab-group>
      <mat-tab label="Profile">
        <app-user-profile [user]="currentUsers$ | async"></app-user-profile>
      </mat-tab>
      <mat-tab label="Security">
        <app-user-security [user]="currentUsers$ | async" (changePassReq)="changePassword($event)"></app-user-security>
      </mat-tab>
      <mat-tab label="Projects">
        Projects will go here
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
