#root-menu {
    display: none;
}

#single-node-selection-group-1-submenu {
    display: none;
}

#pull-out-node-from-cluster-submenu {
  display: none;
}

.context-menu {
    background: #D4E2F4;
    border-radius: 2px;
    border: thin solid #C9CACC;
}

.context-menu-group {
    border-bottom: thin solid #C9CACC;
    color: #5B6A80;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
}

.context-menu-item {
    height: 15px;
    padding: 0 8px 0 20px;
    text-align: left;
    vertical-align: middle;
}
.context-menu-item:hover {
    background: #C5C6C7;
}

.fade-out {
    animation: fadeOut ease .2s forwards;
    -webkit-animation: fadeOut ease .2s forwards;
    -moz-animation: fadeOut ease .2s forwards;
    -o-animation: fadeOut ease .2s forwards;
    -ms-animation: fadeOut ease .2s forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}