<!-- Root Context Menus -->
<div id="***ARANGO_USERNAME***-menu" [ngClass]="contextMenuClass">
  <div *ngIf="selectedClusterNodeData.length > 0">
    <div id="cluster-node-selection-group-1" class="context-menu-group">
      <div id="pull-out-node-from-cluster-menu-item" class="context-menu-item" fxLayout="row" fxLayoutAlign="space-between center" (mouseenter)="showPullOutNodeSubMenu()" (mouseleave)="mouseLeaveNodeRow()">
        <div>Pull out node from cluster</div>
        <mat-icon>arrow_right</mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="!((selectedNodeIds.length === 1 && selectedEdgeIds.length === 0) || (selectedNodeIds.length === 0 && selectedEdgeIds.length === 1)); else singleSelection">
    <div *ngIf="selectedNodeIds.length > 0">
      <ng-template [ngTemplateOutlet]="nodeSelectionGroup"></ng-template>
    </div>
    <div *ngIf="selectedEdgeIds.length > 0">
      <ng-template [ngTemplateOutlet]="edgeSelectionGroup"></ng-template>
    </div>
  </div>
  <ng-template #singleSelection>
    <div *ngIf="selectedNodeIds.length === 1; else singleSelectedEdge">
      <div id="single-node-selection-group-1" class="context-menu-group">
        <div id="select-neighbors-menu-item" class="context-menu-item" (mouseenter)="hideAllSubMenus()" (click)="requestNeighborSelection()">Select Neighbor Node(s)</div>
        <div *ngIf="selectedNodeEdgeLabelData.size > 0" fxLayout="column">
            <div id="group-by-rel-menu-item" class="context-menu-item" fxLayout="row" fxLayoutAlign="space-between center" (mouseenter)="showGroupByRelSubMenu()" (mouseleave)="mouseLeaveNodeRow()">
              <div>Group neighbors by edge label</div>
              <mat-icon>arrow_right</mat-icon>
            </div>
        </div>
      </div>
      <ng-template [ngTemplateOutlet]="nodeSelectionGroup"></ng-template>
    </div>
    <ng-template #singleSelectedEdge>
      <div *ngIf="selectedEdgeIds.length === 1">
        <ng-template [ngTemplateOutlet]="edgeSelectionGroup"></ng-template>
      </div>
    </ng-template>
  </ng-template>
  <div id="settings-group" class="context-menu-group">
    <div class="context-menu-item" (mouseenter)="hideAllSubMenus()">Settings</div>
  </div>
</div>

<!-- Templates -->
<ng-template #nodeSelectionGroup>
  <div id="node-selection-group" class="context-menu-group">
    <div id="remove-selected-nodes-menu-item" class="context-menu-item" (mouseenter)="hideAllSubMenus()" (click)="requestNodeRemoval()">Remove Selected Node(s)</div>
  </div>
</ng-template>

<ng-template #edgeSelectionGroup>
  <div id="edge-selection-group" class="context-menu-group">
    <div id="remove-selected-edges-menu-item" class="context-menu-item" (mouseenter)="hideAllSubMenus()" (click)="requestEdgeRemoval()">Remove Selected Edge(s)</div>
  </div>
</ng-template>

<!-- Submenus (these are tooltips, so they should be floating around -- invisible -- until their mouseover events are called -->
<div id="single-node-selection-group-1-submenu" [ngClass]="subMenuClass">
  <div class="context-menu-group">
    <div *ngFor="let edgeLabelData of selectedNodeEdgeLabelData | keyvalue">
      <div class="context-menu-item" *ngFor="let direction of edgeLabelData.value" (click)="requestGroupByRelationship(edgeLabelData.key, direction)">{{ edgeLabelData.key }} -- ({{ direction }})</div>
    </div>
  </div>
</div>

<div id="pull-out-node-from-cluster-submenu" [ngClass]="subMenuClass">
  <div class="context-menu-group">
    <div *ngFor="let clusteredNode of selectedClusterNodeData">
      <div class="context-menu-item" (click)="requestPullNodeFromCluster(clusteredNode)">{{clusteredNode.displayName}}</div>
    </div>
  </div>
</div>
