<!-- Root Context Menus -->
<div id="root-menu" [ngClass]="contextMenuClass">
  <div *ngIf="(selectedNodeIds.length > 1 || selectedEdgeIds.length > 1) || (selectedNodeIds.length === 1 && selectedEdgeIds.length === 1); else singleSelection">
    <div *ngIf="selectedNodeIds.length > 0">
      <ng-template [ngTemplateOutlet]="nodeSelectionGroup"></ng-template>
    </div>
    <div *ngIf="selectedEdgeIds.length > 0">
      <ng-template [ngTemplateOutlet]="edgeSelectionGroup"></ng-template>
    </div>
    <ng-template [ngTemplateOutlet]="settingsGroup"></ng-template>
  </div>
  <ng-template #singleSelection>
    <div *ngIf="selectedNodeIds.length === 1; else singleSelectedEdge">
      <div *ngIf="selectedNodeEdgeLabels.validLabels.size > 0; else noSelectionContextMenu" id="entity-selection-context-menu" fxLayout="column">
        <div id="single-node-selection-group-1" class="context-menu-group">
          <div id="group-by-rel-menu-item" class="context-menu-item" fxLayout="row" fxLayoutAlign="space-between center" (mouseenter)="showGroupByRelSubMenu()">
            <div>Group neighbors by edge label</div>
            <mat-icon>arrow_right</mat-icon>
          </div>
        </div>
      </div>
      <ng-template [ngTemplateOutlet]="nodeSelectionGroup"></ng-template>
      <ng-template [ngTemplateOutlet]="settingsGroup"></ng-template>
    </div>
    <ng-template #singleSelectedEdge>
      <div *ngIf="selectedEdgeIds.length === 1; else noSelectionContextMenu">
        <ng-template [ngTemplateOutlet]="edgeSelectionGroup"></ng-template>
        <ng-template [ngTemplateOutlet]="settingsGroup"></ng-template>
      </div>
    </ng-template>
  </ng-template>
</div>

<!-- Templates -->
<ng-template #noSelectionContextMenu>
  <div id="no-selection-context-menu" [ngClass]="contextMenuClass" fxLayout="column">
    <ng-template [ngTemplateOutlet]="settingsGroup"></ng-template>
  </div>
</ng-template>

<ng-template #settingsGroup>
  <div class="context-menu-group">
    <div class="context-menu-item" (mouseenter)="hideAllSubMenus()">Settings</div>
  </div>
</ng-template>

<ng-template #nodeSelectionGroup>
  <div class="context-menu-group">
    <div class="context-menu-item" (mouseenter)="hideAllSubMenus()" (click)="requestNodeRemoval()">Remove Selected Node(s)</div>
  </div>
</ng-template>

<ng-template #edgeSelectionGroup>
  <div class="context-menu-group">
    <div class="context-menu-item" (mouseenter)="hideAllSubMenus()" (click)="requestEdgeRemoval()">Remove Selected Edge(s)</div>
  </div>
</ng-template>

<!-- Submenus (these are tooltips, so they should be floating around -- invisible -- until their mouseover events are called -->
<div id="single-node-selection-group-1-submenu" [ngClass]="subMenuClass">
  <div class="context-menu-group">
    <div class="context-menu-item" *ngFor="let rel of selectedNodeEdgeLabels.validLabels" (click)="requestGroupByRelationship(rel)">{{ rel }}</div>
    <div class="context-menu-item invalid-edge-label" *ngFor="let rel of selectedNodeEdgeLabels.invalidLabels">{{ rel }}</div>
  </div>
</div>
