#root-menu {
    display: none;
}

.context-menu {
    background: #D4E2F4;
    border-radius: 2px;
    border: thin solid #C9CACC;
    display: none;
}

.context-menu-group {
    border-bottom: thin solid #C9CACC;
    color: #5B6A80;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    width: 100%
}

.context-menu-item {
    height: 15px;
    padding: 0 8px 0 20px;
    text-align: left;
    vertical-align: middle;
}
.context-menu-item:hover {
    background: #C5C6C7;
}

#group-1-submenu {
    display: none;
}
