Dockerfile
**/__pycache__
**/*.pyc
**/.cache
**/.mypy_cache
**/services/annotations/lmdb/**/*.mdb
**/services/annotations/datasets/*.csv
**/services/annotations/datasets/*.tsv
**/*.tar.ggz
**/*.env
*.git*
