// Constants used to style baseView
@import '../../utils/nodeColors';
@import 'shared/styles/EdgeColorCode';
@import 'sankey';

$active-opacity: 1;
$darken-link-stroke: 5%;
$link-lightness: 65%;
$link-color: hsl(0, 0, $link-lightness);
$inactive-colour: lighten($link-color, 25%);
$inactive-opacity: .1;
$link-saturation: 30%;

$link-colors: (
        left: rgb(163, 200, 219),
        right: rgb(255, 226, 149),
        multiple: hsl(180, $link-saturation, $link-lightness),
);
