<app-search-graph></app-search-graph>
<app-visualization-canvas
  *ngIf="networkGraphData && !hideDisplay"
  [nodes]="nodes"
  [edges]="edges"
  [expandNodeResult]="expandNodeResult"
  [getEdgeSnippetsResult]="getEdgeSnippetsResult"
  [getClusterSnippetsResult]="getClusterSnippetsResult"
  [legend]="legend"
  [config]="networkGraphConfig"
  (expandNode)="expandNode($event)"
  (finishedPreClustering)="finishedPreClustering($event)"
  (getSnippetsForEdge)="getSnippetsForEdge($event)"
  (getSnippetsForCluster)="getSnippetsForCluster($event)"
></app-visualization-canvas>
