$edge-color-map: (
  activates: rgb(83, 152, 70),
  inhibits: rgb(251, 14, 53)
);

//Example mapping
//@mixin data-type() {
//  @each $type, $color in $edge-color-map {
//    &[data-type=#{$type}] {
//      border: $edge-default-width solid darken($color, 25%);
//      stroke-width: $edge-default-width;
//      stroke: $color;
//    }
//  }
//}

