$edge-color-map: (
        activates: #4C5BA8,
        inhibits: #ABF56E,
        produces: #8698F5,
        consumed_by: #F5B49F,
        component_of: #7AA854
);

//Example mapping
//@mixin data-type() {
//  @each $type, $color in $edge-color-map {
//    &[data-type=#{$type}] {
//      border: $edge-default-width solid darken($color, 25%);
//      stroke-width: $edge-default-width;
//      stroke: $color;
//    }
//  }
//}

