@use "variables";

app-xml-annotation {
  user-select: text;

  // restyle tooltip to match old implementation
  ngb-tooltip-window.tooltip {
    opacity: 1 !important;
    padding: 0;

    .arrow {
      display: none;
    }

    .tooltip-inner {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: variables.$popover-box-shadow;
      color: black;
      overflow: auto;
      padding: 0;
      text-align: left;
      width: 200px;
    }
  }
}
