@import 'src/scss/variables';

.button-divider {
  border-top: 1px solid rgba($white, .2);
}

.vertical-nav {
  z-index: 1045;
}

footer {
  align-items: baseline;
  background: $gray-300;
  border-top: 1px solid $gray-500;
  box-shadow: 0 -2px 10px rgba($gray-700, .15);
  display: flex;
  font-size: $font-size-sm;
  gap: 1.5em;
  justify-content: flex-end;
  line-height: 1;
  padding: .2em 1.5em;

  .logo {
    height: 1.3em;
    opacity: .7;
    vertical-align: text-bottom;
    width: 1.3em;
  }
}
