<div class="d-flex w-100 h-100">
  <!-- Left menu -->
  <div class="vertical-nav d-flex flex-column flex-wrap overflow-auto flex-shrink-0">
    <!-- Top buttons -->
    <div class="d-flex flex-column">
      <!-- If a file is in standalone mode, workbench button opens it as tab -->
      <ng-container *ngIf="isStandaloneFileOpen; else goToWorkbench">
        <a
          [appLink]="mainUrl"
          [forceWorkbench]="true"
          [fragment]="fragment"
          [newTab]="true"
          [queryParams]="queryParams"
          ngbTooltip="Workbench"
          placement="right"
          preferPane="left"
        >
          <i class="far fa-window-restore"></i>
        </a>
      </ng-container>
      <ng-template #goToWorkbench>
        <a ngbTooltip="Workbench" placement="right" routerLink="/workspaces/local">
          <i class="far fa-window-restore"></i>
        </a>
      </ng-template>
      <!-- TODO: Something odd is happening when OAuth is enabled and these `appLink` links are clicked when the user is not logged in. For
        some reason a bunch of redirects happen all at once, rather than just one single redirect. -->
      <a
        [forceWorkbench]="true"
        [newTab]="true"
        appLink="/projects"
        matchExistingTab="/projects$"
        ngbTooltip="File Browser"
        placement="right"
        preferPane="left"
      >
        <i class="fa fa-folder"></i>
      </a>
      <a
        [forceWorkbench]="true"
        [newTab]="true"
        appLink="/search/graph"
        matchExistingTab="/search/graph$"
        ngbTooltip="Knowledge Graph"
        placement="right"
        preferPane="left"
      >
        <i class="fas fa-chart-network"></i>
      </a>
      <a
        [forceWorkbench]="true"
        [newTab]="true"
        appLink="/search/content"
        matchExistingTab="/search/content$"
        ngbTooltip="Search"
        placement="right"
        preferPane="left"
      >
        <i class="fa fa-search"></i>
      </a>
      <a ngbTooltip="Starred Content" placement="right" routerLink="/files/starred">
        <i class="fas fa-star"></i>
      </a>
      <div class="button-divider"></div>
      <!-- Hiding this for now, we'll re-enable it once we have a view for imported data -->
      <!-- <a routerLink="/kg-import" placement="right" ngbTooltip="Knowledge Graph Import">
        <i class="fa fa-cloud-upload"></i>
      </a> -->
      <a
        ngbTooltip="Pathway Browser Prototype"
        placement="right"
        routerLink="/pathway-browser-prototype"
      >
        <i class="fas fa-drafting-compass"></i>
      </a>
      <a ngbTooltip="Knowledge Graph Statistics" placement="right" routerLink="kg-statistics">
        <i class="fas fa-chart-bar"></i>
      </a>
    </div>
    <!-- /Top buttons -->

    <!-- Bottom buttons -->
    <div class="d-flex flex-column mt-auto">
      <a
        [href]="helpDeskUrl"
        ngbTooltip="Feedback and Questions"
        placement="right"
        target="_blank"
        triggers="hover"
      >
        <i class="fa fa-comment"></i>
      </a>

      <div container="body" ngbDropdown placement="top-left">
        <a
          container="body"
          id="terms-and-policies-dropdown"
          ngbDropdownToggle
          ngbTooltip="Terms & Policies"
        >
          <i class="far fa-file-contract"></i>
        </a>
        <div aria-labelledby="terms-and-policies-dropdown" class="dropdown-menu" ngbDropdownMenu>
          <a [routerLink]="['/terms-and-conditions']" class="dropdown-item" placement="right">
            Terms & Conditions
          </a>
          <a [routerLink]="['/privacy-policy']" class="dropdown-item" placement="right">
            Privacy Policy
          </a>
          <a [routerLink]="['/cookie-policy']" class="dropdown-item" placement="right">
            Cookie Policy
          </a>
          <a
            [routerLink]="['/copyright-infringement-policy']"
            class="dropdown-item"
            placement="right"
          >
            Copyright Infringement Policy
          </a>
        </div>
      </div>

      <ng-container *ngIf="loggedIn$ | async; else loggedOut">
        <div container="body" ngbDropdown placement="top-left">
          <a container="body" id="account-dropdown" ngbDropdownToggle ngbTooltip="Options">
            <i class="fa fa-user"></i>
          </a>
          <div aria-labelledby="account-dropdown" class="dropdown-menu" ngbDropdownMenu>
            <a (click)="buildInfo()" class="dropdown-item" placement="right"> Lifelike Info </a>
            <a
              *ngIf="(userRoles$ | async)?.includes('admin')"
              [routerLink]="['/admin']"
              class="dropdown-item"
              placement="right"
            >
              Administration
            </a>
            <a (click)="downloadManual()" class="dropdown-item" placement="right"> User Guide </a>
            <a
              [routerLink]="['/users', (appUser$ | async)?.username]"
              class="dropdown-item"
              placement="right"
            >
              Account
            </a>
            <a (click)="logout()" class="dropdown-item" placement="right"> Logout </a>
          </div>
        </div>
      </ng-container>
      <ng-template #loggedOut>
        <a (click)="login()" ngbTooltip="Login" placement="right">
          <i class="fas fa-user"></i>
        </a>
      </ng-template>
    </div>
    <!-- /Bottom buttons -->
  </div>
  <!-- /Left menu -->

  <!-- Module content -->
  <div class="flex-fill overflow-hidden flex-column d-flex mw-0">
    <router-outlet></router-outlet>

    <footer>
      <span>
        This project uses code provided by
        <img alt="Lifelike Logo" class="logo" src="/favicon.ico" />
        <a href="https://***ARANGO_DB_NAME***.bio" rel="noopener" target="_blank"> Lifelike.bio </a>
      </span>
      <a
        class="github-button"
        href="https://github.com/SBRG/***ARANGO_DB_NAME***"
        data-color-scheme="no-preference: light; light: light; dark: light;"
        aria-label="Lifelike Open Source Git Repository"
      >
        View on GitHub
      </a>
    </footer>
  </div>
  <!-- /Module content -->
</div>
