<div class="d-flex w-100 h-100">
  <!-- Left menu -->
  <div class="vertical-nav d-flex flex-column flex-wrap overflow-auto flex-shrink-0">
    <!-- Top buttons -->
    <div class="d-flex flex-column">
      <a routerLink="/" placement="right" ngbTooltip="Dashboard">
        <i class="fa fa-home"></i>
      </a>
      <a routerLink="/space/mine" placement="right" ngbTooltip="Workspace">
        <i class="fa fa-columns"></i>
      </a>
      <a routerLink="/file-browser" placement="right" ngbTooltip="File Browser">
        <i class="fa fa-folder"></i>
      </a>
      <a routerLink="/dt/project-list" placement="right" ngbTooltip="Knowledge Construction">
        <i class="fas fa-project-diagram"></i>
      </a>
      <a routerLink="/neo4j-visualizer" placement="right" ngbTooltip="KG Visualizer">
        <i class="fa fa-search"></i>
      </a>
      <a routerLink="kg-statistics" placement="right" ngbTooltip="Knowledge Graph Statistics">
        <i class="fa fa-tachometer-alt"></i>
      </a>
    </div>
    <!-- /Top buttons -->

    <!-- Bottom buttons -->
    <div class="d-flex flex-column mt-auto">
      <a href="https://main.biosustain.dtu.dk" target="_blank" placement="right" ngbTooltip="Main Menu">
        <i class="fa fa-grip-vertical"></i>
      </a>

      <ng-container *ngIf="(loggedIn$ | async); else loggedOut">
        <a *ngIf="(userRoles$ | async)?.includes('admin')" [routerLink]="['/admin']"
           placement="right" ngbTooltip="Administration">
          <i class="fa fa-wrench"></i>
        </a>
        <a [routerLink]="['/users', (appUser$ | async)?.username]" placement="right" ngbTooltip="Account">
          <i class="fa fa-user"></i>
        </a>
        <a (click)="logout()" placement="right" ngbTooltip="Logout">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </ng-container>
      <ng-template #loggedOut>
        <a (click)="login()" placement="right" ngbTooltip="Login">
          <i class="fas fa-user"></i>
        </a>
      </ng-template>
    </div>
    <!-- /Bottom buttons -->
  </div>
  <!-- /Left menu -->

  <!-- Module content -->
  <div class="flex-fill overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <!-- /Module content -->
</div>
