@import "src/scss/variables";

/* https://www.chartjs.org/docs/latest/general/responsive.html#important-note */
.chart-container {
  height: 35vh;
  position: relative;
}

.graph-card-deck {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: $spacer * 1.5;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
