<ng-container *ngIf="loadTask.status$ | async as status">
  <div appContainerBreakpoints class="module">
    <div class="module-header">
      <div class="module-title-bar">
        <div class="module-title">Knowledge Graph Statistics</div>
      </div>

      <div class="module-toolbar mt-2">
        <button
          (click)="this.refresh()"
          class="btn btn-secondary"
          ngbTooltip="Refresh the results"
          type="button"
        >
          <i class="fa fa-sync"></i> Refresh
        </button>
      </div>
    </div>
    <div class="module-body flex-fill overflow-auto">
      <app-background-task-progress
        (refresh)="this.refresh()"
        [status]="status"
        childClass="mb-4"
      ></app-background-task-progress>

      <ng-container *ngIf="status.placeholdersShown">
        <div class="card">
          <div class="card-header">
            <span class="placeholder-box">Loading loading</span>
          </div>
          <div class="card-body">
            <div class="chart-container"></div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="status.resultsShown">
        <div class="card">
          <div class="card-header">
            Total Number of Nodes
            <span class="badge badge-pill badge-primary ml-1">{{ totalCount | number }}</span>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas
                [colors]="chartColorsDomains"
                [datasets]="chartDataAllDomains"
                [labels]="chartLabelsDomains"
                [legend]="false"
                [options]="chartOptions"
                [plugins]="chartPlugins"
                baseChart
                chartType="horizontalBar"
              >
              </canvas>
            </div>
          </div>
        </div>

        <div class="graph-card-deck mt-4">
          <ng-container *ngFor="let data of chartDataEntitiesByDomain | keyvalue">
            <div class="card mt-4">
              <div class="card-header">
                {{ data.key }}
              </div>
              <div class="card-body">
                <div class="chart-container">
                  <canvas
                    [colors]="chartColorsEntitiesByDomain[data.key]"
                    [datasets]="data.value"
                    [labels]="chartLabelsEntitiesByDomain[data.key]"
                    [legend]="false"
                    [options]="chartOptions"
                    [plugins]="chartPlugins"
                    baseChart
                    chartType="bar"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
