<div class="module module-centered">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">
        Welcome
      </div>
    </div>
  </div>

  <div class="module-body">
    <div>
      This is a temporary welcome page.
    </div>
    <div class="mt-4">
      <button type="button" class="btn btn-secondary" appLink="/file-browser">
        File Browser
      </button>
      <button type="button" class="btn btn-secondary ml-1" appLink="/dt/project-list">
        Knowledge Reconstruction
      </button>
      <button type="button" class="btn btn-secondary ml-1" appLink="/neo4j-visualizer">
        KG Visualizer
      </button>
      <button type="button" class="btn btn-secondary ml-1" appLink="/admin">
        Admin
      </button>
    </div>
  </div>
</div>
