.toolbar {
    position: relative;
    padding-top: 7px;
    height: 27px;
    background-color: #726565;
    text-align: center;
}

.toolbar-control {
    fill: white;
    color: white;
    display: inline-block;
    cursor: pointer;
}