<ng-container *ngFor="let detailView of details$ | async">
    <app-sankey-node-details
            *ngIf="detailView.type === SelectionType.node"
            [entity]="detailView.entity"
    ></app-sankey-node-details>
    <app-sankey-multi-lane-link-details
            *ngIf="detailView.type === SelectionType.link"
            [entity]="detailView.entity"
    ></app-sankey-multi-lane-link-details>
    <app-sankey-trace-details
            *ngIf="detailView.type === SelectionType.trace"
            [entity]="detailView.entity"
    ></app-sankey-trace-details>
</ng-container>



