<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <div class="form-group">
      <div class="input-group">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0">
          <i class="fa fa-search"></i>
        </div>
      </span>
        <input class="form-control py-2 pl-0 border-left-0 border" formControlName="q"
               placeholder="Search">
        <button type="submit" class="btn btn-primary ml-1"><i class="fa fa-search"></i></button>
      </div>

      <app-form-input-feedback [control]="form.get('q')"></app-form-input-feedback>
    </div>
  </div>
</form>
