<ng-container *ngIf="loadTask.status$ | async as status">
  <div appContainerBreakpoints class="module">
    <div class="module-header">
      <div class="module-toolbar mt-2">
        <ng-container *ngIf="searchTypes">
          <app-content-search-form
            (formResult)="search($event)"
            [(queryString)]="queryString"
            class="w-100"
          >
          </app-content-search-form>
        </ng-container>
      </div>
      <div class="d-flex w-100 justify-content-start">
        <div (click)="openAdvancedSearch()" class="btn btn-link p-0 mr-3">Advanced Search</div>
        <div (click)="openSynonymSearch()" class="btn btn-link p-0">Find Synonyms</div>
      </div>
    </div>

    <div class="module-body-split module-body-preview-split overflow-auto">
      <div #body class="module-body-split-main overflow-auto">
        <ng-container *ngIf="!valid; else searchEntered">
          <div class="module-body">
            <div class="text-center my-4 px-4">Please enter a query in the search box above.</div>
          </div>
        </ng-container>

        <ng-template #searchEntered>
          <ng-container *ngIf="status.placeholdersShown">
            <div class="module-body">
              <div class="mb-3">
                <span class="placeholder-box">Showing 10 of 20 results</span>
              </div>

              <div class="search-results">
                <div class="search-results-item">
                  <h5 class="search-results-item-title">
                    <span class="placeholder-box">Loading loading</span>
                  </h5>
                  <div class="search-results-item-body">
                    <div>
                      <span class="placeholder-box">Loading loading loading</span>
                    </div>
                    <div class="mt-2">
                      <span class="placeholder-box">Loading loading loading loading</span>
                    </div>
                  </div>
                </div>

                <div class="search-results-item">
                  <h5 class="search-results-item-title">
                    <span class="placeholder-box">Loading load loading</span>
                  </h5>
                  <div class="search-results-item-body">
                    <div>
                      <span class="placeholder-box">Loading loading</span>
                    </div>
                    <div class="mt-2">
                      <span class="placeholder-box">Loading loading loading load loading</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="status.resultsShown">
            <ng-container *ngIf="results.length; else noResults">
              <div class="module-body text-muted">
                <div class="mb-3">
                  <app-results-summary
                    [collectionSize]="collectionSize"
                    [pageSize]="params.limit"
                    [page]="params.page"
                  ></app-results-summary>
                </div>

                <div class="search-results search-results-selectable">
                  <div
                    (appTabSelectable)="results.select(result)"
                    (dragstart)="itemDragStart($event, result.item)"
                    *ngFor="let result of results.view$ | async"
                    [class.active]="results.isSelected(result)"
                    class="search-results-item"
                    draggable="true"
                  >
                    <div
                      [title]="getBreadCrumbsTitle(result.item.parent)"
                      class="text-truncate mb-1"
                    >
                      <app-object-path
                        [newTab]="true"
                        [object]="result.item.parent"
                      ></app-object-path>
                    </div>
                    <div class="search-results-item-header text-truncate">
                      <h5 [style.padding]="'1px 0'" class="text-truncate">
                        <app-file-type-label
                          [object]="result.item"
                          [showLabel]="false"
                          class="mr-1"
                        ></app-file-type-label>
                        <a
                          (dragstart)="itemDragStart($event, result.item, true)"
                          [appLink]="result.item.getCommands(false)"
                          [newTab]="true"
                          [sideBySide]="true"
                        >
                          <app-term-highlight
                            [highlightOptions]="highlightOptions"
                            [highlightTerms]="highlightTerms"
                            [text]="result.item.name"
                          ></app-term-highlight>
                        </a>
                      </h5>
                    </div>
                    <div class="mt-2 text-truncate">
                      <i
                        >Created by
                        <app-user [user]="result.item.user"></app-user>
                        on {{ result.item.creationDate | date : "fullDate" }}</i
                      >
                    </div>
                    <div class="mt-2 paragraph-truncate-3">
                      <app-term-highlight
                        [highlightOptions]="highlightOptions"
                        [highlightTerms]="highlightTerms"
                        [text]="result.item.description"
                      ></app-term-highlight>
                    </div>
                    <ng-container *ngIf="result.item.highlight">
                      <div class="dropdown-divider"></div>
                      <div class="mt-2 paragraph-truncate-3">
                        <app-highlight-text
                          [appInnerXML]="result.item.highlight[0]"
                        ></app-highlight-text>
                      </div>
                      <div class="d-flex align-items-center justify-content-end">
                        <a *ngIf="result.item.doi" [href]="result.item.doi" target="_blank"
                          >DOI Link</a
                        >
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="mt-4">
                  <ngb-pagination
                    (pageChange)="goToPage($event)"
                    [collectionSize]="collectionSize"
                    [pageSize]="params.limit"
                    [page]="params.page"
                  ></ngb-pagination>
                </div>
              </div>
            </ng-container>
            <ng-template #noResults>
              <div *ngIf="emptyParams" class="module-body">
                <div class="text-center my-4 px-4">
                  Please enter a query in the search box above.
                </div>
              </div>
              <div *ngIf="!emptyParams" class="module-body">
                <div class="text-center my-4 px-4">No records match your current filters.</div>
              </div>
            </ng-template>
          </ng-container>
        </ng-template>
      </div>
      <div class="module-body-split-sidebar">
        <ng-container *ngIf="results.selectionLength$ | async">
          <app-object-info
            (highlightClick)="highlightClicked(firstSelection.item, $event)"
            (highlightDisplayLimitChange)="
              highlightDisplayLimitChanged(firstSelection.item, $event)
            "
            *ngIf="results.firstSelection$ | async as firstSelection"
            [forEditing]="false"
            [object]="firstSelection.item"
            (objectOpen)="openObject($event)"
            [highlightTerms]="highlightTerms"
          ></app-object-info>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
