<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <div class="input-group">
    <span class="input-group-prepend">
      <div class="input-group-text bg-transparent border-right-0">
        <i class="fa fa-search"></i>
      </div>
    </span>
      <input class="form-control py-2 pl-0 border-left-0 border" formControlName="q"
             placeholder="Search">
    </div>

    <app-form-input-feedback [control]="form.get('q')"></app-form-input-feedback>
  </div>

  <div class="mt-2">
    <div class="d-flex w-100">
      <div class="form-group d-flex align-items-start mb-0">
        <label class="my-0 mr-2 mt-2" for="mime-types">
          File Types:
        </label>
        <div class="d-flex flex-column">
          <app-select (touch)="form.get('mimeTypes').markAsTouched()" (valuesChange)="form.get('mimeTypes').setValue($event)" [choiceLabel]="choiceLabel"
                      [choices]="typeChoices" [values]="form.value.mimeTypes"
                      formId="mime-types"
                      style="width: 200px">
          </app-select>

          <app-form-input-feedback [control]="form.get('types')"></app-form-input-feedback>
        </div>
      </div>

      <div class="ml-auto">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>
