<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <div class="input-group">
    <span class="input-group-prepend">
      <div class="input-group-text bg-transparent border-right-0">
        <i class="fa fa-search"></i>
      </div>
    </span>
      <input class="form-control py-2 pl-0 border-left-0 border" formControlName="q"
             placeholder="Search">
    </div>

    <app-form-input-feedback [control]="form.get('q')"></app-form-input-feedback>
  </div>

  <div class="mt-2">
    <div class="d-flex w-100">
      <div class="form-group d-flex align-items-start mb-0">
        <label for="types" class="my-0 mr-2 mt-2">
          File Types:
        </label>
        <div class="d-flex flex-column">
          <app-select formId="types" [choices]="typeChoices" style="width: 200px"
                      [values]="form.value.types" (valuesChange)="form.get('types').setValue($event)"
                      (touch)="form.get('types').markAsTouched()"
                      [choiceLabel]="choiceLabel">
          </app-select>

          <app-form-input-feedback [control]="form.get('types')"></app-form-input-feedback>
        </div>
      </div>

      <div class="ml-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</form>
