.snippet-result {
  white-space: normal;
}

.description {
  width: 480px;
  white-space: pre-line;
  margin-left: 60px;
  color: #838080;
}

.description-title {
  font-weight: 600;
  margin-left: 26px;
  margin-top: 20px;
}

.snippet-panel-header {
  margin-top: 20px;
  margin-left: 26px;
  color: #0c8caa;
  font-weight: bold;
}

.snippet-panel-pub-data {
  margin-top: 20px;
  margin-left: 20px;
}

.snippet-paragraph {
  margin: 20px 40px 0 26px;
}

.snippet-link {
  margin-right: 10px;
}

.panel-button {
  margin-left: 20px;
}

.open-panel {
  color: white;
  background: #0c8caa;

}
