.snippet-result {
  white-space: normal;
}

.description {
  width: 480px;
  white-space: pre-line;
  margin-left: 60px;
  color: #838080;
}

.description-title {
  font-weight: 600;
  margin-left: 26px;
  margin-top: 20px;
}
