<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <div class="input-group">
    <span class="input-group-prepend">
      <div class="input-group-text bg-transparent border-right-0">
        <i class="fa fa-search"></i>
      </div>
    </span>
      <input class="form-control py-2 pl-0 border-left-0 border" formControlName="query"
             placeholder="Search (e.g. Gas Gangrene)">
    </div>

    <app-form-input-feedback [control]="form.get('query')"></app-form-input-feedback>
  </div>

  <div class="mt-2">
    <div class="d-flex w-100 flex-spaced-wrap">
      <div class="form-group d-flex align-items-start mb-0 mr-3">
        <label class="my-0 mr-2 mt-2" for="domain">
          Domains:
        </label>
        <div class="d-flex flex-column">
          <app-select (touch)="form.get('domains').markAsDirty()" (valuesChange)="form.get('domains').setValue($event)" [choiceLabel]="choiceLabel"
                      [choices]="domainChoices" [values]="form.value.domains"
                      formId="domain"
                      style="width: 200px">
          </app-select>

          <app-form-input-feedback [control]="form.get('domains')"></app-form-input-feedback>
        </div>
      </div>

      <div class="form-group d-flex align-items-start mb-0 mr-3">
        <label class="my-0 mr-2 mt-2" for="entity-types">
          Entities:
        </label>

        <div class="d-flex flex-column">
          <app-select (touch)="form.get('entities').markAsDirty()" (valuesChange)="form.get('entities').setValue($event)" [choiceLabel]="choiceLabel"
                      [choices]="entityChoices" [values]="form.value.entities"
                      formId="entity-types"
                      style="width: 200px">
          </app-select>

          <app-form-input-feedback [control]="form.get('entities')"></app-form-input-feedback>
        </div>
      </div>

      <div class="form-group d-flex align-items-start mb-0 mr-3">
        <label class="my-0 mr-2 mt-2" for="organism">
          Organism:
        </label>

        <div class="d-flex flex-column">
          <app-organism-autocomplete
            (organismPicked)="setOrganism($event)"
            [organismTaxId]="organismChoice"
            formId="organism"
          ></app-organism-autocomplete>
        </div>
      </div>

      <div class="ml-auto">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>
