<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle>
    <div class="row-spacer"></div>
    <div class="custom-control custom-checkbox">
      <input
        (change)="itemSelectionToggle(node)"
        [checked]="checklistSelection.isSelected(node)"
        [id]="node.data.id + '-checkbox'"
        class="custom-control-input"
        type="checkbox"
      />
      <label [for]="node.data.id + '-checkbox'" class="custom-control-label">
        <!-- For top-level nodes, show a project icon instead of a folder icon -->
        {{ node.data.trueFilename
        }}<i
          [class]="
            'ml-1 tree-icon ' +
            (node.level === 0 ? 'fas fa-layer-group' : node.data.fontAwesomeIcon)
          "
        ></i>
      </label>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      [attr.aria-label]="'Toggle ' + node.data.trueFilename"
      class="btn rounded-circle row-spacer"
      matTreeNodeToggle
      type="button"
    >
      <i
        [class]="'fas fa-' + (treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right')"
      ></i>
    </button>

    <div class="custom-control custom-checkbox">
      <input
        (change)="itemSelectionToggle(node)"
        [checked]="checklistSelection.isSelected(node)"
        [id]="node.data.id + '-checkbox'"
        class="custom-control-input"
        type="checkbox"
      />
      <label [for]="node.data.id + '-checkbox'" class="custom-control-label">
        {{ node.data.trueFilename
        }}<i
          [class]="
            'ml-1 tree-icon ' +
            (node.level === 0 ? 'fas fa-layer-group' : node.data.fontAwesomeIcon)
          "
        ></i>
      </label>
    </div>
  </mat-tree-node>
</mat-tree>
