<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button type="button" mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node"
                  color="primary"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="itemSelectionToggle(node)">
      {{node.data.trueFilename}}
      <i [class]="node.data.fontAwesomeIcon"></i>
    </mat-checkbox>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button type="button" mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.data.trueFilename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox color="primary"
                  [checked]="checklistSelection.isSelected(node)"
                  [indeterminate]="(descendantsPartiallySelected(node) || (descendantsAllSelected(node)) && !checklistSelection.isSelected(node))"
                  (change)="itemSelectionToggle(node)">
      {{node.data.trueFilename}}
      <i [class]="node.data.fontAwesomeIcon"></i>
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>
