<app-modal-header (cancel)="dismiss()">Advanced Search</app-modal-header>
<app-modal-body>
  <div>
    <p>
      The terms you entered produced a very large number of synoynms. For the purposes of running an efficient
      search, the following synonyms were truncated from each search term:
    </p>
  </div>
  <div style="max-height: 450px; overflow-y: auto;">
    <div *ngFor="let synonym of rejectedSynonyms | keyvalue; let i = index">
      <ul [class]="i === rejectedSynonyms.size - 1 ? 'mb-0' : 'mb-3'">
        <li>
          <strong class="mr-2">{{synonym.key}}:</strong>
          <div *ngFor="let s of synonym.value; let i = index" class="mr-2" style="display: inline-block;">
            {{s + (i < synonym.value.length - 1 ? ';' : '')}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</app-modal-body>
<app-modal-footer>
  <button class="btn btn-secondary" (click)="close()">Close</button>
</app-modal-footer>
