<mat-card class="mat-elevation-z1">
    <mat-card-title>
        <a class='node-url'
           [routerLink]="['/neo4j-visualizer']"
           [queryParams]="{ data: nodeURL }"
        >
        {{ node.node.label }}
        </a>
    </mat-card-title>
    <mat-card-subtitle>
      <span>ID: {{ node.node.data.id }}</span>
      <div *ngIf="node.node.label === 'Gene'">
        <span>Taxonomy ID: {{ node.taxonomyId }}</span>
        <br>
        <span>Taxonomy: {{ node.taxonomyName }}</span>
      </div>
    </mat-card-subtitle>
    <mat-card-content>{{ node.node.displayName }}</mat-card-content>
</mat-card>
