<mat-card>
  <mat-card-title>Showing results for "{{ currentQuery }}"</mat-card-title>
  <mat-card-subtitle>About {{ totalRecords }} results.</mat-card-subtitle>
  <div class="search-record-container">
    <div
      class="search-record"
      *ngFor="let n of nodes; let i = index"
      [ngSwitch]="n.node.label"
    >
      <app-search-record-relationships [node]="n" *ngSwitchCase="'Snippet'">
      </app-search-record-relationships>
      <app-search-record-node [node]="n" [legend]="legend" *ngSwitchDefault>
      </app-search-record-node>
    </div>
  </div>
  <div id="search-show-more-btn" *ngIf="nodes.length < totalRecords">
    <button
      color="primary"
      mat-raised-button
      appVisClickDebounce
      (debounceClick)="getMoreResults()"
    >
      More Results
    </button>
  </div>
</mat-card>
