<div *ngIf="currentQuery !== ''" class="h-100">
  <h3>Showing results for "{{ currentQuery }}"</h3>
  <h6 class="text-muted">Showing {{records.length}} of {{ totalRecords }} results</h6>
  <div class="search-record-container">
    <div
      class="my-2"
      *ngFor="let n of records; let i = index"
      [ngSwitch]="n.node.label"
    >
      <app-search-record-relationships [node]="n" *ngSwitchCase="'Snippet'">
      </app-search-record-relationships>
      <app-search-record-node [node]="n" [legend]="legend" *ngSwitchDefault>
      </app-search-record-node>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3" *ngIf="records.length < totalRecords">
    <button
      class="btn btn-primary"
      appVisClickDebounce
      (debounceClick)="getMoreResults()"
    >More Results</button>
  </div>
</div>
