a.node-url:link,
a.node-url:visited,
a.node-url:active  {
    text-decoration: none;
}

a.node-url:hover {
    text-decoration: underline;
}

.mat-icon {
  font-size: 12px;
}

#publication-container {
    margin-top: 20px;
}

#pub-data-header {
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 5px;
}

#pubid-data-header {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}

#pub-snippet-title {
    margin-bottom: 15px;
}