<div class="card w-100">
  <div class="card-body p-2">
    <h5 class="card-title">
      <a
        [routerLink]="['/neo4j-visualizer']"
        [queryParams]="{ data: nodeURL }"
      >Snippet: {{ node.node.displayName }}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">ID: {{ node.node.data.id }}</h6>

    <div class="card-text">
      <div class="pub-snippet-title">{{ node.node.displayName }}</div>
      <i *ngIf="node.chemical || node.disease">This snippet genarated the following relationship</i>
      <app-node-relationship
          [leftNodeName]="chemicalDisplayName"
          [leftNodeLabel]="chemicalLabel"
          [leftNodeColor]="'rgb(143, 166, 203)'"
          [rightNodeColor]="'rgb(205, 93, 103)'"
          [rightNodeName]="diseaseDisplayName"
          [rightNodeLabel]="diseaseLabel"
          [edge]="node.relationship"
      ></app-node-relationship>
      <div class="publication-container">
        <div>
          <span class="pub-data-header">Publication:</span>
          <a target="_blank" href="{{ PUBMEDURL }}/{{ node.publicationId }}">
            <span>{{ node.publicationTitle }}</span>
            <span *ngIf="node.publicationYear">({{ node.publicationYear }})</span>
          </a>
          <span class="pubid-data-header">PubMed ID:</span>
          <a target="_blank" href="{{ PUBMEDURL }}/{{ node.publicationId }}">
            <span>{{ node.publicationId }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
