<app-modal-header (cancel)="dismiss()">Synonym Search</app-modal-header>
<app-modal-body>
  <div class="mb-4">
    <div>
      <p>
        Enter a term below and click the search button to find synonyms for the term.
      </p>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitSearch()">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control py-2 border" formControlName="q"
                 placeholder="Search (ex: Human)">
          <button type="submit" class="btn btn-primary ml-1"><i class="fa fa-search"></i></button>
        </div>
        <app-form-input-feedback [control]="form.get('q')" [errors]="form.errors"></app-form-input-feedback>
      </div>
    </form>
  </div>

  <div *ngIf="loading">
    <div class="synonym-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Type</th>
            <th scope="col">Full Name</th>
            <th scope="col">Organism</th>
            <th scope="col">Aliases</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><span class="placeholder-box">Loading</span></th>
            <td><span class="placeholder-box">Loading</span></td>
            <td><span class="placeholder-box">Loading</span></td>
            <td><span class="placeholder-box">Loading</span></td>
            <td><span class="placeholder-box">Loading</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="errorMsg">
    <div>
      <p>
        <i class="fas fa-exclamation-circle text-danger"></i>
        {{ errorMsg }}
      </p>
    </div>
  </div>

  <div *ngIf="!loading && !errorMsg && synonymData">
    <div *ngIf="synonymData.length; else noResults">
      <div>
        <p>
          Select any number of rows below and submit to add the terms in the "aliases" column to your content search query. Duplicates will be removed.
        </p>
      </div>
      <div class="synonym-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Select</th>
              <th scope="col">Type</th>
              <th scope="col">Full Name</th>
              <th scope="col">Organism</th>
              <th scope="col">Aliases</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of synonymData; let i = index">
              <th scope="row">
                <div class="custom-control custom-checkbox">
                  <input [id]="'synonym-row-' + i"
                         type="checkbox"
                         class="custom-control-input"
                         [checked]="checklistSelection.isSelected(entity)"
                         (change)="toggleSelection(entity)">
                  <label class="custom-control-label" [for]="'synonym-row-' + i"></label>
                </div>
              </th>
              <!-- TODO: Could add style="white-space: nowrap;" to these to make the rows evenly spaced, but the table is also much longer...should experiment with this -->
              <td>{{ entity.type }}</td>
              <td>{{ entity.fullName }}</td>
              <td>{{entity.organism }}</td>
              <td>
                <div *ngFor="let a of entity.aliases; let j = index" class="mr-2" style="display: inline-block;">
                  {{a + (j < entity.aliases.length - 1 ? ';' : '')}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-4">
        <ngb-pagination
          [page]="page"
          [pageSize]="SYNONYM_SEARCH_LIMIT"
          [collectionSize]="total"
          (pageChange)="goToPage($event)">
        </ngb-pagination>
      </div>
    </div>
    <ng-template #noResults>
      <div>
        <p>
          No synonyms were found for the term "{{ form.value.q }}".
        </p>
      </div>
    </ng-template>
  </div>
</app-modal-body>
<app-modal-footer>
  <button *ngIf="!checklistSelection.isEmpty()" type="submit" class="btn btn-primary" (click)="submit()">Add Selected Synoynms to Search</button>
</app-modal-footer>
