<table id="***ARANGO_USERNAME***-table" [ngClass]="referenceTableClass">
  <tr class="reference-table-row" *ngFor="let row of referenceTableRows; let i = index" (click)="getAssociationsWithEdge(row.edge)">
    <td class="entity-name-container">{{row.nodeDisplayName}}</td>
    <td class="snippet-count-container">
      <div *ngIf="row.snippetCount <= 20">({{row.snippetCount}})</div>
      <div *ngIf="row.snippetCount > 20">20+</div>
    </td>
    <td class="snippet-bar-container">
      <div *ngIf="row.snippetCount <= 20" class="snippet-bar-repr" style.width="{{row.snippetCount * 5}}px"></div>
      <div *ngIf="row.snippetCount > 20" class="snippet-bar-repr" style="width: 100px;"></div>
    </td> <!-- Need to normalize this! -->
  </tr>
</table>
