<div id="***ARANGO_USERNAME***-table" [ngClass]="referenceTableClass">
  <div class="reference-table-group">
    <div id="{{'reference-table-node-' + row.node.id }}" class="reference-table-row" *ngFor="let row of nodeTable" (mouseenter)="showSelectedNodeEdgeLabels(row)" (mouseleave)="mouseLeaveNodeRow()" fxLayout="row" fxLayoutAlign="space-between center">
      <div>{{row.node.displayName}}</div>
      <mat-icon>arrow_right</mat-icon>
    </div>
  </div>
</div>

<!-- Submenus (these are tooltips, so they should be floating around -- invisible -- until their mouseover events are called -->
<div id="selected-node-edge-labels-submenu" [ngClass]="referenceTableClass">
  <div *ngIf="getEdgeSnippetCountsResult !== null && getEdgeSnippetCountsResult !== undefined" class="reference-table-group">
    <div class="reference-table-row" *ngFor="let edgeSnippetCount of getEdgeSnippetCountsResult.edgeSnippetCounts" (click)="getAssociationsWithEdge(edgeSnippetCount.edge)">{{ edgeSnippetCount.edge.label }} ({{ edgeSnippetCount.count }})</div>
  </div>
</div>