<div class="module" appContainerBreakpoints>
  <div class="module-header">
    <div class="module-title-bar">
      <div class="module-title">
        Administration
      </div>
    </div>
  </div>

  <div class="module-body flex-fill overflow-auto">
    <div class="module-body-container">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
        <li ngbNavItem="users">
          <a ngbNavLink>Users</a>
          <ng-template ngbNavContent>
            <app-users-view></app-users-view>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-4"></div>
    </div>
  </div>
</div>
