<div *ngIf="loadTask.status$ | async as status">
  <!-- Toolbar -->
  <div class="mb-4 d-flex">
    <div>
      <div class="d-inline-block" ngbDropdown>
        <button class="btn btn-primary" ngbDropdownToggle>
          <i class="fa fa-fw fa-file-export"></i>
          Export
        </button>
        <div ngbDropdownMenu>
          <button (click)="exportGlobalExclusions()" ngbDropdownItem>Export Exclusions...</button>
          <button (click)="exportGlobalInclusions()" ngbDropdownItem>Export Inclusions...</button>
        </div>
      </div>
      <button (click)="deleteAnnotation(results.selection)"
              [disabled]="results.selection.length === 0"
              class="btn btn-danger ml-2"
              ngbTooltip="Delete annotation(s)">
        Delete
      </button>
    </div>
  </div>

  <!-- Table -->
  <table class="table module-body-table">
    <thead>
    <tr>
      <th class="text-truncate">
        <div class="custom-control custom-checkbox">
          <input (change)="results.toggleAll()" [checked]="results.isAllSelected()" class="custom-control-input"
                 id="select-all"
                 type="checkbox">
          <label class="custom-control-label" for="select-all"></label>
        </div>
      </th>
      <th *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let object of results.view; index as objectIndex"
        [class.active]="this.results.isSelected(object)">
      <td (click)="results.toggle(object)" class="align-middle text-nowrap text-truncate">
        <div class="custom-control custom-checkbox text-truncate">
          <input (change)="results.toggle(object)" [checked]="results.isSelected(object)" class="custom-control-input"
                 id="object-{{ objectIndex }}"
                 type="checkbox">
          <label class="custom-control-label d-block" for="object-{{ objectIndex }}">
            <div class="d-flex align-items-center text-truncate">
              <div class="d-inline-block mr-1">
                <i class="fa fa-fw fa-file-alt text-muted"></i>
              </div>
            </div>
          </label>
        </div>
      </td>
      <td class="align-middle text-nowrap">{{ object.text }}</td>
      <td class="align-middle text-nowrap">{{ object.type }}</td>
      <td class="align-middle text-nowrap">{{ object.entityType }}</td>
      <td class="align-middle text-nowrap">{{ object.annotationId }}</td>
      <td class="align-middle text-nowrap">
        <button class="btn"
                disabled ngbTooltip="Download file">
        </button>
      </td>
      <td class="align-middle text-nowrap">{{ object.userEmail}}</td>
      <td class="align-middle text-nowrap">{{ object.reason }}</td>
      <td class="align-middle text-nowrap">{{ object.comment }}</td>
      <td class="align-middle text-nowrap">{{ object.creationDate }}</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    (pageChange)="goToPage($event)"
    *ngIf="collectionSize"
    [collectionSize]="collectionSize"
    [pageSize]="pageSize"
    [page]="currentPage"
    style="text-align: center"
  ></ngb-pagination>
</div>
