<div *ngIf="loadTask.status$ | async as status">
  <!-- Toolbar -->
  <div class="mb-4 d-flex">
    <div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" ngbDropdownToggle>
          <i class="fa fa-fw fa-file-export"></i>
          Export
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="exportGlobalExclusions()">Export Exclusions...</button>
          <button ngbDropdownItem (click)="exportGlobalInclusions()">Export Inclusions...</button>
        </div>
      </div>
      <button [disabled]="results.selection.length === 0"
              class="btn btn-danger ml-2"
              (click)="deleteAnnotation(results.selection)"
              ngbTooltip="Delete annotation(s)">
        Delete
      </button>
    </div>
  </div>

  <!-- Table -->
  <table class="table module-body-table">
    <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="select-all"
                   [checked]="results.isAllSelected()"
                   (change)="results.toggleAll()">
            <label class="custom-control-label" for="select-all"></label>
          </div>
        </th>
        <th *ngFor="let header of headers" scope="col">{{ header }}</th>
      </tr>
    </thead>

    <tbody *ngIf="status.placeholdersShown">
      <tr>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
        <td>
          <span class="placeholder-box">Loading loading</span>
        </td>
      </tr>
      </tbody>

    <tbody status.resultsShown>
      <tr *ngFor="let object of results.view; index as objectIndex"
          [class.active]="this.results.isSelected(object)">
        <td class="align-middle text-nowrap text-truncate" (click)="results.toggle(object)">
          <div class="custom-control custom-checkbox text-truncate">
            <input type="checkbox" class="custom-control-input" id="object-{{ objectIndex }}"
                   (change)="results.toggle(object)"
                   [checked]="results.isSelected(object)">
            <label class="custom-control-label d-block" for="object-{{ objectIndex }}">
              <div class="d-flex align-items-center text-truncate">
                <div class="d-inline-block mr-1">
                  <i class="fa fa-fw fa-file-alt text-muted"></i>
                </div>
              </div>
            </label>
          </div>
        </td>

        <td class="text-nowrap">{{ object.text }}</td>
        <td class="text-nowrap">{{ object.caseInsensitive }}</td>
        <td class="text-nowrap">{{ object.type }}</td>
        <td class="text-nowrap">{{ object.entityType }}</td>
        <td class="text-nowrap">{{ object.entityId }}</td>
        <td class="text-nowrap">{{ object.fileReference | truncate:['15'] }}</td>
        <td class="text-nowrap">{{ object.fileDeleted }}</td>
        <td class="text-nowrap">{{ object.creator}}</td>
        <td class="text-nowrap">{{ object.reason }}</td>
        <td class="text-nowrap">{{ object.comment }}</td>
        <td class="text-nowrap">{{ object.creationDate }}</td>
        <ng-container *ngIf="!object.fileDeleted">
          <td class="">
            <button class="btn btn-secondary" (click)="openNewWindow(object.fileHashId)">
              <i class="fas fa-external-link-alt" ngbTooltip="Open in new window"></i>
            </button>
          </td>
        </ng-container>
        <!-- <td class="align-middle text-nowrap">
          <button class="btn"
                  ngbTooltip="Download file" disabled>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    style="text-align: center"
    *ngIf="collectionSize"
    [page]="currentPage"
    [pageSize]="pageSize"
    [collectionSize]="collectionSize"
    (pageChange)="goToPage($event)"
  ></ngb-pagination>
</div>
