<form (ngSubmit)="submit()" [formGroup]="form">
  <app-modal-header (cancel)="cancel()">
    Create User
  </app-modal-header>

  <app-modal-body>
    <app-form-row [control]="form.get('username')" for="username" label="Username">
      <input [appFormInput]="form.get('username')" appAutoFocus formControlName="username" id="username" type="text">
    </app-form-row>

    <app-form-row [control]="form.get('password')" for="password" label="Password">
      <input [appFormInput]="form.get('password')" formControlName="password" id="password" type="password">
    </app-form-row>

    <app-form-row [control]="form.get('email')" for="email" label="Email">
      <input [appFormInput]="form.get('email')" formControlName="email" id="email" type="email">
    </app-form-row>

    <app-form-row [control]="form.get('firstName')" for="first-name" label="First Name">
      <input [appFormInput]="form.get('firstName')" formControlName="firstName" id="first-name" type="text">
    </app-form-row>

    <app-form-row [control]="form.get('lastName')" for="last-name" label="Last Name">
      <input [appFormInput]="form.get('lastName')" formControlName="lastName" id="last-name" type="text">
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Create</button>
  </app-modal-footer>
</form>
