<ng-container *ngIf="(loadTask.status$ | async) as status">
  <div class="mb-4 d-flex">
    <div>
      <button (click)="displayCreateDialog()" class="btn btn-primary">
        <i class="fa fa-fw fa-plus"></i>
        Create User
      </button>
      <div class="d-inline-block" ngbTooltip="Not yet implemented.">
        <button [disabled]="true" class="btn btn-secondary ml-2" ngbTooltip="Not yet implemented.">
          <i class="fa fa-fw fa-pencil"></i> Edit
        </button>
        <button [disabled]="true" class="btn btn-secondary ml-2" ngbTooltip="Not yet implemented.">
          <i class="fa fa-fw fa-trash"></i>
        </button>
      </div>
      <button (click)="this.refresh()" class="btn btn-secondary ml-2" ngbTooltip="Refresh the results"
              type="button">
        <i class="fa fa-sync"></i>
      </button>
    </div>
  </div>

  <app-background-task-progress
    (refresh)="this.refresh()" [status]="status" childClass="mb-2"></app-background-task-progress>

  <table [class.table-selectable]="status.resultsShown" class="table" style="table-layout: fixed">
    <colgroup>
      <col style="width: 50%">
    </colgroup>
    <thead>
    <tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input (change)="toggleAllSelected()" [checked]="isAllSelected()" class="custom-control-input"
                 id="select-all" type="checkbox">
          <label class="custom-control-label" for="select-all">
            Username
          </label>
        </div>
      </th>
      <th class="d-none d-md-table-cell">Type</th>
      <th class="d-none d-lg-table-cell">Email</th>
    </tr>
    </thead>

    <tbody *ngIf="status.placeholdersShown">
    <tr>
      <td>
        <span class="placeholder-box">Loading loading</span>
      </td>
      <td>
        <span class="placeholder-box">Loading loading</span>
      </td>
      <td>
        <span class="placeholder-box">Loading loading</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="placeholder-box">Loading loading loading</span>
      </td>
      <td>
        <span class="placeholder-box">Loading loading</span>
      </td>
      <td>
        <span class="placeholder-box">Loading loading loading</span>
      </td>
    </tr>
    </tbody>

    <tbody *ngIf="status.resultsShown">
    <tr (appTabSelectable)="selection.toggle(user)"
        *ngFor="let user of shownUsers"
        [class.active]="selection.isSelected(user)">
      <td class="align-middle text-truncate mw-100">
        <div class="custom-control custom-checkbox">
          <input (change)="selection.toggle(user)" [checked]="selection.isSelected(user)" class="custom-control-input"
                 id="user-{{ user.id }}"
                 type="checkbox">
          <label class="custom-control-label d-flex align-items-center" for="user-{{ user.id }}">
            {{ user.username }}
          </label>
        </div>
      </td>
      <td class="align-middle d-none d-md-table-cell text-truncate">
        <span *ngIf="!user.roles.includes('admin'); else adminText">User</span>
        <ng-template #adminText>
          Administrator
        </ng-template>
      </td>
      <td class="align-middle d-none d-lg-table-cell text-truncate">
        {{ user.email }}
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
