<div class="sorting-algorithm-container">
  <button
    (click)="changeSorting.emit(algorithm)"
    *ngFor="let algorithm of algorithms"
    [ngClass]="{ active: selected == algorithm }"
    class="dropdown-item d-flex justify-content-between"
  >
    {{ algorithm.name }}
    <ng-template #description><span [innerHTML]="algorithm.description"></span></ng-template>
    <i
      *ngIf="algorithm.description"
      [ngbPopover]="description"
      [openDelay]="300"
      [popoverTitle]="algorithm.title"
      class="fa fa-info-circle ml-3"
      placement="top"
      triggers="mouseenter:mouseleave"
    ></i>
  </button>
</div>
