@import "../../../../styles.scss";

#map-list.childless {
  background: #ffffff;
}

#map-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  h1 {
    align-self: flex-start;
    margin: 1rem;
    padding: 1rem;
    color: $blue;
  }

  .map {
    width: 80%;
    height: auto;
    max-width: 300px;
    padding: 0.875rem;
    margin: 1.25rem;
    background-color: #FDFDFD;
    border-radius: 2%;

    @include no-select;

    h3 {
      color: $dark-blue;
      width: fit-content;
      word-break: break-all;
    }

    p.author {
      color: $blue;
    }

    p.date {
      color: #707070;
    }
  }

  .map:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
}

/** Styling for context menu on project ui item */
.project-menu {
  background-color: #fafafa;
  padding: 4pt;
  font-size: 10pt;
  z-index: 1000;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  border-radius: 4pt;
  padding: 0.5em 0 0.5em 0;
  animation: fadeIn 0.1s ease-out;
  opacity:1.0;
  display:block;

  @include no-select;

  hr {
    border: none;
    border-bottom: 1px solid #eee;    
  }

  div {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5em 2em 0.5em 0.75em;
    max-width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
  }
  div:hover {
    background-color: #333;
    color: #fff;    
  }
  div::before {
    content: '';
    float: left;
    margin-right: 0.75em;
    width: 0.5em;
    height: 1em;
    display: inline-block;    
  }
}