<ng-container *ngIf="refreshTask.status$ | async as status">
  <div class="module module-sidebar h-100">
    <div class="module-header-container">
      <div class="module-header">
        <div class="module-title">
          Projects
        </div>

        <div class="module-toolbar">
          <button type="button" class="btn btn-primary" ngbTooltip="Create new project">
            <i class="fa fa-fw fa-plus"></i>
          </button>

          <button type="button" class="btn btn-outline-secondary ml-1" ngbTooltip="Import project data">
            <i class="fa fa-fw fa-upload"></i>
          </button>

          <button type="button" class="btn btn-outline-secondary ml-1" (click)="refresh()"
                  ngbTooltip="Refresh the results">
            <i class="fa fa-sync"></i>
          </button>
        </div>
      </div>

      <div class="module-header-body">
        <div class="input-group">
        <span class="input-group-prepend">
          <div class="input-group-text bg-white border-right-0">
            <i class="fa fa-fw fa-search"></i>
          </div>
        </span>
          <input class="form-control py-2 pl-0 input-border border-left-0"
                 placeholder="Search within projects..."
                 [(ngModel)]="term" (keyup)="refresh(true)">
          <span class="input-group-append" *ngIf="term.length">
          <button class="btn btn-outline-secondary" type="button" (click)="term = ''; refresh(true)">
            <i class="fa fa-times"></i>
          </button>
        </span>
        </div>

        <div class="mt-2 d-flex">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="personal-filter" value="1"
                   [(ngModel)]="showPersonal" (change)="refresh(true)">
            <label class="custom-control-label" for="personal-filter">Your Projects</label>
          </div>
          <div class="custom-control custom-checkbox ml-3">
            <input class="custom-control-input" type="checkbox" id="community-filter" value="1"
                   [(ngModel)]="showCommunity" (change)="refresh(true)">
            <label class="custom-control-label" for="community-filter">Community</label>
          </div>
        </div>
      </div>
    </div>

    <div class="module-body">
      <div *ngIf="status.retryInProgressShown" class="mt-2 mb-0 px-2">
        <div class="alert alert-warning m-0">
          <div>
            This is taking longer than expected.
          </div>
        </div>
      </div>

      <div *ngIf="status.failedErrorShown" class="mt-2 mb-0 px-2">
        <div class="alert alert-danger m-0">
          <div>
            The list of projects is currently not available.
          </div>
          <div class="mt-1">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="refresh()">
              Retry
            </button>
          </div>
        </div>
      </div>

      <div class="progress rounded-0" *ngIf="status.progressShown">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%"></div>
      </div>

      <div *ngIf="templateView" class="p-3">
        <div *ngIf="status.placeholdersShown">
          <div class="mb-2">
            <div class="text-truncate">
              <span class="placeholder-box">Loading loading</span>
            </div>
            <div class="text-truncate mt-2">
              <span class="placeholder-box">Loading loading loading</span>
            </div>
          </div>
          <div class="mb-2">
            <div class="text-truncate">
              <span class="placeholder-box">Loading loading loading</span>
            </div>
            <div class="text-truncate mt-2">
              <span class="placeholder-box">Loading loading loading blah</span>
            </div>
          </div>
        </div>

        <div *ngIf="status.resultsShown" cdkDropList cdkDropListSortingDisabled>
          <div *ngFor="let project of projects" [id]="project.hash_id" [title]="project.label" cdkDrag class="mb-2"
               [cdkDragData]="createNodeDropData(project)">
            <div class="text-truncate graph-node">
              {{ project.label }}
            </div>
            <div class="text-truncate text-muted d-flex">
              <div class="text-truncate mr-auto">
                By {{project?.author}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-selectable my-0" style="table-layout: fixed" *ngIf="!templateView">
        <colgroup>
          <col>
          <col style="width: 90px">
        </colgroup>
        <thead>
        <tr>
          <th class="text-truncate">Name</th>
          <th class="text-right text-truncate">Modified</th>
        </tr>
        </thead>

        <tbody *ngIf="status.placeholdersShown && projects.length == 0">
        <tr>
          <td class="text-truncate">
            <span class="placeholder-box">Loading loading</span>
          </td>
          <td class="text-truncate text-right">
            <span class="placeholder-box">Loading</span>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <span class="placeholder-box">Loading loading loading</span>
          </td>
          <td class="text-truncate text-right">
            <span class="placeholder-box">Loading</span>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <span class="placeholder-box">Loading loading</span>
          </td>
          <td class="text-truncate text-right">
            <span class="placeholder-box">Loading</span>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <span class="placeholder-box">Loading loading loading loading</span>
          </td>
          <td class="text-truncate text-right">
            <span class="placeholder-box">Loading</span>
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="status.resultsShown" cdkDropList cdkDropListSortingDisabled>
        <tr *ngFor="let project of projects" [id]="project.hash_id"
            (dblclick)='clickProject("open", project)'
            (click)='clickProject("pick", project)' cdkDrag
            (keydown)="$event.keyCode != 13 || clickProject('pick', project)"
            [cdkDragDisabled]='childMode' [class.active]="selectedProject?.hash_id === project.hash_id"
            tabindex="0">
          <td>
            <div class="d-flex text-truncate">
              <div>
                <i class="fa fa-fw fa-project-diagram"></i>
              </div>
              <div class="ml-2 text-truncate">
                <div class="text-truncate">
                  {{ project.label }}
                </div>
                <div class="text-truncate text-muted">
                  By {{project?.author}}
                </div>
              </div>
            </div>
          </td>
          <td class="text-truncate text-right">
            {{project?.date_modified | date: 'shortDate'}}
          </td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="status.emptyResultsShown && projects.length == 0"
           class="text-center my-4 px-4">
        <div *ngIf="!showPersonal && !showCommunity else filtersOk">
          <i class="fa fa-info-circle"></i>
          Select at least 'Your Projects' or 'Community' to see results.
        </div>
        <ng-template #filtersOk>
          No projects match your current
          filters{{term != '' ? ', matching "' + refreshTask.latestSuccessfulValue.term + '"' : ''}}.
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
