<div (resized)="onResized($event)" [ngClass]='{"childless": !childMode}' id='map-list'>
  <h1>Maps</h1>
  <mat-tab-group [selectedIndex]="displayIndex" (selectedTabChange)="toggleView($event)">
    <mat-tab label="Personal">
      <div [fxLayout]='layout' [fxLayoutAlign]='layoutAlign' class='w-100' cdkDropList>
        <div class='map-template map shadow' *ngFor='let project of projects' [id]='project.hash_id'
          (contextmenu)="open($event, project)" (click)='clickHandler("pick", project)' cdkDrag
          [cdkDragDisabled]='childMode'>
          <h3>
            {{
              project.label | truncate:['40']
            }}
          </h3>
          <p class='author'>
            By {{project?.author}}
          </p>
          <p class='date'>
            Modified {{project?.date_modified | friendlyDateStr}}
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Community">
      <div [fxLayout]='layout' [fxLayoutAlign]='layoutAlign' class='w-100' cdkDropList>
        <div [id]='project.hash_id' class='map-template map shadow' *ngFor='let project of publicProjects'
          (contextmenu)="open($event, project)" (click)='clickHandler("pick", project)' cdkDrag
          [cdkDragDisabled]='childMode'>
          <h3>
            {{
              project.label | truncate:['40']
            }}
          </h3>
          <p class='author'>
            By {{project?.author}}
          </p>
          <p class='date'>
            Modified {{project?.date_modified | friendlyDateStr}}
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <form
        class='map shadow'
        [formGroup]='searchForm'>
        <mat-form-field
          class='w-100'
          appearance='legacy'>
          <mat-label>Search in maps</mat-label>
          <input formControlName='term' matInput (keyup)='searchForMaps($event)'>
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Write to search concepts across all maps</mat-hint>
        </mat-form-field>
      </form>
      <div
        class='map shadow'
        *ngFor='let project of searchResults'
        (contextmenu)="open($event, project)"
        (click)='clickHandler("pick", project)'>
        <h3>
          {{
          project.label | truncate:['40']
          }}
        </h3>
        <p class='author'>
          By {{project?.author}}
        </p>
        <p class='date'>
          Modified {{project?.date_modified | friendlyDateStr}}
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- Context Menu -->
<ng-template #projectMenu let-project>
  <section (contextmenu)="$event.preventDefault()" class="project-menu">
    <div (click)='contextHandler("copy", project)'>Make copy of</div>
    <div *ngIf='displayMode==="personal"' (click)='contextHandler("delete", project)'>Delete</div>
  </section>
</ng-template>
