<div
  (cdkDragMoved)="drag.cdkDragMoved($event)"
  (cdkDragReleased)="drag.cdkDragReleased($event)"
  [cdkDragData]="tab"
  [class.active]="active"
  appContextMenu
  cdkDrag
  class="nav-item d-flex text-truncate"
>
  <div (click)="tabClick.emit()" [class.active]="active" class="nav-link d-flex text-truncate">
    <div class="d-block d-flex align-items-center text-truncate mr-2">
      <span
        [appTextTruncateToTooltip]="tab.title"
        [scroll$]="scroll$"
        class="d-block text-truncate"
      >
        <i *ngIf="tab.loading; else notLoading" class="fas fa-spinner fa-pulse fa-fw"></i>
        <ng-template #notLoading>
          <i [class]="fontAwesomeIconClass"></i>
        </ng-template>
        {{ tab.title }}
      </span>
      <span
        *ngIf="tab.badge != null && tab.badge !== '*'"
        class="badge badge-danger badge-pill ml-1"
      >
        {{ tab.badge }}
      </span>
      <span
        *ngIf="tab.badge === '*'"
        class="badge badge-danger badge-pill ml-1"
        container="body"
        ngbTooltip="Has unsaved changes"
      >
        <i class="fa fa-pencil-alt"></i>
      </span>
    </div>
    <a (click)="tabClose.emit(); $event.preventDefault()" class="ml-auto text-muted" href="#">
      <i class="fa fa-fw fa-times"></i>
    </a>
  </div>
  <div appContextMenuBody>
    <a (click)="duplicate.emit()" appContextMenuItem>Duplicate</a>
    <a (click)="openCopyLinkDialog()" appContextMenuItem>Copy link...</a>
    <div class="dropdown-divider"></div>
    <a (click)="tabClose.emit()" appContextMenuItem>Close</a>
    <a (click)="closeOtherTabs.emit()" [class.disabled]="!hasSiblings" appContextMenuItem
      >Close other tabs</a
    >
    <a (click)="closeAllTabs.emit()" appContextMenuItem>Close all tabs</a>
    <a (click)="clearWorkbench.emit()" appContextMenuItem>Clear workbench</a>
  </div>
</div>
