.side-pane-close-text {
  max-width: 50px;
  overflow: hidden;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.workspace-active-tab-content {
  left: 0;
  top: 0;
}

.workspace-hidden-tab-content {
  left: -10000px;
  position: absolute;
  top: -10000px;

  .modal,
  .modal-backdrop {
    pointer-events: none;
    visibility: hidden;
  }
}

.workspace-tab-content-container {
  position: relative;
}

.workspace-tab-content-inner-container {
  height: 100%;
  position: absolute;
  width: 100%;
}
