// WARNING: Encapsulation disabled

@import "src/scss/variables";

.workspace-split-pane-placeholder {
  align-items: center;
  background: $gray-200;
  border-left: 4px solid $gray-300;
  color: $text-muted;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
  vertical-align: top;
  width: 20px;

  &:hover {
    background: $link-color;
    border-color: $link-color;
    color: $white;
  }
}

.side-pane-open-text {
  max-width: 50px;
  overflow: hidden;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}
