<div #container class="h-100 w-100 d-flex overflow-hidden">
  <ng-container *ngIf="panes$ | async as panes">
    <as-split
      #splitComponent
      (dragEnd)="splitterDragEnded($event)"
      [gutterSize]="5"
      cdkDropListGroup
      direction="horizontal"
      unit="percent"
    >
      <as-split-area *ngFor="let pane of panes" [size]="pane.size">
        <app-workspace-pane [hasSiblings]="panes.length > 1" [pane]="pane"></app-workspace-pane>
      </as-split-area>
    </as-split>
    <div (click)="addPane()" *ngIf="canAddPane()" class="workspace-split-pane-placeholder">
      <div class="d-flex flex-column align-items-center">
        <div>
          <i class="fa fa-caret-left"></i>
        </div>
        <div class="side-pane-open-text">Open Side Pane</div>
        <div>
          <i class="fa fa-caret-left"></i>
        </div>
      </div>
    </div>
  </ng-container>
</div>
