<form class="d-flex flex-column justify-content-between">
    <fieldset class="fieldset-properties mt-2">
        <legend container="body"
                ngbTooltip="Click a checkbox to filter annotations of that type"
                placement="top left right">Node
            Details:
        </legend>
        <ngb-accordion ngbAccordion activeIds="n_desc">
            <ngb-panel id="n_desc" title="Description">
                <ng-template ngbPanelContent>
                    <p [innerHTML]="entity.description" [style.whiteSpace]="'pre-wrap'"></p>
                </ng-template>
            </ngb-panel>
            <ngb-panel [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <button class="btn btn-link w-100 d-flex align-items-center justify-content-between"
                            ngbPanelToggle>
                        <b>Value</b>
                        {{ parseProperty(entity._value) }}
                    </button>
                </ng-template>
            </ngb-panel>
            <ngb-panel [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <button class="btn btn-link w-100 d-flex align-items-center justify-content-between"
                            ngbPanelToggle>
                        <b>Label</b>
                        {{ parseProperty(entity.label) }}
                    </button>
                </ng-template>
            </ngb-panel>
            <ngb-panel *ngIf="entity.stId" [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <a [href]="'https://reactome.org/content/detail/' + entity.stId"
                       class="btn btn-link w-100 d-flex align-items-center justify-content-between"
                       target="_blank">
                        <span>Reactome</span>
                        {{ entity.stId }}
                    </a>
                </ng-template>
            </ngb-panel>
            <ngb-panel cardClass="filled-card" title="Labels">
                <ng-template ngbPanelContent>
                    <ul class="list-group list-group-flush cancel-out-card-padding">
                        <li *ngFor="let label of entity.labels"
                            class="list-group-item"
                        >{{ label }}</li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel cardClass="filled-card" title="Properties">
                <ng-template ngbPanelContent>
                    <ul class="list-group list-group-flush cancel-out-card-padding">
                        <li *ngFor="let property of options.nodeValueAccessors"
                            [ngClass]="{
                                'list-group-item': true,
                                 'd-flex': true,
                                 'flex-wrap': true,
                                 'justify-content-between': true,
                                active: property === options.selectedNodeValueAccessor
                              }"
                        ><b>{{ property.description }}</b>{{parseProperty(entity[property.description])}}</li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Details">
                <ng-template ngbPanelContent>
                    <app-tree-view [dataSource]="entity"></app-tree-view>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </fieldset>
</form>
