<div class="module h-100 overflow-auto">
  <div id="search-bar-container">
    <app-search-bar
      class="w-100"
      [query]="currentQuery"
      (search)="search($event)"
    ></app-search-bar>
  </div>
  <div id="search-list-container">
    <app-search-list
      [totalRecords]="totalRecords"
      [records]="records"
      [currentPage]="currentPage"
      [currentLimit]="currentLimit"
      [currentQuery]="currentQuery"
      [legend]="legend"
      (showMore)="showMore($event)"
  ></app-search-list>
  </div>
</div>
