@use 'variables';

app-networktrace-view-dropdown-content {
  .dropdown-item-with-icon {
    align-items: baseline;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .search {
    $search-padding: variables.$dropdown-padding-y;
    margin: 0 $search-padding $search-padding $search-padding;
    width: calc(100% - #{variables.$dropdown-padding-y * 2});
  }
}
