<app-searchable-tree
  [appConstrainToViewport]="viewport.size$"
  [searchClass]="'search'"
  [tree]="networkTracesViewsTree$ | async"
  class="d-flex flex-column"
>
  <ng-template #treeNestedNode #treeNode let-level="level" let-node>
    <ng-template #traceNetwork>
      <button (click)="selectUID(node.id)" @collapseAnimation ngbDropdownItem>
        {{ node.name }}
      </button>
    </ng-template>
    <ng-container *ngIf="level; else traceNetwork">
      <button
        (click)="selectUID(node.id)"
        @collapseAnimation
        class="dropdown-item-with-icon"
        ngbDropdownItem
      >
        + {{ node.name }}
        <i
          (click)="deleteViewUID(node.id); $event.stopPropagation()"
          [ngClass]="{
            'fa fa-trash': true,
            disabled: isEditable
          }"
        ></i>
      </button>
    </ng-container>
  </ng-template>
</app-searchable-tree>
