.table {
  background: #f4f4f4;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  font-family: monospace;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: justify;
}

.table-caption,
.table_caption {
  background-color: #f4f4f4;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -10px;
  padding: 20px 20px 0;
}

.table-holder {
  margin-bottom: 0px;
}

.advanced-view {
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
