<!-- table component -->
<div *ngIf="tableCaption(passage)" class="table-holder" class="table-caption table_caption">
  <b>{{ tableCaption(passage) }}: </b>
  <app-bioc-annotated-text
    [annotations]="passage.annotations"
    [offset]="passage.offset"
    [text]="passage.text"
  >
  </app-bioc-annotated-text>
</div>

<div *ngIf="isTable(passage)" class="table-holder">
  <div *ngIf="advancedView(passage)" [innerHTML]="advancedView(passage)" class="advanced-view">
    {{ advancedView(passage) }}
  </div>

  <app-bioc-annotated-text
    *ngIf="!advancedView(passage)"
    [annotations]="passage.annotations"
    [ngClass]="passage.infons.type"
    [offset]="passage.offset"
    [text]="passage.text"
  >
  </app-bioc-annotated-text>
</div>
