<div
  ngbDropdown
  class="d-block"
  placement="bottom end"
  *ngIf="contextsController$ | async as controller"
>
  <button
    class="btn btn-secondary w-100 text-truncate"
    ngbDropdownToggle
    [disabled]="!controller.entities.length"
  >
    Context
    <ng-container *ngIf="controller.current$ | async as current"> : {{ current }} </ng-container>
  </button>
  <div ngbDropdownMenu class="w-100">
    <button ngbDropdownItem class="text-truncate" (click)="controller.currentIdx$.next(-1)">
      Empty
    </button>
    <button
      ngbDropdownItem
      class="text-truncate"
      *ngFor="let context of controller.entities; let i = index"
      (click)="controller.currentIdx$.next(i)"
    >
      {{ context }}
    </button>
  </div>
</div>
<div
  ngbDropdown
  class="d-block mt-1"
  placement="bottom end"
  *ngIf="goTermController$ | async as controller"
>
  <button
    class="btn btn-secondary w-100 text-truncate"
    ngbDropdownToggle
    [disabled]="!controller.entities.length"
  >
    GO Term
    <ng-container *ngIf="controller.current$ | async as current"> : {{ current }} </ng-container>
  </button>
  <div ngbDropdownMenu class="w-100">
    <button ngbDropdownItem class="text-truncate" (click)="controller.currentIdx$.next(-1)">
      Empty
    </button>
    <button
      ngbDropdownItem
      class="text-truncate"
      *ngFor="let entity of controller.entities; let i = index"
      (click)="controller.currentIdx$.next(i)"
    >
      {{ entity }}
    </button>
  </div>
</div>
<div
  ngbDropdown
  class="d-block mt-1"
  placement="bottom end"
  *ngIf="geneNameController$ | async as controller"
>
  <button
    class="btn btn-secondary w-100 text-truncate"
    ngbDropdownToggle
    [disabled]="!controller.entities.length"
  >
    Gene
    <ng-container *ngIf="controller.current$ | async as current"> : {{ current }} </ng-container>
  </button>
  <div ngbDropdownMenu class="w-100">
    <button ngbDropdownItem class="text-truncate" (click)="controller.currentIdx$.next(-1)">
      Empty
    </button>
    <button
      ngbDropdownItem
      class="text-truncate"
      *ngFor="let entity of controller.entities; let i = index"
      (click)="controller.currentIdx$.next(i)"
    >
      {{ entity }}
    </button>
  </div>
</div>
<ng-container *ngIf="{
  explain: explain$ | async,
  explanation: explanation$ | async
  } as state">
  <button class="w-100 btn btn-primary mt-2" (click)="generateExplanation()">
    <ng-container *ngIf="state.explain && !state.explanation; else settled">
      <i class="fa fa-spinner fa-spin mr-1"></i> Generating explanation
    </ng-container>
    <ng-template #settled>
      {{ state.explain ? 'Regenerate' : 'Generate' }} explanation
    </ng-template>
  </button>
  <div class="mt-2" *ngIf="state.explanation">
    {{ state.explanation }}
  </div>
</ng-container>
