<div *ngIf="status.retryInProgressShown" [class]="childClass">
  <div class="alert alert-warning m-0">
    <div>This is taking longer than expected.</div>
  </div>
</div>

<div *ngIf="status.failedErrorShown" [class]="childClass">
  <div class="alert alert-danger m-0">
    <div>The latest data could not be fetched.</div>
    <div class="mt-1">
      <button (click)="this.refresh.emit()" class="btn btn-sm btn-outline-danger" type="button">
        Retry
      </button>
    </div>
  </div>
</div>

<div *ngIf="status.progressShown" class="progress {{ childClass }}">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
    style="width: 100%"
  ></div>
</div>
