<div
  [class.border-0]="borderless"
  [class.d-inline-flex]="!expanded && sideCollapse"
  [class.rounded-0]="borderless"
  class="window d-flex flex-column h-100"
>
  <div (appTabSelectable)="toggle()" class="window-header window-header-selectable">
    <h5 *ngIf="expanded || !sideCollapse" class="window-title">{{ title }}</h5>
    <button aria-label="Close" class="window-btn" tabindex="-1" type="button">
      <ng-container *ngIf="!sideCollapse; else sideCollapseButton">
        <i [class.fa-caret-down]="reversed && expanded" class="fa"></i>
        <i [class.fa-caret-up]="!reversed && expanded" class="fa"></i>
        <i [class.fa-caret-down]="!reversed && !expanded" class="fa"></i>
        <i [class.fa-caret-up]="reversed && !expanded" class="fa"></i>
      </ng-container>
      <ng-template #sideCollapseButton>
        <i [class.fa-caret-left]="expanded" class="fa"></i>
        <i [class.fa-caret-right]="!expanded" class="fa"></i>
      </ng-template>
    </button>
  </div>
  <ng-container *ngIf="expanded">
    <div class="overflow-auto">
      <ng-content></ng-content>
    </div>
  </ng-container>
</div>
