<div
  *ngIf="status.running || status.failedErrorShown"
  class="h-100 d-flex bg-white align-items-center justify-content-center"
>
  <div *ngIf="status.running" class="d-flex flex-column align-items-center">
    <div>
      <app-loading-indicator></app-loading-indicator>
    </div>
    <div class="mt-1">
      {{ loadingText }}
    </div>
  </div>
  <div *ngIf="status.failedErrorShown" class="d-flex flex-column align-items-center text-muted">
    <div>
      <i class="fa fa-exclamation-circle fa-4x"></i>
    </div>
    <div class="mt-4">
      {{ errorText }}
    </div>
  </div>
</div>
