.highlight-container {
  display: inline;
  position: relative;
}

.highlight-term {
  font-weight: bold;
  outline: 1px solid rgba(255, 0, 0, 0.4);
}

.annotation {
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
