@import "src/scss/variables";

:host {
  overflow: auto;
  z-index: 100;
}

.detail {
  border: 1px solid $gray-400;
  border-radius: 8px;

  .detail-title {
    background: $gray-200;
    font-size: inherit;
    font-weight: bold;
    margin: 0;
    padding: 5px 15px;
  }

  pre {
    margin: 0;
    overflow: auto;
    padding: 10px 15px;
  }
}
