<div (dragstart)="edgeDragStart($event)" class="d-flex justify-content-start" draggable="true">
  <div *ngIf="leftNodeName && leftNodeLabel">
    <div
      (dragstart)="nodeDragStart($event, leftNodeName, leftNodeLabel, leftNodeUrl)"
      [matTooltipPosition]="tooltipPosition"
      [style.border-radius]="'0.5rem'"
      [style.border]="'thin solid ' + leftNodeColor"
      class="text-center"
      draggable="true"
      matTooltip="{{ leftNodeLabel }}"
    >
      <ng-container *ngIf="leftNodeUrl; else leftNodeNoUrl">
        <a [href]="leftNodeUrl" class="px-1" target="_blank">{{ leftNodeName }}</a>
      </ng-container>
      <ng-template #leftNodeNoUrl>
        {{ leftNodeName }}
      </ng-template>
    </div>
    <div *ngIf="!leftNodeUrl" class="invalid-msg">Could not retrieve url for this entity.</div>
  </div>
  <div *ngIf="edge" class="d-flex justify-content-center">
    <div class="mx-1">&mdash;</div>
    <div>{{ edge }}</div>
    <div *ngIf="rightNodeName"><i class="fa fa-fw fa-caret-right"></i></div>
  </div>
  <div *ngIf="rightNodeName && rightNodeLabel">
    <div
      (dragstart)="nodeDragStart($event, rightNodeName, rightNodeLabel, rightNodeUrl)"
      [matTooltipPosition]="tooltipPosition"
      [style.border-radius]="'0.5rem'"
      [style.border]="'thin solid ' + rightNodeColor"
      class="text-center"
      draggable="true"
      matTooltip="{{ rightNodeLabel }}"
    >
      <ng-container *ngIf="rightNodeUrl; else rightNodeNoUrl">
        <a [href]="rightNodeUrl" class="px-1" target="_blank">{{ rightNodeName }}</a>
      </ng-container>
      <ng-template #rightNodeNoUrl>
        {{ rightNodeName }}
      </ng-template>
    </div>
    <div *ngIf="!rightNodeUrl" class="invalid-msg">Could not retrieve url for this entity.</div>
  </div>
</div>
