<div id="node-relationship-container">
    <div class="node-detail" id="left-node-container" *ngIf="leftNodeName && leftNodeLabel">
        <div
            class="node-detail-container"
            matTooltip="{{ leftNodeLabel }}"
            [matTooltipPosition]="tooltipPosition"
        >
            <mat-icon [ngStyle]="{'color': leftNodeColor}">lens</mat-icon>
            {{ leftNodeName }}
        </div>
    </div>
    <div id="relationship-container" *ngIf="edge">
        <div>&minus;</div>
        <div>{{ edge }}</div>
        <div *ngIf="rightNodeName"><i class="fa fa-fw fa-caret-right"></i></div>
    </div>
    <div class="node-detail" id="right-node-container" *ngIf="rightNodeName && rightNodeLabel">
        <div
            class="node-detail-container"
            matTooltip="{{ rightNodeLabel }}"
            [matTooltipPosition]="tooltipPosition"
        >
            <mat-icon [style.color]="rightNodeColor">lens</mat-icon>
            {{ rightNodeName }}
        </div>
    </div>
</div>
