@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "src/scss/variables";

.material-icons {
  vertical-align: middle;
}

.invalid-msg {
  color: #dc3545;
  font-size: 80%;
  margin-top: 0.25rem;
}
