#node-relationship-container > div {
  display: inline-block;
}
#relationship-container {
  border: 1px solid white;
}
#relationship-container > div {
  display: inline-block;
}
.material-icons {
  vertical-align: middle;
}
.node-detail-container {
  text-align: center;
}
