<ng-template #organismResult let-organism="organism" let-term="term">
  <button (click)="selectOrganism(organism)" class="dropdown-item" placement="right" type="button">
    <ngb-highlight [result]="organism.organism_name" [term]="term"></ngb-highlight>
  </button>
</ng-template>

<div class="input-group input-border rounded" container="body" ngbDropdown placement="bottom-left">
  <input
    #organismDropdown="uid"
    (ngModelChange)="inputText$.next($event)"
    [(ngModel)]="inputText"
    appUid
    autocomplete="off"
    class="form-control border-0"
    container="body"
    ngbDropdownToggle
    type="text"
  />

  <div *ngIf="isOrganismSelected" class="input-group-append">
    <button (click)="clear()" class="form-control border-0" type="button">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div *ngIf="isFetching" class="input-group-append">
    <span class="input-group-text">Searching...</span>
  </div>
  <div *ngIf="fetchFailed" class="invalid-feedback">Sorry, suggestions could not be loaded.</div>

  <div [attr.aria-labelledby]="organismDropdown" ngbDropdownMenu>
    <ng-container *ngFor="let curatedOrganism of organismShortlist">
      <ng-container
        *ngTemplateOutlet="organismResult; context: { organism: curatedOrganism, term: inputText }"
      ></ng-container>
    </ng-container>
    <ng-container *ngIf="searcher$ | async as searchResults">
      <ng-container *ngIf="searchResults.length">
        <div class="dropdown-divider"></div>
        <ng-container *ngFor="let result of searchResults">
          <ng-container
            *ngTemplateOutlet="organismResult; context: { organism: result, term: inputText }"
          ></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
