<ng-container *ngIf="paging != null; else noInput">
  <ngb-pagination
    (pageChange)="goToPage($event)"
    *ngIf="alwaysShow || collectionSize > paging.limit"
    [collectionSize]="collectionSize"
    [pageSize]="paging.limit"
    [page]="paging.page"
  ></ngb-pagination>
</ng-container>
<ng-template #noInput>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"><span class="placeholder-box">XX</span></a>
    </li>
    <li class="page-item">
      <a class="page-link"><span class="placeholder-box">XX</span></a>
    </li>
    <li class="page-item">
      <a class="page-link"><span class="placeholder-box">XX</span></a>
    </li>
    <li class="page-item">
      <a class="page-link">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</ng-template>
