<app-base-control
  (clear)="clear()"
  (next)="next.emit(this.resultIndex + 1)"
  (previous)="previous.emit(this.resultIndex - 1)"
  [disabled]="disabled"
  [resultCount]="resultCount"
  [resultIndex]="resultIndex"
  [searching]="searching"
>
  <input
    #searchInput
    (blur)="this.blurred()"
    (keyup)="inputKeyUp($event)"
    [disabled]="disabled"
    [ngStyle]="{ minWidth: searchInputWidth, flexGrow: 9999 }"
    [value]="value"
    aria-describedby="graph-search"
    aria-label="Graph search"
    class="form-control input-border"
    placeholder="Search"
    type="text"
  />
</app-base-control>
