<ng-container *ngIf="project.privileges.administrable">
  <button (click)="openEditDialog(project)" ngbDropdownItem>Edit project...</button>
  <button (click)="openCollaboratorsDialog(project)" ngbDropdownItem>Edit collaborators...</button>
  <button (click)="openDeleteDialog(project)" ngbDropdownItem>Delete project...</button>
</ng-container>
<ng-container>
  <div *ngIf="project.privileges.administrable" class="dropdown-divider"></div>
  <button (click)="openShareDialog(project)" ngbDropdownItem>
    Copy{{ nameEntity ? " project" : "" }} link...
  </button>
  <button (click)="updateStarred(project, !project.starred)" ngbDropdownItem>
    {{ project.starred ? "Remove from" : "Add to" }} starred
  </button>
  <ng-container *ngIf="project.***ARANGO_USERNAME***">
    <div class="dropdown-divider"></div>
    <button
      [appLink]="['/file-navigator', project.name, project.***ARANGO_USERNAME***.hashId]"
      [forceWorkbench]="true"
      [newTab]="true"
      [openParentFirst]="true"
      [parentAddress]="['/projects', project.name]"
      [sideBySide]="true"
      ngbDropdownItem
    >
      Open file navigator
    </button>
  </ng-container>
</ng-container>
