<div [formGroupName]="name">
  <ng-container *ngIf="formControl.get('parent') as parentControl">
    <app-form-row
      for="parent"
      [label]="parentLabel"
      [control]="parentControl"
      *ngIf="parentControl.enabled"
    >
      <div class="d-flex align-items-center text-truncate">
        <button type="button" class="btn btn-secondary mr-2" (click)="showParentDialog()">
          Browse...
        </button>
        <div class="text-truncate"
             *ngIf="parentControl.value != null; else noParentChosen">
          <i class="fa fa-fw fa-folder text-icon"></i>
          {{ parentControlTypedValue.effectiveName }}
        </div>
        <ng-template #noParentChosen></ng-template>
      </div>
    </app-form-row>
  </ng-container>

  <app-form-row for="filename" label="Filename" [control]="formControl.get('filename')">
    <input
      type="text"
      formControlName="filename"
      id="filename"
      [appFormInput]="formControl.get('filename')"
      [pristineInvalid]="true"
      appAutoFocus
      [autoSelect]="true"
    />
  </app-form-row>

  <app-form-row for="description" label="Description" [control]="formControl.get('description')">
      <textarea
        formControlName="description"
        id="description"
        [appFormInput]="formControl.get('description')"
        rows="10"
      ></textarea>
  </app-form-row>

  <ng-container *ngIf="contextsControl as contextsControl">
    <app-form-row for="contexts" label="Contexts" [control]="contextsControl">
      <ng-container *ngFor="let context of contextsControl.controls">
        <div class="input-group input-border rounded mb-2">
          <input
            type="text"
            class="form-control border-0"
            [formControl]="context"
            [value]="context.value"
            (change)="setValueFromEvent(context, $event)"
          />
          <div class="input-group-append">
            <button
              class="form-control border-0"
              type="button"
              (click)="removeControl(contextsControl, context)"
            >
              <i class="fa fa-fw fa-times"></i>
            </button>
          </div>
        </div>
        <app-form-input-feedback
          *ngIf="context != null"
          [control]="context"
        ></app-form-input-feedback>
      </ng-container>
      <button
        class="btn btn-secondary"
        type="button"
        (click)="addControl(contextsControl, contextFormControlFactory())"
      >
        <i class="fa fa-fw fa-plus"></i>
        Add context
      </button>
    </app-form-row>
  </ng-container>

  <app-form-row [control]="formControl.get('public')" *ngIf="!object.isDirectory">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="public" formControlName="public"/>
      <label class="custom-control-label" for="public">Publicly share with the community</label>
    </div>
  </app-form-row>
</div>
