<!--
  fxLayout is inverted due to the horizontal stepper
-->
<div
  fxLayout="column"
  fxLayoutGap="30px"
>
  <!-- column name table -->
  <div [formGroup]="columnMappingForm">
    <!-- <div>
      <strong>Unique ID</strong>: This is the column that is unique and used to identify a node (and for indexing). Usually the name column.<br>
      <strong>Exclude</strong>: Excluded columns will not be included as node properties in the graph database.<br>
    </div> -->
    <mat-table [dataSource]="chosenSheetToMap?.sheetColumnNames" formArrayName="columnMapping">
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; let i=index; columns: columns;" [attr.id]="'file-column-name-row-'+i"></mat-row>

      <!-- begin creating table -->
      <ng-container matColumnDef="columnName">
        <mat-header-cell *matHeaderCellDef>Column Name</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index;">{{ (object | keyvalue)[0].key }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nodeLabel">
        <mat-header-cell *matHeaderCellDef>Node Label</mat-header-cell>
        <mat-cell *matCellDef="let data; let i=index;" [formGroupName]="i">
          <mat-form-field>
            <mat-select
              placeholder="Select node label"
              formControlName="nodeLabel"
              (selectionChange)="selectionChange($event)"
            >
              <mat-option
                *ngFor="let label of (nodeLabels$ | async)"
                [value]="label"
              >{{ label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="propertyLabel">
        <mat-header-cell *matHeaderCellDef>Property Label</mat-header-cell>
        <mat-cell *matCellDef="let data; let i=index;" [formGroupName]="i">
          <mat-form-field>
            <mat-select
              placeholder="Select property label"
              formControlName="propertyLabel"
            >
              <span *ngIf="(nodeProperties$ | async)">
                <mat-option
                  *ngFor="let label of (nodeProperties$ | async)[columnMappingForm.get('columnMapping').controls[i].get('nodeLabel').value]"
                  [value]="label"
                >{{ label }}</mat-option>
              </span>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edge">
        <mat-header-cell *matHeaderCellDef>Edge</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index" [formGroupName]="i">
          <mat-checkbox
            formControlName="edge"
            (change)="updateColumnMapping($event, columnType.EDGE, i)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef>Source</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index" [formGroupName]="i">
          <mat-checkbox
            formControlName="source"
            (change)="updateColumnMapping($event, columnType.SOURCE, i)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index" [formGroupName]="i">
          <mat-checkbox
            formControlName="target"
            (change)="updateColumnMapping($event, columnType.TARGET, i)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nodeProperty">
        <mat-header-cell *matHeaderCellDef>Node Property</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index" [formGroupName]="i">
          <mat-checkbox
            formControlName="nodeProperty"
            (change)="updateColumnMapping($event, columnType.NODE_PROPERTY, i)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exclude">
        <mat-header-cell *matHeaderCellDef>Exclude</mat-header-cell>
        <mat-cell *matCellDef="let object; let i=index" [formGroupName]="i">
          <mat-checkbox
            formControlName="exclude"
            (change)="updateColumnMapping($event, columnType.EXCLUDE, i)"></mat-checkbox>
        </mat-cell>
      </ng-container>
    </mat-table>
  </div>
  <!-- end column name table -->

  <div>
    <button
      mat-stroked-button
      type="button"
      (click)="createColumnMapping()"
    >Save</button>
  </div>
</div>
