<form (ngSubmit)="submit()" [formGroup]="form">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-row [control]="form.get('url')" [errors]="errors" for="url" label="URL">
      <input
        [appFormInput]="form.get('url')"
        [setFocus]="!form.get('url').value"
        appAutoFocus
        formControlName="url"
        id="url"
        type="text"
      />
    </app-form-row>
    <app-form-row [control]="form.get('domain')" for="domain" label="Label">
      <input
        [appFormInput]="form.get('domain')"
        [autoSelect]="form.get('url').value"
        [placeholder]="domainDefault"
        [setFocus]="form.get('url').value"
        appAutoFocus
        formControlName="domain"
        id="domain"
        type="text"
      />
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
  </app-modal-footer>
</form>
