@use 'sankey';
@use 'variables';

app-sankey-multi-lane {
  $link-dimmed-opacity: .1;
  $link-opacity: .9;
  $link-selected-stroke-opacity: .85;
  $link-selected-stroke-width: 3;
  $link-stroke-opacity: .2;

  $node-dimmed-opacity: .1;
  $node-opacity: .9;
  $node-selected-stroke-opacity: .9;
  $node-selected-stroke-width: 3;
  $node-stroke-opacity: .7;
  $node-stroke-width: 1;

  @keyframes searchBlink {
    50% {
      fill: sankey.$search-accent-color;
    }
  }

  @mixin search-blink {
    animation-duration: 750ms;
    animation-name: searchBlink;
  }

  display: block;
  //touch-action: none;
  //user-select: none;
  height: 100%;

  min-height: 100%;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  width: 100%;

  svg {
    background-color: variables.$window-background;
    height: 100%;
    width: 100%;

    g {
      will-change: transform;

      .nodes {
        z-index: 1;

        g {
          // todo reenable when performance improves
          //transition: opacity 250ms 250ms;

          rect {
            cursor: move;
            fill-opacity: $node-opacity;
            shape-rendering: crispEdges;
            stroke: variables.$black;
            stroke-opacity: $node-stroke-opacity;
            stroke-width: 1;
            transition: opacity 200ms;
          }

          .text-shadow {
            display: none;
            fill: sankey.$node-label-shadow;
            filter: blur(.1em);
            mix-blend-mode: lighten;
            stroke: none;
            transform: scaleY(1.5);
          }

          &[highlighted="false"],
          &[selected="false"],
          &[transitively-selected="false"] {
            > rect {
              opacity: $node-dimmed-opacity;
            }

            text {
              opacity: $node-dimmed-opacity;
            }
          }

          &[highlighted="true"],
          &[transitively-selected="true"] {
            > rect {
              opacity: $node-opacity;
            }

            text {
              opacity: $node-opacity;
            }
          }

          &:hover,
          &[selected="true"] {
            > rect {
              opacity: $node-opacity;
              stroke: sankey.$selection-accent-color;
              stroke-opacity: 1;
              stroke-width: $node-selected-stroke-width;
            }
          }

          &[searched="true"] .text-shadow {
            display: initial;
            fill: opacify(sankey.$active-node-label-shadow, .5);
            filter: none;
            mix-blend-mode: normal;
            stroke: sankey.$search-accent-color;
            transform: scaleY(1.5) scaleX(1.1);
            transform-origin: 15px 0;
          }

          &[focused="true"] {
            .text-shadow {
              fill: opacify(sankey.$active-node-label-shadow, .85);
              @include search-blink();
            }

            text {
              fill: variables.$black;
              font-size: 1em;
            }
          }

          &:hover .text-shadow {
            display: initial;
          }

          text {
            font-size: .5em;
            // todo: reenable when performance improves
            //transition: font-size 250ms 250ms, fill 250ms 250ms;
            pointer-events: none;
          }

          &:hover text {
            fill: variables.$black;
            font-size: 1em;
          }
        }
      }

      .links {
        fill: none;
        stroke: variables.$black;
        transition: opacity 200ms;

        path {
          // todo reenable when performance improves
          //transition: opacity 250ms 250ms;
          opacity: $link-opacity;
          stroke-opacity: $link-stroke-opacity;

          &.circular {
            stroke-dasharray: 4 4;
          }

          &[highlighted="false"],
          &[selected="false"],
          &[transitively-selected="false"] {
            opacity: $link-dimmed-opacity;
          }

          &[highlighted="true"],
          &[transitively-selected="true"] {
            opacity: $link-opacity;
          }

          &:hover,
          &[selected="true"] {
            opacity: $link-opacity;
            stroke: sankey.$selection-accent-color;
            stroke-opacity: 1;
            stroke-width: $link-selected-stroke-width;
          }

          &[searched="true"] {
            opacity: $link-opacity;
            stroke: sankey.$search-accent-color;
            stroke-opacity: $link-selected-stroke-opacity;
          }


          &[focused="true"] {
            stroke-width: $link-selected-stroke-width;
            @include search-blink();
          }
        }
      }
    }
  }
}
