@use '../../' as this;
@use 'variables';
@use 'sankey';

app-sankey-multi-lane {
  --active-opacity: #{ this.$active-opacity };
  --inactive-opacity: #{ this.$inactive-opacity };

  @include sankey.sankey;

  svg g {
    .nodes g rect {
      stroke: variables.$black;
      stroke-opacity: this.$node-stroke-opacity;
    }

    .links path {
      fill: none;
      stroke: variables.$black;
      stroke-opacity: this.$link-stroke-opacity;
    }
  }
}
