@use '../../' as this;
@use 'variables';
@use 'sankey';

app-sankey-multi-lane {
  --active-opacity: #{ this.$active-opacity };
  --inactive-opacity: #{ this.$inactive-opacity };

  @include sankey.sankey {
    @include sankey.node {
      rect {
        stroke: variables.$black;
        stroke-opacity: this.$node-stroke-opacity;
      }
    }
    @include sankey.link {
      fill: none;
      stroke: variables.$black;
      stroke-opacity: this.$link-stroke-opacity;
    }
  };
}
