<div class="module-header">
  <!-- Breadcrumbs -->
  <div *ngIf="showBreadCrumbs" class="module-breadcrumb-bar mb-1">
    <app-object-path [newTab]="true" [object]="object.parent"></app-object-path>
  </div>
  <div cdkDropList class="module-title-bar">
    <button
      *ngIf="returnUrl"
      [appLink]="returnUrl"
      class="module-title-bar-back mr-1"
      type="button"
    >
      <i class="fa fa-fw fa-arrow-left"></i>
    </button>
    <div
      (click)="toggleStarred()"
      *ngIf="object.starred"
      class="d-flex align-items-center"
      container="body"
    >
      <div class="d-inline-block mr-1">
        <i class="fas fa-star text-warning"></i>
      </div>
    </div>
    <!-- Needs wrapping in this way so when we get content of H1 node it does not include Angular comment -->
    <ng-container *ngIf="!titleTemplate; else titleFromTemplate">
      <h1
        (cdkDragMoved)="drag.cdkDragMoved($event)"
        (cdkDragReleased)="drag.cdkDragReleased($event)"
        [draggable]="drag"
        cdkDrag
        class="toolbar-title text-truncate"
      >
        {{ object.filename }}
      </h1>
    </ng-container>
    <ng-template #titleFromTemplate>
      <h1
        (cdkDragMoved)="drag.cdkDragMoved($event)"
        (cdkDragReleased)="drag.cdkDragReleased($event)"
        [draggable]="drag"
        cdkDrag
        class="toolbar-title text-truncate"
      >
        <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
      </h1>
    </ng-template>
    <div *ngIf="showObjectMenu" class="d-inline-block mr-3" container="body" ngbDropdown>
      <a (click)="$event.preventDefault()" class="dropdown-no-arrow" href="#" ngbDropdownToggle>
        <i class="fas fa-chevron-down fa-fw text-icon"></i>
      </a>
      <div ngbDropdownMenu>
        <ng-content select="app-module-menu"></ng-content>
        <ng-content select="[moduleMenuAdditions]"></ng-content>
      </div>
    </div>
    <button (click)="openNewWindow()" *ngIf="showNewWindowButton" class="btn btn-secondary ml-1">
      <i class="fas fa-external-link-alt" ngbTooltip="Open in new window"></i>
    </button>
    <ng-content></ng-content>
  </div>
</div>
