.tree-view-node {
  counter-increment: listCounter;
  display: block;

  & > div {
    counter-reset: listCounter;
  }

  & > button {
    // long button text in this view should align to left
    text-align: left !important;

    [data-counter] {
      &::after {
        content: " [" counter(listCounter) "] ";
      }
    }
  }

  // incline nested nodes
  .tree-view-node {
    padding-left: 20px;
  }
}
