<app-modal-header (cancel)="this.close()"> ChatGPT Playground</app-modal-header>

<app-modal-body>
  <ng-template #costEstimateTooltip>
    The pricing information has been last updated on {{ lastPricingUpdate | date : 'medium' }}
  </ng-template>
  <as-split class="align-items-stretch">
    <as-split-area>
      <div class="d-block m-2">
        <app-compose-prompt-form
          [entities]="entities"
          [context]="context"
          (prompt)="prompt$.next($event)"
        ></app-compose-prompt-form>
      </div>
    </as-split-area>
    <as-split-area>
      <div class="d-block m-2">
        <h6 class="mb-4"><strong>Request parameters</strong></h6>
        <div class="form-group">
          <label [for]="dropdown.uid"> Mode </label>
          <div ngbDropdown appUid #dropdown="uid">
            <div ngbDropdownToggle class="form-control text-right">
              {{ modeChange$.value.label }}
            </div>
            <div ngbDropdownMenu class="w-100">
              <button
                type="button"
                ngbDropdownItem
                *ngFor="let mode of MODES"
                (click)="modeChange$.next(mode)"
                [class.selected]="modeChange$.value === mode"
              >
                {{ mode.label }}
              </button>
            </div>
          </div>
        </div>
        <ng-container #modeForm></ng-container>
      </div>
    </as-split-area>
    <as-split-area class="d-flex h-100 flex-column">
      <div class="d-block m-2">
        <h6 class="mb-4"><strong>Output</strong></h6>
        <ng-container *ngIf="request$ | async as request; else noRequest">
          <app-loading-indicator *ngIf="request.loading$ | async"></app-loading-indicator>
          <app-module-error
            class=""
            *ngIf="request.error$ | async as error"
            [error]="error"
          ></app-module-error>
          <ng-container *ngIf="result$ | async as result">
            <ng-container *ngIf="resultChoices$ | async as choices">
              <label>Text response{{ choices?.length > 1 ? 's' : '' }}</label>
              <samp
                *ngFor="let choice of choices; trackBy: trackByIndex"
                class="card bg-light overflow-auto flex-grow-1 mb-2"
                [style.whiteSpace]="'pre-wrap'"
              >
                <ng-container *ngIf="choice.message as message; else text">
                  <p>
                    <strong>{{ message.role }}:</strong> {{ message.content }}
                  </p>
                </ng-container>
                <ng-template #text>
                  {{ choice.text }}
                </ng-template>
              </samp>
            </ng-container>
            <div class="mb-2">
              Estimated cost
              <span [ngbTooltip]="costEstimateTooltip" *ngIf="requestCost$ | async as cost">{{
                cost | currency : 'USD' : 'symbol' : '1.2-7'
              }}</span>
              <ng-container *ngIf="cached$ | async"> (cached)</ng-container>
            </div>
            <details>
              <summary><label [for]="raw.uid">Raw response</label></summary>
              <samp
                appUid
                #raw="uid"
                class="card bg-light overflow-auto flex-grow-1 mb-2"
                [style.whiteSpace]="'pre-wrap'"
              >
                {{ resultJSON$ | async }}
              </samp>
            </details>
          </ng-container>
        </ng-container>
        <ng-template #noRequest>No request has been submitted</ng-template>
      </div>
    </as-split-area>
  </as-split>
</app-modal-body>

<app-modal-footer>
  <div class="alert alert-warning w-100">
    This feature should be only exposed in testing enviroment.
  </div>
</app-modal-footer>
