@use 'sankey';
@include sankey.advanced-panel;

@import 'shared/styles/EdgeColorCode';
ul.color-link-legend {
  list-style: none;
  margin-bottom: 0;
  padding-left: 1.5em;

  li::before {
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    color: transparent;
    content: '+';
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: middle;
  }

  @each $type, $color in $edge-color-map {
    li[data-type=#{$type}]:before {
      background-color: $color;
      border-color: darken($color, 25%);
    }
  }

}
