<form 
  [formGroup]='form'
  (submit)="submit(); $event.preventDefault()">
  <div>
    <div class="modal-header">
      <h4 [ngSwitch]="mode" class="modal-title text-truncate blue b">
        <span *ngSwitchCase="'map'">
          Add Map
        </span>
        <span *ngSwitchCase="'dir'">
          Add Directory
        </span>
        <span *ngSwitchCase="'pdf'">
          Add File
        </span>
      </h4>
    </div>

    <div class="modal-body">
      <div [ngSwitch]='mode'>
        <div *ngSwitchCase="'pdf'">
          <!-- PDF Form -->
          <div class="form-group">
            <label for="nameInput">File Name</label>
            <input
              formControlName='filename'
              type="text"
              class="form-control"
              [ngClass]='{"is-invalid": isInvalid}'
              id="nameInput"
              placeholder="">
            <div class="invalid-feedback">
              A name must be inputted before uploading a PDF.
            </div>
          </div>
          <!-- File Input -->
          <button (click)="fileInput.click()" class="btn btn-primary">Browser</button>
          <input #fileInput hidden type="file" accept="application/pdf" (change)="onFilesPick($event.target.files); $event.target.value = null;">
          <p class='mt3'>Selection: {{ pickedFileName || 'no files selected' }}</p>

        </div>
        <div *ngSwitchCase="'map'">
          <!-- Map Form -->
          <div class="form-group">
            <label for="nameInput">Map Name</label>
            <input
              formControlName='label'
              type="text"
              class="form-control"
              [ngClass]='{"is-invalid": isInvalid}'
              id="nameInput"
              placeholder="">
            <div class="invalid-feedback">
              A name must be inputted before creating a map.
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea formControlName='description' class="form-control" id="descriptionInput" rows="3" placeholder=""></textarea>
          </div>
        </div>
        <div *ngSwitchCase="'dir'">
          <!-- Dir Form -->
          <div class="form-group">
            <label for="dirInput">Directory Name</label>
            <input
              formControlName='dirname'
              type="text"
              class="form-control"
              [ngClass]='{"is-invalid": isInvalid}'
              id="dirInput"
              placeholder="">
            <div class="invalid-feedback">
              A name must be inputted before creating a directory.
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
        </div>
      </div>      
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="doNothing()">Cancel</button>
      <button [disabled]='mode==="pdf" && forbidUpload' type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
<form>