<div class="form-group">
  <ng-container *ngFor="let record of logitBiasControl.controls | keyvalue">
    <div class="form-row mb-2">
      <label [for]="input.uid" class="col-auto"> {{ record.key }} : </label>
      <input
        type="text"
        class="form-control col-auto"
        [formControl]="record.value"
        appUid
        #input="uid"
        appAutoGrow
      />
      <button
        class="form-control col-auto border-0"
        type="button"
        (click)="logitBiasControl.removeControl(record.key)"
      >
        <i class="fa fa-fw fa-times"></i>
      </button>
    </div>
  </ng-container>
  <div class="input-group input-border rounded mb-2">
    <input type="text" class="form-control border-0" #newKeyInput />
    <div class="input-group-append">
      <button
        class="btn btn-secondary"
        type="button"
        (click)="logitBiasControl.add(newKeyInput.value)"
      >
        <i class="fa fa-fw fa-plus"></i>
        Add Token Id
      </button>
    </div>
  </div>
</div>
