<!-- Container -->
<div
  id='side-bar-ui-container'
  class='relative h-100 unicorn-dark-theme'>
  <!-- Node Form -->
  <form
    *ngIf='data_type==="node"'
    [formGroup]='graph_data_form'
    class='graph-form'>
    <!-- Label Input -->
    <h3>Label</h3>
    <mat-form-field floatLabel="never" appearance="outline" class='w-100'>
      <input
        #labelInput
        (keydown.enter)="blurInput($event)"
        matInput placeholder="Label" formControlName='label'>
    </mat-form-field>
    <!-- Type Input -->
    <h3>Type</h3>
    <mat-form-field floatLabel="never" appearance="outline" class='w-100'>
      <mat-select
        formControlName='group'>
        <mat-option *ngFor="let type of types" [value]='type.label'>
          {{type.label | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Edges Input -->
    <h3>Relations</h3>
    <div
      formArrayName='edges'
      *ngFor="let edge of edgeForm.controls; let i = index;">
      <div [formGroupName]='i'>
        <!-- Label Input -->
        <mat-form-field appearance="outline" class='w-100'>
          <input
            (keydown.enter)="blurInput($event)"
            matInput placeholder="Label" formControlName='label'>
        </mat-form-field>  
        <!-- To Input -->
        <mat-form-field appearance="outline" class='w-100'>
          <mat-label>Relation To</mat-label>
          <mat-select
            formControlName='to'>
            <mat-option *ngFor="let node of other_nodes" [value]='node.id'>
              {{node.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>            
        <button
          type='button'
          (click)='deleteEdge(edge, i)'
          class='w-100'
          mat-button
          color="warn">
          Delete Edge
        </button>
        <mat-divider class='separator'></mat-divider>
      </div>
    </div>
    <!-- Add Edge -->
    <button
      type='button'
      (click)='addEdge()'
      mat-flat-button
      class='w-100 op-button'
      color='primary'>
      Add Edge
    </button>
    <!-- Delete node -->
    <button
      type='button'
      mat-flat-button
      (click)='delete()'
      class='w-100 op-button'
      color='warn'>
      Delete Node
    </button>
  </form>
  <form 
    class='graph-form'
    *ngIf='data_type==="edge"'
    [formGroup]='graph_data_form'>
    <!-- Edge Form -->
    <div *ngIf='data_type==="edge"'>
      <!-- Label Input -->
      <h3>Label</h3>
      <mat-form-field floatLabel="never" appearance="outline" class='w-100'>
        <input
          (keydown.enter)="blurInput($event)"
          matInput placeholder="Label" formControlName='label'>
      </mat-form-field>
      <!-- Delete edge -->
      <button
        mat-flat-button
        type='button'
        (click)='delete()'
        class='w-100 op-button'
        color='warn'>
        Delete Edge
      </button>
    </div>
  </form>
</div>