<div ngbDropdown class="input-group input-border rounded" placement="bottom-left">
  <input
    #controlDropdown="uid"
    appUid
    autocomplete="off"
    class="form-control border-0"
    type="text"
    ngbDropdownToggle
    [formControl]="formControl"
    appAutoGrow
  />

  <div ngbDropdownMenu [attr.aria-labelledby]="controlDropdown" class="w-100">
    <ng-container *ngFor="let suggestion of suggestions">
      <button
        class="dropdown-item"
        type="button"
        placement="right"
        (click)="formControl.setValue(suggestion)"
      >
        <ngb-highlight [result]="suggestion" [term]="formControl.value"></ngb-highlight>
      </button>
    </ng-container>
  </div>
</div>
