@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'src/scss/variables';

// The little dot next to each entity type indicating the color
.entity-type-legend {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 10rem;
}

.word-cloud-title {
  min-width: 2rem;
}