<form [formGroup]="form">
    <ng-container formGroupName="nodeHeight">
        <label formGroupName="min" class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
            <input formControlName="enabled"
                   (change)="disableGroup($event.target.checked, 'nodeHeight.min')"
                   ngbButton
                   type="checkbox">
            Min node height
            <input formControlName="value"
                   max="20" min="0"
                   ngbButton
                   type="range">
            {{ form.get('nodeHeight.min.value').value }}
        </label>
        <label formGroupName="max" class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
            <input formControlName="enabled"
                   (change)="disableGroup($event.target.checked, 'nodeHeight.max')"
                   ngbButton
                   type="checkbox">
            Max node ratio
            <input formControlName="ratio"
                   max="60" min="1"
                   ngbButton
                   type="range">
            {{ form.get('nodeHeight.max.ratio').value }}
        </label>
    </ng-container>
    <div formControlName="linkPaletteId"
         class="form-check"
         ngbRadioGroup
         title="Link palette"
         *ngIf="options$ | async as options"
    >
        <div class="mb-1">Link palette:</div>
        <label ngbButtonLabel *ngFor="let palette of options.linkPalettes | keyvalue" class="mb-0"
               [style.textAlign]="'left'">
            <input ngbButton type="radio" [value]="palette.key"> {{palette.value.name}}
        </label>
    </div>
    <ng-container *ngIf="commonOptions$ | async as options">
        <div class="dropdown-divider"></div>
        <div class="w-100 text-left m-0"
             ngbButtonLabel
             ngbRadioGroup
             [name]="'link' + uuid"
             formControlName="linkValueAccessorId"
             title="Link size"
        >
            <div class="mb-1">Link Value Accessor:</div>
            <label ngbButtonLabel class="mb-0"
                   *ngFor="let valueAccessor of options.linkValueGenerators | keyvalue">
                <input ngbButton type="radio" [value]="valueAccessor.key">
                {{valueAccessor.value.description}}
            </label>
            <label ngbButtonLabel class="mb-0"
                   *ngFor="let valueAccessor of options.linkValueAccessors | keyvalue">
                <input ngbButton type="radio"
                       [value]="valueAccessor.key"> {{valueAccessor.value.description}}
            </label>
        </div>
        <div class="dropdown-divider"></div>
        <div class="form-check" ngbRadioGroup [name]="'node' + uuid"
             formControlName="nodeValueAccessorId" title="Node fixed size">
            <div class="mb-1">Node Value Accessor:</div>
            <label ngbButtonLabel class="mb-0"
                   *ngFor="let valueAccessor of options.nodeValueGenerators | keyvalue">
                <input ngbButton type="radio" [value]="valueAccessor.key"> {{valueAccessor.value.description}}
            </label>
            <label ngbButtonLabel class="mb-0"
                   *ngFor="let valueAccessor of options.nodeValueAccessors | keyvalue">
                <input ngbButton type="radio" [value]="valueAccessor.key"> {{valueAccessor.value.description}}
            </label>
        </div>
    </ng-container>
</form>
