<div *ngIf="loadTask.status$ | async as status" class="module">
  <app-module-progress *ngIf="status.running">
    Retrieving file data... {{ status.retryInProgressShown ? "Retrying..." : "" }}
  </app-module-progress>

  <app-module-error *ngIf="status.failedErrorShown" [error]="status.error">
    <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
  </app-module-error>

  <ng-container *ngIf="status.resultsShown">
    <ng-template #tabTitle>
      {{ object.effectiveName }} - {{ object.isDirectory ? "Project" : "File" }} Navigator
    </ng-template>
    <app-module-header
      [object]="object"
      [showObjectMenu]="false"
      [titleTemplate]="tabTitle"
    ></app-module-header>
    <div class="flex-fill overflow-auto">
      <!-- Body -->
      <div *ngIf="object?.isFile" [class.border-bottom]="object.hasWordCloud" class="module-body">
        <app-associated-maps [object]="object"></app-associated-maps>
      </div>

      <div
        *ngIf="object?.hasWordCloud"
        class="module-body flex-fill"
        style="height: 100%; min-height: 60vh"
      >
        <app-word-cloud
          (wordOpen)="openWord($event.entity, $event.keywordsShown)"
          [clickableWords]="true"
          [object]="object"
        ></app-word-cloud>
      </div>

      <div *ngIf="object?.isAnnotatable" class="module-body border-top">
        <div class="module-section">
          <div class="module-section-header">
            <h2 class="module-section-header-title">Annotation History</h2>
          </div>

          <div class="module-section-body">
            <app-object-annotation-history
              [limit]="10"
              [object]="object"
            ></app-object-annotation-history>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
