<div class="card m-auto" style="width: 500px">
  <div class="card-header">
    Login to Lifelike
  </div>
  <div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <app-form-row [control]="form.get('email')" for="email" label="Email">
        <input [appFormInput]="form.get('email')" appAutoFocus formControlName="email" id="email" type="email">
      </app-form-row>

      <app-form-row [control]="form.get('label')" for="password" label="Password">
        <input [appFormInput]="form.get('password')" formControlName="password" id="password" type="password">
      </app-form-row>

      <button class="btn btn-primary" type="submit">
        Login
      </button>
    </form>
  </div>
  <div *ngIf="unsupportedBrowser" class="alert alert-warning m-0">
    <p>
      You seem to be using a browser which might provide a diminished experience within Lifelike.
      For the best experience, please use <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>.
    </p>
  </div>
</div>
