<form [formGroup]="form" class="w-100 vh-100 flex flex-column justify-center items-center">
    <div class="w-50 pa2 flex flex-column justify-center items-center">
        <mat-form-field appearance="outline" class="w-100">
            <input matInput required placeholder="Email Address" formControlName="email">
            <mat-error>E-mail cannot be empty.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <input matInput required placeholder="Password" formControlName="password" type="password">
            <mat-error>Password cannot be empty.</mat-error>
        </mat-form-field>
        <!-- TODO - bring back [disabled]="form.invalid" -->
        <button
            (click)="submit()"
            class="w-100"
            mat-raised-button color="primary"
        >
            Login
        </button>
    </div>
</form>