<div class="card m-auto" style="width: 500px">
  <div class="card-header">
    Login to Lifelike
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-form-row for="email" label="Email" [control]="form.get('email')">
        <input type="email" formControlName="email" id="email" [appFormInput]="form.get('email')" appAutoFocus>
      </app-form-row>

      <app-form-row for="password" label="Password" [control]="form.get('label')">
        <input type="password" formControlName="password" id="password" [appFormInput]="form.get('password')">
      </app-form-row>

      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
</div>
