<ng-container *ngIf="(loadTask.status$ | async) as status">
  <div class="module-section">
    <div class="module-section-header">
      <h2 class="module-section-header-title">Community Content</h2>
    </div>

    <div class="module-section-body">
      <!-- Error message -->
      <ng-container *ngIf="status.failedErrorShown; else noError">
        <app-module-error [error]="status.error">
          <button class="btn btn-primary" type="button" (click)="refresh()">Retry</button>
        </app-module-error>
      </ng-container>

      <ng-template #noError>
        <!-- Placeholders -->
        <ng-container *ngIf="status.placeholdersShown">
          <div  *ngFor="let p of [0, 1]" class="mb-3">
            <span class="placeholder-box">Loading loading loading loading</span>
          </div>
        </ng-container>

        <!-- Content -->
        <ng-container *ngIf="status.resultsShown">
            <ng-container *ngIf="(list.results.view$ | async).length; else noResults">
              <div class="flex-fill overflow-auto">
                <app-object-list [objects]="status.placeholdersShown ? null : list.results"
                                 [appLinks]="true"
                                 [forEditing]="false"
                                 [showStars]="false"
                                 [objectControls]="false"
                                 (refreshRequest)="refresh()">
                </app-object-list>
              </div>
            </ng-container>
            <ng-template #noResults>No community content</ng-template>
        </ng-container>
      </ng-template>
    </div>
  </div>
</ng-container>