@mixin clamp($max-lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
}

tbody > tr {
  & > td > * {
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;

    &::ng-deep > .ngb-highlight {
      scroll-snap-align: center;
      display: inline-block;
      scroll-snap-stop: always;
    }

    max-height: calc(1.5em * 15);
    overflow: scroll;
    display: block;


  }

  &:focus > td > *, &:focus-within > td > *, &:hover > td > * {
    scroll-snap-type: y proximity;
  }
}

.line-clamp > tr {
  & > td > * {
    $max-lines: 3;
    @include clamp($max-lines);
  }

  &:focus > td > *, &:focus-within > td > * {
    transition: height 5000ms;
    -webkit-line-clamp: unset;
    overflow: scroll;
  }
}

.table {
  margin-bottom: 0;
}

#modalContainer {
  overflow: auto;
}

.warning {
  color: red;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.space-cards {
  display: flex;
  flex-direction: column;
  margin: -15px 0;

  & > .card {
    margin: 15px 0;
  }
}
