<ng-container *ngIf="notPrePublishExporters$ | addStatus | async as exporters">
  <ng-template [ngIf]="exporters.value && exporters.value.length"
               [ngTemplateOutlet]="buttonTemplate"
               [ngTemplateOutletContext]="{
                  $implicit: openExportDialogFactory(exporters),
                  content: 'Export...'
               }"></ng-template>
</ng-container>
<ng-container *ngIf="prePublishExporters$ | addStatus | async as prePublishers">
  <ng-template [ngIf]="prePublishers.value && prePublishers.value.length"
               [ngTemplateOutlet]="buttonTemplate"
               [ngTemplateOutletContext]="{
                  $implicit: openPrePublishDialogFactory(prePublishers),
                  content: 'Pre-publish...'
               }"></ng-template>
</ng-container>
