<ng-template [ngForOf]="parts" let-index="index" let-part ngFor>
  <span
    #tooltipRef="ngbTooltip"
    (dragstart)="dragStarted($event)"
    *ngIf="part.text; else text"
    [appAutoCloseTooltipOutOfView]="tooltipRef"
    [attr.annType]="part.infons.type"
    [attr.identifier]="part.infons.identifier || part.infons.Identifier"
    [attr.offset]="part.location.offset"
    [attr.position]="position + '-' + index"
    [autoClose]="'outside'"
    [closeDelay]="1000"
    [draggable]="'true'"
    [innerHTML]="part.text"
    [ngClass]="'x-y-z-annotation ' + part.infons.type"
    [ngbTooltip]="tooltip"
    container="body"
    placement="top bottom"
  ></span>
  <ng-template #tooltip>
    <dl>
      <dt>Identifier</dt>
      <dd>{{ part.infons.identifier || part.infons.Identifier }}</dd>
      <dt>Type</dt>
      <dd>{{ part.infons.type }}</dd>
      <a href="{{ getSource(part.infons) }}" target="_blank">Source</a>
    </dl>
  </ng-template>
  <ng-template #text>
    <span [attr.position]="position + '-' + index" [innerHTML]="part"></span>
  </ng-template>
</ng-template>
