<ng-template ngFor let-part [ngForOf]="parts">
    <span *ngIf="part.text; else text"
          [ngClass]="'x-y-z-annotation ' + part.infons.type"
          [ngbTooltip]="tooltip"
          [closeDelay]="1000"
          [autoClose]="'outside'"
          placement="top bottom"
          [innerHTML]="part.text"
    ></span>
    <ng-template #tooltip>
        <dl>
            <dt>Identifier</dt>
            <dd>{{part.infons.identifier}}</dd>
            <dt>Type</dt>
            <dd>{{part.infons.type}}</dd>
            <a href="{{getSource(part?.infons?.identifier, part?.infons?.type)}}" target="_blank">Source</a>
            
        </dl>
    </ng-template>
    <ng-template #text>
        <span [innerHTML]="part"></span>
    </ng-template>
</ng-template>
