.x-y-z-annotation {
  background-color: gray;
  cursor: move;

  &.Disease {
    background-color: #ffe0b2;
    color: #ff9800;
  }

  &.Mutation {
    background-color: #d7ccc8;
    color: #5d4037;
  }

  &.Gene {
    background-color: #e1bee7;
    color: #673ab7;
  }

  &.Chemical {
    background-color: #c8e6c9;
    color: #4caf50;
  }

  &.Species {
    background-color: #dcf1fc;
    color: #2196f3;
  }
}

.section-title {
  font-size: medium;
}
