<mat-card>
    <mat-card-header>
        <mat-card-title>User List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let user of users">
                <mat-icon *ngIf="!user.roles.includes('admin'); else adminIco" mat-list-icon>account_circle</mat-icon>
                <ng-template #adminIco>
                    <mat-icon mat-list-icon>gavel</mat-icon>
                </ng-template>
                <div mat-line>{{ user.username }}</div>
                <div mat-line>{{ user.email }}</div>
                <div mat-line id="user-actions">
                    <!-- TODO: Implement Edit and Delete -->
                    <button [disabled]="true" mat-flat-button color="primary">Edit</button>
                    <button [disabled]="true" mat-flat-button color="warn">Delete</button>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>