<div class="pdf-viewer-container" [class.debugmode]="debugMode" (mouseup)="mouseUp($event)">
  <div *ngIf="!isLoadCompleted" class="pdf-loading-box floating-toolbar">
    Loading<span *ngIf="allPages"> page {{currentRenderedPage}} of {{allPages}}</span>...
  </div>
  <div class="pdf-viewer-document">
    <app-pdf-viewer-lib [src]="pdfSrc" [(page)]="page" [rotation]="rotation" [original-size]="originalSize"
                        [fit-to-page]="fitToPage"
                        (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom" [show-all]="showAll"
                        [stick-to-page]="stickToPage"
                        [render-text]="renderText" [external-link-target]="'blank'" [autoresize]="autoresize"
                        (error)="onError($event)"
                        (on-progress)="onProgress($event)" (page-rendered)="pageRendered($event)"></app-pdf-viewer-lib>
  </div>
</div>
