<div class="pdf-viewer-container position-relative" [class.debugmode]="debugMode" #container>
    <div class="pdf-viewer-document">
        <app-pdf-viewer-lib [src]="pdfSrc"
                            [(page)]="page"
                            [rotation]="rotation"
                            [originalSize]="originalSize"
                            [fitToPage]="fitToPage"
                            (afterLoadComplete)="afterLoadComplete($event)"
                            [zoom]="zoom"
                            [showAll]="showAll"
                            [stickToPage]="stickToPage"
                            [renderText]="renderText"
                            [renderTextMode]="renderTextMode"
                            [externalLinkTarget]="'blank'"
                            [autoresize]="autoresize"
                            (onError)="onError($event)"
                            (onProgress)="onProgress($event)"
                            (pageRendered)="pageRendered($event)"
                            (matchesCountUpdated)="matchesCountUpdated.emit($event)"
                            (findControlStateUpdated)="findControlStateUpdated($event)">
        </app-pdf-viewer-lib>
    </div>
</div>
