<div #container [class.debugmode]="debugMode" class="pdf-viewer-container position-relative">
  <div class="pdf-viewer-document">
    <app-pdf-viewer-lib
      (afterLoadComplete)="afterLoadComplete($event)"
      (errorCallback)="onError($event)"
      (findControlStateUpdated)="findControlStateUpdated($event)"
      (matchesCountUpdated)="matchesCountUpdated($event)"
      (pageRendered)="pageRendered($event)"
      (progressCallback)="onProgress($event)"
      [(page)]="page"
      [autoresize]="autoresize"
      [externalLinkTarget]="'blank'"
      [fitToPage]="fitToPage"
      [originalSize]="originalSize"
      [renderTextMode]="renderTextMode"
      [renderText]="renderText"
      [rotation]="rotation"
      [search]="search.query$ | async"
      [selecting]="selecting"
      [showAll]="showAll"
      [src]="pdfSrc"
      [stickToPage]="stickToPage"
      [zoom]="zoom"
    >
    </app-pdf-viewer-lib>
  </div>
</div>
