@import 'src/scss/variables';

.pdf-viewer-container {
  position: relative;
}

// The box that says the PDF is loading
.pdf-loading-box {
  position: absolute;
  top: $spacer;
  left: $spacer;
  z-index: 100;
}
