
  .pdf-viewer-container {
    width: 60%;
  }
  
  .drag-and-drop {
    height: 300px;
    background-color: #ea1f62;
  }
  
  .annotations {
    height: 300px;
    background-color: #3f51b5;
  }
  
  app-toolbar {
    width: 100%;
    height: 40px;
    display: block;
    background-color: aqua;
  }
  
  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .select-file__container {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .select-file__container p {
    margin-bottom: 0;
  }
  
  .page-number {
    width: 50px;
  }
  
  .mb {
    margin-bottom: 15px;
  }
  
  .error {
    color: #ff4146;
  }
  
  #progress {
    margin-top: 50px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  #progress .bar,
  #progress .bg {
    height: 20px;
  }
  
  #progress .bg {
    background-color: #e3e3e3;
  }
  
  #progress .bar {
    width: 0;
    max-width: 100%;
    background-color: #3f51b5;
    transition: .5s width;
  }
  
  .outline-list li a {
    cursor: pointer;
  }
  
  .outline-list li a:hover {
    color: #ea1f62;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-drawer {
    width: 300px;
    padding: 12px;
  }
  
  mat-drawer-container {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  pdf-viewer {
    height: 100vh;
    display: block;
  }
  
  .title {
    width: 284px;
  }
  
  .pdf-annotation-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .open-drawer-btn {
    z-index: 99;
    position: fixed;
    top: 46vh;
    left: 1vh;
  }
  
  .annotations-drawer {
    min-width: 320px;
  }
  
  ::ng-deep .mat-list-item {
    cursor: pointer;
  }
  
  .frictionless-qtip {
    border-color: #1e1e1e;
    background-color: #1e1e1e;
  }
  
  .frictionless-annotation {
    border: 1px blue;
  }
  
  ::ng-deep .qtip-bootstrap {
    border-color: #636363;
    background-color: #636363; 
    color: white;
  }
  
.debugmode {
    cursor: crosshair;
}


.pdf-load-screen {
  width: 200px;
  height: 600px;
  background-color: blue;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}
