@import "src/scss/variables";

.pdf-viewer-container {
  counter-reset: annotation-highlight-index;
  height: 100%;

  position: relative;

  .pdf-viewer-document {
    height: 100%;
  }
}

// The box that says the PDF is loading
.pdf-loading-box {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: $spacer;
  position: absolute;
  top: 0;
  z-index: 100;
}

.search-status-box {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  right: #{$spacer + 1rem};
  top: 0;
  z-index: 100;
}

.system-annotation {
  mix-blend-mode: multiply;
  scroll-margin: 10rem;
}

.annotation-highlight {
  outline: 4px solid red;
  position: relative;
}
