@use 'variables';

.overlay-container {
  display: flex;
  gap: variables.$spacer;
  justify-content: space-between;
  margin: variables.$spacer;
  pointer-events: none;
  position: absolute;
  width: calc(100% - #{2*variables.$spacer});
  z-index: 1;

  > * {
    pointer-events: all;
    flex: 0 1 auto;
  }

  &.top {
    top: 0;
    align-items: flex-start;
  }

  &.bottom {
    bottom: 0;
    align-items: flex-end;
  }

  .selection {
    max-width: 50%;
  }

  .legend {
    min-width: 6rem;
  }

  .search {
    background-color: variables.$window-background;
  }
}

.physics-shadow-on {
  box-shadow: 0 0 0 0.2rem rgba(12, 140, 170, 0.25);
}

.physics-shadow-off {
  box-shadow: none;
}
