@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'src/scss/variables';

.network-navigation-container {
    margin-left: $spacer;
    margin-top: $spacer;
    min-width: 6rem;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.network-utilities-container {
    margin-left: $spacer;
    margin-bottom: $spacer;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.physics-shadow-on {
    box-shadow: 0 0 0 0.2rem rgba(12, 140, 170, 0.25);
}
.physics-shadow-off {
    box-shadow: none;
}

.pointer-events-on {
    pointer-events: all;
}
