<!---

<mat-drawer-container hasBackdrop="false" fxFlexFill>
  <mat-drawer class="annotations-drawer" #drawer mode="over" autoFocus="false">
    <span fxFlexFill>Annotations</span>
    <button mat-icon-button aria-label="Close drawer" (click)="drawer.close()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let a of annotations;let index = index; trackBy:index;"
        [style.background-color]="a.color" (click)="annotationListItemClick($event, a.ref, a.pageNumber)">
        page: {{a.pageNumber}}, keyword: {{a.keywords[0]}}
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <button mat-mini-fab color="primary" class="open-drawer-btn" (click)="drawer.toggle()">></button>
-->
<div class='test-container'>

  <lib-pdf-viewer-lib
    [pdfSrc]="pdfSrc"
    [annotations]="annotations"
    [goToPosition]="goToPosition"
    [dropAreaIdentifier]="dropAreaIdentifier"
    [handleDropArea]="handleDropArea"
    [debugMode]="debugMode"
    [addedAnnotation]="addedAnnotation"
    (dropEvents)="dropEvents($event)"
    (custom-annotation-created)="annotationCreated($event)"
    (loadCompleted)="loadCompleted($event)">
  </lib-pdf-viewer-lib>

  <div class='right-content'>
    <div class='drag-and-drop' id='drop-area'>
      drag and drop
    </div>
  </div>

</div>
<!---

  </mat-drawer-content>
</mat-drawer-container>
-->