@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../scss/variables';

.annotation-filter-btns-container {
    height: 1.5rem;
    margin-bottom: .25rem;
}

.annotation-filter-close-btn {
  float: right;
  border-radius: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
}
.annotation-filter-close-btn:hover {
  background-color: #FFFFFF;
  color: #dc3545;
  cursor: pointer;
}
.annotation-filter-close-btn:active {
  border: thin solid #dc3545;
}

.cloud-word {
  cursor: default;
}

.cloud-word-clickable {
  cursor: pointer;

  &:hover {
    fill: black !important;
    outline: 4px solid rgba(255, 0, 0, 0.3);
  }
}

.word-cloud-title {
    min-width: 2rem;
  }




mat-sidenav {
  min-width: 320px;

  .sidenav-title {
    margin-left: 32px;
  }

  .drawer-content {
    padding: 8px;
  }
}

.document {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 10px;

    &:empty {
      margin: 0;
    }
  }

  .title {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    display: block;
    order: -1;
  }

  .meta {
    order: -1;
    margin-bottom: 10px;

    & > * {
      &:after {
        content: " - ";
      }

      &:last-child:after {
        content: "";
      }
    }

    .authors {
      & > * {
        &:after {
          content: ", ";
        }

        &:last-child:after {
          content: "";
        }
      }
    }
  }
}
