<div *ngIf="loadTask?.status$ | async as status" appContainerBreakpoints class="module">
  <app-module-progress *ngIf="status.running">
    Downloading annotations... {{ status.retryInProgressShown ? "Retrying..." : "" }}
  </app-module-progress>

  <app-module-error *ngIf="status.failedErrorShown" [error]="status.error">
    <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
  </app-module-error>

  <ng-template #tabTitle>{{ title }}</ng-template>
  <app-module-header
    [object]="object"
    [showBreadCrumbs]="false"
    [showNewWindowButton]="false"
    [showObjectMenu]="false"
    [titleTemplate]="tabTitle"
  >
    <div class="d-flex align-items-center px-2 mx-auto">
      <div class="custom-control custom-checkbox">
        <input
          (change)="toggleShownText()"
          [checked]="false"
          [id]="id + '-toggle-shown-text-checkbox'"
          class="custom-control-input"
          type="checkbox"
        />
        <label [for]="id + '-toggle-shown-text-checkbox'" class="custom-control-label"
          >Show Primary Names</label
        >
      </div>
    </div>
    <div class="btn-group d-flex align-items-stretch ml-auto" role="group">
      <button
        (click)="copyWordCloudToClipboard()"
        class="btn btn-secondary text-nowrap"
        ngbTooltip="Copy Cloud to Clipboard"
        placement="bottom top left right"
      >
        <i class="fas fa-fw fa-copy"></i>
      </button>
      <button
        (click)="fitCloudToWindow()"
        class="btn btn-secondary text-nowrap"
        ngbTooltip="Fit Cloud to Window"
        placement="bottom top bottom-left top-left"
      >
        <i class="fas fa-fw fa-expand-arrows-alt"></i>
      </button>
      <button
        (click)="getAnnotations()"
        class="btn btn-secondary"
        container="body"
        ngbTooltip="Reload Annotations"
        placement="bottom top bottom-right bottom-left top-right top-left"
      >
        <i class="fa fa-fw fa-sync"></i>
      </button>
      <button
        (click)="toggleFiltersPanel()"
        class="btn btn-secondary"
        container="body"
        ngbTooltip="Show Annotation Filters"
        placement="bottom top bottom-right top-right"
      >
        <i class="fa fa-fw fa-filter"></i>
      </button>
      <div
        *ngIf="sortingAlgorithms.length > 1"
        class="btn-group"
        container="body"
        ngbDropdown
        ngbTooltip="Method for word size calculation"
        placement="bottom-right top-right"
        role="group"
      >
        <button class="btn btn-secondary" ngbDropdownToggle>
          <i class="fas fa-sort-size-down"></i>
          <span class="mx-2">{{ sorting.name }}</span>
        </button>
        <app-sorting-algorithms
          (changeSorting)="sort($event)"
          [algorithms]="sortingAlgorithms"
          [selected]="sorting"
          ngbDropdownMenu
        >
        </app-sorting-algorithms>
      </div>
    </div>
    <ng-content select="[header]"></ng-content>
  </app-module-header>
  <as-split [gutterSize]="5" direction="horizontal" unit="pixel">
    <as-split-area [order]="0">
      <ng-container *ngIf="annotationData.length === 0">
        <ngb-alert [dismissible]="false"> No entities (annotations) found. </ngb-alert>
      </ng-container>
      <div #wordCloudWrapper class="h-100 w-100 overflow-hidden">
        <svg #wordCloudSvg>
          <g #wordCloudGroup></g>
        </svg>
        <div
          #wordCloudTooltip
          class="tooltip bg-white rounded p-2"
          style="border: 2px solid; opacity: 1"
        ></div>
      </div>
    </as-split-area>
    <as-split-area
      [class]="filtersPanelOpened ? 'as-split-area border' : 'as-split-area as-hidden'"
      [order]="1"
      [visible]="filtersPanelOpened"
      size="340"
    >
      <div class="w-100 h-100 p-3">
        <div class="annotation-filter-btns-container">
          <button
            (click)="toggleFiltersPanel()"
            class="btn btn-danger annotation-filter-close-btn d-flex justify-content-center align-items-center"
            type="button"
          >
            <i class="fa fa-close"></i>
          </button>
        </div>
        <app-word-cloud-annotation-filter
          (wordOpen)="this.wordOpen.emit({ entity: $event, keywordsShown: keywordsShown })"
          (wordVisibilityOutput)="updateWordVisibilityMap($event)"
          [annotationData]="annotationData"
          [clickableWords]="true"
          [sortingAlgorithm]="sorting"
        ></app-word-cloud-annotation-filter>
      </div>
    </as-split-area>
  </as-split>
</div>
