.mat-list-base {
  .mat-list-item, .mat-list-option {
    height: 22px;
  }
}

.mat-expansion-panel-header-title {
  color: rgba(8, 140, 170, 1);
}

.mat-list-base .mat-subheader {
  color: rgba(8, 140, 170, 1);
}

.filter-section > app-organism-autocomplete {
  display: block;
  margin: 0 16px;
}
