.filter-section {
  display: block;
  align-content: center;
  align-items: center;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 22px;
}

.mat-expansion-panel-header-title {
  color: rgba(8, 140, 170, 1);
}

.mat-list-base .mat-subheader {
  color: rgba(8, 140, 170, 1);
}
