<app-modal-header (cancel)="this.close()"> ChatGPT Playground</app-modal-header>

<app-modal-body>
  <ng-template #costEstimateTooltip>
    <app-cost-estimate-tooltip></app-cost-estimate-tooltip>
  </ng-template>
  <as-split class="align-items-stretch">
    <as-split-area>
      <form [formGroup]="formInput" (ngSubmit)="onSubmitPropmptComposer()">
        <h6 class="mb-4"><strong>Input data</strong></h6>
        <div class="form-group d-flex justify-content-between flex-wrap align-items-center">
          <label>Entities</label>
          <ng-container *ngFor="let control of entitiesControl.controls; let i = index">
            <div class="input-group input-border rounded mb-2 w-100 flex-shrink-0">
              <input type="text" class="form-control border-0" [formControl]="control" />
              <div class="input-group-append">
                <button
                  class="form-control border-0"
                  type="button"
                  (click)="entitiesControl.removeAt(i)"
                >
                  <i class="fa fa-fw fa-times"></i>
                </button>
              </div>
            </div>
          </ng-container>
          <button class="btn btn-secondary" type="button" (click)="entitiesControl.add()">
            <i class="fa fa-fw fa-plus"></i>
            Add entity
          </button>
        </div>
        <div class="form-group">
          <label>Context</label>
          <div
            ngbDropdown
            class="input-group input-border rounded"
            placement="bottom-left"
            container="body"
            *ngIf="formInput.controls.context as contextControl"
          >
            <input
              #contextDropdown="uid"
              appUid
              autocomplete="off"
              class="form-control border-0"
              type="text"
              container="body"
              ngbDropdownToggle
              formControlName="context"
              appAutoGrow
            />

            <div ngbDropdownMenu [attr.aria-labelledby]="contextDropdown" class="w-100">
              <ng-container *ngFor="let context of contexts$ | async">
                <button
                  class="dropdown-item"
                  type="button"
                  placement="right"
                  (click)="contextControl.setValue(context)"
                >
                  <ngb-highlight [result]="context" [term]="contextControl.value"></ngb-highlight>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Compose prompt</button>
      </form>
    </as-split-area>
    <as-split-area>
      <app-chat-gpt-form
        [temparature]="temperature"
        [prompt]="prompt"
        (ngSubmit)="onSubmitRequest($event)"
      ></app-chat-gpt-form>
    </as-split-area>
    <as-split-area class="d-flex h-100 flex-column">
      <h6 class="mb-4"><strong>Output</strong></h6>
      <ng-container *ngIf="request$ | async as request; else noRequest">
        <app-loading-indicator *ngIf="request.loading$ | async"></app-loading-indicator>
        <app-module-error
          *ngIf="request.error$ | async as error"
          [error]="error"
        ></app-module-error>
        <ng-container *ngIf="result$ | async as result">
          <ng-container *ngIf="resultChoices$ | async as choices">
            <label>Text response{{ choices?.length > 1 ? 's' : '' }}</label>
            <samp
              *ngFor="let choice of choices; trackBy: trackByIndex"
              class="card bg-light overflow-auto flex-grow-1 mb-2"
              [style.whiteSpace]="'pre-wrap'"
            >
              {{ choice.text }}
            </samp>
          </ng-container>
          <div class="mb-2">
            Estimated cost
            <span [ngbTooltip]="costEstimateTooltip" *ngIf="requestCost$ | async as cost">{{
              cost | currency : 'USD' : 'symbol' : '1.2-7'
            }}</span>
            <ng-container *ngIf="cached$ | async"> (cached)</ng-container>
          </div>
          <details>
            <summary><label [for]="raw.uid">Raw response</label></summary>
            <samp
              appUid
              #raw="uid"
              class="card bg-light overflow-auto flex-grow-1 mb-2"
              [style.whiteSpace]="'pre-wrap'"
            >
              {{ resultJSON$ | async }}
            </samp>
          </details>
        </ng-container>
      </ng-container>
      <ng-template #noRequest>No request has been submitted</ng-template>
    </as-split-area>
  </as-split>
</app-modal-body>

<app-modal-footer>
  <div class="alert alert-warning w-100">
    This feature should be only exposed in testing enviroment.
  </div>
</app-modal-footer>
