@import "../../../../styles.scss";
@import "../../services/nodes.scss";

  #canvas {
    width: 100%;
    height: 100%;
  }

  .ma1 {
    margin: 0.5rem !important;
  }
  

  #meta-panel {
    @include overlay;
    @include no-select;
    bottom: 0;
    left: 0;
    
    width: 40%;
    min-width: 300px;
    max-width: 500px;

    max-height: 30vh;
    overflow-y: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2%;

    padding: 1rem;

    mat-icon {
      cursor: pointer;
      color: #000;
    }
    mat-icon:hover {
      color: $blue;
      transition: color ease-in;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $blue;
    }

    .can-hide {
      max-height: inherit;
      transition: max-height 0.15s ease-out;
    }
    .can-hide.hidden {
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
    }
  }

  #meta-panel:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color ease-in;
  }


  #read-panel {
    @include overlay;
    top: 0;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2%;
    overflow-y: scroll;
    padding: 1rem;

    p.b {
      background: unset !important;
    }

    .attr {

      span {
        background-color: unset !important;
      }
    }

    p.detail {
      font-size: 14px;
    }

    p.link {
      transition: color 0.1s ease-in;
      word-break: break-all;
    }
    p.link:hover {
      color: $blue;
      cursor: pointer;
    }

    p.blue {
      color: $blue !important;
    }
  }

  #tool-panel {
    @include overlay;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
      margin: 0.75rem;
      cursor: pointer;
      transition: color .2s ease-in;
    }
    mat-icon:hover {
      color: $blue;
    }
}
#tool-panel.childless {
  left: auto !important;
}