  <!-- Network Graph Canvas -->
  <div id='canvas'></div>
  <!-- Read Panel -->
  <div *ngIf='node' id='read-panel'>
    <div [ngClass]='nodeStyle'>
      <h2 class='roboto'>{{node?.label}}</h2>
    </div>
    <!-- Type -->
    <div>
      <p [ngClass]='nodeStyle' class='b'>
        Type
      </p>
      <p class='attr'>
        {{nodeStyle}}
      </p>
    </div>
    <!-- SubType -->
    <div *ngIf='node?.data?.subtype'>
      <p [ngClass]='nodeStyle' class='b'>
        SubType
      </p>
      <p class='attr'>
        {{node?.data?.subtype}}
      </p>
    </div>
    <!-- Detail -->
    <div *ngIf='node?.data?.detail'>
      <p [ngClass]='nodeStyle' class='b'>
        Detail
      </p>
      <p class='attr detail'>
        {{node?.data?.detail}}
      </p>
    </div>
    <!-- Link -->
    <div *ngIf='node?.data?.hyperlink'>
      <p [ngClass]='nodeStyle' class='b'>
        Hyperlink
      </p>
      <p class='attr link' (click)='goToLink(node.data.hyperlink)'>
        {{node?.data?.hyperlink}}
      </p>
    </div>
    <!-- Edges-->
    <div *ngIf='node?.edges.length'>
      <p [ngClass]='nodeStyle' class='b'>Edges</p>
      <div *ngFor='let edge of node?.edges'>
        <p class='attr'>
          <span [ngClass]='nodeStyle' class='edge-label i'>{{edge?.label}}&nbsp;</span>
          <span class='target-label'>{{getNode(edge)}}</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Meta Panel -->
  <div id='meta-panel'>
    <div class='cant-hide'>
      <div class='fr'>
        <mat-icon (click)='toggleHidden()' class='dib fr ma1 white'>minimize</mat-icon>
      </div>
      <h2 [ngClass]='{"smallText": minimized}' >{{project?.label}}</h2>
    </div>
    <div class='can-hide' [ngClass]='{"hidden": minimized}'>
      <p class='author'>
        By {{project?.author}}
      </p>
      <p class='date'>
        Modified {{project?.date_modified | friendlyDateStr}}
      </p>
      <p class='description lh-copy'>
        {{project?.description}}
      </p>
      <div *ngIf='childMode' fxLayout='row wrap' class='action'>

        <button
          *ngIf='isItMine'
          class='ma1'
          (click)='projectAPICall("edit")'
          mat-flat-button
          color="accent">
          Edit
        </button>

        <button
          *ngIf='!isItMine'
          class='ma1'
          (click)='projectAPICall("copy")'
          mat-flat-button
          color="accent">
          Make copy of
        </button>

        <button
          class='ma1'
          (click)='projectAPICall("share")'
          mat-flat-button
          color='primary'>
          Share
        </button>

        <button
          *ngIf='isItMine'
          class='ma1'
          (click)='projectAPICall("delete")'
          mat-flat-button
          color="warn">
          Delete
        </button>
        
        <button
          *ngIf='isItMine'
          class='ma1'
          (click)='projectAPICall("settings")'
          mat-flat-button
          color="primary">
          Settings
        </button>
        
        <button
          *ngIf="(userRoles$ | async)?.includes('admin')"
          class='ma1'
          (click)='projectAPICall("download")'
          mat-flat-button
          color="accent">
          Download
        </button>
      </div>
    </div>
  </div>
  <!-- Tool Panel -->
  <div [ngClass]="{'childless': !childMode}" id='tool-panel'>
    <mat-icon matTooltip="Fit Graph" matTooltipPosition="right" class='fit' (click)='fit()'>
      zoom_out_map
    </mat-icon>
  </div>
