  <!-- Network Graph Canvas -->
  <div id='canvas'></div>
  <!-- Read Panel -->
  <div *ngIf='node' id='read-panel'>
    <div [ngClass]='nodeStyle'>
      <h2 class='roboto'>{{node?.label}}</h2>
    </div>
    <!-- Type -->
    <div>
      <p [ngClass]='nodeStyle' class='b'>
        Type
      </p>
      <p class='attr'>
        {{nodeStyle}}
      </p>
    </div>
    <!-- Detail -->
    <div *ngIf='node?.data?.detail'>
      <p [ngClass]='nodeStyle' class='b'>
        Detail
      </p>
      <p class='attr detail'>
        {{node?.data?.detail}}
      </p>
    </div>
    <!-- Link -->
    <div *ngIf='node?.data?.hyperlink'>
      <p [ngClass]='nodeStyle' class='b'>
        Hyperlink
      </p>
      <p class='attr link' (click)='goToLink(node.data.hyperlink)'>
        {{node?.data?.hyperlink}}
      </p>
    </div>
    <!-- Edges-->
    <div *ngIf='node?.edges.length'>
      <p [ngClass]='nodeStyle' class='b'>Edges</p>
      <div *ngFor='let edge of node?.edges'>
        <p class='attr'>
          <span [ngClass]='nodeStyle' class='edge-label i'>{{edge?.label}}&nbsp;</span>
          <span class='target-label'>{{getNode(edge)}}</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Meta Panel -->
  <div id='meta-panel'>
    <div class='fr'>
      <mat-icon class='dib fr ma1 white'>minimize</mat-icon>
      <!-- TODO - connect to dialog for updating project detail information -->
      <mat-icon class='dib fr ma1 white'>edit</mat-icon>
    </div>
    <h2>{{project?.label}}</h2>
    <div class='can-hide'>
      <p class='author'>
        By {{project?.author}}
      </p>
      <p class='date'>
        Modified {{project?.date_modified | friendlyDateStr}}
      </p>
      <p class='description lh-copy'>
        {{project?.description}}
      </p>
      <div class='action'>
        
        <button (click)='projectAPICall("edit")' mat-flat-button color="accent">Edit</button>

        <!-- TODO - Refactor maybe into toggle switch -->
        <button (click)='projectAPICall("publish")' mat-flat-button color="primary">Publish</button>

        <button (click)='projectAPICall("share")' mat-flat-button>Share</button>

        <button (click)='projectAPICall("delete")' mat-flat-button color="warn">Delete</button>    
      </div>
    </div>
  </div>
  <!-- Tool Panel -->
  <div [ngClass]="{'childless': !childMode}" id='tool-panel'>
    <mat-icon matTooltip="Fit Graph" matTooltipPosition="right" class='fit' (click)='fit()'>
      zoom_out_map
    </mat-icon>
  </div>
