@import "../../../../styles.scss";
@import "../../services/nodes.scss";

  #canvas {
    width: 100%;
    height: 100%;
  }

  #meta-panel {
    @include overlay;
    @include no-select;
    bottom: 0;
    left: 0;
    
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    background-color: rgba(94, 94, 92, 0.8);

    margin-bottom: 0;
    padding: 1rem;

    mat-icon {
      cursor: pointer;
    }
    mat-icon:hover {
      color: $blue;
      transition: color ease-in;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: lighten($color: $blue, $amount: 20);
    }
    p.author {
      color: #f0f0f0;
    }
    p.date {
      color: #f0f0f0;
    }
    p.description {
      color: #f1f1f1;
    }
  }

  #meta-panel:hover {
    background-color: rgba(94, 94, 92, 1);
    transition: background-color ease-in;
  }


  #read-panel {
    @include overlay;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #FFF;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    overflow-y: scroll;
    padding: 0;
    margin: 1rem;

    h3 {
      color: #FFF !important;
      margin: 0;
      padding: 1.25rem;
      font-weight: 400;
    }

    p.b {
      background: unset !important;
      padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    }

    .attr {
      padding: 0.25rem 1.25rem 0.25rem 1.25rem;

      span {
        background-color: unset !important;
      }
    }

    p.detail {
      font-size: 14px;
    }

    p.link {
      transition: color 0.1s ease-in;
    }
    p.link:hover {
      color: $blue;
      cursor: pointer;
    }

    p.blue {
      color: $blue !important;
    }
  }
  #tool-panel {
    @include overlay;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
      margin: 0.75rem;
      cursor: pointer;
      transition: color .2s ease-in;
    }
    mat-icon:hover {
      color: $blue;
    }
}
#tool-panel.childless {
  left: auto !important;
}