<form
[formGroup]='form'>
<h2>
  <span class='blue'>Project Settings</span>
</h2>
<mat-slide-toggle class='mv2' formControlName="public">
  {{ isPublic ? 'Make private' : 'Make public'}}
</mat-slide-toggle>
<mat-form-field
  class='w-100'
  appearance='outline'>
  <input
    formControlName='label'
    matInput
    placeholder="Name">
  <mat-error>
    Please enter a name
  </mat-error>
</mat-form-field>
<mat-form-field
  class='w-100'
  appearance='outline'>
  <textarea 
    formControlName='description'
    matInput
    placeholder="Description">
  </textarea>
</mat-form-field>
<button (click)='onSubmitClick()' mat-raised-button color="primary">Update</button>
<button (click)='onNoClick()' mat-stroked-button color="warn">Cancel</button>
</form
>

