<ngb-alert [dismissible]="dismissible" [type]="_type" [class]="alertClass">
  <header class="d-block" *ngIf="responseAlert.title">
    <strong>{{ responseAlert.title }}</strong>
  </header>
  <p>{{ responseAlert.message }}</p>
  <ng-content></ng-content>
  <details *ngIf="responseAlert.additionalMsgs?.length">
    <summary>Details</summary>
    <p>
      <span class="d-block" *ngFor="let additionalMsg of responseAlert.additionalMsgs">{{
        additionalMsg
      }}</span>
    </p>
  </details>
</ngb-alert>
