@import 'src/scss/variables';

:host {
  overflow: auto;

  .table-container {
    display: inline-block;
    min-width: calc(100% - 2 * #{module-body-padding-x});
    margin: $module-body-padding-x;
  }
}
