<div class="w-100 vh-100 relative" fxLayout="column">
  <div class="pdf-toolbar z-1">
    <button mat-raised-button (click)="openFileDialog()">
      <mat-icon>folder_open</mat-icon>
      Open
    </button>
  </div>
  <div class="overflow-auto">
    <div *ngIf="!pdfViewerReady && loadTask.running" fxLayout="row" fxLayoutAlign="center center" class="mt4">
      <mat-icon>hourglass_empty</mat-icon>
      Downloading {{loadTask.valueLoading[0].filename ? loadTask.valueLoading[0].filename : 'file'}}...
    </div>
    <div *ngIf="pdfViewerReady">
      <!-- PDF Viewer -->
      <lib-pdf-viewer-lib
        id='pdf-viewer'
        appPdfViewer
        [pdfSrc]="pdfData"
        [annotations]="annotations"
        [dropAreaIdentifier]="'#dropme'"
        [handleDropArea]="false"
        [goToPosition]="goToPosition"
        [addedAnnotation]="addedAnnotation"
        (dropEvents)="drop($event)"
        (custom-annotation-created)="annotationCreated($event)"
        (loadCompleted)="loadCompleted($event)"
      >
      </lib-pdf-viewer-lib>
    </div>
  </div>
</div>
