<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <app-modal-header (cancel)="cancel()">
      {{ effectiveTitle }}
    </app-modal-header>

    <app-modal-body>
      <app-form-row for="genes" label="Gene Names" [control]="form.get('genes')">
        <textarea formControlName="genes" id="genes" [appFormInput]="form.get('genes')"
                rows="5" placeholder="* New line for each gene name"></textarea>
      </app-form-row>
      <app-form-row for="organism" label="Organism" [control]="form.get('organism')">
        <app-organism-autocomplete
          formId="organism"
          [organismTaxId]="organismTaxId"
          (organismPicked)="setOrganism($event)"
        ></app-organism-autocomplete>
    </app-form-row>

    <app-form-row for="domains" label="Domains" [control]="form.get('domains')">
      <div *ngFor="let choice of checks; let i=index">
        <label>
          <input type="checkbox" [value]="choice" (change)="onCheckChange($event)" [checked]="domains.includes(choice)">
          {{choice}}
        </label>
      </div>
    </app-form-row>
    </app-modal-body>

    <app-modal-footer>
      <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">{{ submitButtonLabel }}</button>
    </app-modal-footer>
  </div>
</form>
