@import "../../shared/annotation-styles.scss";

.gene {
  color: lighten($gene, 20) !important;
}

.disease {
  color: lighten($disease, 20) !important;
}

.chemical {
  color: lighten($chemical, 20) !important;
}

.mutation {
  color: lighten($mutation, 20) !important;
}

.species, .map {
  color: lighten($species, 20) !important;
}

.company {
  color: lighten($company, 20) !important;
}

.study {
  color: lighten($study, 20) !important;
}

.entity {
  color: lighten($entity, 20) !important;
}

.protein {
  color: lighten($protein, 20) !important;
}

.pathway {
  color: lighten($pathway, 20) !important;
}

.phenotype, .note {
  color: lighten($note, 20) !important;
}

.observation, .cause, .effect, .correlation, .association {
  color: lighten($association, 20) !important;
}