.gene {
  background: #673ab7 !important;
  color: lighten(#673ab7, 10) !important;
}

.disease {
  background: #ff9800 !important;
  color: lighten(#ff9800, 10) !important;
}

.chemical {
  background: #4caf50 !important;
  color: lighten(#4caf50, 10) !important;
}

.mutation {
  background: #5d4037 !important;
  color: lighten(#5d4037, 10) !important;
}

.species {
  background: #0277bd !important;
  color: lighten(#0277bd, 10) !important;
}

.observation {
  background: #d62728 !important;
  color: ligthen(#d62728, 10) !important;
}

.study {
  background: #17becf !important;
  color: ligthen(#17becf, 10) !important;
}

.entity {
  background: #7f7f7f !important;
  color: ligthen(#7f7f7f, 10) !important;
}

.protein {
  background: #bcbd22 !important;
  color: ligthen(#bcbd22, 10) !important;
}

.pathway {
  background: #e377c2 !important;
  color: ligthen(#e377c2, 10) !important;
}

.phenotype {
  background: #edc949 !important;
  color: ligthen(#edc949, 10) !important;
}
