@import "../../shared/annotation-styles.scss";

.gene {
  color: darken($gene, 5) !important;
}

.disease {
  color: darken($disease, 5) !important;
}

.chemical {
  color: darken($chemical, 5) !important;
}

.mutation {
  color: darken($mutation, 5) !important;
}

.species, .map {
  color: darken($species, 5) !important;
}

.company {
  color: darken($company, 5) !important;
}

.study {
  color: darken($study, 5) !important;
}

.entity {
  color: darken($entity, 5) !important;
}

.protein {
  color: darken($protein, 5) !important;
}

.pathway {
  color: darken($pathway, 5) !important;
}

.phenotype, .note {
  color: darken($note, 5) !important;
}

.observation, .cause, .effect, .correlation, .association {
  color: darken($association, 5) !important;
}