<div class="module" *ngIf="(loadTask?.status$ | async) as status">
    <app-module-progress *ngIf="status.running">
        Downloading file...
    </app-module-progress>

    <app-module-error *ngIf="status.failedErrorShown" [error]="status.error" style="z-index: 2">
        <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
    </app-module-error>
    <ng-container #tabTitle>{{ title }}</ng-container>
    <app-module-header [titleTemplate]="tabTitle" [showObjectMenu]="false"></app-module-header>
    <div class="module-body">
        <app-trace-details [data]="data"></app-trace-details>
    </div>
</div>
