<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ml-3">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node py-1">
        <ng-container *ngIf="node.label !== undefined; else rawNodeContent">
            <i class="fas fa-circle o-80 f-5" [ngStyle]="{
                        fontSize: '0.5em',
                        verticalAlign: 'middle'
                        }"></i>
            {{ node.label }}
            <ng-container *ngIf="node.value !== undefined">
                {{'\t'}}:{{'\t'}}{{node.value}}
            </ng-container>
        </ng-container>
        <ng-template #rawNodeContent>
            <pre [style.whiteSpace]="'pre-wrap'" class="m-0">{{ node }}</pre>
        </ng-template>
    </cdk-nested-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node py-1">
        <button class="btn p-0" [attr.aria-label]="'Toggle ' + node.label" cdkTreeNodeToggle>
            <i [ngClass]="[
                        'fas',
                        treeControl.isExpanded(node) ? 'fa-angle-down' : 'fa-angle-right'
                        ]"></i>
            {{node.label}}
        </button>
        <div *ngIf="treeControl.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
    </cdk-nested-tree-node>
</cdk-tree>
