<div class="d-flex flex-column h-100">
  <div class="module-body">
    <h4 *ngIf="name">
      "{{ name }}"
    </h4>
    <div *ngIf="isNode" class="text-muted">
      <div class="mb-2">Type: {{ selected.entity.label | titlecase }}</div>
      <div>
        <button class="btn btn-primary w-100"
                (click)="searchMapNodeInVisualizer(selected.entity)"
        >Search in the Visualizer</button>
        <button class="btn btn-primary w-100 mt-1"
                (click)="searchMapNodeInContent(selected.entity)"
        >Search in User Content</button>
      </div>
    </div>
    <div *ngIf="!isNode" class="text-muted">
      Type: Connection
    </div>
    <div *ngIf="selected.entity.data.subtype" class="text-muted">
      Type: {{ selected.entity.data.subtype | titlecase }}
    </div>

    <div *ngIf="selected.entity.data.detail" class="mt-4 card" style="white-space: pre-line">
      <div class="card-body p-3 bg-light">
        {{ selected.entity.data.detail }}
      </div>
    </div>
  </div>

  <div class="module-body border-top">
    <div class="mb-4" *ngIf="selected.entity.data?.hyperlinks && selected.entity.data?.hyperlinks.length">
      <h5>Hyperlinks</h5>

      <ul class="list-unstyled m-0">
        <li *ngFor='let h of selected.entity.data?.hyperlinks; let i = index;' class="text-truncate">
          <a [href]="h.url" (click)="goToLink(h.url); $event.preventDefault()"
             [ngbTooltip]="h.url" container="body">{{ h.url }}</a>
        </li>
      </ul>
    </div>

    <div class="mb-4"
         *ngIf="name || selected.entity.data?.search">
      <h5>Quick Search</h5>

      <app-quick-search [query]="name" [links]="selected.entity.data?.search"></app-quick-search>
    </div>

    <div class="mb-4" *ngIf="selected.entity.data?.sources && selected.entity.data?.sources.length">
      <h5>Sources</h5>

      <app-sources (executeFileSource)="goToSource($event)" [links]="selected.entity.data?.sources"></app-sources>
    </div>
  </div>
</div>
