<div class="d-flex flex-column h-100">
  <div class="module-body">
    <h4 *ngIf="name">"{{ name }}"</h4>
    <div class="text-muted">
      <div class="mb-2">Type: {{ selectedType | titlecase }}</div>
    </div>
    <div *ngIf="selected.entity.data?.subtype" class="text-muted">
      Type: {{ selected.entity.data.subtype | titlecase }}
    </div>

    <div *ngIf="selected.entity.data?.detail" class="mt-4 card" style="white-space: pre-line">
      <div class="card-body p-3 bg-light">
        {{ selected.entity.data.detail }}
      </div>
    </div>

    <ng-container
      *ngIf="
        (selected.entity.data?.sources && selected.entity.data?.sources.length) ||
        (selected.entity.data?.hyperlinks && selected.entity.data?.hyperlinks.length)
      "
    >
      <fieldset class="fieldset-properties mt-4">
        <legend>Links</legend>
        <app-links-panel
          [editable]="false"
          [ngModel]="selected.entity.data.sources"
          [showHeader]="false"
        ></app-links-panel>
        <app-links-panel
          [editable]="false"
          [ngModel]="selected.entity.data.hyperlinks"
          [showHeader]="false"
        ></app-links-panel>
      </fieldset>
    </ng-container>

    <div *ngIf="(name || selected.entity.data?.search) && isNode">
      <fieldset class="fieldset-properties mt-4">
        <legend>Search Internal <i class="fas fa-external-link-alt ml-1"></i></legend>

        <ul class="list-unstyled m-0">
          <li class="text-truncate">
            <div (click)="searchMapNodeInVisualizer(selected.entity)" class="btn btn-link p-0">
              Knowledge Graph
            </div>
          </li>
          <li class="text-truncate">
            <div (click)="searchMapNodeInContent(selected.entity, '')" class="btn btn-link p-0">
              File Content
            </div>
          </li>
          <li class="text-truncate">
            <div (click)="searchMapNodeInContent(selected.entity, 'map')" class="btn btn-link p-0">
              Map Content
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset class="fieldset-properties mt-4">
        <legend>Search External <i class="fas fa-external-link-alt ml-1"></i></legend>
        <app-quick-search [links]="selected.entity.data?.search" [query]="name"></app-quick-search>
      </fieldset>
    </div>
  </div>
</div>
