@import "src/scss/variables";

.link-item {
}

.link-item-text-readonly {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-height: none;
}

.link-item-text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 100px;
  overflow: hidden;
}

.link-item.active {
  .card-body {
    background: $table-row-active-bg !important;
  }

  .link-item-text {
    display: block;
    max-height: none;
    overflow: visible;
  }
}
