<div [class.drop-target-outset]="dropTargeted" [class.drop-target]="dropTargeted">
  <div *ngIf="showHeader" class="d-flex align-items-start mb-2">
    <label class="m-0 mr-4">{{ title }}:</label>
    <button
      (click)="openCreateDialog()"
      *ngIf="editable"
      [disabled]="limit !== null && value?.length > limit - 1"
      class="btn btn-primary btn-xs ml-auto"
      type="button"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div *ngIf="editable && draggable" class="drop-zone">Drag links or snippets here</div>

  <div
    (focus)="linkFocus($event, link, index)"
    *ngFor="let link of value; index as index"
    [class.active]="activeLinkIndex === index"
    [class.mt-2]="editable"
    class="card link-item"
    tabindex="0"
  >
    <div (click)="activeLinkIndex = index" class="card-body bg-light p-2">
      <div
        *ngIf="link.domain != '' && link.domain != null"
        [ngClass]="editable ? 'link-item-text' : 'link-item-text-readonly'"
      >
        <ng-container *ngTemplateOutlet="linkText"></ng-container>
      </div>
      <ng-template #linkText>
        <div style="white-space: pre-line">
          {{ getText(link.domain) }}
        </div>
      </ng-template>

      <div class="d-flex align-items-center">
        <div [ngbTooltip]="link.url" class="text-truncate mr-2" container="body" placement="top">
          <a
            (click)="linkClick($event, link)"
            [href]="toValidUrl(link.url)"
            class="text-muted"
            target="_blank"
          >
            <small><i class="{{ fontAwesomeIcon }} fa-fw"></i> {{ getUrlText(link.url) }}</small>
          </a>
        </div>

        <div *ngIf="editable" class="mt-1 ml-auto link-item-controls text-nowrap">
          <button
            (click)="openEditDialog(link); $event.stopPropagation()"
            class="btn btn-xs btn-secondary ml-auto"
            type="button"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            (click)="delete(index); $event.stopPropagation()"
            class="btn btn-xs btn-outline-danger ml-1"
            type="button"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
