@import 'src/scss/variables';

.link-item {
}

.link-item-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: visible;
  max-height: none;
}

.link-item.active {
  .card-body {
    background: $table-row-active-bg !important;
  }

  .link-item-text {
    display: block;
    overflow: visible;
    max-height: none;
  }
}
