@import 'src/scss/variables';

.graph-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graph-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.top-toolbar {
  position: absolute;
  top: $spacer;
  left: $spacer;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.bottom-toolbar {
  position: absolute;
  bottom: $spacer;
  left: $spacer;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.detail-overlay {
  position: absolute;
  top: $spacer;
  left: $spacer;
  width: 500px;
  max-width: calc(100% - #{$spacer * 2});
  max-height: calc(100% - #{$spacer * 2});
  overflow: auto;
  padding: 1.5rem;
  z-index: 1;
  background: $gray-100;
  border-radius: $border-radius;
  transition: 0.2s ease opacity;

  h1 {
    margin: 0;
    font-size: $font-size-lg;
    font-weight: bold;
  }
}

.detail-overlay-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  transition: 0.2s ease opacity;
}

.map-preview-container:hover {
  .top-toolbar, .bottom-toolbar {
    opacity: 1;
  }

  .detail-overlay:not(.pinned) {
    pointer-events: none;
    opacity: 0;
  }
}
