<div class="position-relative h-100">
  <ng-container *ngIf="(loadTask.status$ | async) as status">
    <app-module-progress *ngIf="status.running" class="position-absolute w-100 h-100 bg-white"
                         style="z-index: 2">
      Loading map...
    </app-module-progress>

    <app-module-error *ngIf="status.failedErrorShown"
                      class="position-absolute w-100 h-100 bg-white p-4"
                      style="z-index: 2" [error]="status.error">
      <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
    </app-module-error>
  </ng-container>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="module">
      <div class="module-header">
        <!-- Breadcrumbs -->
        <div class="module-breadcrumb-bar mb-1" *ngIf="map">
          <app-object-path [object]="map.parent" [newTab]="true"></app-object-path>
        </div>

        <div class="d-flex flex-wrap align-items-center">
          <div class="module-title-bar mr-4" *ngIf="map">
            <button type="button" class="module-title-bar-back mr-2" (click)="goToReturnUrl()"
                    *ngIf="returnUrl">
              <i class="fa fa-fw fa-arrow-left"></i>
            </button>
            <h1 class="module-title text-truncate" draggable="true"
                (dragstart)="this.dragStarted($event)">
              {{ map?.label }}
            </h1>
            <div ngbDropdown class="d-inline-block ml-1" container="body">
              <a href="#" class="dropdown-no-arrow" ngbDropdownToggle
                 (click)="$event.preventDefault()">
                <i class="fas fa-chevron-down fa-fw text-icon"></i>
              </a>
              <div ngbDropdownMenu>
                <app-object-menu [object]="map" [forEditing]="false"
                                 [showOpen]="false" [showDelete]="false">
                </app-object-menu>
              </div>
            </div>
            <div>
              <button class="btn btn-secondary ml-2" (click)="openNewWindow()">
                <i class="fas fa-external-link-alt" ngbTooltip="Open in new window"></i>
              </button>
            </div>
            <div class="btn-group ml-2">
              <button *ngIf="map?.privileges.writable"
                      type="button" class="btn btn-secondary"
                      [appLink]="['/projects', map?.project.name, 'maps', map?.hashId, 'edit']">
                <i class="fa fa-fw fa-pencil-alt"></i> Edit
              </button>
            </div>
          </div>

          <div class="module-toolbar d-flex align-items-center ml-auto">
            <div class="ml-auto d-flex">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-secondary" container="body"
                        ngbTooltip="Fit Map to Window" placement="bottom"
                        (click)="zoomToFit()">
                  <i class="fas fa-expand-arrows-alt"></i>
                </button>
              </div>

              <app-search-control [(ngModel)]="entitySearchTerm" (ngModelChange)="search()"
                                  [resultIndex]="entitySearchListIdx"
                                  [resultCount]="entitySearchList.length"
                                  (previous)="previous()" (next)="next()">
              </app-search-control>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-fill position-relative overflow-hidden" style="z-index: 0">

        <ng-container *ngIf="(loadTask.status$ | async) as status">
          <div class="detail-overlay">
            <app-collapsible-window title="Information" class="flex-fill" [sideCollapse]="true">
              <div class="window-body">
                <div class="detail-overlay-properties text-muted">
                  <div class="text-truncate">
                    By {{map?.user.firstName}}
                  </div>
                  <div class="text-truncate">
                    Modified {{map?.modificationDate | friendlyDateStr}}
                  </div>
                </div>
                <div class="detail-overlay-description mt-2">
                  {{map?.description}}
                </div>
              </div>
            </app-collapsible-window>
          </div>
        </ng-container>

        <as-split unit="pixel"
                  direction="horizontal"
                  [gutterSize]="2">
          <as-split-area [order]="0" class="overflow-hidden">
            <div class="graph-container">
              <canvas #canvas class="graph-view"></canvas>
            </div>
          </as-split-area>
          <as-split-area size="250"
                         [order]="1">
            <ng-container
              *ngIf="(graphCanvas?.selection.changeObservable | async) as selected; else graphInfo">
              <div class="info-panel" *ngIf="selected[0].length === 1; else graphInfo">
                <app-info-view-panel [selected]="selected[0][0]">
                </app-info-view-panel>
              </div>
            </ng-container>

            <ng-template #graphInfo>
              <ng-container *ngIf="graphCanvas">
                <div class="module-body">
                  <h5>Graph</h5>

                  <div class="row align-items-center mb-0">
                    <div class="col-sm-6">Node Count:</div>
                    <div class="col-sm-6 text-right">
                      {{ graphCanvas.nodes.length | number }}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-sm-6">Edge Count:</div>
                    <div class="col-sm-6 text-right">
                      {{ graphCanvas.edges.length | number }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
</div>
