<div class="position-relative h-100">
  <ng-container *ngIf="loadTask.status$ | async as status">
    <app-module-progress *ngIf="status.running">
      Loading map... {{ status.retryInProgressShown ? 'Retrying...' : '' }}
    </app-module-progress>
  </ng-container>

  <div class="position-absolute w-100 h-100 d-flex flex-column" style="z-index: 0">
    <div class="flex-fill position-relative overflow-hidden">
      <div class="graph-container">
        <canvas appGraphView></canvas>
      </div>
    </div>
  </div>
</div>
