<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-input-feedback [control]="form" [formLevel]="true"></app-form-input-feedback>

    <app-file-form [object]="object"></app-file-form>

    <ng-container *ngIf="possiblyAnnotatable">
      <fieldset class="fieldset-properties mt-4">
        <legend>Annotation Options</legend>
        <app-fallback-organism-form *ngIf="object.promptOrganism">
        </app-fallback-organism-form>

        <app-annotation-form [mimeType]="object.mimeType"></app-annotation-form>
      </fieldset>
    </ng-container>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
  </app-modal-footer>
</form>
