<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-row for="exporter" label="Format" [control]="form.get('exporter')">
      <select class="custom-select" formControlName="exporter" id="exporter"
              [appFormInput]="form.get('exporter')" appAutoFocus>
        <option *ngFor="let exporter of exporters; let i = index" [value]="i">{{ exporter.name }}</option>
      </select>
    </app-form-row>
    <app-form-row [control]="form.get('bundledExport')" [hidden]="!isBundledExportSupported()">
      <mat-checkbox formControlName="bundledExport" id="bundledExport"
                    [appFormInput]="form.get('bundledExport')">
        Bundled Export
      </mat-checkbox>
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Export</button>
  </app-modal-footer>
</form>
