<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-input-feedback [control]="form" [formLevel]="true"></app-form-input-feedback>

    <app-form-row for="content-value" label="Add files" [control]="form.get('contentValue')">
      <div class="d-flex align-items-center text-truncate">
        <button type="button" class="btn btn-secondary mr-2" (click)="showFileDialog()">
          Browse...
        </button>
      </div>
      <input type="file" id="content-value" (change)="fileChanged($event)" class="d-none" accept="application/pdf" multiple #fileInput>
    </app-form-row>

    <div class="form-group" *ngIf="fileList.length">
      <textarea class="form-control" readonly rows="5">{{ fileNameList }}</textarea>
    </div>

    <app-form-row label="Copy Behavior" [control]="form.get('copyBehavior')">
      <div *ngFor="let behavior of copyBehaviors" class="custom-control custom-radio custom-control-inline" [ngbTooltip]="behavior.description">
        <input type="radio" class="custom-control-input" [id]="behavior.name + 'Duplicates'" formControlName="copyBehavior" [value]="behavior.name">
        <label class="custom-control-label" [for]="behavior.name + 'Duplicates'">{{ behavior.name }} Duplicates</label>
      </div>
    </app-form-row>

    <app-form-row [control]="form.get('public')">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="public" formControlName="public">
        <label class="custom-control-label" for="public">Publicly share these files with the community</label>
      </div>
    </app-form-row>

    <ng-container>
      <fieldset class="fieldset-properties mt-4">
        <legend>Annotation Options</legend>
        <app-form-row
          label="Organism"
          ngbTooltip="If you know the specific organism strain related to these papers, you may optionally search for it by name here."
        >
          <app-organism-autocomplete
            formId="organism"
            [organismTaxId]="form.get('organism').value ? form.get('organism').value.tax_id : null"
            (organismPicked)="organismChanged($event)"
          ></app-organism-autocomplete>
        </app-form-row>

        <app-form-row>
          <ngb-accordion>
            <ngb-panel title="Annotation Configurations">
              <ng-template ngbPanelContent>
                <app-annotation-config-table
                  [headers]="annotationMethods"
                  [models]="annotationModels"
                  [form]="form.get('annotationConfigs')"
                  fileType="application/pdf">
                </app-annotation-config-table>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </app-form-row>
      </fieldset>
    </ng-container>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || !fileList.length" >Upload</button>
  </app-modal-footer>
</form>
