<form (ngSubmit)="submit()" [formGroup]="form">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-row [control]="form.get('exporter')" for="exporter" label="Format">
      <select
        (ngModelChange)="setLinkedExportSupported()"
        [appFormInput]="form.get('exporter')"
        appAutoFocus
        class="custom-select"
        formControlName="exporter"
        id="exporter"
      >
        <option *ngFor="let exporter of exporters; let i = index" [value]="i">
          {{ exporter.name }}
        </option>
      </select>
    </app-form-row>

    <div [hidden]="!isLinkedExportSupported" class="custom-control custom-checkbox mt-2">
      <input
        [appFormInput]="form.get('exportLinked')"
        class="custom-control-input"
        formControlName="exportLinked"
        id="exportLinked"
        type="checkbox"
      />
      <label
        class="custom-control-label d-flex align-items-center"
        for="exportLinked"
        ngbTooltip="Include linked maps in the export"
      >
        Export linked maps
      </label>
    </div>
  </app-modal-body>

  <app-modal-footer>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Export</button>
  </app-modal-footer>
</form>
