<form (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body *ngIf="objectSelect.object$ | addStatus | async as result">
    <app-module-error *ngIf="result.error" [error]="result.error" class="d-block p-4">
    </app-module-error>

    <ng-container *ngIf="result.loading">
      <div class="mb-3 d-flex">
        <button class="btn btn-secondary" disabled type="button">
          <i aria-hidden="true" class="fa fa-fw fa-arrow-left"></i>
        </button>
      </div>

      <div>Loading...</div>
    </ng-container>

    <ng-container *ngIf="result.value">
      <ng-container *ngIf="objectSelect.hashId$ | async; else projectList">
        <div class="mb-3 d-flex align-items-center">
          <button (click)="objectSelect.goUp()" class="btn btn-secondary" type="button">
            <i aria-hidden="true" class="fa fa-fw fa-arrow-left"></i>
          </button>
          <div class="ml-2 text-truncate module-title d-flex align-items-center">
            <i aria-hidden="true" class="fa fa-fw fa-folder text-icon"></i>
            <div class="text-truncate ml-2">
              {{ result.value.effectiveName }}
            </div>
          </div>
        </div>

        <div class="flex-fill overflow-auto border-top">
          <app-object-list
            (objectOpen)="objectSelect.open($event)"
            (refreshRequest)="objectSelect.load(result.value.hashId)"
            [emptyDirectoryMessage]="emptyDirectoryMessage"
            [objectControls]="false"
            [objects]="result.value.children"
          ></app-object-list>
        </div>
      </ng-container>

      <ng-template #projectList>
        <div class="tile-deck tile-deck-sm">
          <div
            *ngFor="let p of result.value.results?.view$ | async"
            class="tile tile-sm d-flex flex-column"
          >
            <div class="flex-fill d-flex justify-content-center align-items-center my-2">
              <a (click)="openProject(p); $event.preventDefault()" class="text-muted" href="#">
                <i class="fas fa-layer-group fa-4x"></i>
              </a>
            </div>
            <div class="text-truncate text-center">
              <a
                (click)="openProject(p); $event.preventDefault()"
                class="d-block text-truncate"
                href="#"
              >
                <strong>{{ p.projectName }}</strong>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <app-pagination
            (pageChange)="objectSelect.pagingProjectList$.next($event)"
            [collectionSize]="result.value.collectionSize"
            [paging]="objectSelect.pagingProjectList$ | async"
          ></app-pagination>
        </div>
      </ng-template>
    </ng-container>
  </app-modal-body>

  <app-modal-footer class="text-truncate">
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button
      [disabled]="(objectSelect.hashId$ | async) == null"
      class="btn btn-primary text-truncate"
      type="submit"
    >
      OK
    </button>
  </app-modal-footer>
</form>
