
<div class="module module-centered">
  <div class="module-header-container">
    <div class="module-header">
      <div class="module-title">Gene Import Wizard</div>
    </div>
  </div>
  <div id="gene-import-body">
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step state="upload" [completed]="importFileForm.valid && !loadingSheet">
        <ng-template matStepLabel>Choose Import File</ng-template>
        <div class="d-flex justify-content-between mb-2">
          <a routerLink="/kg-import">
            <button class="btn btn-primary">Back</button>
          </a>
          <button class="btn btn-primary" [disabled]="!importFileForm.valid || loadingSheet" matStepperNext>Next</button>
        </div>
        <app-generic-file-upload
          [accept]="acceptedFileTypes"
          (fileChanged)="onFileChange($event)"
        ></app-generic-file-upload>
        <div *ngIf="loadingSheet" class="mt-2">
          <div class="row">
            <div class="col d-flex justify-content-center text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading worksheet...</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center text-center">Loading worksheet...</div>
          </div>
        </div>
      </mat-step>

      <mat-step state="selectSheet" [completed]="sheetForm.valid">
        <ng-template matStepLabel>Choose Sheet</ng-template>
        <div class="d-flex justify-content-between mb-2">
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-primary" [disabled]="!(sheetForm.valid)" matStepperNext>Next</button>
        </div>
        <div *ngIf="worksheetData" class="form-group">
          <label>Please select the sheet you would like to import:</label>
          <select class="custom-select" required (change)="onSheetNameChange($event)">
            <option *ngFor="let sheet of worksheetData.sheets">{{ sheet.sheetName }}</option>
          </select>
        </div>
      </mat-step>

      <mat-step [completed]="geneConfigFormValid" state="configure">
        <ng-template matStepLabel>Configure Import Data</ng-template>
        <div class="d-flex justify-content-between mb-2">
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button
            class="btn btn-primary"
            [disabled]="!geneConfigFormValid"
            (click)="getNodeMatches()"
            matStepperNext
          >Match Nodes</button>
        </div>
        <h3>Sheet Slice</h3>
        <app-worksheet-preview
          [worksheetData]="selectedSheet"
        ></app-worksheet-preview>
        <app-gene-import-config
          [worksheetData]="selectedSheet"
          (relationshipFormValidityChanged)="onRelationshipFormValidityChanged($event)"
          (relationshipsChanged)="onRelationshipsChanged($event)"
        ></app-gene-import-config>
      </mat-step>

      <mat-step [completed]="false" state="review">
        <ng-template matStepLabel>Review Data Matching</ng-template>
        <div class="d-flex justify-content-between mb-2">
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
