<form [formGroup]="form">
    <div class="form-group" formGroupName="traceGroups" title="Align">
        <div class="mb-1">Visible trace groups:</div>
        <label ngbButtonLabel *ngFor="let traceGroupControl of traceGroupsControls | keyvalue"
               [title]="traceGroupControl.key"
               class="mb-0 d-block">
            <input [formControl]="traceGroupControl.value" ngbButton type="checkbox"> {{traceGroupControl.key}}
        </label>
    </div>
    <div class="form-group" ngbRadioGroup formControlName="alignId" title="Align">
        <div class="mb-1">Align:</div>
        <label ngbButtonLabel *ngFor="let align of aligns$ | async | keyvalue"
               [title]="align.value.description"
               class="mb-0">
            <input ngbButton type="radio" [value]="align.key"> {{align.value.name}}
        </label>
    </div>
    <div>
        <label ngbButtonLabel>
            <input formControlName="normalizeLinks"
                   ngbButton
                   type="checkbox">
            Normalize links
        </label>
    </div>
    <div class="form-group">
        <label class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
            <div class="d-flex align-items-center mx-0">
                <label for="font-size" class="my-0 mr-2" ngbTooltip="Font size" container="body">
                    Font Size
                </label>
                <app-percent-input formControlName="fontSizeScale"
                                   default="100"
                                   min="20"
                                   max="1000"
                                   step="20"
                                   inputId="font-size"
                ></app-percent-input>
                %
            </div>
        </label>
        <label formGroupName="labelEllipsis" class="w-100 text-left m-0 scrollbar-with-value" ngbButtonLabel>
            <input formControlName="enabled"
                   (change)="disableGroup($event.target.checked, 'labelEllipsis')"
                   ngbButton
                   type="checkbox">
            Max shown label characters
            <input formControlName="value"
                   max="50" min="0"
                   ngbButton
                   type="range">
            {{ form.get('labelEllipsis.value').value }}
        </label>
    </div>
    <div class="form-group" ngbRadioGroup formControlName="prescalerId" title="Prescaler">
        <div class="mb-1">Prescaler:</div>
        <label ngbButtonLabel *ngFor="let prescaler of prescalers$ | async | keyvalue"
               [title]="prescaler.value.description"
               class="mb-0">
            <input ngbButton type="radio" [value]="prescaler.key"> {{prescaler.value.name}}
        </label>
    </div>
</form>
