<div class="popover">
  <div class="popover-body">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      ngbTooltip="Create an annotation from your selection"
      container="body"
      #tooltipRef="ngbTooltip"
      [appAutoCloseTooltipOutOfView]="tooltipRef"
      (click)="openAnnotationPanel($event)"
      [disabled]="!isSelectionAnnotatable() || (authService.loggedIn$ | async) === false"
    >
      <span><i class="fa fa-fw fa-money-check-edit"></i> Annotate</span>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm ml-1"
      ngbTooltip="Copy text to clipboard"
      #tooltipRef="ngbTooltip"
      [appAutoCloseTooltipOutOfView]="tooltipRef"
      container="body"
      (click)="copySelectionText($event)"
    >
      <i class="fa fa-fw fa-copy"></i>
    </button>
  </div>
</div>
