<form (ngSubmit)="submit()" [formGroup]="form">
  <app-modal-header (cancel)="cancel()"> Exclude Annotation </app-modal-header>

  <app-modal-body>
    <app-form-row for="text" label="Text">
      <input [value]="text" class="form-control" disabled id="text" type="text" />
    </app-form-row>
    <app-form-row [control]="form.get('reason')" for="reason" label="Reason">
      <div *ngFor="let choice of reasonChoices; index as i" class="custom-control custom-radio">
        <input
          (change)="chooseReason(choice, $event.target.checked)"
          [checked]="form.get('reason').value === choice"
          class="custom-control-input"
          id="reason-{{ i }}"
          name="reason"
          type="radio"
        />
        <label class="custom-control-label" for="reason-{{ i }}">{{ choice }}</label>
      </div>
    </app-form-row>

    <app-form-row for="comment" label="Comment">
      <input class="form-control" formControlName="comment" id="comment" type="text" />
    </app-form-row>

    <div *ngIf="isGeneOrProtein" class="custom-control custom-checkbox mt-4">
      <input
        class="custom-control-input"
        formControlName="isCaseInsensitive"
        id="case-insensitivity"
        type="checkbox"
      />
      <label class="custom-control-label" for="case-insensitivity"
        >Exclude using case insensitivity</label
      >
    </div>

    <div class="custom-control custom-checkbox mt-4">
      <input
        class="custom-control-input"
        formControlName="excludeGlobally"
        id="exclude-globally"
        type="checkbox"
      />
      <label class="custom-control-label" for="exclude-globally"
        >Exclude this annotation from a global list</label
      >
    </div>

    <div *ngIf="form.get('excludeGlobally').value" class="text-muted mt-3">
      <i class="fas fa-info-circle"></i>
      Re-annotate other documents to incorporate this exclusion.
    </div>
  </app-modal-body>

  <app-modal-footer>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create</button>
  </app-modal-footer>
</form>
