<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">Create Annotation</app-modal-header>

  <app-modal-body>
    <app-form-row for="text" label="Text" [control]="form.get('text')">
      <div class="input-group">
        <input formControlName="text" type="text" class="form-control" id="text">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" ngbTooltip="Make a correction">
            <i class="fas fa-edit" type="button" (click)="enableTextField()"></i>
          </button>
        </div>
      </div>
    </app-form-row>
    <div class="row justify-content-end mb-3" *ngIf="isTextEnabled">
      <div class="text-muted col-sm-9">
        <i class="fas fa-exclamation-circle"></i>
        Editing this field might affect the ability to find the term in the document and annotate it.
      </div>
    </div>

    <app-form-row for="entity-type" label="Type" [control]="form.get('entityType')">
      <select formControlName="entityType" class="custom-select w-100" id="entity-type" appAutoFocus>
        <option *ngFor="let choice of entityTypeChoices" [value]="choice.name">
          {{choice.name | titlecase}}
        </option>
      </select>
    </app-form-row>

    <app-form-row for="id" label="Id" [control]="form.get('id')">
      <input type="text" formControlName="id" class="form-control" id="id">
    </app-form-row>

    <ng-container *ngIf="entityTypeChosen">
      <app-form-row for="source" label="Data Source" [control]="form.get('source')">
        <select formControlName="source" class="custom-select w-100" id="source">
          <option *ngFor="let choice of databaseTypeChoices" [value]="choice">
            {{choice}}
          </option>
        </select>
      </app-form-row>

      <app-form-row for="sourceLink" label="Source Link" [control]="form.get('sourceLink')">
        <input type="text" formControlName="sourceLink" class="form-control" id="sourceLink">
      </app-form-row>
    </ng-container>

    <div class="custom-control custom-checkbox mt-4">
      <input type="checkbox" class="custom-control-input" id="include-globally"
             formControlName="includeGlobally" (change)="toggleIdFieldValidity()">
      <label class="custom-control-label" for="include-globally">Add this annotation to a global list</label>
    </div>

    <div *ngIf="form.get('includeGlobally').value" class="text-muted mt-3">
      <i class="fas fa-info-circle"></i>
        Re-annotate other documents to incorporate this inclusion.
    </div>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Create</button>
  </app-modal-footer>
</form>
