<div *ngIf="loadTask.status$ | async as status" class="module">
  <app-module-progress *ngIf="status.running">
    Downloading file... {{ status.retryInProgressShown ? "Retrying..." : "" }}
  </app-module-progress>

  <app-module-error *ngIf="status.failedErrorShown" [error]="status.error">
    <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
  </app-module-error>

  <ng-container *ngIf="status.resultsShown">
    <app-module-header [dragTitleData$]="dragTitleData$" [object]="object">
      <app-module-menu
        (objectRefresh)="requestRefresh()"
        *ngIf="object"
        [forEditing]="true"
        [object]="object"
        [showDelete]="false"
        [showOpen]="false"
      >
      </app-module-menu>
      <div class="btn-group ml-auto mr-1 d-flex align-items-stretch">
        <div class="d-flex align-items-stretch btn-group" container="body" ngbDropdown>
          <button class="btn btn-secondary btn-sm" ngbDropdownToggle type="button">
            <i class="fa fa-fw fa-search"></i>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="zoomActualSize()" class="dropdown-item">Actual Size</button>
            <button (click)="fitToPage()" class="dropdown-item">Fit to Page</button>
          </div>
        </div>
        <button
          (click)="zoomOut()"
          [disabled]="!ready"
          class="btn btn-secondary"
          ngbTooltip="Zoom out"
          placement="bottom"
          type="button"
        >
          <i class="fa fa-fw fa-search-minus"></i>
        </button>
        <button
          (click)="zoomIn()"
          [disabled]="!ready"
          class="btn btn-secondary"
          ngbTooltip="Zoom in"
          placement="bottom"
          type="button"
        >
          <i class="fa fa-fw fa-search-plus"></i>
        </button>
      </div>
      <div
        *ngIf="highlightController$ | async as highlightController"
        class="d-flex mr-1"
        style="min-width: 150px"
      >
        <app-result-control
          (enterPress)="highlightController.next()"
          (next)="highlightController.next()"
          (previous)="highlightController.prev()"
          (valueClear)="highlightController.changeValue(null)"
          *ngIf="highlightController.type === 'annotation'; else textSearchControl"
          [annotationColor]="highlightController.color"
          [resultCount]="highlightController.total"
          [resultIndex]="highlightController.index"
          [value]="highlightController.value"
        >
        </app-result-control>
        <ng-template #textSearchControl>
          <app-search-control
            #searchControl
            (next)="highlightController.next()"
            (ngModelChange)="highlightController.changeValue($event)"
            (previous)="highlightController.prev()"
            [ngModel]="highlightController.value"
            [resultCount]="highlightController.total"
            [resultIndex]="highlightController.index"
            [searching]="highlightController.searching"
          >
          </app-search-control>
        </ng-template>
      </div>
      <div class="btn-group" role="group">
        <div
          #dropdown
          class="d-inline-block btn-group"
          container="body"
          ngbDropdown
          placement="bottom-right"
        >
          <button [id]="id + '-filters-dropdown'" class="btn btn-secondary" ngbDropdownToggle>
            <i class="fa fa-fw fa-filter"></i>
          </button>
          <div
            [attr.aria-labelledby]="id + '-filters-dropdown'"
            [style.width]="'220px'"
            class="dropdown-body dropdown-menu dropdown-menu-right"
            ngbDropdownMenu
          >
            <div class="mb-2">
              <ng-template #hideAll>
                <button
                  (click)="setAllEntityTypesVisibility(false)"
                  class="btn btn-outline-secondary btn-block"
                >
                  Hide All
                </button>
              </ng-template>
              <button
                (click)="setAllEntityTypesVisibility(true)"
                *ngIf="entityTypeVisibilityMapContainsUnchecked$ | async; else hideAll"
                class="btn btn-outline-secondary btn-block"
              >
                Show All
              </button>
            </div>

            <div
              *ngFor="
                let entityTypeEntry of sortedEntityTypeEntriesVisibilityMap$ | async | keyvalue
              "
              [style.opacity]="entityTypeEntry.key.annotations.length ? '' : '0.2'"
            >
              <div class="custom-control custom-checkbox">
                <input
                  (change)="
                    changeEntityTypeVisibility(entityTypeEntry.key.type.id, $event.target.checked)
                  "
                  [checked]="entityTypeEntry.value"
                  [id]="id + 'filter-' + entityTypeEntry.key.type.id"
                  class="custom-control-input"
                  type="checkbox"
                  value="1"
                />
                <label
                  [for]="id + 'filter-' + entityTypeEntry.key.type.id"
                  class="custom-control-label"
                >
                  <span
                    [ngStyle]="{ background: entityTypeEntry.key.type.color }"
                    class="entity-type-legend"
                  >
                  </span>
                  {{ entityTypeEntry.key.type.name }}
                  <span *ngIf="!!entityTypeEntry.key.annotations.length">
                    ({{ entityTypeEntry.key.annotations.length }})
                  </span>
                </label>
              </div>
            </div>

            <div class="mt-2">
              <div class="custom-control custom-checkbox">
                <input
                  [(ngModel)]="showExcludedAnnotations"
                  [id]="id + '-showExcludedAnnotations'"
                  class="custom-control-input"
                  type="checkbox"
                />
                <label [for]="id + '-showExcludedAnnotations'" class="custom-control-label"
                  >Show excluded annotations</label
                >
              </div>
            </div>

            <div class="mt-2">
              <button (click)="closeFilterPopup()" class="btn btn-secondary btn-block">Done</button>
            </div>
          </div>
        </div>

        <button
          [appLink]="['/file-navigator', this.object.project.name, this.object.hashId]"
          [disabled]="!ready"
          [forceWorkbench]="true"
          [newTab]="true"
          [openParentFirst]="true"
          [parentAddress]="['/projects', this.object.project.name, 'files', this.object.hashId]"
          [sideBySide]="true"
          class="btn btn-secondary"
          ngbTooltip="File Navigator"
          placement="bottom"
          type="button"
        >
          <i class="fas fa-fw fa-compass"></i>
        </button>
        <div class="flex-fill overflow-hidden position-relative d-flex h-100">
          <div *ngIf="isPendingPostLoadAction()" class="pending-scroll-box-container">
            <div class="pending-scroll-box floating-toolbar d-flex align-items-center flex-column">
              <div>
                <i class="fas fa-circle-notch fa-spin fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-module-header>
    <div class="flex-fill overflow-hidden position-relative d-flex h-100">
      <div *ngIf="isPendingPostLoadAction()" class="pending-scroll-box-container">
        <div class="pending-scroll-box floating-toolbar d-flex align-items-center flex-column">
          <div>
            <i class="fas fa-circle-notch fa-spin fa-3x"></i>
          </div>
          <div class="mt-2">
            <ng-container *ngIf="isPendingScroll(); else pendingJump">
              Finding place<br />in document...
            </ng-container>
            <ng-template #pendingJump>
              <ng-container *ngIf="isPendingJump(); else pendingHighlight">
                Finding snippet<br />in document...
              </ng-container>
            </ng-template>
            <ng-template #pendingHighlight> Finding entity<br />in document... </ng-template>
          </div>
        </div>
      </div>
      <div
        [id]="id + '-pdf-viewer-lib-wrapper'"
        class="flex-fill overflow-auto pdf-viewer-lib-wrapper"
      >
        <div *ngIf="ready">
          <!-- PDF Viewer -->
          <app-lib-pdf-viewer-lib
            (annotationDragStart)="addAnnotationDragData($event)"
            (goToPositionVisit)="goToPositionVisit($event)"
            (loadCompleted)="loadCompleted($event)"
            [entityTypeVisibilityMap]="entityTypeVisibilityMap$ | async"
            [goToPosition$]="goToPosition$"
            [pdfSrc]="pdfData"
            [showExcludedAnnotations]="showExcludedAnnotations"
            appPdfViewer
            id="pdf-viewer"
            tabindex="0"
          >
          </app-lib-pdf-viewer-lib>
        </div>
      </div>
    </div>
  </ng-container>
</div>
