@import "../../../scss/variables";

#pdf-viewer {
  float: left;
  height: 100%;
  width: 100%;
}

.pdf-viewer-lib-wrapper div {
  height: 100%;
}

mat-sidenav {
  min-width: 320px;

  .sidenav-title {
    margin-left: 32px;
  }

  .drawer-content {
    padding: 8px;
  }
}

.sidebar-toolbar {
  background: #f2f2f2;
  padding: 10px 1rem;
}

// The popup menu that lets users customize which annotations are shown
.filter-popup {
  background: #fff;
  border-radius: 0.5rem;
  max-height: calc(100vh - 100px);
  max-width: 20rem;
  min-width: 14rem;
  overflow: auto;
  padding: 1.25rem;
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  z-index: 10;
}

// The little dot next to each entity type indicating the color
.entity-type-legend {
  border-radius: 10rem;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
}

.pending-scroll-box-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.pending-scroll-box {
  padding: ($spacer * 1);
  text-align: center;
}
