<fieldset class="fieldset-properties mt-2" *ngFor="let m of (entities | slice : 0 : 100); let i = index"
              [ngClass]="{focused: i===focusedIdx}" (click)="focusedIdxChange.emit(i)" #item>
        <legend>
            {{ m.hasOwnProperty('nodeId') && 'node' || m.hasOwnProperty('linkId') && 'link' }}
        </legend>
        <dl>
            <div *ngFor="let matchObj of m?.calculatedMatches" class="property">
                <dt>{{matchObj.path.join('→')}}</dt>
                <dd>
                    <app-term-highlight [text]="matchObj.term" [highlightTerms]="searchTerms">
                    </app-term-highlight>
                </dd>
            </div>
        </dl>
    </fieldset>
<ng-container *ngIf="entities.length > 100" class="mt-2">
    Showing only first 100 results.
</ng-container>


