<ng-container *ngIf="details$ | async as detailView">
    <app-sankey-node-details
            *ngIf="detailView.type === SelectionType.node"
            [entity]="detailView.entity"
    ></app-sankey-node-details>
    <app-sankey-single-lane-link-details
            *ngIf="detailView.type === SelectionType.link"
            [entity]="detailView.entity"
    ></app-sankey-single-lane-link-details>
    <app-sankey-trace-details
            *ngIf="detailView.type === SelectionType.trace"
            [entity]="detailView.entity"
    ></app-sankey-trace-details>
</ng-container>



