<as-split
  unit="pixel"
  direction="horizontal"
  [disabled]="true"
  [gutterSize]="15">
  <as-split-area [order]="0">
    <div id="viz-content-container">
      <app-visualization-quickbar
        (animationStatus)="toggleAnimation($event)"
        (toggleSidenav)="toggleSidenavOpened()"
      ></app-visualization-quickbar>

      <app-legend [legend]="legend"></app-legend>

      <app-visualization-settings
        [legendLabels]="legendLabels"
        (settingsFormChanges)="updateSettings($event)"
      ></app-visualization-settings>

      <div id="network-viz"></div>

      <!-- This isn't visible unless the user has right-clicked to open the context menu -->
      <app-context-menu
        [tooltipSelector]="contextMenuTooltipSelector"
        [tooltipOptions]="contextMenuTooltipOptions"
        [selectedNodeIds]="selectedNodes"
        [selectedEdgeIds]="selectedEdges"
        [selectedNodeEdgeLabelData]="selectedNodeEdgeLabelData"
        [selectedClusterNodeData]="selectedClusterNodeData"
        (groupNeighborsWithRelationship)="groupNeighborsWithRelationship($event)"
        (removeNodes)="removeNodes($event)"
        (removeEdges)="removeEdges($event)"
        (selectNeighbors)="selectNeighbors($event)"
        (pullOutNodeFromCluster)="removeNodeFromCluster($event)"
        (openDataSidebar)="updateSidenavEntity()"
      ></app-context-menu>
    </div>
  </as-split-area>
  <as-split-area *ngIf="sidenavOpened" size="640" [order]="1">
    <div id="sidenav-container">
      <!-- Each switch case appears to be lazy loaded, so switching between two cases will destroy the old case, and create the new case. -->
      <div [ngSwitch]="sidenavEntityType">
        <div *ngSwitchCase="sidenavEntityTypeEnum.NODE">
          <app-sidenav-node-view
            [legend]="legend"
            [nodeEntity]="sidenavEntity"
          ></app-sidenav-node-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.EDGE">
          <app-sidenav-edge-view
            [edgeEntity]="sidenavEntity"
            [isNewEntity]="isNewEdgeSidenavEntity"
            [error]="getSnippetsError"
            [legend]="legend"
            (requestNewPageEmitter)="requestNewEdgeSnippetsPage($event)"
          ></app-sidenav-edge-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.CLUSTER">
          <app-sidenav-cluster-view
            [clusterEntity]="sidenavEntity"
            [isNewEntity]="isNewClusterSidenavEntity"
            [error]="getSnippetsError"
            [legend]="legend"
            (requestNewPageEmitter)="requestNewClusterSnippetsPage($event)"
          ></app-sidenav-cluster-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.EMPTY">
          <h1>Canvas Data View</h1>
          <h4>(Select something on the canvas to see some data!)</h4>
        </div>
      </div>
    </div>
  </as-split-area>
</as-split>
