<app-visualization-quickbar (animationStatus)="toggleAnimation($event)"></app-visualization-quickbar>

<!-- TODO KG-17: Re-enable this later, was used as reference for demo-->
<!-- <div id="vis-legend">
  Legend
  <div id="node-colors-container" fxLayout="column" fxLayoutAlign="start start">
    <div *ngFor="let nodeType of legend | keyvalue" class="node-label-and-color" fxLayout="row" fxLayoutAlign="start center">
      <div [ngStyle]="{'margin-right': '5px', 'height': '10px', 'width': '10px', 'background': nodeType.value[0], 'border': 'thin solid', 'border-color': nodeType.value[1]}"></div>
      <div>{{nodeType.key}}</div>
    </div>
  </div>
</div> -->

<div id="network-viz"></div>

<!-- Not visible until the user hovers over a cluster node -->
<app-reference-table
  [tooltipSelector]="referenceTableTooltipSelector"
  [tooltipOptions]="referenceTableTooltipOptions"
  [tableNodes]="nodesInHoveredCluster"
  (referenceTableRowClickEvent)="openMetadataSidebar($event)"
></app-reference-table>

<!-- This isn't visible unless the user has right-clicked to open the context menu -->
<app-context-menu
  [tooltipSelector]="contextMenuTooltipSelector"
  [tooltipOptions]="contextMenuTooltipOptions"
  [selectedNodeEdgeLabels]="selectedNodeEdgeLabels"
  (groupNeighborsWithRelationship)="groupNeighborsWithRelationship($event)"
></app-context-menu>
