#network-viz {
    height: 80vh;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
}

#mat-sidenav-container {
    max-width: 640px;
    min-width: 250px;
    padding: 10px;
}

#sidenav-toggle-button {
    margin: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    left: -1;
    right: 0;
    top: 0;
}

.sidenav {
    border-left: 10px solid #0c8caa;
}

.sidenav-content {
    overflow: hidden;
}
