#network-viz {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
}

// TODO KG-17: Re-enable this when we re-enable the legend
// #vis-legend {
//     background: #F5F5F5;
//     border: thin solid #C0C0C0;
//     margin: 20px 0 0 20px;
//     padding: 5px;
//     position: absolute;
//     text-align: center;
//     width: 150px;
//     z-index: 100;
// }

// .node-label-and-color {
//     width: 100%;
// }