#network-viz {
    height: 80vh;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
}

#viz-content-container {
  position: relative;
}

#sidenav-container {
    height: 80vh;
    padding: 10px 15px;
}
