<div class="d-flex flex-column h-100">
  <ul #nav="ngbNav" [(activeId)]="infoPanel.activeTab" class="nav-tabs nav-sidebar-tabs" ngbNav>
    <li ngbNavItem="properties">
      <a ngbNavLink>Properties</a>
      <ng-template ngbNavContent>
        <div class="module-body">
          <div class="form-group">
            <label for="label"> Label: </label>
            <input
              #displayName
              (change)="doSave()"
              [(ngModel)]="edge.label"
              class="form-control map-editor-initial-focus"
              id="label"
            />
          </div>

          <div class="form-group">
            <label for="detail">Detail:</label>
            <textarea
              (change)="doSave()"
              [(ngModel)]="edge.data.detail"
              class="form-control"
              id="detail"
              rows="10"
            ></textarea>
          </div>

          <div class="mt-4">
            <app-links-panel
              (ngModelChange)="doSave()"
              [(ngModel)]="edge.data.sources"
              fontAwesomeIcon="far fa-book"
              singularTitle="Source"
              title="Sources"
            ></app-links-panel>
          </div>

          <div class="mt-4">
            <app-links-panel
              (ngModelChange)="doSave()"
              [(ngModel)]="edge.data.hyperlinks"
              singularTitle="Hyperlink"
              title="Hyperlinks"
            ></app-links-panel>
          </div>

          <div class="mt-4">
            <button (click)="doDelete()" class="btn btn-danger btn-block" type="button">
              Delete
            </button>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="style">
      <a ngbNavLink>Style</a>
      <ng-template ngbNavContent>
        <div class="module-body">
          <fieldset class="fieldset-properties">
            <legend>Label Style</legend>

            <div class="form-group d-flex align-items-center">
              <label [for]="fontSize.uid" class="my-0 mr-2" container="body" ngbTooltip="Font size">
                <i class="fa fa-fw fa-text-height"></i>
              </label>
              <app-percent-input
                #fontSize="uid"
                #model="ngModel"
                (change)="model.valid && doSave()"
                (ngModelChange)="model.valid && (edge.style.fontSizeScale = $event)"
                [max]="1000"
                [min]="20"
                [ngModel]="edge.style.fontSizeScale || 1"
                [step]="20"
                appAutoGrow
                appUid
                class="mr-1"
              ></app-percent-input>
            </div>
          </fieldset>

          <fieldset class="fieldset-properties mt-4">
            <legend>Line Style</legend>

            <div class="form-group d-flex align-items-center">
              <label class="my-0 mr-2" container="body" for="stroke-color" ngbTooltip="Edge color">
                <i class="fa fa-fw fa-fill"></i>
              </label>
              <app-color-chooser-component
                (colorChange)="doSave()"
                [(color)]="edge.style.strokeColor"
                [palette]="paletteChoices"
                emptyLabel="Default"
                id="stroke-color"
              ></app-color-chooser-component>
            </div>

            <div class="form-group d-flex align-items-center">
              <label class="my-0 mr-2" container="body" for="line-type" ngbTooltip="Edge line type">
                <i class="fa fa-fw fa-border-style"></i>
              </label>
              <select
                (change)="doSave()"
                [(ngModel)]="edge.style.lineType"
                class="custom-select"
                id="line-type"
              >
                <option *ngFor="let choice of lineTypeChoices" [value]="choice[0]">
                  {{ choice[1].name }}
                </option>
              </select>
            </div>

            <div class="form-group d-flex align-items-center">
              <label
                [for]="lineWidthScale.uid"
                class="my-0 mr-2"
                container="body"
                ngbTooltip="Edge line thickness"
              >
                <i class="fa fa-fw fa-window-minimize"></i>
              </label>
              <app-percent-input
                #lineWidthScale="uid"
                #model="ngModel"
                (change)="model.valid && doSave()"
                (ngModelChange)="model.valid && (edge.style.lineWidthScale = $event)"
                [max]="1000"
                [min]="20"
                [ngModel]="edge.style.lineWidthScale || 1"
                [step]="20"
                appAutoGrow
                appUid
                class="mr-1"
              ></app-percent-input>
            </div>
          </fieldset>

          <fieldset class="fieldset-properties mt-4">
            <legend>Arrowheads</legend>

            <div class="form-group">
              <label for="target-edge-type"> To: </label>
              <select
                (change)="doSave()"
                [(ngModel)]="edge.style.targetHeadType"
                class="custom-select"
                id="target-edge-type"
              >
                <option *ngFor="let choice of lineHeadTypeChoices" [value]="choice[0]">
                  {{ choice[1].name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="source-edge-type"> From: </label>
              <select
                (change)="doSave()"
                [(ngModel)]="edge.style.sourceHeadType"
                class="custom-select"
                id="source-edge-type"
              >
                <option *ngFor="let choice of lineHeadTypeChoices" [value]="choice[0]">
                  {{ choice[1].name }}
                </option>
              </select>
            </div>
          </fieldset>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="flex-fill overflow-auto"></div>
</div>
