<div class="d-flex flex-column h-100">
  <ul #nav="ngbNav" [(activeId)]="infoPanel.activeTab" class="nav-tabs nav-sidebar-tabs" ngbNav>
    <li ngbNavItem="properties">
      <a ngbNavLink>Properties</a>
      <ng-template ngbNavContent>
        <div class="form-group">
          <label for="label"> Group Label: </label>
          <input
            #displayName
            (change)="doSave()"
            [(ngModel)]="group.display_name"
            class="form-control map-editor-initial-focus"
            id="label"
            maxlength="2000"
          />
        </div>

        <div class="form-group">
          <label for="detail">Detail:</label>
          <div
            [attr.data-replicated-value]="group.data.detail"
            class="form-control textarea-grow-wrap"
          >
            <textarea
              (change)="doSave()"
              [(ngModel)]="group.data.detail"
              cdkAutosizeMinRows="2"
              cdkTextareaAutosize
              id="detail"
              maxlength="5000"
            ></textarea>
          </div>
        </div>

        <div class="mb-4">
          <app-links-panel
            (ngModelChange)="doSave()"
            [(ngModel)]="group.data.sources"
            fontAwesomeIcon="far fa-book"
            singularTitle="Source"
            title="Sources"
          ></app-links-panel>
        </div>

        <div class="mb-4">
          <app-links-panel
            (ngModelChange)="doSave()"
            [(ngModel)]="group.data.hyperlinks"
            singularTitle="Hyperlink"
            title="Hyperlinks"
          ></app-links-panel>
        </div>

        <ng-container *ngIf="overflow" [ngTemplateOutlet]="delete"></ng-container>
      </ng-template>
    </li>
    <li ngbNavItem="style">
      <a ngbNavLink>Style</a>
      <ng-template ngbNavContent>
        <fieldset class="fieldset-properties">
          <legend>Group Style</legend>

          <div class="form-group d-flex align-items-center">
            <label class="my-0 mr-2" container="body" ngbTooltip="Margin size">
              <i class="fa fa-fw fa-arrows-alt-h"></i>
            </label>
            <input
              (change)="updateMargin($event)"
              [max]="100"
              [min]="0"
              [step]="2"
              [style.width]="'6rem'"
              [value]="group.margin"
              class="form-control mr-1"
              type="number"
            />
            px
          </div>
        </fieldset>
        <fieldset class="fieldset-properties">
          <legend>Label Style</legend>

          <div class="form-group d-flex align-items-center">
            <label [for]="fontSize.uid" class="my-0 mr-2" container="body" ngbTooltip="Font size">
              <i class="fa fa-fw fa-text-height"></i>
            </label>
            <app-percent-input
              #fontSize="uid"
              #model="ngModel"
              (change)="model.valid && doSave()"
              (ngModelChange)="model.valid && (group.style.fontSizeScale = $event)"
              [max]="1000"
              [min]="20"
              [ngModel]="group.style.fontSizeScale || 1"
              [step]="20"
              appAutoGrow
              appUid
              class="mr-1"
            ></app-percent-input>
          </div>

          <div class="form-group d-flex align-items-center">
            <label class="my-0 mr-2" container="body" ngbTooltip="Text color">
              <i class="fa fa-fw fa-brush"></i>
            </label>
            <app-color-chooser-component
              (colorChange)="doSave()"
              [(color)]="group.style.fillColor"
              [palette]="paletteChoices"
              emptyLabel="Default"
              id="fill-color"
            ></app-color-chooser-component>
          </div>

          <div class="form-group d-flex align-items-center">
            <label class="my-0 mr-2" container="body" ngbTooltip="Background color">
              <i class="fa fa-fw fa-fill"></i>
            </label>
            <app-color-chooser-component
              (colorChange)="doSave()"
              [(color)]="group.style.bgColor"
              [palette]="bgPaletteChoices"
              emptyLabel="Default"
              id="bg-color"
            ></app-color-chooser-component>
          </div>
        </fieldset>

        <fieldset class="fieldset-properties mt-4">
          <legend>Border Style</legend>

          <div class="form-group d-flex align-items-center">
            <label class="my-0 mr-2" container="body" for="stroke-color" ngbTooltip="Border color">
              <i class="fa fa-fw fa-fill"></i>
            </label>
            <app-color-chooser-component
              (colorChange)="doSave()"
              [(color)]="group.style.strokeColor"
              [palette]="paletteChoices"
              emptyLabel="Default"
              id="stroke-color"
            ></app-color-chooser-component>
          </div>

          <div class="form-group d-flex align-items-center">
            <label class="my-0 mr-2" container="body" for="line-type" ngbTooltip="Border line type">
              <i class="fa fa-fw fa-border-style"></i>
            </label>
            <select
              (change)="doSave()"
              [(ngModel)]="group.style.lineType"
              class="custom-select"
              id="line-type"
            >
              <option *ngFor="let choice of lineTypeChoices" [value]="choice[0]">
                {{ choice[1].name }}
              </option>
            </select>
          </div>

          <div class="form-group d-flex align-items-center">
            <label
              [for]="lineWidthScale.uid"
              class="my-0 mr-2"
              container="body"
              ngbTooltip="Border line thickness"
            >
              <i class="fa fa-fw fa-window-minimize"></i>
            </label>
            <app-percent-input
              #lineWidthScale="uid"
              #model="ngModel"
              (change)="model.valid && doSave()"
              (ngModelChange)="model.valid && (group.style.lineWidthScale = $event)"
              [max]="1000"
              [min]="20"
              [ngModel]="group.style.lineWidthScale || 1"
              [step]="20"
              appAutoGrow
              appUid
              class="mr-1"
            ></app-percent-input>
          </div>
        </fieldset>
        <ng-container [ngTemplateOutlet]="delete"></ng-container>
      </ng-template>
    </li>
  </ul>
  <div class="overflow-auto h-100" #scrollWrapper>
    <div class="module-body">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>

<ng-template #delete>
  <div class="mb-4">
    <button (click)="doDelete()" type="button" class="btn btn-danger btn-block">Ungroup</button>
  </div>
</ng-template>
