<div class="h-100 shadow bg-white" [ngClass]="routeBuilderContainerClass">
  <button class="toggle-route-builder-button border-0 bg-secondary rounded-left px-3 d-flex justify-content-center align-items-center"
          (click)="toggleRouteBuilderOpen()">
    <i [ngClass]="routeBuilderOpen ? 'fa fa-chevron-right' : 'fa fa-chevron-left'"></i>
  </button>
  <div class="bg-primary p-4 w-100 d-flex justify-content-center">
    <div class="w-100 d-flex graph-type-btn-container">
      <button class="btn btn-primary border-0 rounded-circle d-flex justify-content-center align-items-center">
        <i class="fa fa-project-diagram text-white"></i>
      </button>
    </div>
  </div>
</div>
