.graph-type-btn-container {
  height: 40px;
  width: 40px;
}

.route-builder-container-open {
  position: absolute;
  right: 0;
  transition: right 0.25s;
  width: 400px;
  z-index: 2;
}

.route-builder-container-closed {
  position: absolute;
  right: -400px;
  transition: right 0.25s;
  width: 400px;
  z-index: 2;
}

.toggle-route-builder-button {
  height: 60px;
  position: absolute;
  right: 100%;
  top: 28px;
}
