<div class="h-100 shadow bg-white" [ngClass]="routeBuilderContainerClass">
  <button class="toggle-route-builder-button border border-primary rounded-left border-right-0 bg-secondary px-3 d-flex align-items-center"
          (click)="toggleRouteBuilderOpen()">
    <i [ngClass]="routeBuilderOpen ? 'fa fa-chevron-right' : 'fa fa-chevron-left'"></i>
  </button>
  <div class="bg-primary p-4 w-100 d-flex flex-column">
    <div class="w-100 mb-2 d-flex">
      <div class="graph-type-btn-container">
        <button class="h-100 w-100 btn btn-primary border-0 rounded-circle d-flex justify-content-center align-items-center"
                ngbTooltip="Network"
                placement="bottom top left right"
                (click)="requestChangeDisplayTypeFromParent('NETWORK')">
          <i class="fa fa-project-diagram text-white"></i>
        </button>
      </div>
      <div class="graph-type-btn-container">
        <button class="h-100 w-100 btn btn-primary border-0 rounded-circle d-flex justify-content-center align-items-center"
                ngbTooltip="Sankey"
                placement="bottom top left right"
                (click)="requestChangeDisplayTypeFromParent('SANKEY')">
          <i class="fas fa-stream text-white"></i>
        </button>
      </div>
    </div>
    <div>
      <label class="text-white">Shortest Path Query:</label>
      <select class="custom-select" (change)="requestQueryLoadFromParent($event)">
        <option *ngFor="let query of queries | keyvalue" [value]="query.key">{{ query.value }}</option>
      </select>
    </div>
  </div>
</div>
