<div class="floating-toolbar">
  <div class="form-group d-flex align-items-center mb-2">
    <button (click)="fileInput.click()" class="btn btn-secondary" type="button">Browse...</button>
    <input
      #fileInput
      (change)="onFileChange($event)"
      [accept]="accept"
      hidden
      name="file"
      type="file"
    />
    <div *ngIf="fileName" class="ml-3 text-truncate">{{ fileName }}</div>
  </div>
  <div>
    Select the excel file to upload; allowed file extensions (.xlsx). Large files may take a minute
    or two to parse.
  </div>
</div>
