<as-split
    cdkDropListGroup
    unit="percent"
    direction="horizontal"
    gutterSize='5'
    #split="asSplit">
    <as-split-area
      [size]="splitPanelLength"
      #area1="asSplitArea">
      <!-- Left Panel -->
      <ng-container #leftPanel></ng-container>
    </as-split-area>
    <as-split-area
      size="100"
      #area2="asSplitArea">
      <!-- Drawing Tool -->
      <div id='dropme'>
        <app-drawing-tool
        [currentApp]='currentApp'
        [currentMap]='currentMap'
        (openApp)='openApp($event)'
        (saveStateListener)='resolveSaveState($event)'>
      </app-drawing-tool>
      </div>
    </as-split-area>
</as-split>
