<as-split cdkDropListGroup unit="pixel" direction="horizontal" [gutterSize]="splitPanelLength ? 5 : 0" #splitComponent>
    <as-split-area [size]="splitPanelLength">
      <ng-container #leftPanel></ng-container>
    </as-split-area>
    <as-split-area>
      <div id="dropme" class="h-100">
        <app-drawing-tool [currentApp]="currentApp" [currentMap]="currentMap" (openApp)="openApp($event)"
          (saveStateListener)="resolveSaveState($event)" (modulePropertiesChange)="modulePropertiesChange.emit($event)">
      </app-drawing-tool>
      </div>
    </as-split-area>
</as-split>
