::ng-deep {
  .as-split-gutter:hover {
    background-color: rgba(38, 132, 255, 1) !important;
  }

  .as-dragged	 {
    background-color: rgba(38, 132, 255, 1) !important;
  }

  .as-split-gutter {
    background-color: #dedede !important;

    transition: background-color 0.5s ease !important;

    .as-split-gutter-icon {
      display: none !important;
    }
  }
}
