<as-split
    cdkDropListGroup
    unit="percent"
    direction="horizontal"
    gutterSize='5'
    #split="asSplit">
    <as-split-area
      [size]="splitPanelLength"
      #area1="asSplitArea">
      <!-- Left Panel -->
      <ng-container #leftPanel></ng-container>
    </as-split-area>
    <as-split-area
      size="100"
      #area2="asSplitArea">
			<!-- Drawing Tool -->
      <app-drawing-tool
        id='dropme'
        [currentApp]='currentApp'
        (openApp)='openApp($event)'>
      </app-drawing-tool>
    </as-split-area>
</as-split>