{% from 'macros/collapsed_object_dict_dl.html.jinja2' import collapsed_object_dict_dl %}
{% call collapsed_object_dict_dl(obj, ('model', 'client', 'openai_api_key')) %}
    <dt>client</dt>
    <dd>{{ obj.client|escape }}&nbsp;</dd>
    <dt>model name</dt>
    <dd>{{ obj.model|escape }}&nbsp;</dd>
{% endcall %}
