{% from 'macros/collapsed_object_dict_dl.html.jinja2' import collapsed_object_dict_dl %}
{% call collapsed_object_dict_dl(pt, ('template',), 'template') %}
    <dd style="white-space: pre">{{ pt.template|escape }}&nbsp;</dd>
{% endcall %}
