<div class="container" fxFlexFill>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading; else dashboards"></mat-progress-bar>
  <ng-template #dashboards>
    <div *ngIf="!hasFetchError" fxLayout="column" fxLayoutGap="28px">
      <h1 class="mat-headline" fxFlexAlign="center">Knowledge graph statistics</h1>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
          <h2 class="mat-title">Total Number of Nodes</h2>
          <mat-chip-list>
            <mat-chip color="primary" selected>{{totalCount | number}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="chart-container-total">
          <canvas baseChart
                  [datasets]="chartDataAllDomains"
                  [labels]="chartLabelsDomains"
                  [colors]="chartColorsDomains"
                  [options]="chartOptions"
                  [plugins]="chartPlugins"
                  [legend]="false"
                  chartType="horizontalBar">
          </canvas>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="28px grid" fxLayoutAlign="space-evenly">
        <div *ngFor="let data of chartDataEntitiesByDomain | keyvalue" fxLayout="column" fxLayoutAlign="center center">
          <h2 class="mat-title">{{data.key}}</h2>
          <div class="chart-container">
            <canvas baseChart 
                    [datasets]="data.value"
                    [labels]="chartLabelsEntitiesByDomain[data.key]"
                    [options]="chartOptions"
                    [plugins]="chartPlugins"
                    [colors]="chartColorsEntitiesByDomain[data.key]"
                    [legend]="false"
                    chartType="bar">
            </canvas>
          </div>
        </div>
      </div>   
    </div>
  </ng-template>
</div>
