.container {
  padding: 24px;
}

/* https://www.chartjs.org/docs/latest/general/responsive.html#important-note */
.chart-container {
  position: relative;
  height: 35vh;
  width: 40vw;
}

.chart-container-total {
  position: relative;
  height: 50vh;
  width: 75vw;
}
