table {
  width: 100%;
}

.my-fab {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0;

    .mat-icon {
      height: 22px;
      width: 20px;
      font-size: 14px;
      padding-top: 4px;
    }
  }
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
  max-width: 100px;
  word-break: break-word;
}

.my-row{
  cursor: grab;
}

.my-row:active{
  cursor: grabbing;
}

.my-label {
  font-size: 10px;
  color: rgba(8, 140, 170, 1);
}

.my-icon {
  font-size: 12px;
  margin-top: 11px;
  margin-right: -8px;
}

.my-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3em;
  margin-left: 1em;
}
