table {
  width: 100%;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
  max-width: 100px;
  word-break: break-word;
}

.my-row {
  cursor: grab;
}

.my-row:active {
  cursor: grabbing;
}

.my-label {
  font-size: 10px;
  color: rgba(8, 140, 170, 1);
}

.my-icon {
  font-size: 12px;
  margin-top: 11px;
  margin-right: -8px;
}

.my-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3em;
  margin-left: 1em;
}

#filter-full-width {
  width: 92%;
  padding-left: 15px;
}

.mat-slide-toggle {
  float: right;
  padding-right: 10px;
  margin-top: -28px;
}
