<div class="d-flex flex-column position-relative h-100" *ngIf="(loadTask?.status$ | async) as status">
    <app-module-progress *ngIf="status.running" class="position-absolute w-100 h-100 bg-white p-4"
                         style="z-index: 2">
        <div>
            Downloading file...
        </div>
    </app-module-progress>

    <app-module-error *ngIf="status.failedErrorShown" class="position-absolute w-100 h-100 bg-white p-4"
                      [error]="status.error" style="z-index: 2">
        <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
    </app-module-error>

    <div class="position-absolute w-100 h-100 d-flex flex-column"
         [ngStyle]="{'z-index': 0, 'display': status.resultsShown ? 'initial': 'none'}">
        <div class="module">
            <div class="module-header">

                <div class="module-title-bar d-flex justify-content-between">
                    <h1 class="toolbar-title text-truncate mr-4 word-cloud-title">
                        {{ object?.filename }}
                    </h1>
                    <div ngbDropdown class="d-inline-block mr-4 flex-grow-0" container="body">
                        <a href="#" class="dropdown-no-arrow" ngbDropdownToggle (click)="$event.preventDefault()">
                            <i class="fas fa-chevron-down fa-fw text-icon"></i>
                        </a>
                        <div ngbDropdownMenu>
                            <app-object-menu *ngIf="object" [object]="object" [forEditing]="true"
                                             [showOpen]="false" [showDelete]="false"
                                             (objectRefresh)="requestRefresh()">
                            </app-object-menu>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle">
                        <div ngbDropdown class="btn-group d-inline-block" title="Select Trace Network">
                            <button class="btn btn-primary" ngbDropdownToggle>
                                {{ selectedNetworkTrace ? selectedNetworkTrace.description : 'Select Trace Network' }}
                            </button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="selectNetworkTrace(trace)"
                                        *ngFor="let trace of networkTraces">{{trace.description}}</button>
                            </div>
                        </div>
                        <div ngbDropdown class="btn-group d-inline-block" title="Link size">
                            <button class="btn btn-primary" ngbDropdownToggle>
                                {{ selectedLinkValueAccessor?.description !== 'none' ? selectedLinkValueAccessor.description : 'Select Value Accessor' }}
                            </button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="selectValueAccessor(valueAccessor)"
                                        *ngFor="let valueAccessor of linkValueGenerators"
                                        [disabled]="valueAccessor.disabled && valueAccessor.disabled()"
                                >{{valueAccessor.description}}</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem (click)="selectValueAccessor(valueAccessor)"
                                        *ngFor="let valueAccessor of linkValueAccessors">{{valueAccessor.description}}</button>
                            </div>
                        </div>
                        <label class="btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="normalizeLinks.value"
                                   (ngModelChange)="updateNormalize()">normalize links
                        </label>
                        <div ngbDropdown class="btn-group d-inline-block" title="Node fixed size">
                            <button class="btn btn-primary" ngbDropdownToggle>
                                {{ selectedNodeValueAccessor?.description !== 'none' ? selectedNodeValueAccessor.description :
                                'Select Value Accessor' }}
                            </button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="selectNodeValueAccessor(nodeValueAccessor)"
                                        *ngFor="let nodeValueAccessor of nodeValueGenerators">{{nodeValueAccessor.description}}</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem (click)="selectNodeValueAccessor(nodeValueAccessor)"
                                        *ngFor="let nodeValueAccessor of nodeValueAccessors">{{nodeValueAccessor.description}}</button>
                            </div>
                        </div>
                        <div ngbDropdown class="btn-group d-inline-block" title="Node fixed size">
                            <button class="btn btn-primary" ngbDropdownToggle>
                                {{ selectedPrescaler !== prescalers.default ? selectedPrescaler.name :
                                'Select prescaler' }}
                            </button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="selectPrescaler(prescaler)"
                                        *ngFor="let prescaler of prescalers">{{prescaler.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <as-split unit="pixel"
                      direction="horizontal"
                      [gutterSize]="5">
                <as-split-area [order]="0">
                    <app-sankey
                            *ngIf="filteredSankeyData"
                            [data]="filteredSankeyData"
                            [normalizeLinks]="normalizeLinks.value"
                            [selectedNodes]="selectedNodes | async"
                            [selectedLinks]="selectedLinks | async"
                            (nodeClicked)="openNodeDetails($event)"
                            (linkClicked)="openLinkDetails($event)"
                    >
                    </app-sankey>
                </as-split-area>
                <as-split-area [visible]="panelOpened"
                               size="340"
                               [order]="1"
                               [class]="panelOpened ? 'as-split-area border' : 'as-split-area as-hidden'">
                    <div class="w-100 h-100 p-3">
                        <div class="annotation-filter-btns-container">
                            <button class="btn btn-danger annotation-filter-close-btn d-flex justify-content-center align-items-center"
                                    type="button"
                                    (click)="closePanel()">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <app-sankey-panel *ngIf="selection | async"
                                          [details]="selection | async"
                                          [templates]="{
                                            nodes: nodeDetails,
                                            links: linkDetails,
                                            traces: traceDetails
                                          }"></app-sankey-panel>
                    </div>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>

<ng-template #linkDetails let-graphLink>
    <form class="d-flex flex-column justify-content-between">
        <fieldset class="fieldset-properties mt-2">
            <legend placement="top left right"
                    container="body"
                    ngbTooltip="Click a checkbox to filter annotations of that type">Link
                Details:
            </legend>
            <ngb-accordion #acclink="ngbAccordion" activeIds="desc">
                <ngb-panel title="Description" id="desc">
                    <ng-template ngbPanelContent>
                        <p [style.whiteSpace]="'pre-wrap'" [innerHTML]="graphLink.description"></p>
                    </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="true" *ngIf="!graphLink._multiple_values else multipleValues">
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <button ngbPanelToggle
                                class="btn btn-link w-100 d-flex align-items-center justify-content-between">
                            <b>Value</b>
                            {{ parseProperty(graphLink.value) }}
                        </button>
                    </ng-template>
                </ngb-panel>
                <ng-template #multipleValues>
                    <ngb-panel title="Value">
                        <ng-template ngbPanelContent>
                            <ul class="list-group list-group-flush cancel-out-card-padding">
                                <li class="list-group-item d-flex flex-wrap justify-content-between">
                                    <b>Source value</b>
                                    {{ parseProperty(graphLink._multiple_values[0]) }}
                                </li>
                                <li class="list-group-item d-flex flex-wrap justify-content-between">
                                    <b>Target value</b>
                                    {{ parseProperty(graphLink._multiple_values[1]) }}
                                </li>
                            </ul>
                        </ng-template>
                    </ngb-panel>
                </ng-template>
                <ngb-panel title="Trace" *ngIf="graphLink._trace" cardClass="filled-card">
                    <ng-template ngbPanelContent>
                        <ul class="list-group list-group-flush cancel-out-card-padding">
                            <li class="list-group-item d-flex flex-wrap justify-content-between">
                                <b>Source</b>
                                {{ getNodeById(graphLink._trace.source).description }}
                            </li>
                            <li class="list-group-item d-flex flex-wrap justify-content-between">
                                <b>Target</b>
                                {{ getNodeById(graphLink._trace.target).description }}
                            </li>
                            <li class="list-group-item d-flex flex-wrap justify-content-between">
                                <b>Group</b>
                                {{ graphLink._trace.group }}
                            </li>
                            <li class="list-group-item">
                                <ng-template #content let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Trace details</h4>
                                        <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body vh-75">
                                        <app-vis-js-network
                                                [data]="getTraceDetailsGraph(graphLink._trace)"
                                                [config]="traceDetailsConfig"
                                        >

                                        </app-vis-js-network>
                                    </div>
                                </ng-template>
                                <button class="btn btn-outline-primary" (click)="open(content)">Show detailed
                                    network
                                </button>
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Properties" cardClass="filled-card">
                    <ng-template ngbPanelContent>
                        <ul class="list-group list-group-flush cancel-out-card-padding">
                            <li *ngFor="let property of linkValueAccessors"
                                [ngClass]="{
                                'list-group-item': true,
                                 'd-flex': true,
                                 'flex-wrap': true,
                                 'justify-content-between': true,
                                active: property === selectedLinkValueAccessor
                              }"
                            ><b>{{ property.description }}</b>{{parseProperty(graphLink[property.description])}}</li>
                            <li *ngIf="graphLink._folded"
                                class="list-group-item d-flex justify-content-between"
                            >
                                <b>Folded</b>
                                True
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="RAW link content">
                    <ng-template ngbPanelContent>
                        <pre [style.marginBottom]="0">{{ getJSONDetails(graphLink) }}</pre>
                        <small>This view contains reduced object representation. Nested objects has been mapped to
                            their ids or indexes (if available); <s>shown arrays contains only top 3 rows;</s>
                            numbers
                            has been
                            limited to 6 digits after comma.</small>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </fieldset>
    </form>
</ng-template>
<ng-template #nodeDetails let-node>
    <form
            class="d-flex flex-column justify-content-between">
        <fieldset class="fieldset-properties mt-2">
            <legend placement="top left right"
                    container="body"
                    ngbTooltip="Click a checkbox to filter annotations of that type">Node
                Details:
            </legend>
            <ngb-accordion #accnode="ngbAccordion" activeIds="desc">
                <ngb-panel title="Description" id="desc">
                    <ng-template ngbPanelContent>
                        <p [style.whiteSpace]="'pre-wrap'" [innerHTML]="node.description"></p>
                    </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="true">
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <button ngbPanelToggle
                                class="btn btn-link w-100 d-flex align-items-center justify-content-between">
                            <b>Value</b>
                            {{ parseProperty(node.value) }}
                            {{ parseProperty(node.fixedValue) }}
                        </button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Labels" cardClass="filled-card">
                    <ng-template ngbPanelContent>
                        <ul class="list-group list-group-flush cancel-out-card-padding">
                            <li *ngFor="let label of node.labels"
                                class="list-group-item"
                            >{{ label }}</li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Properties" cardClass="filled-card">
                    <ng-template ngbPanelContent>
                        <ul class="list-group list-group-flush cancel-out-card-padding">
                            <li *ngFor="let property of nodeValueAccessors"
                                [ngClass]="{
                                'list-group-item': true,
                                 'd-flex': true,
                                 'flex-wrap': true,
                                 'justify-content-between': true,
                                active: property === selectedNodeValueAccessor
                              }"
                            ><b>{{ property.description }}</b>{{parseProperty(node[property.description])}}</li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="RAW node content">
                    <ng-template ngbPanelContent>
                        <pre [style.marginBottom]="0">{{ getJSONDetails(node) }}</pre>
                        <small>This view contains reduced object representation. Nested objects has been mapped to
                            their ids or indexes (if available); <s>shown arrays contains only top 3 rows;</s>
                            numbers
                            has been
                            limited to 6 digits after comma.</small>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </fieldset>
    </form>
</ng-template>
<ng-template #traceDetails let-trace>
    <form
            class="d-flex flex-column justify-content-between">
        <fieldset class="fieldset-properties mt-2">
            <legend placement="top left right"
                    container="body"
                    ngbTooltip="Click a checkbox to filter annotations of that type">Trace
                Details:
            </legend>
            <ngb-accordion #acclink="ngbAccordion" activeIds="source target">
                <ngb-panel id="source">
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <button ngbPanelToggle
                                class="btn btn-link w-100 d-flex align-items-center justify-content-between">
                            <b>Source</b>
                            {{ getNodeById(trace.source).id }}
                        </button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        {{ getNodeById(trace.source).description }}
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="target">
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <button ngbPanelToggle
                                class="btn btn-link w-100 d-flex align-items-center justify-content-between">
                            <b>Target</b>
                            {{ getNodeById(trace.target).id }}
                        </button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        {{ getNodeById(trace.target).description }}
                    </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="true">
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <button ngbPanelToggle
                                class="btn btn-link w-100 d-flex align-items-center justify-content-between">
                            <b>Group</b>
                            {{ parseProperty(trace.group) }}
                        </button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelHeader let-opened="opened" disabled="true">
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Trace details</h4>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body vh-75">
                                <app-vis-js-network
                                        [data]="getTraceDetailsGraph(trace)"
                                        [config]="traceDetailsConfig"
                                >
                                </app-vis-js-network>
                            </div>
                        </ng-template>
                        <button class="btn btn-link" (click)="open(content)">Show detailed
                            network
                        </button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="RAW trace content">
                    <ng-template ngbPanelContent>
                        <pre [style.marginBottom]="0">{{ getJSONDetails(trace) }}</pre>
                        <small>This view contains reduced object representation. Nested objects has been mapped to
                            their ids or indexes (if available); <s>shown arrays contains only top 3 rows;</s>
                            numbers
                            has been
                            limited to 6 digits after comma.</small>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </fieldset>
    </form>
</ng-template>
