# Used to only run the latest changes of
# a specified workflow (e.g. cancels the
# previous push)
name: Cancel Redundant Workflows

on:
  push:
    branches-ignore:
        - master

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.3.1
        with:
          workflow_id: 1204073
          access_token: ${{ github.token }}
