name: GCP Prod Deployment

on:
  workflow_dispatch:
  release:
    types: [released]
  push:
    tags: [prod]

jobs:
  call-deployment-gcp:
    uses: ./.github/workflows/deployment-gcp.yml
    with:
      environment_name: prod
      client_config: production
      cloud_sql_instance_name: lifelike-prod
    secrets:
      VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT }}
      SSH_KEY: ${{ secrets.ANSIBLE_PRIVATE_SSH_KEY }}
      CONTAINER_REGISTRY_USERNAME: ${{ secrets.AZURE_CR_USERNAME }}
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.AZURE_CR_PASSWORD }}
      GCP_CREDENTIALS: ${{ secrets.GCE_SA_KEY }}
      INFRA_PAT: ${{ secrets.INFRA_PAT }}

