.breadcrumb {
  background: none;
  color: $gray-600;
  display: flex;
  margin: 0;
  padding: 0;

  a {
    &:link,
    &:visited {
      color: $gray-600;
    }
  }
}

.breadcrumb-item {
  align-items: center;
  display: flex;

  + .breadcrumb-item {
    &::before {
      content: "\f054";
      display: block;
      font-family: FontAwesome, sans-serif;
      font-size: 60%;
      line-height: 1;
      position: relative;
      top: -1px;
    }
  }
}
