@each $color, $value in $theme-colors {
  .btn-#{$color} {
    &.disabled,
    &:disabled {
      color: color-yiq($value);
      background-color: transparent;
      border-color: $value;
      opacity: 0.4;
    }
  }
}
