.module {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.module-header {
  padding: $module-header-padding-y $module-header-padding-x;
  border-bottom: $module-header-border-width solid $module-header-border-color;
  box-shadow: $module-header-box-shadow;
  z-index: 2;
}

.module-title-bar {
  display: flex;
  align-items: center;
}

.module-title-bar-back {
  padding: $module-back-button-padding;
  border: 0;
  background: transparent;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.module-title {
  margin: 0;
  padding: 0;
  font-size: $module-title-font-size;
  font-weight: $module-title-font-weight;
  line-height: $module-title-line-height;
  @include text-truncate();
}

.module-body {
  padding: $module-body-padding-x;
}

.module-body-table {
  th, td {
    &:first-child {
      padding-left: $module-body-padding-x;
    }

    &:last-child {
      padding-right: $module-body-padding-x;
    }
  }
}

.module-section {
  margin-bottom: $module-section-margin-bottom;
}

.module-section-header {
  margin-bottom: $module-section-header-margin-bottom;
}

.module-section-header-title {
  font-size: $module-section-title-font-size;
  font-weight: $module-section-title-font-weight;
  color: $module-section-title-color;
}

.module-body-container {
  max-width: 800px;
}

.module-body-split {
  display: flex;
  height: 100%;
}

.module-body-split-main {
  max-width: 1000px;
  overflow: auto;
}

.module-body-split-sidebar {
  background: $light;
  min-width: 300px;
  flex-grow: 1;
  padding: $spacer * 2;
  overflow: auto;
}

.module-body-split-sidebar-body {
  max-width: 300px;
}

.module.cbp-md {
  .module-header {
    padding: $module-header-padding-y-lg $module-header-padding-x-lg;
  }

  .module-body {
    flex-grow: 1;
    padding: $module-body-padding-x-lg;
    overflow: auto;
  }

  .module-body-table {
    th, td {
      &:first-child {
        padding-left: $module-body-padding-x-lg;
      }

      &:last-child {
        padding-right: $module-body-padding-x-lg;
      }
    }
  }

  .module-title {
    font-size: $module-title-font-size-lg;
  }

  .module-body-split-sidebar {
    padding-right: $module-header-padding-x-lg;
  }

  .module-section {
    margin-bottom: $module-section-margin-bottom-lg;
  }

  .module-section-header {
    margin-bottom: $module-section-header-margin-bottom-lg;
  }

  .module-section-header-title {
    font-size: $module-section-title-font-size-lg;
    font-weight: $module-section-title-font-weight-lg;
    color: $module-section-title-color;
  }
}
