.module {
}

.module-header {
  display: flex;
  padding: 2rem 0;
  align-items: center;
}

.module-title {
  @include text-truncate();
}

.module-toolbar {
  margin-left: auto;
  padding-left: 1rem;
  white-space: nowrap;
}

// ========================================
// Main module
// ========================================

.module.module-centered {
  .module-header-container {
    border-bottom: 1px solid $gray-200;
  }

  .module-title {
    font-size: $font-size-base * 2;
    font-weight: bold;
  }

  .module-toolbar {
    margin-left: auto;
  }

  .module-header, .module-body {
    margin: auto;
    width: map-get($container-max-widths, 'lg');
  }

  .module-body {
    margin-top: $spacer * 2;
  }
}

// ========================================
// Sidebar
// ========================================

.module.module-sidebar {
  display: flex;
  flex-direction: column;

  .module-header-container {
    background: $white;
    border-bottom: 1px solid $gray-300;
    box-shadow: 0 1px 5px $gray-400;
  }

  .module-header {
    display: flex;
    padding: 1.25rem 1rem;
    align-items: center;
    font-weight: bold;
  }

  .module-header-body {
    padding: 0 1rem 1rem;
  }

  .module-title {
    font-size: $font-size-base * 1.1;
  }

  .module-body {
    flex: 1;
    overflow-y: scroll;
  }
}

// ========================================
// Document
// ========================================

.module.module-document {
  display: flex;
  flex-direction: column;

  .module-header-container {
  }

  .module-header {
    display: flex;
    padding: 1rem;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid $gray-200;
  }

  .module-header-body {
    padding: 0 1rem 1rem;
  }

  .module-title {
    font-size: $font-size-base * 1.4;
  }
}
