@import 'src/scss/variables';

$placeholder-bg: $gray-200;
$placeholder-border-radius: $border-radius;

@keyframes placeholder-pulse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.show-placeholders {
  pointer-events: none;

  .placeholder-slot {
    position: relative;
    background: $placeholder-bg;
    color: transparent !important;
    border-radius: $placeholder-border-radius;
    user-select: none;
    animation: 1s linear infinite alternate placeholder-pulse;

    &:empty:before {
      content: "Loading Loading";
    }

    .text-truncate {
      text-overflow: none;
    }
  }

  .placeholder-slot .text-truncate,.text-truncate .placeholder-slot {
    text-overflow: none !important;
  }
}
