.table {
  thead th {
    padding: ($table-cell-padding / 2) $table-cell-padding;
    font-size: $font-size-sm;
    border-top: 0;
    border-bottom: $table-border-width solid $table-border-color;
    color: $gray-600;
  }
}

.table-selectable {
  tbody {
    tr {
      &.active {
        background: $table-row-active-bg;
      }

      &:hover {
        box-shadow: $table-row-focus-box-shadow;
      }

      &:focus, &.active:hover {
        box-shadow: $table-row-focus-box-shadow;
      }
    }
  }
}
