.toolbar {
  position: relative;
  background: $toolbar-bg;
  padding: $toolbar-padding;
  border-bottom: $toolbar-border-width solid $gray-200;
  border-bottom-left-radius: $border-radius;
  box-shadow: $toolbar-box-shadow;
  z-index: 10;
}

.floating-toolbar {
  background: $floating-toolbar-bg;
  padding: $floating-toolbar-padding;
  border: 1px solid $floating-toolbar-border-color;
  border-radius: $floating-toolbar-border-radius;
}
