@import '~bootstrap/scss/functions';

$primary: #0c8caa;
$modal-header-padding: 2rem 2.5rem 1rem;
$modal-body-padding: 1rem 2.5rem;
$modal-footer-padding: 1rem 2.5rem 2rem;

@import '~bootstrap/scss/variables';

$table-row-active-bg: rgba($component-active-bg, .1);
$table-row-focus-box-shadow: inset 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
