.vertical-nav {
  background-color: $primary;

  a {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 55px;
    justify-content: center;
    width: 55px;

    &,
    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.16);
      color: $white;
    }
  }
}
