.window {
  background: $window-background;
  border: 1px solid $window-border-color;
  border-radius: $window-border-radius;
}

.window-header {
  align-items: center;
  background: $window-header-bg;
  cursor: pointer;
  display: flex;
  height: calc(1.5em + 0.65rem);
  padding: 0.325rem 0.65rem;

  .window-btn {
    margin-left: auto;
  }
}

.window-header-selectable {
  &:hover {
    background: $window-header-selectable-hover-bg;
  }
}

.window-title {
  font-size: $window-title-font-size;
  font-weight: $window-title-font-weight;
  margin: 0 0.25rem 0 0;
  padding: 0;
}

.window-body {
  padding: 1rem;
}

.window-btn {
  background: transparent;
  border: 0;
  color: $close-color;
  float: right;
  line-height: 1;
  margin: 0;
  padding: 0;

  // Override <a>'s hover style
  @include hover() {
    color: $close-color;
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled) {
    @include hover-focus() {
      opacity: 0.75;
    }
  }
}
