.window {
  background: $window-background;
  border: 1px solid $window-border-color;
  border-radius: $window-border-radius;
}

.window-header {
  display: flex;
  padding: 0.75rem 1rem;
  background: $window-header-bg;
  align-items: center;
  cursor: pointer;

  .window-btn {
    margin-left: auto;
  }
}

.window-header-selectable {
  &:hover {
    background: $window-header-selectable-hover-bg;
  }
}

.window-title {
  margin: 0;
  padding: 0;
  font-size: $window-title-font-size;
  font-weight: $window-title-font-weight;
}

.window-body {
  padding: 1rem;
}

.window-btn {
  float: right;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: transparent;
  color: $close-color;
  opacity: .5;

  // Override <a>'s hover style
  @include hover() {
    color: $close-color;
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled) {
    @include hover-focus() {
      opacity: .75;
    }
  }
}
