@import 'sankey';

[ngbdropdownitem] {
  align-items: baseline;
  display: flex;
  gap: map_get($spacers, 2);

  > * {
    flex: 1 0 auto;

    &:last-child {
      flex-grow: 0;
    }
  }
}

.dropdown-divider:last-child {
  display: none;
}

.view-dropdown {
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
}
