$primary: #056981;
$secondary: #ED9C27;
$border-radius: 10px;
$font-family-base: 'Noto Sans', Helvetica, Arial, sans-serif;
$font-logo: $font-family-base;
$font-intro: 'Patua One', $font-family-base;
