@import "./_variables.scss";
@import "./bootstrap";

body {
  overflow-x: hidden;
}

.wrapper {
  margin: auto;
  max-width: $wrapper-width;
  padding: 0 $wrapper-padding-x-lg;

  @include media-breakpoint-down(sm) {
    padding: 0 $wrapper-padding-x;
  }
}

.site-main {
  background: $site-main-bg;
}

// ========================================
// Navbar
// ========================================

.site-top {
  background: $primary url(/assets/img/intro_people_bg.jpg);
  background-position: center top;
  background-size: cover;
  padding-bottom: $edge-angle-size + 5px;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    background-position: left top;
  }
}

.site-header-container {
  color: #fff;
  padding: ($spacer * 0.9) 0 ($spacer * 0.5);

  a {
    &:link,
    &:visited {
      color: #fff;
    }

    &:hover,
    &:active {
      color: #ccc;
    }
  }
}

.site-logo {
  h1 {
    font-family: $font-logo;
    font-size: 24pt;
    font-weight: normal;
  }
}

// ========================================
// Intro
// ========================================

.section-intro {
  color: #fff;
  padding: ($spacer * 0.5) 0;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.intro-title {
  font-family: $font-intro;
  font-size: 280%;
  font-weight: normal;
}

.intro-left {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.intro-title {
  margin-bottom: ($spacer * 0.5);
}

.intro-subtitle {
  font-size: 120%;
  margin-bottom: ($spacer * 1);
  opacity: 0.8;
  width: 80%;
}

.btn-intro {
  background: #fff;

  &,
  &:link,
  &:visited {
    color: #222;
  }
}

.btn-intro-primary {
  background: $secondary;

  &,
  &:link,
  &:visited {
    color: #fff;
  }
}

.btn-intro,
.btn-intro-primary {
  border-radius: ($border-radius * 4);
  padding: $btn-padding-y-lg ($btn-padding-x-lg * 2);

  @include hover() {
    background: $black;
    color: $white;
  }
}

.page-section {
  padding: ($spacer * 2.5) 0;
}

.section-title {
  font-family: $font-intro;
  font-size: 210%;
  margin: 0 0 ($spacer * 2) 0;
  text-align: center;
}

.section-divider {
  background: #c96e2a;
  color: #fff;
  font-family: $font-intro;
  font-size: 210%;
  padding: ($spacer * 0.75) 0;
  text-align: center;
}

// ========================================
// Spotlight
// ========================================

.section-spotlight {
  padding: ($spacer * 2.5);
}

.spotlight-title {
  color: $secondary;
  font-size: 180%;
  font-weight: bold;
  margin: 0 0 ($spacer * 0.5);
}

.spotlight-text {
  font-size: 105%;
  margin: 0 0 ($spacer * 1.5);
  max-width: 60%;
}

.spotlight-video {
  border-radius: ($border-radius * 2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

// ========================================
// Features
// ========================================

.section-features {
}

.feature-table {
  margin: auto;
  max-width: $wrapper-width;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.feature-item {
  position: relative;

  @include media-breakpoint-down(md) {
    border-bottom: 1px solid $gray-300;
    padding: ($spacer * 1.75) $wrapper-padding-x;

    &:first-child {
      padding-top: calc(#{$spacer * 1} + #{$edge-angle-size});
    }

    &:last-child {
      padding-bottom: calc(#{$spacer * 2} + #{$edge-angle-size});
    }

    &:not(:last-child):before {
      bottom: -0.8em;
      color: #fff;
      content: "\f111";
      font-family: "Font Awesome 5 Free", sans-serif;
      font-size: 200%;
      font-weight: 900;
      left: calc(50% - 0.5em);
      position: absolute;
      z-index: 1;
    }

    &:not(:last-child):after {
      bottom: -0.8em;
      color: $primary;
      content: "\f0ab";
      font-family: FontAwesome, sans-serif;
      font-size: 200%;
      left: calc(50% - 0.5em);
      position: absolute;
      z-index: 2;
    }
  }

  @include media-breakpoint-up(lg) {
    border-right: 1px solid $gray-300;
    padding: ($spacer * 2.5) $wrapper-padding-x-lg;

    img {
      max-height: 180px;
    }

    &:last-child {
      position: relative;

      // Move the head up more
      img {
        margin-bottom: 34px;
        margin-top: -20px;
        max-height: 190px;
        position: relative;
      }
    }

    &:not(:last-child):before {
      color: #fff;
      content: "\f111";
      font-family: "Font Awesome 5 Free", sans-serif;
      font-size: 200%;
      font-weight: 900;
      position: absolute;
      right: -0.5em;
      top: 50%;
      z-index: 1;
    }

    &:not(:last-child):after {
      color: $primary;
      content: "\f138";
      font-family: FontAwesome, sans-serif;
      font-size: 200%;
      position: absolute;
      right: -0.5em;
      top: 50%;
      z-index: 2;
    }
  }

  &:last-child {
    border: 0;
  }
}

.feature-icon {
  color: $primary;
  margin: 0 0 ($spacer * 0.7) 0;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.feature-title {
  font-size: 110%;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 auto ($spacer * 0.5);
  max-width: 400px;
}

.feature-description {
  margin: auto;
  max-width: 400px;
}

// ========================================
// Catcher
// ========================================

.section-catcher {
  background: #f7fbfc;
}

.catcher-subtitle {
  color: $gray-500;
  font-size: 140%;
}

.catcher-body {
  padding: ($spacer * 1) 0;
}

// ========================================
// Tag line
// ========================================

.section-tagline {
  background: #c96e2a;
  color: #fff;
  padding: ($spacer * 1) 0;
}

.tagline-title {
  font-size: 190%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

// ========================================
// Bullets
// ========================================

.section-points {
}

.point-item {
  margin-bottom: ($spacer * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.point-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.point-image {
  text-align: center;

  img {
    max-width: 100%;
    width: 310px;
  }
}

.point-title {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: ($spacer * 0.6);

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

// ========================================
// Footer
// ========================================

.site-footer {
  background: #fef7f1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(254, 215, 181, 1) 100%);
  font-size: $font-size-sm;
  margin-top: $spacer * 2;
  padding: ($spacer * 2) 0 ($spacer * 2) 0;
}

.footer-title {
  font-family: $font-intro;
  font-size: 280%;
  text-align: center;
}

.footer-logos {
  img {
    margin: 20px;
    max-width: 100%;
  }
}

// ========================================
// Utilities
// ========================================

.flex-spaced-wrap {
  flex-wrap: wrap;
  margin-top: $spacer * -0.125;

  & > * {
    margin-top: $spacer * 0.125;
  }
}
