<mat-toolbar>File Browser</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
  <div fxLayoutGap="8px">
    <button mat-raised-button (click)="fileInput.click()">Upload</button>
    <input #fileInput hidden type="file" accept="application/pdf"
      (change)="onFileInput($event.target.files)">
    <button mat-raised-button>Open</button>
  </div>


  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="filename">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.filename}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="annotation">
      <mat-header-cell *matHeaderCellDef> Annotation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.annotation}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>