<mat-toolbar>File Browser</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayoutGap="8px">
    <button mat-raised-button (click)="openUploadDialog()"><mat-icon>add_box</mat-icon> Upload</button>
    <button
      mat-raised-button
      [disabled]="selection.selected.length !== 1"
      (click)="openEditDialog(selection.selected[0])"
    >
      <mat-icon>create</mat-icon>
      Edit
    </button>
    <button
      mat-raised-button
      [disabled]="selection.selected.length === 0"
      (click)="openDeleteDialog()"
      color="warn"
    >
      Delete
    </button>
    <button mat-raised-button [disabled]="selection.selected.length === 0 || isReannotating" (click)="reannotate()">Reannotate</button>
  </div>

  <mat-form-field fxFlexOffset="16px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef fxFlex="nogrow">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && selection.selected.length === dataSource.data.length"
                      [indeterminate]="selection.hasValue() && selection.selected.length !== dataSource.data.length"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="nogrow">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="filename">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="openFile(element.file_id)"> {{element.filename}} </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creation_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="annotation">
      <mat-header-cell *matHeaderCellDef> Annotation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.annotation_status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <p *ngIf="dataSource.data.length === 0">No files found.</p>
</div>
