.container {
  padding: 8px;

  .mat-form-field, mat-table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
  }
}

// https://v8.material.angular.io/components/table/overview#selection
.mat-column-select {
  overflow: initial;
}
