.container {
  padding: 8px;

  mat-table {
    width: 100%;
    max-width: 1200px;
  }
}

// https://v8.material.angular.io/components/table/overview#selection
.mat-column-select {
  overflow: initial;
}
