<h2 mat-dialog-title class="upload-progress-dialog-title">Adding {{filename}}...</h2>

<mat-dialog-content>
  <div class="upload-progress-dialog-content">
    <!-- We don't want transition animations when switching progress bar modes -->
    <mat-progress-bar [value]="progressBarValue" mode="determinate" *ngIf="progressBarMode === 'determinate'"></mat-progress-bar>
    <mat-progress-bar [value]="progressBarValue" mode="indeterminate" *ngIf="progressBarMode === 'indeterminate'"></mat-progress-bar>
    <mat-progress-bar [value]="progressBarValue" mode="buffer" *ngIf="progressBarMode === 'buffer'"></mat-progress-bar>

    <div class="upload-progress-dialog-status">
      {{status}}
    </div>
  </div>
</mat-dialog-content>
